@mixin dev_high($color) {
    box-shadow: 0 0 0 4px $color !important;
    background: linear-gradient(
        $color,
        color-mix($color, transparent 50%)
    ) !important;
}

@mixin shimmer(
    $color: var(--c-accent),
    $shine-color: var(--c-accent-10),
    $duration: 1.5s
) {
    position: relative;
    display: inline-block;
    color: transparent; // Hide the base text
    background: linear-gradient(
        90deg,
        $color 0%,
        $shine-color 50%,
        $color 100%
    );
    background-size: 200% 100%;
    background-clip: text;
    animation: animShimmer $duration infinite;

    &::before {
        content: attr(data-text);
        position: absolute;
        inset: 0;
        color: $color; // Fallback text color
        z-index: -1;
    }
}

/* Usage */
// .shimmer-text {
// 	@include shimmer(var(--c-accent), var(--c-accent-10), 1.2s);
// }
