.bg-circle {

    --size: 10rem;

    position: fixed;
    top: 8%;
    left: 0%;
    width: var(--size);
    height: var(--size);
    border-radius: 50vw;
    z-index: -1;
    background-color: $accent;
    filter: blur(5rem);
    opacity: .2;

    &:nth-of-type(2) {
        top: 40%;
        left: 80%
    }

    &:nth-of-type(3) {
        top: 80vh;
        left: 50%
    }
}