.bg-circle {
    --size: 10rem;
    position: fixed;
    top: 10%;
    left: 80%;
    width: var(--size);
    height: var(--size);
    border-radius: 50vw;
    z-index: -1;
    background-color: $accent;
    filter: blur(2rem);
    opacity: .1;

    &:nth-of-type(2) {
        top: 40%;
        left: 0%
    }

    &:nth-of-type(3) {
        top: 80vh;
        left: 50%
    }
}