/* Header on: New chat layout, on chats layout, on mobile too, but not on GPTs where pill tags are */
// .h-header-height.top-0,
// header#page-header {
//     display: var(--gpthHideHeader, flex) !important;

//     @include dev('md') {
//         display: none !important;
//     }
// }

// .h-header-height.top-0 {
//     @include dev('md') {
//         display: var(--gpthHideHeader, flex) !important;
//     }
// }


// /* Footer */
// #thread-bottom-container>#thread-bottom~div.min-h-8>div {
//     display: var(--gpthHideFooter, flex) !important;
// }


/* Header */
html[data-gpth-hide-header] header#page-header {
    display: none !important;
}

/* TODO: has to handle and this selector in SELECTOR js file for this element */
// html[data-gpth-hide-header]  .h-header-height.top-0 {
//     display: none !important;
// }

/* Footer */
// html[data-gpth-hide-footer] #thread-bottom-container>#thread-bottom~div.min-h-8>div {
html[data-gpth-hide-footer] {

    // div#thread-bottom-container>div:last-of-type>div,
    // span.text-sm.leading-none {
    //     display: none !important;
    // }

    /* Footer in basic chats */
    #main div#thread-bottom-container>div:last-of-type:is(.-mt-4)>div,
    /* Footer in Group Chats */
    #main div.sticky.bottom-0 .min-h-8.w-full.text-xs.text-pretty {
        display: none !important;
    }
}

/* "Upgrade for free" chip button in header */
html[data-gpth-hide-upgrade-chip] .h-header-height.top-0 .rounded-full.bg-\[\#F1F1FB\].dark\:bg-\[\#373669\] {
    display: none !important;
}

// div#thread-bottom-container>div:last-of-type>div,
// span.text-sm.leading-none {
//     box-shadow: 0 0 0 4px red !important;
//     border: 3px solid red !important;
// }
// div#thread-bottom-container>div:last-of-type>div,
// span.text-sm.leading-none {
//     box-shadow: 0 0 0 4px red !important;
//     border: 3px solid red !important;
// }

// #main {
//     box-shadow: 0 0 0 4px orange !important;
//     border: 3px solid orange !important;

//     /* Footer in basic chats */
//     div#thread-bottom-container>div:last-of-type:is(.-mt-4)>div {
//         box-shadow: 0 0 0 4px red !important;
//         border: 3px solid red !important;
//     }

//     /* Footer in Group Chats */
//     div.sticky.bottom-0 .min-h-8.w-full.text-xs.text-pretty {
//         box-shadow: 0 0 0 4px lightblue !important;
//         border: 3px solid lightblue !important;
//     }

//     /* ?? idk */
//     span.text-sm.leading-none {
//         box-shadow: 0 0 0 4px green !important;
//         border: 3px solid green !important;
//     }