/* Header on: New chat layout, on chats layout, on mobile too, but not on GPTs where pill tags are */
// .h-header-height.top-0,
// header#page-header {
//     display: var(--gpthHideHeader, flex) !important;

//     @include dev('md') {
//         display: none !important;
//     }
// }

// .h-header-height.top-0 {
//     @include dev('md') {
//         display: var(--gpthHideHeader, flex) !important;
//     }
// }


// /* Footer */
// #thread-bottom-container>#thread-bottom~div.min-h-8>div {
//     display: var(--gpthHideFooter, flex) !important;
// }


/* Header */
html[data-gpth-hide-header] header#page-header {
    display: none !important;
}

/* TODO: has to handle and this selector in SELECTOR js file for this element */
// html[data-gpth-hide-header]  .h-header-height.top-0 {
//     display: none !important;
// }

/* Footer */
html[data-gpth-hide-footer] {

    /* Footer in basic chats */
    #main div#thread-bottom-container>div:last-of-type:is(.-mt-4),
    /* Footer in Group Chats */
    #main div.sticky.bottom-0 .min-h-8.w-full.text-xs.text-pretty {
        display: none !important;
    }

    /* Add padding bottom to add gap from window bottom edge (for chatbox in "Group Chats") */
    #main div.sticky.bottom-0 {
        padding-bottom: 0.2rem;
    }
}

/* "Upgrade for free" chip button in header */
html[data-gpth-hide-upgrade-chip] .h-header-height.top-0 .rounded-full.bg-\[\#F1F1FB\].dark\:bg-\[\#373669\] {
    display: none !important;
}