[role="presentation"].composer-parent {

    #thread-bottom [class*="(--thread-content-max-width)"].flex-1:has(form[data-type="unified-composer"] #prompt-textarea) {
        // border: 1px solid red !important;
        will-change: width, max-width;
        max-width: var(--w_prompt_textarea);
        // @include dev_high(orange);

        @include container('md') {
            --w_prompt_textarea: 100%;
        }
    }
}

/* not(.min-h-0) / :not([class*="@lg/thread:grow"]) znaci da ne targetujemo chatbox u "New Chat" layoutu  */
$chatbox-selector: 'form[data-type="unified-composer"] .contain-inline-size.bg-token-bg-primary';
$chatbox-height-selector: '#thread-bottom-container:not(.min-h-0) #{$chatbox-selector} [class*="_prosemirror-parent"].max-h-52';

#{$chatbox-height-selector} {
    transition: max-height 0.25s $easeInOutQuint;
}

html[data-gpth-toggle-chatbox-height] {
    #{$chatbox-height-selector} {
        max-height: var(--gpthChatboxHeight) !important;
    }
}