/* Chats msgs: <article> */
[data-testid^='conversation-turn-'] {


    /* ! ========== CUSTOM FONT SIZE AND LINE HEIGHT ========== */
    //  Custom Font-Size and Line Height for chats and markdown code snippets
    div[data-message-author-role],
    .prose {
        line-height: calc(var(--gpthLineHeight) / 16) !important;
        font-size: calc(calc(var(--gpthFontSize) / 16) * 1rem) !important;
    }

    /* ! ========== CUSTOM WIDTH ========== */
    // Necu da stavim direkt na chat bubble jer nece biti dobro kad imamo double response prikazan. A i USER parent isto mora da menja width da bi user poruka bila u ravni sa GPT bubble-om
    // New selector: 2025-04-10
    /* ! ========== GPT msg width (and USER's wrapper) ========== */
    .group\/turn-messages[class*="max-w-(--thread-content-max-width)"] {
        will-change: width, max-width;
        max-width: var(--w_chat_gpt) !important;

        @include container('md') {
            --w_chat_gpt: 100%;
            width: var(--w_chat_gpt);
        }
    }

    /* ! ========== USER msg width ========== */
    // New selector: 2025-04-10
    .user-message-bubble-color {
        width: var(--w_chat_user, auto) !important;
        max-width: var(--max_w_chat_user, var(--user-chat-width)) !important;
    }
}

/* ! ========== CUSTOM TOGGLE BUBBLES ========== */
// Out of conversation scope, because on width <1000px for Canvas there is user message in <dialog> element, there's no conversation-turn
/* Default (toggle OFF → var=0): fallback site values */
.user-message-bubble-color {
    background-color: var(--c-bg-msg-user);
    color: var(--c-txt) !important;
    padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * var(--p-chat-bubble-multiply));
    border-radius: var(--br-chat-bubble) !important;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    // @include dev_high(#7fe37f7d);

    /* User chat bubble in Group chats */
    // &.group\/message {
    //     padding-block: calc(var(--spacing) * 2.5) !important;
    //     padding-inline: calc(var(--spacing) * 4) !important;
    // }
}

.agent-turn {
    background-color: var(--c-bg-msg-gpt);
    padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * var(--p-chat-bubble-multiply));
    border-radius: var(--br-chat-bubble) !important;
    margin-top: 0.4rem;
    // transition: padding 0.2s ease, background-color 0.2s ease;
    // @include dev_high(#f28b8b70);
}

/* Group Chats - Custom widths */
main#main [role="presentation"] {
    header#calpico-page-header~div.flex-1 {

        [class*="max-w-(--thread-content-max-width)"] {
            will-change: width, max-width;
            max-width: var(--w_chat_gpt) !important;
            border: 4px solid red !important;

            @include container('md') {
                border: 4px solid orange !important;
                --w_chat_gpt: 100%;
                width: var(--w_chat_gpt);
            }
        }
    }
}

/* Toggle OFF → replace with transparent colors to "remove" bubble bg */
html[data-gpth-toggle-bubble-user] .user-message-bubble-color,
html[data-gpth-toggle-bubble-gpt] .agent-turn {
    background-color: transparent !important;
}

/* Toggle OFF → remove background gradient and box shadow from GPT bubble in Group chats */
// html[data-gpth-toggle-bubble-gpt] [role="presentation"] .group\/message[data-message-id*="CalpicoMessage"] [id^="collapsible-chatgpt-message-"] {
html[data-gpth-toggle-bubble-gpt] [role="presentation"] .group\/message[data-message-id*="CalpicoMessage"] [data-message-author-role="assistant"] {
    background-image: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

html[data-gpth-toggle-bubble-gpt] .agent-turn {
    padding-inline: 0 !important;

    @include dev('sm') {
        padding-inline: 0.5rem !important;
    }
}

/* ! ========== CUSTOM COLORS - Agressive accent for User chat ========== */
// Accent enabled when var is 1 
html[data-gpth-toggle-bubble-user-accent] {
    --c-bg-msg-user: var(--c-accent) !important;

    .user-message-bubble-color {
        color: var(--c-on-accent) !important;

        ::selection {
            background-color: var(--c-on-accent) !important;
            color: var(--c-accent) !important;
        }
    }
}

// If user chat bubble off (bg transparent) and accent user bubble is on, the text should be default, and not accent because of readability, and not --c-on-accent
html[data-gpth-toggle-bubble-user][data-gpth-toggle-bubble-user-accent] {
    .user-message-bubble-color {
        color: var(--c-txt) !important;
    }
}


/* Group chats: sync custom widths change on this layout too */
/* header#calpico-page-header~div:not(.sticky.bottom-0) {
    // border: 5px solid orange;

    [class*="max-w-(--thread-content-max-width)"] {
        max-width: var(--w_chat_gpt) !important;
    }
} */