[role="presentation"].composer-parent {

    #thread-bottom [class*="(--thread-content-max-width)"].flex-1:has(form[data-type="unified-composer"] #prompt-textarea) {
        // border: 1px solid red !important;
        will-change: width, max-width;
        max-width: var(--w_prompt_textarea);
        // @include dev_high(orange);

        @include container('md') {
            --w_prompt_textarea: 100%;
        }

        /* TODO This element causes weird empty space before prompt field which makes prompt fields visually unshifted or misaligned. The best would be to display:none, but idk if that would be filled with some important content in the future. So I use :empty to remove it only when this element is without any content. */
        // &>div.flex.justify-center:has(~form):empty {
        // 	// border: 4px solid orange !important;
        // 	display: none !important;
        // }
    }
}

$chatbox-height-selector: '#thread-bottom-container:not([class*="@lg/thread:grow"]) form[data-type="unified-composer"] .contain-inline-size.overflow-clip[class*=\'bg-[\\#303030]\'] [class*="_prosemirror-parent"][class*="max-h-52"]';

#{$chatbox-height-selector} {
    transition: max-height 0.25s $easeInOutQuint;
}

html.gpth-chatbox--custom-height {
    #{$chatbox-height-selector} {
        max-height: var(--gpthChatboxHeight) !important;
    }
}