:root {
    --popup-min-w: 18rem;
    --popup-mid-w: 26rem;
    --popup-max-w: 30rem;
}

* {
    scrollbar-color: unset;
    scrollbar-width: unset;
}

::-webkit-scrollbar {
    width: $scrollbar-w;
    height: $scrollbar-w;
}

::-webkit-scrollbar-button {
    background: $scrollbar-track;
}

::-webkit-scrollbar-corner {
    background: $scrollbar-track;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
    border-radius: $scrollbar-br;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
    border-radius: $scrollbar-br;
    cursor: grab;
}


body {
    background-color: $bg;
    color: $fg;
    font-family: 'Google Sans Flex', 'Bricolage Grotesque', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.92rem;
    box-sizing: border-box;
    width: clamp(var(--popup-min-w), var(--popup-mid-w), var(--popup-max-w));
    min-height: 100dvh;
    line-height: 1.45;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @include device(mob) {
        --popup-mid-w: 22rem;
    }

    // @include device(desk) {}
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    background-color: $accent;
    color: $on-accent;
}