@import 'abstract/_easing';
@import 'abstract/_mq';
@import 'abstract/_vars';
@import 'abstract/_anims';
@import 'abstract/_extends';

// @import 'dev/_mixins';

@import 'global/_base';
@import 'global/_colors-txts';
@import 'global/_colors-bgs';
@import 'global/_colors-borders';
@import 'global/_rounded';

/* DARK hljs Theme Styles */
@import 'hljs/_ros-pine-moon';

/* OLED hljs Themes */
@import 'hljs/oled/_ir-black'; // favorit. yellowish/pink/blue jace boje

// @import 'elements/_forms';
@import 'elements/_accessibility';
@import 'elements/_separators';
@import 'elements/_forms';
@import 'elements/_menu';
@import 'elements/_sidebar';
@import 'elements/_prose';
@import 'elements/_pre';
@import 'elements/_btn';
@import 'elements/_toast';
@import 'elements/_tooltips';
@import 'elements/_logo';
@import 'elements/_modal';
@import 'elements/_dialogs';
@import 'elements/_right--main';
@import 'elements/_right--new-chat';
@import 'elements/_right--sticky';
@import 'elements/_right--textarea';
@import 'elements/_right--limit-reaches';
@import 'pages/_shared-links';
@import 'pages/_gpt-store';
@import 'elements/_transitions';
@import 'elements/_chats-textarea-max-width';

// @import 'layouts/_old-ui';
@import 'layouts/_old-ui-index';

@import 'gpthemes/_gpth-v2';
@import 'gpthemes/_notifications';
@import 'gpthemes/theme-manager/_gpth-settings';