.gpth-layouts {
    &__width {
        &Sliders {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
            gap: 1rem 0.5rem;
            margin-bottom: 1rem;

            @include dev('md') {
                .card--range {
                    @include isLockedIcon;
                }
            }
        }

        &Toggles {
            @include dev('md') {
                label[for="toggle-sync-chat-textarea"] {
                    opacity: 0.5 !important;
                    pointer-events: none !important;
                }
            }
        }

        &ResetBtn {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
    }
}