html,
body {
	--text-primary: var(--c-txt) !important;
	color: var(--c-txt) !important;
	background-color: var(--c-bg-chats-container) !important;
}

:host,
html,
body {
	font-family: var(--gpth-computed-font-family) !important;
	letter-spacing: var(--gpth-computed-letter-spacing) !important;
	line-height: var(--gpth-computed-line-height) !important;
}

/* !!! THIS CAUSES THE PROJECT ITEMS NOT LOADING !!! Bcs OpenAI probably used that small almost invisible element to dynamically load on scroll/when-in-view more projects */
// .h-px {
// 	display: none !important;
// }

code.hljs {
	letter-spacing: -0.2px;
}

/* Shadow in "Upgrade your plan" */
.shadow-md {
	box-shadow: none;
}

/* "404 |" in "404 | This page could not be found" */
.next-error-h1 {
	color: var(--c-accent);
	border-color: currentColor !important;
	font-size: var(--fsz-error-404) !important;
	font-weight: 600 !important;
}

::selection {
	background-color: var(--c-accent-50) !important;
	color: var(--c-txt) !important;
}