html,
body {
	--text-primary: var(--c-txt) !important;

	// font-family: var(--f-fm) !important;
	font-size: var(--f-size) !important;
	letter-spacing: calc(var(--f-letter-spacing) / 16) !important;
	;
	color: var(--c-txt) !important;
	background-color: var(--c-bg-chats-container) !important;
}

:host,
html {
	font-family: var(--f-family) !important;
}

// a {
// 	font-family: var(--f-fm) !important;
// }

/* scrollbar-color for For Firefox */
@-moz-document url-prefix() {
	html {
		scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-track); // second parameter (transparent) is for bg-thumb
	}
}

// /* scrollbar-thumb-color for Chromium-based browsers */
::-webkit-scrollbar-thumb {
	background-color: var(--c-scrollbar-thumb) !important;
}

::selection {
	background-color: hsla(var(--accent-hsl) / 0.5) !important;
	color: var(--c-txt) !important;
	// color: var(--c-on-accent) !important;
}

button {
	--text-primary: var(--c-txt) !important;
}

.h-px {
	display: none !important;
}

/* .markdown {
    [type="checkbox"]:checked {
        background-color: var(--c-accent);
        --svg: escape('<svg viewBox="0 0 16 16" fill="@{base}" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z"/></svg>'
        );
        // background-image: "~url('data:image/svg+xml;charset=utf-8,@{svg}')";
        background-image: "~url('data:image/svg+xml;charset=utf-8,#{var(--svg)}}')";
    }
} */

code.hljs {
	// font-size: .85rem !important;
	// font-family: 'JetBrains Mono', monospace !important;
	letter-spacing: -0.2px;
}

/* === BORDER RADIUS */
.rounded-md {
	border-radius: var(--br-btn);
}

/* Shadow in "Upgrade your plan" */
.shadow-md {
	box-shadow: none;
}

/* "404 |" in "404 | This page could not be found" */
.next-error-h1 {
	color: var(--c-accent);
	border-color: currentColor !important;
	font-size: var(--fsz-error-404) !important;
	font-weight: 600 !important;
}