html,
body {
	--text-primary: var(--c-txt) !important;
	letter-spacing: calc((var(--letterSpacing) / 16) * 1px) !important;
	color: var(--c-txt) !important;
	background-color: var(--c-bg-chats-container) !important;
}

:host,
html {
	font-family: var(--fontFamily), var(--fontFamilyDefault) !important;
}

.h-px {
	display: none !important;
}

code.hljs {
	letter-spacing: -0.2px;
}

/* Shadow in "Upgrade your plan" */
.shadow-md {
	box-shadow: none;
}

/* "404 |" in "404 | This page could not be found" */
.next-error-h1 {
	color: var(--c-accent);
	border-color: currentColor !important;
	font-size: var(--fsz-error-404) !important;
	font-weight: 600 !important;
}

::selection {
	background-color: var(--c-accent-50) !important;
	color: var(--c-txt) !important;
	// color: var(--c-on-accent) !important;
}