/* === BG COLORS */

/* 
- Textarea msg bg. 
- Chat history & Training" checkbox bullet
 */
.bg-gray-900,
.bg-white {
	background-color: var(--c-surface-2) !important;
	// background-color: red !important;
}

[class*="bg-[#DCDBFF]"] {
	background-color: var(--c-accent-15) !important;
	color: var(--c-accent) !important;
}

// .dark\:bg-white {
// 	background-color: var(--c-accent);
// }

/* 
// ``` .bg-gray-100
		- Line | in "Is this conversation helpful so far?
👍 👎 | ✖️" */
.bg-gray-50,
.bg-gray-100 {
	background-color: var(--c-surface-2) !important;
}

/* "Analysis code" - THe Results code snippets  */
.bg-gray-700 {
	background-color: var(--c-surface-1);
}

// .bg-gray-50 {
// 	// background-color: var(--c-surface-2) !important;
// 	background-color: red !important;
// }

/* 
 - "Was this response better or worse?" el when clicked on regenerate answer btn 
 - "Delete all shared links" in "Shared liks" dialog
 - line | between "s this conversation helpful so far? 👍👎" and "x"
*/
// .bg-gray-100,
// [class*=":bg-gray-700"] {
//     background-color: red !important;
// }

/* hover:bg-gray-100 dark:hover:bg-gray-600 
	- GPTs Store PAGE - "Featured" section items :hover states
	- GPTs Store PAGE - "Top picks", "DALLE", "Writing" etc tags :hover states 
	- GPTs Store PAGE - "Search public GPTs" search list item bg :hover states */
[class*='dark:hover:bg-gray-600'] {
	&:hover {
		background-color: var(--c-surface-1) !important;
		// background-color: red !important;
	}
}

/* GPTs store PAGE - "Trending" section items hover state" */
[class*='dark:hover:bg-gray-700'] {
	&:hover {
		background-color: var(--c-surface-2) !important;
	}
}

/* [role='menuitem'] :hover state */
[class*='dark:hover:bg-gray-800'],
[class*='dark:hover:bg-white/5'] {
	&:hover {
		background-color: var(--c-surface-2) !important;
		// background-color: red !important;
	}
}

/* 
	- GPTS store PAGE - "Search public GPTs" search list item bg 
	- GPTs Store PAGE - "Top picks", "DALLE", "Writing" etc tags 
	- GPTs Store PAGE - "Featured" section items bg
	- GPTs Store PAGE - Bg for Buttons left and right arrow for "Top picks", "DALLE", "Writing" etc tags on smaller screens
	- Inputs in "Delete Account- Are you sure" dialog  */
[class*='dark:bg-gray-700'] {
	background-color: var(--c-surface-2) !important;
	// background-color: red !important;
}

/* 
- "Shared links" PAGE - overall BG !!!!
- GPTS store PAGE - "Search public GPTs" search input bg. Nema klase za light temu te selektujem klasom za darks 
- Textarea in [role="dialog"] */
[class*='dark:bg-gray-800'] {
	background-color: var(--c-bg-chats-container) !important; // var(--c-surface-3)
	// background-color: var(--c-surface-1) !important;
}

/* Shared chats PAGE - green button "Upgrade to Plus to create your own GPT" */
// [class*='bg-green-600'] {
// 	background-color: var(--c-accent) !important;
// 	color: var(--c-on-accent) !important;
// }

/* Errors and TOS - "This content may violate content policy..." (red) & "This content may violate our Terms of Use or usage policies." (orange) warnings. Also alert in "Share Link to Chat" dialog shown sometimes.
This content may violate our Terms of Use or usage policies. is bg-orange-400 now !!!
- bg-token-surface-error is a error: "We are sorry, but you do not have access to GPT interactions." shown when we do not have access to GPTs products */
// [class*='bg-red-500/10'],
[class*='bg-red-500'],
[class*='bg-red-100'],
[class*='bg-token-surface-error'] {
	color: var(--c-danger) !important;
	background-color: oklch(from currentColor l c h / 0.11) !important;
	border: 1px solid oklch(from currentColor l c h / 0.11) !important;
	backdrop-filter: blur(18px);

	svg {
		color: currentColor !important;
	}
}

[class*="after:bg-red-500"]::after {
	background-color: var(--c-danger) !important;
}

[class*='bg-orange-400']:not(.bg-opacity-0),
[class*='dark:bg-yellow-600'] {
	color: var(--c-warning) !important;
	background-color: color-alpha(--c-warning, 0.11, true);
	border: 1px solid color-alpha(--c-warning, 0.11, true);
	backdrop-filter: blur(18px);

	svg {
		color: currentColor !important;
	}
}

/* Like icon in "Provide aditional feedback" dialog when clicked liked answer */
// .bg-green-100 {}

.bg-gradient-to-l,
.bg-gradient-to-r {
	--gradient-color-from: var(--c-surface-1);
	--gradient-color-to: transparent;

	--tw-gradient-from: var(--gradient-color-from) var(--tw-gradient-from-position) !important;
	--tw-gradient-to: var(--gradient-color-to) var(--tw-gradient-to-position);
}

/* Active link bg in sidebar listitem */
.bg-token-surface-secondary {
	--surface-secondary: var(--c-surface-2) !important;
}

// .bg-token-main-surface-secondary-selected {
// 	--main-surface-secondary-selected: var(--c-surface-3) !important;
// }
/* 
- Dialogs
- Tabs in "Settings"
- Table <thead> els
- Share Link > Mini chat conversation
- Context menu items in Share Link > Mini chat conversation
- Context menu items in Settings > Theme ddl and Theme
- Sticky header 
- Prompt textarea
- Sidebar Circled gpt logo - NEWCHAT/CLEAR CHAT
- Circled gpt logo "How can I help you today
- Scrolldown btn
- Checkbox circle
- GPTs Store PAGE - Search query section
- GPTs Store PAGE - Search query section link-on-hover - CHANGE IT !!

- .streaming-line-overlay are lines during the processing edit in Code Canvas (like add logs etc)
 */
// [class*='bg-white ']:not(.streaming-line-overlay, [role="combobox"]),
// .bg-white:not(.streaming-line-overlay, [role="combobox"]),
// .bg-token-sidebar-surface-secondary {
// 	background-color: var(--c-surface-2) !important;
// }

/* 
- Maps: markers, counter bubbles in card review, active tab in "List | Map"
- ADA: code analysis wrapper bg
- GPTs: Active pill tag
- Create Image Dialog: Bg of modal when image open [data-testid^="modal-image-gen-"]
 */
.bg-black:not([data-testid^="modal-image-gen-"], .border-t.border-gray-500) {
	background-color: var(--c-accent) !important;
	color: var(--c-on-accent) !important;
	// @include dev_high(lightgreen);
}

// [class*='bg-black'],// @@@@@ THIS MAKES CHATS NOT VISIBLE IN FIREFOX ON LIGHT THEME
.bg-token-sidebar-surface-primary {
	background-color: var(--c-surface-1);
	// background-color: orange;
	// background-color: lightgreen;
}

/* @@@@@ DEBUG FIREFOX -  THIS MAKES CHATS NOT VISIBLE IN FIREFOX ON LIGHT THEME */
/* [class*='bg-black'] {
	outline: 2px solid red !important;
	border: 2px solid red !important;
	background: red !important;
	box-shadow: 0 0 0 4px red !important;
} */

/* 
- Builder profile "PlaceholderGPT" - var(--c-surface-3)
- GPTs - Search input and search query bg - var(--c-surface-2)
- "Create Link" dialog input wrapper bg - var(--c-surface-3) */
// .bg-token-main-surface-primary:not([role="menu"]) {
// 	--main-surface-primary: var(--c-surface-2);
// }
/*
- GPTs - Search input and search query bg - var(--c-surface-2) */
.hover\:bg-gray-50,
.dark\:hover\:bg-white\/10 {

	&:hover {
		background-color: var(--c-surface-3) !important;
	}
}

/* TODO - NE RADI JEBENO */
.bg-token-main-surface-tertiary {
	--main-surface-tertiary: var(--c-surface-3) !important;
	// background-color: var(--c-surface-3) !important;
}

.bg-token-main-surface-secondary {
	background-color: var(--c-surface-2) !important;
}

// .bg-token-main-surface-primary {
// 	// --main-surface-primary: var(--c-bg-cm) !important;
// 	// --main-surface-primary: var(--c-surface-1) !important;
// 	--main-surface-primary: var(--c-bg-chats-container) !important;
// 	// background-color: var(--c-surface-2) !important;
// }

/*
.bg-blue-400 - "Update" pill badge in "Create Image" menu item; Blue indicator of unread messages in sidebar nav chat-item
.bg-blue-500 - Blue indicator of unread messages in sidebar nav menu item */
.bg-blue-400,
.bg-blue-500 {
	background-color: var(--c-accent) !important;
	color: var(--c-on-accent) !important;
}

/* 
[fill="#007AFF"] - Blue indicator of unread messages for mobile in sidebar collapse/expand icon
[fill="#0285FF"] - Blue indicator of unread messages for desktop in sidebar collapse/expand icon */
[fill="#007AFF"],
[fill="#0285FF"] {
	fill: var(--c-accent) !important;
}

/* 
.text-blue-500.bg-\[\#DAEEFF\] - "Selection" in Create Image prompt textarea
*/
.bg-\[\#DAEEFF\] {
	background-color: var(--c-accent-20) !important;
	color: var(--c-accent) !important;

	svg {
		color: currentColor !important;
		transition: none !important;
	}

	&:hover {
		background-color: var(--c-accent) !important;
		color: var(--c-on-accent) !important;
	}
}

/* Selected/active action chatbox button in Guest mode ("Search", "Study") */
[class*="dark:bg-[#2A4A6D]"] {
	background-color: var(--c-accent-15) !important;
	color: var(--c-accent) !important;
}

/* .bg-\[\#f4f4f4\] - Search chats dialog active/hover item
	[class*="dark:bg-[#353535]"] - menu with "Keyboard shortcuts" shown when hold `Ctrl` */
.bg-\[\#f4f4f4\],
[class*="dark:bg-[#353535]"] {
	background-color: var(--c-surface-3) !important;
}

/* Searched big link in Chat Bubbles */
/* [class*="group-hover/navigation"] je veliki source link u chat bubble kao onaj "ChatGPT Release Note" na sony */
.dark\:bg-token-main-surface-secondary:is(.dark *) {
	--main-surface-secondary: var(--c-surface-2) !important;
	// background-color: var(--main-surface-secondary);
}

/* [class*="group-hover/navigation"] je veliki source link u chat bubble kao onaj "ChatGPT Release Note" na sony (hover) */
.hover\:dark\:bg-token-main-surface-tertiary:is(.dark *):hover {
	--main-surface-tertiary: var(--c-surface-3) !important;
	// background-color: var(--main-surface-tertiary);
}

.hover\:bg-token-main-surface-tertiary:hover {
	--main-surface-tertiary: var(--c-surface-3) !important;
	// background-color: var(--main-surface-tertiary);
}

/* "Attach files" svg background circled div when clicked some of the new "New Chat" layout prompt action cards (Like "Summarize text", "Analyze images", etc. */
.bg-brand-blue-800\/20 {
	background-color: var(--c-accent-12) !important;
}


/* Highlighted orang-ish text when hover source link in chat-bubble */
.bg-\[#FCECC1\],
.dark\:bg-\[\#64572A\] {
	background-color: var(--c-accent-15) !important;
	color: var(--c-accent) !important;
	box-shadow: inset 0px 0px 0px 1px var(--c-accent-15) !important;
}

/* E.g. btn close ("Remove file") of attached file */
.text-white.bg-black.dark\:bg-white.dark\:text-black {
	background-color: var(--c-accent) !important;
	color: var(--c-on-accent) !important;
	border: none !important;
}

/* "Share Link" button in DeepSearch preview radix dialog */
.bg-token-text-primary {
	background-color: var(--c-accent) !important;
	color: var(--c-on-accent) !important;
}

.bg-token-bg-primary {
	--bg-primary: var(--c-bg-chats-container) !important;
	// background-color: var(--c-bg-chats-container);
}

/* Sidebar - bg around date headers ("Today", "Yesterday", etc) and ChatGPT item in sidebar */
.bg-token-bg-elevated-secondary {
	background-color: var(--c-bg-sidebar) !important;
}

/* e.g. Tools > Menu > Hover on menuitem */
[class*="--menu-item-highlighted"] {
	--menu-item-highlighted: var(--interactive-bg-secondary-hover) !important;
}

[class*="--menu-item-active"] {
	--menu-item-active: var(--interactive-bg-secondary-press) !important;
}

/* GPTs - bubble comments in dialogs when open GPTs item */
a.bg-token-main-surface-primary.group {
	--main-surface-primary: var(--c-surface-1) !important;
	// background-color: var(--main-surface-primary);
}

/*e.g. new analyze dialog opening button in chat bubbles: aria-label="Coding Citation" */
.bg-token-interactive-bg-tertiary-press {
	--interactive-bg-tertiary-press: var(--c-accent-30) !important;
	// background-color: var(--interactive-bg-tertiary-press);
}

.hover\:bg-token-interactive-bg-primary-selected:hover,
.hover\:bg-token-interactive-bg-primary-selected\/5:hover {
	&:hover {
		background-color: var(--c-accent) !important;
		color: var(--c-on-accent) !important;
	}
}

/* "Get Plus" and "Create a Workspace" pill sticky button on "New Chat" page */
[class*="dark:bg-[#373669]"] {
	background-color: var(--c-accent-10) !important;
	color: var(--c-accent) !important;
	backdrop-filter: blur(10px);

	&:hover {
		background-color: var(--c-accent-20) !important;
	}
}

// .bg-token-bg-primary {
// 	--bg-primary: var(--c-bg-chats-container) !important;
// 	background-color: var(--bg-primary);
// }

/* Settings > Account > "Complete verification to publish GPTs to everyone......" */
.bg-token-main-surface-primary\/10 {
	background-color: color-mix(in oklab, var(--main-surface-primary) 40%, transparent) !important;
}