/* ==== TYPOGRAPHY COLORS */

/*
	- Obrati paznju na TOOLTIP clr i accent btns sa svg!!!
 	- Have to add .toast-root .text-white[role='alert'] into :not() but it somehow affects tooltip txt color, wtf. And I cant investigate tooltip bcs it goes hidden when it is shown only on javascript mouseover.

	- [class*='text-gray-'] utice i na div[data-radix-popper-content-wrapper] tj "Theme" dropdown iteme te ne mogu da se overwrituju tamo u _menu.scss. Zato sam sklonila !important
*/
[class*='text-gray-']:not(.text-gray-100, .text-gray-400, .text-gray-500, .text-gray-600),
[class*='text-white']:not(.btn-primary .text-white, .bg-green-600, svg, .toast-root .text-white[role='alert']) {
	color: var(--c-txt);
}

/* 
 - Is this conversation helpful so far? 👍👎
 - tg-500 je recimo btn svg u "Archived/Shared Links" popup
 - tg-400 (dark) tg-600 (light) in "You have no shared links."
*/
.text-gray-400,
.text-gray-600,
.text-gray-500 {
	color: var(--c-subtext-2) !important;
	// color: red !important;
}

/* .text-gizmo-gray-500 is the footer txt in dialog "YOU'RE INVITED TO PLUS" */
.text-gizmo-gray-500,
.text-gray-100 {
	color: var(--c-subtext-1) !important;
}

/* Temp textarea text */
.text-token-text-primary {
	--text-primary: var(--c-txt) !important;
	// color: var(--text-primary);
}

/* 
- GPTs Page - "Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any - combination of skills.
- Footer - "ChatGPT can make mistakes. Consider checking important information."
- ChatGPT 3.5 - 3.5 txt
- "Upgrade your plan" dialog - "Have an existing plan? See billing help" and "* Price billed annually, minimum 2 users" 
- Settings - Text after "Chat history & training"
- "Loading" in dialogs
- "👍👎 ❌" in "Was this response better or worse? 👍👎 | ❌"*/
.text-token-text-secondary {
	color: var(--c-subtext-1) !important;
	// color: red !important;
}

/* "ChatGPT 3.5 ^ and its contextmenu small txt", "Upgrade plan - Get GPT-4, DALL-E, and more", icon bubble in tables, "X" close btn in dialogs, etc */
.text-token-text-tertiary {
	--text-tertiary: var(--c-subtext-2) !important;
	// --text-tertiary: red !important;
}

/* Sidebar collapse btn;"ChatGPT 3.5 - Fastest" in 4o menu when hover on it in chat bubbles */
.text-token-text-quaternary {
	--text-quaternary: var(--c-subtext-2) !important;
}

/* "Log out", "Delete all conversations", "Delete chat" */
.text-red-500,
.text-red-600 {
	color: var(--c-danger) !important;
}

/* "This content may violate our usage policies." - type this to get this error: tell me about the game where dwarves showing their asses */
.text-orange-600 {
	color: var(--c-warning) !important;
}

/* Intro page (before login) */
[class*='text-[#FE7600]'] {
	color: var(--c-accent) !important;
}

/* 
- .text-green-600: "Upgrade your plan" dialog, Plus plan "POPULAR" badge
- .text-blue-400: Blue text in reply in prompt textarea when DALLE image is open
- ..text-\[\#0285ff\: Blue deepsearch "X sources" */
// .text-\[\#0285ff\],
.text-green-600,
.text-blue-400,
.text-token-link,
.hint-pill {
	color: var(--c-accent) !important;
}

// [class*="hover:text-[#0285ff]"]:hover {
// 	color: hsla(var(--accent-hsl) / 0.2) !important;
// }

.text-token-link {
	--link: var(--c-accent) !important;
}

/* +1 txt in source link in chat bubble */
.text-\[\#8F8F8F\] {
	color: currentColor !important;
}