/* === BORDER COLORS */

/* Border in textarea in "Custom Instructions" dialog */
.border-gray-100 {
	// border-color: var(--c-surface-1) !important;
	border-color: transparent !important;
}

.border-gray-200 {
	border-color: var(--c-surface-2) !important;
}

/* Border in inputs in "Upgrade your Plan" dialog */
.border-gray-300 {
	// border-color: red !important;
	// border-color: transparent !important;
	border: none;
}

/* "Upgrade your plan" dialog, "Share link to chat" dialog chat min duplicate, "Is this conversation helpful so far? 👍 👎 | ✖️"

TODO rewrite this to add border-color in "Is this conversation helpful so far? 👍 👎 | ✖️" */
[class*='dark:border-gray-700'] {
	border-color: transparent !important;
	// border-color: red !important;
}

/* Border in dialogs after main heading - DARK */
html.dark [class*=':border-white/10'] {
	border-color: var(--c-border-accent) !important;
}

/* Border in dialogs after main heading - LIGHT */
html.light [class*=':border-white/10'] {
	border-color: var(--c-border) !important;
}

/* TOS - "This content may violate content policy..." (red) & "This content may violate our Terms of Use or usage policies." (orange) warnings */
[class*='border-red-500'],
[class*='border-orange-500'] {
	border-color: var(--c-danger) !important;
}

/* "Share link" mini chat footer 3 dots btn */
[class*='focus-visible:border-green-500'] {
	border-color: transparent !important;
}
