/* === BORDER COLORS */

/* Border in textarea in "Custom Instructions" dialog */
.border-gray-100 {
	// border-color: var(--c-surface-1) !important;
	border-color: transparent !important;
}

.border-gray-200 {
	border-color: var(--c-surface-2) !important;
}

/* Border in inputs in "Upgrade your Plan" dialog */
.border-gray-300 {
	// border-color: red !important;
	// border-color: transparent !important;
	border: none;
}

/* Border in "Is this conversation helpful so far? 👍 👎 | ✖️"
TODO rewrite this to add border-color in "Is this conversation helpful so far? 👍 👎 | ✖️" */
[class*='dark:border-gray-700'] {
	border-color: transparent !important;
	// border-color: red !important;
}

/*
-  html.dark [class*=':border-white/10']: Border in dialogs after main heading - DARK,
- .border-white - counter of review cards border */
html.dark [class*=':border-white/10'],
.border-white,
hr {
	border-color: var(--c-border-accent) !important;
}

/* Border in dialogs after main heading - LIGHT */
html.light [class*=':border-white/10'] {
	border-color: var(--c-border) !important;
}

/*This removes the border from code snippets box and (green) checkboxes/switches in "Settings" */
[class*='border-token-border-medium'] {
	// --border-medium: transparent !important;
	border: none !important;
}

[class*='border-blue-'],
[class*='dark:border-[#00000030]'] {
	border-color: var(--c-accent-08) !important;
}

// .bg-token-border-default {
// 	// --border-default: var(--c-border-accent) !important;
// 	// background-color: var(--border-default);
// }

.border-b {

	&.border-token-border-default,
	&.border-token-border-light {
		border: none !important;
	}
}