/* === BG COLORS */

/* 
- Textarea msg bg. 
- "Share link to chat" dialog chat min duplicate (.bg-white)
- Chat history & Training" checkbox bullet
 */
.bg-gray-900,
.bg-white {
	background-color: var(--c-surface-1) !important;
	// background-color: red !important;
}

/* 
// ``` .bg-gray-50
		- "❓" btn 

// ``` .bg-gray-100
		- Line | in "Is this conversation helpful so far?
👍 👎 | ✖️" */
.bg-gray-50,
.bg-gray-100 {
	background-color: var(--c-surface-2) !important;
}
// .bg-gray-50 {
// 	// background-color: var(--c-surface-2) !important;
// 	background-color: red !important;
// }

/* 
 - "Was this response better or worse?" el when clicked on regenerate answer btn 
 - "Delete all shared links" in "Shared liks" dialog
 - line | between "s this conversation helpful so far? 👍👎" and "x"
*/
// .bg-gray-100,
// [class*=":bg-gray-700"] {
//     background-color: red !important;
// }

/* hover:bg-gray-100 dark:hover:bg-gray-600 
	- GPTs Store PAGE - "Featured" section items :hover states
	- GPTs Store PAGE - "Top picks", "DALLE", "Writing" etc tags :hover states 
	- GPTs Store PAGE - "Search public GPTs" search list item bg :hover states */
[class*='dark:hover:bg-gray-600'] {
	&:hover {
		background-color: var(--c-surface-1) !important;
		// background-color: red !important;
	}
}

/* GPTs store PAGE - "Trending" section items hover state" */
[class*='dark:hover:bg-gray-700'] {
	&:hover {
		background-color: var(--c-surface-2) !important;
	}
}

/* [role='menuitem'] :hover state */
[class*='dark:hover:bg-gray-800'],
[class*='dark:hover:bg-white/5'] {
	&:hover {
		background-color: var(--c-surface-2) !important;
		// background-color: red !important;
	}
}

/* 
	- GPTS store PAGE - "Search public GPTs" search list item bg 
	- GPTs Store PAGE - "Top picks", "DALLE", "Writing" etc tags 
	- GPTs Store PAGE - "Featured" section items bg
	- GPTs Store PAGE - Bg for Buttons left and right arrow for "Top picks", "DALLE", "Writing" etc tags on smaller screens  */
[class*='dark:bg-gray-700'] {
	background-color: var(--c-surface-2) !important;
	// background-color: red !important;
}

/* 
- "Shared links" PAGE - overall BG !!!!
- GPTS store PAGE - "Search public GPTs" search input bg. Nema klase za light temu te selektujem klasom za darks 
- Textarea in [role="dialog"] */
[class*='dark:bg-gray-800'] {
	background-color: var(--c-bg-chats-container) !important; // var(--c-surface-1)
	// background-color: lightsalmon !important;
}

/* Shared chats PAGE - green button "Upgrade to Plus to create your own GPT" */
[class*='bg-green-600'] {
	background-color: var(--c-accent) !important;
	color: var(--c-on-accent) !important;
}

/* Like icon in "Provide aditional feedback" dialog when clicked liked answer */
// .bg-green-100 {}

// TODO Nmg ovo, obrise svugde ovajj black sto je narocito vidljivo za light temu gde je recimo markdown <pre> ili Upgrade btn pa onaj krug ovo svg-a
// .bg-black,
// [class*=":bg-black"] {
//     background-color: var(--c-surface-1) !important;
// }

.bg-gradient-to-l,
.bg-gradient-to-r {
	--gradient-color-from: var(--c-surface-1);
	--gradient-color-to: transparent;

	--tw-gradient-from: var(--gradient-color-from) var(--tw-gradient-from-position) !important;
	--tw-gradient-to: var(--gradient-color-to) var(--tw-gradient-to-position);
}

/* Active link bg in sidebar listitem */
.bg-token-surface-secondary {
	--surface-secondary: var(--c-surface-2) !important;
}

/* 
- Dialogs
- Tabs in "Settings"
- Table <thead> els
- Share Link > Mini chat conversation
- Context menu items in Share Link > Mini chat conversation
- Context menu items in Settings > Theme ddl and Theme
- Sticky header 
- Prompt textarea
- Sidebar Circled gpt logo - NEWCHAT/CLEAR CHAT
- Circled gpt logo "How can I help you today
- Scrolldown btn
- ❓ btn on bottom right
- Checkbox circle
- GPTs Store PAGE - Search query section
 */
[class*='bg-white'] {
	background-color: var(--c-surface-2) !important;
	// @include borderBoxShadow(red);
	// background-color: red;
}

/* 
- Sidebar
- Sidebar sticky behind NEWCHAT btn
- Sidebar "Today", "Yesterday"... time headings
- Sidebar user profile picture
- Tooltip
- ChatGPT 3.5 btn in sticky header
- Context menu items in 3dots
- Context menu items in ChatGPT 3.5
- Markdown <pre>
- Prompt textarea send button
- GPTs - active pill ("Top Picks")
 */
[class*='bg-black'] {
	background-color: var(--c-surface-1);
	// @include borderBoxShadow(lightgreen);
	// background-color: lightgreen;
}
