:root {
    --c-scrollbar-thumb: oklch(from var(--c-txt) l c h / 0.25);
    --c-scrollbar-thumb-hover: var(--c-accent-light);
    --c-scrollbar-track: transparent;
    --w-scrollbar: 0.425rem;
    --h-scrollbar-button: 8px;
    --br-scrollbar: 50vw;
}


/* OVO DOLE IZGLEDA DA NISTA NE RADI, NECE DA SE OVERRIDUJE. Jedino ako stavimo scrollbar-width i scrollbar-color da budu unset, onda hoce */
* {
    /*  scrollbar-width: thin !important; // auto | thin | none
    scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-track) !important; */

    /* Use this if you want to remove native scrollbars and want to add your scrollbar width */
    scrollbar-width: unset !important; // auto | thin | none
    scrollbar-color: unset !important;

    /* Scrollbar edge triangles */
    &::-webkit-scrollbar-button {
        /* Ako stavimo ovo onda ga nema uopste i thumnb overlappuje iz parenta. Zato cemo staviti height da bude e.g. 8px */
        // display: none !important;
        // width: 0 !important;
        height: var(--h-scrollbar-button) !important;
        background: var(--c-scrollbar-track) !important;
    }

    &::-webkit-scrollbar-corner {
        background: var(--c-scrollbar-track) !important;
    }

    &::-webkit-scrollbar-track {
        background: var(--c-scrollbar-track) !important;
        border-radius: var(--br-scrollbar) !important;
    }

    /* Thumb (draggable part)*/
    &::-webkit-scrollbar-thumb {
        background: var(--c-scrollbar-thumb) !important;
        border-radius: var(--br-scrollbar) !important;
        cursor: grab !important;

        // TODO (remove): Not wokring? 
        &:is(:hover, :active) {
            background: var(--c-scrollbar-thumb-hover) !important;
        }
    }
}

*,
html,
body {

    &::-webkit-scrollbar {
        max-width: var(--w-scrollbar) !important;
        max-height: var(--w-scrollbar) !important;
    }
}

@-moz-document url-prefix() {

    html,
    * {
        scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-track) !important;
        scrollbar-width: thin !important;
    }
}