.gpth-info {
    color: var(--fg, var(--c-accent));
    background-color: color-alpha(currentColor, 0.15);
    box-shadow: 0 0 0 1px color-alpha(currentColor, 0.25);
    font-size: 0.715em;
    display: flex;
    align-items: flex-start;
    gap: 0.8em;
    padding: 0.75em;
    margin: 1.25em;
    border-radius: var(--br-btn) !important;
    line-height: 1.25;

    svg {
        $size: 1.45em;
        margin-top: 0.125rem;
        width: $size;
        height: $size;
    }

    /* TODO: add mixing for this */
    &[data-type="info"] {
        --fg: var(--c-accent);
    }

    &[data-type="success"] {
        --fg: var(--c-success);
    }

    &[data-type="warning"] {
        --fg: var(--c-warning);
    }

    &[data-type="danger"] {
        --fg: var(--c-danger);
    }
}
