// *,
// :after,
// :before {
// 	--tw-ring-color: hsl(var(--accent-h),
// 			calc(var(--accent-s) / 1.5),
// 			var(--accent-l)) !important;--tw-ring-color // out border (box-shadow) on dialog btns color
// 	--tw-ring-offset-color: var(--c-bg-dialog) !important;outborderondialogbtnscolor--tw-ring-offset-color // inner border on dialog btns color
// }

/* From ChatGPT */
:is([type="text"], [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="datetime-local"], [type="month"], [type="search"], [type="tel"], [type="time"], [type="week"], [multiple], textarea, select) {
	&:focus-visible,
	&:focus-within {
		/* --tw-ring-inset: var(--tw-empty); */

		--tw-ring-offset-width: 0px;

		--tw-ring-offset-color: var(--c-subtext-2) !important;

		--tw-ring-color: var(--c-accent) !important;

		--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);

		border-color: var(--c-accent) !important;
		box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
		outline: 2px solid var(--c-accent) !important;
		outline-offset: 2px;
	}

	&:focus {

		--tw-ring-offset-width: 0px;

		--tw-ring-offset-color: var(--c-subtext-2) !important;

		--tw-ring-color: var(--c-accent) !important;

		--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);

		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
		border-color: transparent !important;
		box-shadow: none !important;
		outline: 0 solid var(--c-accent) !important;
		outline-offset: 0 !important;
	}
}