.btn {
    will-change: transform, opacity;
    background-color: var(--c-bg-btn) !important;
    color: var(--c-btn) !important;
    border-radius: var(--border-radius-btn) !important;
    border: none !important;

    &:not(.btn-small) {
        // padding: 1.5rem !important;
        padding: var(--p-btn) !important;
    }

    &:is(:hover, :active) {
        transform: translateY(-1px);
        opacity: .8;
    }
}

/* .btn-primary {
    background-color: var(--c-bg-btn) !important;
} */

.btn-danger {
    background-color: var(--c-btn-danger) !important;
    color: var(--c-bg-chats-container) !important;
}

/* === RIGHT - Scroll Down arrow bg LIGHT  === */
// html.light main [role="presentation"] button.absolute.rounded-full {
//     background-color: var(--c-txt) !important;
// }

/* === RIGHT - Scroll Down arrow bg DARK  === */
// html.dark main [role="presentation"] button.absolute.rounded-full {
//     background-color: var(--c-accent) !important;
// }
main [role="presentation"] button.absolute.rounded-full {
    background-color: var(--c-accent) !important;
    box-shadow: var(--box-shadow-contextmenu);

    /* RIGHT - Scroll Down arrow SVG Color === */
    svg {
        color: var(--c-on-accent) !important;
    }
}

/* === All the .btn inside dialogs not having svg icon inside */
[role="dialog"] {
    .btn:not(.btn:has(svg)) {
        min-width: var(--min-w);
    }

    /* ".PopoverContent" je recimo btn u "Shared Link to Chat" 3dots menu (Shared your Name & Delete Link) */
    // .btn-neutral:not(&:has(.PopoverContent)) {
    .btn-neutral:not(.PopoverContent) {
        background-color: var(--c-surface-3) !important;
        color: var(--c-txt) !important;
    }
}

/* === Settings > Tabs === */
[role="tablist"] button {
    border-radius: var(--border-radius-btn) !important;
    // padding: var(--py-btn) var(--px-btn) !important;
    padding: var(--p-btn) !important;

    &[data-state="active"],
    &:hover {
        //  Ovo je ok za desktop, ali za manje je bolje surface-1
        background-color: var(--c-surface-3) !important;
    }
}

/* === Checkbox button - switcher. In "Chat history & training: and "Custom instructions" */
button[role="switch"] {

    /* Checkbox ON */
    &:has([data-state="checked"]) {
        background-color: var(--c-accent) !important;

        /* Chb bullet/circle checked */
        span {
            background-color: var(--c-on-accent) !important;
        }
    }

    /* Checkbox OFF */
    &:has([data-state="unchecked"]) {
        background-color: var(--c-surface-3) !important;

        /* Chb bullet/circle unchecked */
        span {
            background-color: hsla(var(--accent-hsl) / .5) !important;
        }
    }
}

/* === Settings > Theme selector drop down */
button[role="combobox"] {
    @extend .btn;
    @extend .btn-neutral;
    min-width: var(--min-w);
}