.btn {
	background-color: var(--c-bg-btn) !important;
	color: var(--c-btn) !important;
	border-radius: var(--br-btn) !important;
	border: none !important;

	&:not(.btn-small) {
		// padding: 1.5rem !important;
		padding: var(--p-btn) !important;
	}
}

/* .btn-primary {
    background-color: var(--c-bg-btn) !important;
} */

.btn-danger {
	background-color: var(--c-danger) !important;
	color: var(--c-bg-chats-container) !important;
}

/* === RIGHT - Scroll Down arrow bg LIGHT  === */
// html.light main [role="presentation"] button.absolute.rounded-full {
//     background-color: var(--c-txt) !important;
// }

/* === RIGHT - Scroll Down arrow bg DARK  === */
// html.dark main [role="presentation"] button.absolute.rounded-full {
//     background-color: var(--c-accent) !important;
// }
main [role='presentation'] button.absolute.rounded-full {
	background-color: var(--c-accent) !important;
	box-shadow: var(--box-shadow-contextmenu);

	/* RIGHT - Scroll Down arrow SVG Color === */
	svg {
		color: var(--c-on-accent) !important;
	}
}

/* === All the .btn inside dialogs not having svg icon inside */
[role='dialog'] {
	.btn:not(.btn:has(svg)) {
		min-width: var(--min-w-btn);
	}

	&:not(.PopoverContent) .btn-neutral {
		background-color: var(--c-surface-3) !important;
		color: var(--c-txt) !important;
	}

	/* ".PopoverContent" je recimo menu od btn u "Shared Link to Chat" 3dots menu (Shared your Name & Delete Link) */
	&.PopoverContent {
		.btn-neutral {
			background-color: transparent !important;
			color: var(--c-txt) !important;
		}
	}
}

/* === Settings > Tabs === */
[role='tablist'] button {
	padding: var(--p-btn) !important;
	background-color: transparent !important;

	&[data-state='active'],
	&:hover {
		// TODO Ovo je ok za desktop, ali za manje je bolje surface-1. Takodje dodati horiz gap izmedju
		background-color: var(--c-surface-3) !important;
	}
}

/* === Checkbox button - switcher. In "Chat history & training: and "Custom instructions" */
button[role='switch'] {
	/* Checkbox ON */
	&:has([data-state='checked']) {
		background-color: var(--c-accent) !important;

		/* Chb bullet/circle checked */
		span {
			background-color: var(--c-on-accent) !important;
		}
	}

	/* Checkbox OFF */
	&:has([data-state='unchecked']) {
		background-color: var(--c-surface-3) !important;

		/* Chb bullet/circle unchecked */
		span {
			background-color: hsla(var(--accent-hsl) / 0.5) !important;
		}
	}
}

/* === Settings > Theme selector drop down */
button[role='combobox'] {
	@extend .btn;
	@extend .btn-neutral;
	min-width: var(--min-w-btn);

	/* Theme btn - fix height smaller then other btns */
	height: auto;
	line-height: inherit;
}

/* === ❓ circle btn on bottom right */
button[id*='headlessui-menu-button'][class*='bg-gray-50'] {
	color: var(--c-txt) !important;
	border: none !important;
}

/* Intro page (before Login or Register) */
button[class*='bg-[#3C46FF] text-[#fff]'] {
	@extend .btn;
}
