/* ______ Canvas in chat bubble */
.agent-turn:has([id^="textdoc-message"]) {
    // --c-bg-pre: var(--c-surface-1);
    // --c-bg-pre: var(--c-surface-2);

    .popover {
        --main-surface-primary: var(--c-bg-cm) !important;
    }

    [id^="textdoc-message"] {
        will-change: border-color;
        border: 2px solid hsla(var(--accent-hsl) / .12) !important;
        transition: border-color .2s;

        /* Gradient on the bottom of code */
        .absolute.bottom-0.z-20.h-24.w-full.transition-colors {
            background: linear-gradient(rgba(0, 0, 0, 0), var(--c-bg-cm)) !important;
        }

        &:hover {
            border-color: hsla(var(--accent-hsl) / .3) !important;
        }
    }

    /* Chat bubble - "Typing" btn when canvas creating */
    [role="button"].absolute.bottom-3:has(>.loading-shimmer-pure-text) {
        // --main-surface-primary: red !important;
    }
}

/* ______ CODE CANVAS: CM CodeMirror EDITOR */
.cm-editor {

    &,
    .cm-gutters {
        background-color: var(--c-bg-cm) !important;
    }

    .cm-activeLineGutter {
        background-color: hsla(var(--accent-hsl) / .2) !important;
        color: var(--c-accent) !important;
    }
}

/* Canvas with CodeMirror (for code) and ProseMirror (for text) showed on the left (when open canvas) 
- .fixed.inset-0.z-40.overflow-hidden is for smaller screens (width <= 1000px) */
.absolute.left-0.z-20.h-full.overflow-hidden,
.fixed.inset-0.z-40.overflow-hidden {

    &:has(section.popover main #codemirror, section.popover main #prosemirror-editor-container) {

        /* 
        - Edit Canvas floating action button warapper on the bottom right
        - "Ask GPT" floating wrapper */
        // .bg-token-main-surface-primary {
        //     background-color: red !important;
        // }

        /* Has to add for the bg of canvas (visible gap or when drag the separator) */
        section.popover.h-full.w-full {
            background-color: var(--c-bg-cm) !important;

            /* Header of canvas with title, coppy btn */
            header[class*="@container"] {
                background-color: var(--c-bg-cm);
            }
        }


        /*  Canvas Edit floating button on bottom right */
        // main .absolute[class*="z-[70]"].overflow-visible.border.border-token-border-light.transition-colors {
        .absolute[class*="z-[70]"].overflow-visible.border.border-token-border-light.transition-colors {

            /* Wrapper */
            &.bg-token-main-surface-primary,
            /* .bg-token-main-surface-secondary is for another step, for sliders floating wrappers */
            &.bg-token-main-surface-secondary {
                color: var(--c-accent) !important;

                /* dots level in slider */
                .bg-gray-300 {
                    background-color: var(--c-accent) !important;
                }
            }

            /* Pause primary floating btn while processing */
            &[class*="!bg-white !text-black"] {
                background-color: var(--c-accent) !important;
                color: var(--c-on-accent) !important;
            }

            /* Main state floating bg */
            &.bg-token-main-surface-primary {
                background-color: hsla(var(--accent-hsl) / .2) !important;
                backdrop-filter: blur(10px);
            }

            /* Slider state floating bg: when go into "Adjust the length" and "Reading level" */
            // &.bg-token-main-surface-secondary {
            //     background-color: var(--c-accent-light);
            //     // background-color: var(--c-surface-2) !important;
            //     // box-shadow: 0 0 5px 2px hsla(var(--accent-hsl) / .2) inset !important;
            // }

            /* Draggable Y-slider btn like: "Adjust the length" and "Reading level" in ProseMirror (text canvas) */
            .cursor-grab.rounded-full.bg-token-main-surface-primary[draggable] {
                box-shadow: 0 0 0 0.65rem hsla(var(--accent-hsl) / 1) !important;
            }

            /* SUBMIT CHANGE BUTTONS IN GENERAL */
            /* Submit btn for draggable slider btn */
            .rounded-full.bg-black[draggable],
            // .rounded-full.bg-black.h-8.w-8,
            // .rounded-full.bg-black.h-6.w-6,
            /* Submit on main button "Suggest edits" in Text Canvas or "Code review" in Code Canvas */
            .rounded-full.bg-black:has(>svg) {
                background-color: var(--c-accent) !important;
                color: var(--c-on-accent) !important;
            }

            /* "Port to a language" and "Add emoji" list */
            .content-center.overflow-x-hidden {
                [class*="dark:hover:bg-gray-700"] {

                    &[class*="dark:bg-gray-700/50"],
                    &:hover {
                        background-color: hsla(var(--accent-hsl) / .2) !important;
                    }
                }
            }
        }
    }
}



/* hover\:bg-gray-100\/75 .dark\:hover\:bg-gray-700 .bg-gray-100\/50 .dark\:bg-gray-700\/50 */
// hover:bg-gray-100/75 .dark:hover:bg-gray-700