// main:has(#prompt-textarea) [class*='lg:max-w-[40rem]'] {
// main:has(#prompt-textarea) [class*="xl:max-w-[48rem]"] {
// main:has(#composer-background) {
// main .composer-parent {
// main .composer-parent {
[role="presentation"].composer-parent {
	// container: inline-size;

	// .px-3.text-base.m-auto {
	// padding-left: var(--px-chat-bubble-edge-gap) !important;
	// padding-right: var(--px-chat-bubble-edge-gap) !important;

	/* Only textarea wrapper */
	// [class*="md:max-w-3xl"].mx-auto.flex.flex-1.text-base:has(form #prompt-textarea) {
	/* New selector: 2025-04-10 */
	[class*="max-w-(--thread-content-max-width)"].text-base.mx-auto.flex.flex-1:has(form[data-type="unified-composer"] #prompt-textarea) {
		will-change: width, max-width;
		max-width: var(--w_prompt_textarea);
		// background: orange;
		// outline: 2px solid orange;

		@include container('md') {
			--w_prompt_textarea: 100%;
			// border: 1px solid greenyellow !important;
		}

		/* TODO This element causes weird empty space before prompt field which makes prompt fields visually unshifted or misaligned. The best would be to display:none, but idk if that would be filled with some important content in the future. So I use :empty to remove it only when this element is without any content. */
		// &>div.flex.justify-center:has(~form):empty {
		// 	// border: 4px solid orange !important;
		// 	display: none !important;
		// }
	}
}