// main:has(#prompt-textarea) [class*='lg:max-w-[40rem]'] {
main:has(#prompt-textarea) {
	.px-3.text-base.m-auto {
		padding-left: var(--px-chat-bubble-edge-gap) !important;
		padding-right: var(--px-chat-bubble-edge-gap) !important;

		/* Only textarea wrapper */
		.mx-auto.flex.flex-1.text-base:has(>form) {
			max-width: var(--w_prompt_textarea) !important;
		}
	}


	.composer-parent {

		/* Textarea parent and its parent wrapper - --composer-bar_skeleton */
		.mx-auto.flex.max-w-3xl.flex-1.flex-col:has(.bg-thread--header) {
			max-width: var(--w_prompt_textarea) !important;
		}

	}
}