main:has(#prompt-textarea) [class*='lg:max-w-[40rem]'] {
	// border: 1px solid red;

	max-width: var(--w_prompt_textarea) !important;

	@include dev(laptop) {
		--w_prompt_textarea: 40rem;
		// border-color: lightblue;
	}

	// @include dev(tab-land) {
	// 	--w_prompt_textarea: 40rem;
	// 	border-color: lightpink;
	// }

	@include dev(big-desktop) {
		--w_prompt_textarea: 52rem;
		// border-color: lightgreen;
	}
}