/* ___ DIALOG - Dialog Settings  */
[role='dialog'] {
	padding: var(--p-dialog) !important;
	background-color: var(--c-bg-dialog) !important;
	border-radius: var(--br-dialog) !important;
	box-shadow: var(--box-shadow);
	--anim-duration: 0.28s;
	@extend %animFadeIn;

	.border-token-border-light,
	.border-white,
	.border-black {
		border-color: transparent !important;
	}

	/* Tab view transitions - In tab dialog part which is changing on tabpanel click (on right side) */
	[id*='-content-'] {
		--anim-duration: 0.18s;
		@extend %animFadeIn;
	}

	[role='tablist'] {
		/* ___ DIALOG - "Settings" on smaller devices then deskop */
		&[data-orientation='horizontal'].bg-gray-100 {
			background-color: var(--c-surface-3) !important;
			// border-radius: var(--br-btn) !important;

			// button[role="tab"][data-state="active"] {
			button[data-state='active'] {
				background-color: var(--c-surface-2) !important;
			}
		}
	}

	/* Add padding y to tabpanel in "Settings" (Where "Theme","Archived chats", "Delete All chats", etc are. Added because Theme dropdown was cutted on hover on smaller devices, because of OpenAI's `overflow-y: auto` */
	[role='tabpanel'][data-orientation='horizontal'] {
		padding: 1rem !important;
	}

	/* Heading "Settings" in Settings Modal */
	h2[as='h3'] {
		text-transform: uppercase;
	}

	/* "Your invite is valid until December X, 2023" in "YOU'RE INVITED TO PLUS" footer */
	.text-gizmo-gray-500 {
		text-align: center;
		margin-top: 1rem;
	}

	.bg-token-surface-primary {
		--surface-primary: transparent !important;
	}

	/* DIALOG - "Upgrade your plan" only */
	&:has(a[href="https://openai.com/enterprise"])
	{
		// background-color: transparent !important;
		// Change `width: max-content;` to `max-width: max-content;` in `[role="dialog"]:has(a[href="https://openai.com/enterprise"])` because it disables shrinking the content in `Upgrade your plan` popup. But then I have to fix the content
		max-width: max-content;
		padding: 0 !important;
		border: none !important;

		.bg-token-popover-surface-primary {
			background-color: var(--c-surface-2) !important;
		}
		/* Strange white bg behind ✔️ items - now is:  .bg-token-main-surface-primary */
		/* .bg-white,
		.bg-gray-900 {
			background-color: var(--c-surface-2) !important;
		} */

		/* Border radius for "Upgrade your plan" dialog */
		.rounded-md {
			border-radius: var(--br-chat-bubble) !important;
		}

		/*  Stroke color for ✔️ in "Upgrade your plan" dialog list */
		svg[stroke='currentColor']:has(polyline) {
			stroke: var(--c-accent) !important;
		}

		/* See "ChatGPT Enterprise" */
		a[href="https://openai.com/enterprise"]
		{
			color: var(--c-accent) !important;
		}
	}

	&:has([data-testid^='conversation-turn-']) {
		[class*='dark:bg-gray-800'] {
			background-color: var(--c-surface-1) !important;
			// background-color: lightsalmon !important;
		}
	}

	/* DIALOG - textarea ("Custom instructions") */
	textarea {
		border-radius: var(--br-contextmenu) !important;
		border-color: transparent !important;
		background-color: var(--c-surface-3) !important; // [class*='dark:bg-gray-800']
		opacity: 0.7;

		/* Textarea feedback when click on like btn in gpt answers */
		&#feedback-other {
			padding: 1.5rem;
		}

		&:focus {
			border-color: var(--c-surface-3) !important;
			opacity: 1;
		}

		&::placeholder {
			color: var(--c-subtext-1) !important;
		}
	}

	& [class*='dark:bg-gray-700']:has(input[id]) {
		background-color: var(--c-surface-3) !important;

		input {
			background-color: inherit !important;
		}
		// background-color: red !important;
	}

	/* ___ Dialog - "Share Chat" White preview <div>  */
	&:has(main div[data-radix-aspect-ratio-wrapper]) .w-full.rounded-lg {
		border-radius: var(--br-chat-bubble) !important;
		box-shadow: var(--box-shadow);
		border: none !important;

		/* Mini chat conversation */
		--main-surface-primary: var(--c-surface-1) !important; // mini chat preview background in "Share Link to Chat"
		--main-surface-secondary: var(--c-surface-1) !important; // footer of mini chat preview in "Share Link to Chat"
		--main-surface-tertiary: transparent !important; // border color of footer of mini chat preview in "Share Link to Chat"
	}

	/* ___ DIALOG - "SHARED LINKS" or "ARCHIVED CHATS" - Table  */
	table {
		--main-surface-primary: transparent !important; /* BG of thead>th ---> .bg-token-main-surface-primary */
		padding: var(--p-contextmenu) !important;
		// border-radius: var(--br-contextmenu);

		th,
		td {
			padding-top: var(--py-btn) !important;
			padding-bottom: var(--py-btn) !important;
		}

		thead {
			tr {
				// border-radius: var(--br-btn) !important;
				// padding: var(--py-btn) var(--px-btn) !important;
			}

			th {
				text-transform: uppercase !important;
				// color: var(--c-accent) !important;
				color: var(--c-txt) !important;
			}
		}

		tbody {
			/* Link in table Shared Links/Archived Chats
            
                NAME - first column Links
                "Shared links" & "Archived Chats" links in table, but a[href^="/c/"] is also Conversation SVG in "Shared Links", ahh
            */
			td:first-child a {
				@extend %link_hover_underless;
			}

			/* Center the vertically svg icons next to each other in table */
			td:has(button[aria-label^='Delete']) span[data-state] {
				display: flex;
				align-items: center;
				justify-items: center;
			}
		}

		/* "Delete shared link" in Shared Links and "Delete conversation" in Archived Chats svg color */
		button[aria-label^='Delete'] {
			color: var(--c-danger) !important;
		}
	}

	/* ___ DIALOG "Delete account - are you sure?" inputs parents */
	div[class*='focus-within:ring-1']:has(input) {
		padding: 0.8rem !important;
		background-color: var(--c-surface-3);

		input {
			background-color: var(--c-surface-3);

			&::placeholder {
				color: var(--c-subtext-1) !important;
			}
		}
	}

	/* "Create Workspace" dialog when clicking "Upgrade plan" > "Team" */
	&:has(input#workspace-name) {
		/* "Workspace name" bg color: .bg-token-main-surface-primary */
		--main-surface-primary: transparent !important;
	}

	/* "Select your Team Plan" dialog radio buttons when clicking "Upgrade plan" > "Team" > "Select billing options" */
	&:has(input[name='seats']) {
		/* input counter for seats */
		input[name='seats'] {
			background-color: hsla(var(--accent-hsl) / 0.3) !important;
			padding: var(--p-btn) !important;
			height: 100% !important;
			margin: 0 0.8rem;
		}
	}
}
