/* Dialogs - Settings  */
[role='dialog'] {
	padding: var(--p-dialog) !important;
	background-color: var(--c-bg-dialog) !important;
	border-radius: var(--br-dialog) !important;
	box-shadow: var(--box-shadow);

	/* Bez ovog "Upgrade your plan" je broken */
	&:has(.popover) {
		.popover {
			--main-surface-primary: var(--c-surface-2) !important;
			--main-surface-secondary: var(--c-surface-2) !important;
			--main-surface-tertiary: var(--c-surface-3) !important;
		}
	}

	.border-token-border-light,
	.border-white,
	.border-black {
		border-color: transparent !important;
	}

	/* Tab view transitions - In tab dialog part which is changing on tabpanel click (on right side) */
	[id*='-content-'] {
		--anim-duration: 0.18s;
		@extend %animFadeIn;
	}

	[role='tablist'] {
		/* ___ DIALOG - "Settings" on smaller devices then deskop */

		&:has([data-orientation='horizontal']) {
			flex-wrap: wrap;
		}

		&[data-orientation='horizontal'] {
			background-color: var(--c-surface-3) !important;

			button[data-state='active'] {
				background-color: var(--c-accent) !important;
				color: var(--c-on-accent);
			}
		}
	}

	/* Add padding y to tabpanel in "Settings" (Where "Theme","Archived chats", "Delete All chats", etc are. Added because Theme dropdown was cutted on hover on smaller devices, because of OpenAI's `overflow-y: auto` */
	[role='tabpanel'][data-orientation='horizontal'] {
		padding: 1rem !important;

		@include dev(mob) {
			padding: 0rem !important;
		}
	}

	/* Heading "Settings" in Settings Modal */
	h2.text-lg.font-semibold {
		text-transform: uppercase;
	}

	/* "Your invite is valid until December X, 2023" in "YOU'RE INVITED TO PLUS" footer */
	.text-gizmo-gray-500 {
		text-align: center;
		margin-top: 1rem;
	}

	/* ???? */
	.bg-token-surface-primary {
		--surface-primary: transparent !important;
	}

	/* "Enabled" btn for 2fa in "Settings" > "General" */
	span.bg-green-50.text-green-700 {
		background-color: hsla(var(--accent-hsl) / 0.15) !important;
		color: var(--c-accent) !important;
		padding: 0.3rem 0.8rem !important;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.68rem !important;
	}

	/* DIALOG - "Upgrade your plan" only */
	&:has(a[href="https://openai.com/enterprise"]) {
		--popover-surface-primary: var(--c-bg-dialog) !important; //Dialog bg
		--main-surface-primary: transparent !important;
		padding: 0 !important;
		border: none !important;

		/* Border radius for "Upgrade your plan" dialog */
		.rounded-md {
			border-radius: var(--br-dialog) !important;
		}

		/*  Stroke color for ✔️ in "Upgrade your plan" dialog list */
		svg[stroke='currentColor']:has(polyline) {
			stroke: var(--c-accent) !important;
		}

		/* See "ChatGPT Enterprise" */
		a[href="https://openai.com/enterprise"] {
			color: var(--c-accent) !important;
		}
	}

	/* "Upgrade yur plan" verzja koja ima Personal i Bussiness switching buttons */
	&:has(button[aria-label*='Toggle for switching to Personal plans']) {
		border-radius: none !important;
		padding: 0 !important;

		button[aria-label*='Toggle for switching to Personal plans'],
		button[aria-label*='Toggle for switching to Business plans'] {

			&[aria-checked='true'],
			&:hover {
				// background-color: var(--c-accent) !important;
				color: var(--c-on-accent) !important;

				& ~ .bg-token-text-primary {
					--text-primary: var(--c-accent) !important;
					// color: var(--c-on-accent) !important;
				}
			}

			[aria-checked='false'] {
				background-color: none;
				color: var(--c-accent);
			}
		}
	}

	/* "CREATE WORKSPACE" dialog when clicked on "Team" for "Upgade your plan" which has input 'Acme Inc.'. */
	&:has(input[id="workspace-name"]) {

		// grey bg on black theme arround "Workspace name + input" section
		.bg-token-main-surface-primary:has(input[id="workspace-name"]) {
			--main-surface-primary: transparent !important;
		}
	}

	/* "Select your Team Plan" dialog radio buttons when clicking "Upgrade plan" > "Team" > "Select billing options" */
	&:has(input[name='seats']) {

		/* input counter for seats */
		input[name='seats'] {
			background-color: hsla(var(--accent-hsl) / 0.3) !important;
			padding: var(--p-btn) !important;
			height: 100% !important;
			margin: 0 0.8rem;
		}
	}


	/* DIALOG - textarea ("Custom instructions") */
	textarea {
		border-radius: var(--br-contextmenu) !important;
		border-color: transparent !important;
		background-color: var(--c-surface-3) !important; // [class*='dark:bg-gray-800']
		opacity: 0.7;

		/* Textarea feedback when click on like btn in gpt answers
		TODO(remove): there is no "👍 like" btn anymore */
		&#feedback-other {
			padding: 1.5rem;
		}

		&:focus {
			border-color: var(--c-surface-3) !important;
			opacity: 1;
		}
	}

	& [class*='dark:bg-gray-700']:has(input[id]) {
		background-color: var(--c-surface-3) !important;

		input {
			background-color: inherit !important;
		}
	}

	/* ___ Dialog - "Share Link to Chat"  */
	&:has(input[value^="https://chatgpt.com/share/"]),
	// "PUBLIC LINK UPDATED"
	&:has(input[value^="https://chat.openai.com/share/"]) {

		// --main-surface-primary: var(--c-surface-3) !important; // bg of link preview and "🔗 Create Link" btn
		// // mozda i ukloniti, nije lose i bez ovog ustvari tj da input bude iste boje kao i dialog
		.bg-token-main-surface-primary {
			--main-surface-primary: var(--c-surface-3) !important; // bg of link preview and "🔗 Create Link" btn
		}

		// bg-gradient of link preview
		.from-token-main-surface-primary {
			display: none;
			// --gradient-color-from: var(--main-surface-primary);
		}

		/* PUBLIC LINK UPDATED - Social platforms in show in footer after the  "🔗 Copy Link" btn */
		a[href*='linkedin'],
		a[href*='facebook'],
		a[href*='reddit'],
		a[href*='twitter'] {
			transform: scale(0.9);
			margin-bottom: 5px !important;

			&:hover {
				transform: scale(1);
			}

			svg {
				--main-surface-secondary: var(--c-surface-3) !important;
			}

			& + span {
				color: var(--c-accent);
				background-color: hsla(var(--accent-hsl) / 0.15) !important;
				padding: 2px 8px;
				border-radius: 50vw;
				font-weight: 600;
			}
		}
	}

	/* ___ DIALOG - "SHARED LINKS" or "ARCHIVED CHATS" - Table  */
	table {
		--main-surface-primary: transparent !important;
		/* BG of thead>th ---> .bg-token-main-surface-primary */
		padding: var(--p-contextmenu) !important;

		thead {
			th {
				text-transform: uppercase !important;
				color: var(--c-txt) !important;
			}
		}

		tbody {

			/* Link in table Shared Links/Archived Chats
                NAME - first column Links
                "Shared links" & "Archived Chats" links in table, but a[href^="/c/"] is also Conversation SVG in "Shared Links", ahh
            */

			td:first-child a {
				@extend %link_hover_underless;
			}

			/* Center the vertically svg icons next to each other in table */
			td:has(button[aria-label^='Delete']) span[data-state] {
				display: flex;
				align-items: center;
				justify-items: center;
			}
		}

		/* "Delete shared link" in Shared Links and "Delete conversation" in Archived Chats svg color */
		button[aria-label^='Delete'] {
			color: var(--c-danger) !important;
		}
	}

	/* ___ DIALOG "Delete account - are you sure?" inputs parents
	
	TODO:(remove?): this doesnt exist anymore? */
	div[class*='focus-within:ring-1']:has(input) {
		padding: 0.8rem !important;
		background-color: var(--c-surface-3);

		input {
			background-color: var(--c-surface-3);

			&::placeholder {
				color: var(--c-subtext-1) !important;
			}
		}
	}


	/* "Keyboard Shortcuts" keyboard tasters */
	// this is also the text in "Settings" dialog so we need more special selector
	&:has(.truncate) {

		// .border-token-border-light:has(span.text-xs) {
		.border-token-border-light:not(:has(button)) {
			color: var(--c-accent) !important;
			border-color: hsla(var(--accent-hsl) / 0.3) !important;
			border-radius: 10px !important;
		}
	}

	/* Dialog - GPTs Store Page - GPT Store product dialog when clicked on any product in store 
		- Ovaj href je "More info" u "Share Link" dialogu, dakle selektujemo sve koji NEMAJU taj "More info" jer necemo da ovaj style se appluje za ovaj "Share Link" dialog jer sjebe dizajn	
	*/
	&:not(&:has([href^='https://help.openai.com/en/articles/7925741-chatgpt-shared-links-faq'])) {
		.border-token-border-medium {
			--border-medium: transparent !important;
		}

		/* Gradient in dialog header when clicked on GPTs product, but if we add this style here it broke the gradient in "Create Link" dialog bcs there is var(--c-surface-3) (or var(--main-surface-primary) */
		.from-token-main-surface-primary {
			--main-surface-primary: var(--c-surface-2) !important;
		}

		/* Numbers in "Ratings" svg stars */
		svg.text-green-500 ~ .text-white {
			color: var(--c-on-accent) !important;
		}

		&:has([href*='/g/g-']) {

			/* "Conversation Starters" example bubbles */
			.bg-token-main-surface-primary[href*='/g/g-'] {
				--main-surface-primary: var(--c-surface-3) !important;
				--main-surface-secondary: hsla(var(--accent-hsl) / 0.4) !important;

				/* "Conversation Starters" bubble shape on bottom left */
				.absolute.border-token-border-medium {
					display: none;
				}
			}

			/* "More by [creator_name]" product card element  */
			.bg-token-main-surface-secondary {
				// --main-surface-secondary: var(--c-surface-3) !important;
				background-color: var(--c-surface-3) !important;
			}
		}

		/* GPTs Store - Close btn in product dialog */
		.fixed.left-4.right-4 {
			.btn-secondary {
				background-color: transparent !important;
				padding: 0px !important;
				transform: none !important;
				height: 2.25rem; // GPT's 3-dots height
			}
		}
	}

	// &:has(img[alt='Uploaded image']) {
	/* Uploaded image dialog (When clicked on image from gpt user chat (alt='Uploaded image'), and on mini attached preview in textarea) (alt='User uploaded image') */
	&:has(img.h-full.w-full.object-contain, iframe) {
		--c-bg-dialog: transparent;
		--box-shadow: none;
		padding: 0 !important;

		// img[alt='Uploaded image'] {
		img.h-full.w-full.object-contain {
			border-radius: var(--br-contextmenu);
			box-shadow: var(--box-shadow);
		}

		/* iframe is dialog with Google Drive or One Drive preview when we try to attach the file from the one of the accounts (Google, OneDrive). This caused some frame around this dialog, thats bcs of margin and padding */
		iframe {
			// margin: 0 !important;
			border-radius: var(--br-contextmenu);
		}
	}

	/* "Analysis" dialog with markdown code 
	- .bg-gray-700 je boja pozadine za "Results" ovog analysis koda */
	&:has(.markdown) {

		.bg-black,
		.bg-gray-950,
		.bg-gray-700 {
			background-color: var(--c-bg-pre);
			border-radius: var(--br-dialog);
		}

		/* "Analysis" Results code snippets */
		.bg-gray-700 {
			border: 1px solid var(--c-border);
			border-radius: var(--br-contextmenu) !important;
			margin-bottom: 1.5rem;
		}
	}

	.gizmo-shadow-stroke {
		background-color: var(--c-accent) !important;

		svg {
			color: var(--c-on-accent) !important;
		}
	}

	/* "Build Profile" content */
	[id*='BuilderProfile'][role='tabpanel'] {

		/* PlaceholderGPT - By community builder */
		.bg-token-main-surface-primary.relative:has(.gizmo-shadow-stroke svg) {
			--main-surface-primary: transparent !important;
		}

		.bg-token-main-surface-primary:not(.gizmo-shadow-stroke) {
			--main-surface-primary: var(--c-surface-3) !important;
		}
	}


	/* Speech tabpanel in "Settings" */
	[id*='Speech'][role='tabpanel'] {
		.border-l {
			border: none !important;
		}
	}


	/* "Report [GPTs]" dialog */
	.divide-y:has(>button[class*='hover:bg-token-main-surface-secondary']) {
		& > * + * {
			margin-top: 0.5rem;
		}

		/* "This GPT doesn't work as it's described", "This GPT is an exact copy of another GPT", and etc report buttons */
		button[class*='hover:bg-token-main-surface-secondary'] {
			border-radius: var(--br-btn);
			background-color: var(--c-surface-3);
			border: 1px solid transparent !important;

			&:hover {
				background-color: transparent !important;
				border-color: var(--c-surface-3) !important;
			}
		}
	}
}

/* ! NOT WORKING - CANNOT OVERWRITE THIS WTF */
/* .dark .popover,
.light .popover,
.popover {
	--main-surface-primary: var(--c-surface-2) !important;
	--main-surface-secondary: var(--c-surface-2) !important;
	--main-surface-tertiary: var(--c-surface-3) !important;

	&.bg-token-main-surface-primary {
		--main-surface-primary: var(--c-surface-2) !important;
		background-color: var(--c-surface-2) !important;
	}
	&.bg-token-main-surface-secondary {
		--main-surface-secondary: var(--c-surface-2) !important;
		background-color: var(--c-surface-2) !important;
	}
	&.bg-token-main-surface-tertiary {
		--main-surface-tertiary: var(--c-surface-3) !important;
		background-color: var(--c-surface-3) !important;
	}
} */

/* ! THIS WORKS */
/* .dark .popover {
	// --main-surface-primary: red !important;
	.bg-token-main-surface-primary {
		background-color: var(--c-surface-1) !important;
		// background-color: red !important;
	}
}
.light .popover {
	// --main-surface-primary: red !important;

	.from-token-main-surface-primary {
		--gradient-color-from: var(--c-surface-3) !important;
	}
	.bg-token-main-surface-primary {
		background-color: var(--c-surface-3) !important;
		// background-color: red !important;
	}
}
 */

// [class*='popover'] {
/* .dark .popover,
.light .popover,
.popover {
	--main-surface-primary: red !important;
	--main-surface-secondary: red !important;
	--main-surface-tertiary: red !important;
	--text-primary: red !important;
	--text-secondary: red !important;
	--text-tertiary: red !important;
	--text-quaternary: red !important;
	--sidebar-surface-primary: red !important;
}
 */