body>.pointer-events-none.fixed.inset-0.contain-size[data-shader] {
	canvas {
		opacity: 0 !important;
	}

	// &::after {
	//     content: "";
	//     position: absolute;
	//     inset: 0;
	//     width: 100%;
	//     height: 100%;
	//     background: linear-gradient(to bottom, var(--c-bg-chats-container), var(--c-accent-50)) !important;
	//     z-index: 1;
	//     opacity: 0.98;
	// }
}

#main {

	div[class*='@container/images-app-shell'] {

		[role='presentation'] {

			#image-app-composer~.max-w-app-content {


				section {
					// border: 5px solid orange !important;

					button .bg-token-interactive-bg-tertiary-hover[class*='corner-superellipse'] {
						// @include imgTrans;

						img {
							transition: transform 0.25s ease;
						}

						&:is(:hover, :focus) img {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}

}