[role='listbox'],
[role='menu'] {
	// background-color: var(--c-bg-contextmenu) !important;
	border-radius: var(--br-contextmenu) !important;
	padding: var(--p-contextmenu) calc(var(--p-contextmenu) * 0.5) !important;
	box-shadow: var(--box-shadow-contextmenu) !important;

	&.popover {
		// --main-surface-primary: hsla(var(--accent-hsl) / 0.1) !important;
		backdrop-filter: var(--blur-menu) var(--brightness-menu) !important;
		background-color: hsla(var(--accent-hsl) / 0.2) !important;
		// background-color: color-mix(in srgb, var(--c-accent), transparent 90%) !important;

	}

	// &.bg-token-main-surface-primary {
	// 	--main-surface-primary: hsla(var(--accent-hsl) / 0.1) !important;
	// 	backdrop-filter: blur(18px) !important;
	// }

	// /* Some spacing top and bottom of contextmenu child menuitem wrapper */
	// &>[class*="max-h-[var(--radix-dropdown-menu-content-available-height)]"].overflow-y-auto.py-2 {
	// 	padding: 0 !important;
	// }

	.__menu-item {
		// padding-block: calc(var(--p-contextmenu) * 0.8) !important;
		padding-block: calc(var(--p-contextmenu) * 0.8) !important;
		// border-radius: calc(var(--br-contextmenu) * 0.6) !important;
		border-radius: 0.9em !important;
	}

	/* Separator/divider in menus ([role="separator"]) */
	.h-px {
		display: block !important;
		--border-light: var(--c-border) !important;
	}
}

/* __ MODAL - Choose theme context menu & tooltips?  */
// [data-radix-popper-content-wrapper] {
[data-radix-select-viewport] {
	// z-index: calc(var(--z-modal) + 50) !important;

	[data-radix-collection-item] {
		border-radius: var(--br-btn);
		height: auto !important;
		margin-bottom: 4px;
		overflow: visible !important;
		outline: none !important;
	}

	/* MODAL - Choose theme context menuitem hover active */
	[data-state='checked'] {
		span[class*="text-token-text-"] {
			color: var(--c-on-accent) !important;
		}

		&,
		&:hover {
			background-color: var(--c-accent) !important;
			color: var(--c-on-accent) !important;
		}
	}
}

/* [role='menu'] for contextmenu */
.popover {
	// --main-surface-primary: var(--c-surface-2) !important;
	// --main-surface-secondary: var(--c-surface-2) !important;
	// --main-surface-tertiary: var(--c-surface-3) !important;
	// --sidebar-surface-primary: var(--c-surface-2) !important;
}

.__menu-item {
	--menu-item-active: hsla(var(--accent-hsl) / 0.16) !important;
	--menu-item-hover: hsla(var(--accent-hsl) / 0.12) !important;
	--menu-item-highlighted: hsla(var(--accent-hsl) / 0.13) !important;
	--menu-item-open: hsla(var(--accent-hsl) / 0.22) !important;

	// data-testid="delete-chat-menu-item"
	&[data-color="danger"],
	&[data-testid="log-out-menu-item"] {
		--menu-item-highlighted: hsla(var(--danger-hsl) / .13) !important;
		--menu-item-hover: hsla(var(--danger-hsl) / .12) !important;
		--menu-item-active: hsla(var(--danger-hsl) / .1) !important;
		--menu-item-open: hsla(var(--danger-hsl) / .22) !important;
	}

	&[data-testid="log-out-menu-item"] {
		color: var(--c-danger) !important;
	}
}