/* ------- SIDEBAR - PIH, vidim samo kad otvorim sidebar bottom, klik na username. I kad smo u SHARED LINKS pa na tri tacke pa menu gde je 'Delete all shared links' -------*/
[role="menu"] {
    background-color: var(--c-surface-3) !important;
    border-radius: var(--border-radius-contextmenu) !important;
    border: none !important;
    padding: .3rem !important;
    box-shadow: var(--box-shadow-contextmenu) !important;
    transition: all .3s ease-in-out;
}

[role="menuitem"] {
    border-radius: var(--border-radius-btn) !important;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--c-surface-2) !important;
    }

}