[role='menu'] {
	background-color: var(--c-bg-contextmenu) !important;
	border-radius: var(--br-contextmenu) !important;
	padding: var(--p-contextmenu) !important;
	box-shadow: var(--box-shadow-contextmenu) !important;

	[role='menuitem'] {
		background-color: inherit !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: var(--p-contextmenu-item) !important;
		border-radius: var(--br-btn) !important;
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

		&:last-child {
			margin-bottom: 0 !important;
		}

		/* TODO dark:hover:bg-white/5   ima vec u globalu. Videti da li obrisati ovah hover i ostaviti onaj tamo samo. Rizicno je malo, sta ako se promeni ta klasa */
		&:hover {
			// background-color: var(--c-surface-2) !important;
			background-color: var(--c-bg-contextmenu-item) !important;
		}

		/* "Delete" when clicked on conversatin 3dots (more options) */
		&:last-child:has(.text-token-text-error) {
			&:hover {
				background-color: hsla(var(--danger-hsl) / 0.15) !important;
			}
		}
	}

	/* Context menu when clicked ❓ on bottom right */
	&:has(a[href="https://openai.com/policies"]) {
		a {
			font-size: 0.8rem;
		}

		/* User's email */
		a:first-child span {
			color: var(--c-accent) !important;
			font-weight: bold;
		}
	}

	.bg-token-border-light:has([role="separator"]) {
		// display: block !important;
		// --border-light: red !important;
		// // --border-light: var(--c-border) !important;
		// background-color: red !important;
	}

	/* Separator/divider in menus ([role="separator"]) */
	.h-px {
		display: block !important;
		--border-light: var(--c-border) !important;
		// background-color: red !important;
	}

	/* Menu koji ima separator koji je pre poslednjeg menuitem-a u tom menu - "Log Out" */
	&:has([role='separator'] ~ [role='menuitem']:last-child) {
		// [role='separator'] {
		// 	--border-light: var(--c-border) !important;
		// }

		[role='menuitem']:last-child:not(:has([aria-label='Temporary'])) {

			&,
			svg {
				color: var(--c-danger) !important;
			}

			&:hover {
				background-color: hsla(var(--danger-hsl) / 0.15) !important;
			}
		}
	}

}

/* __ MODAL - Choose theme context menu & tooltips?  */
[data-radix-popper-content-wrapper] {
	z-index: calc(var(--z-modal) + 50) !important;

	/* "Custom Instructions" dialog */
	&:has([role='dialog']) {

		/* "Custom Instructions" dialog context menu visible on textarea focus */
		[role='dialog'] {
			--box-shadow: var(--box-shadow-contextmenu) !important;
		}

		/* Small div rotated to simulate chevron on notification bubbles */
		// .h-3.w-3.rotate-45.transform.rounded-br-sm.bg-gray-900 {
		// 	background-color: var(--c-surface-3) !important;
		// }
	}

	/* Context menu bg */
	[role='listbox'] {
		padding: var(--p-contextmenu) !important;
		border-radius: var(--br-contextmenu) !important;
		box-shadow: var(--box-shadow-contextmenu) !important;
		overflow: visible !important; // for what is this? hhh
		border: none;

		[role='option'] {
			margin-left: 0 !important;
			margin-right: 0 !important;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	/* Theme dropdown bg */
	.popover {
		background-color: var(--c-bg-contextmenu) !important;
		/* --main-surface-primary: var(--white)!important; */
		// --main-surface-secondary: var(--gray-100)!important;
		// --main-surface-tertiary: var(--gray-200)!important;
	}

	[data-radix-collection-item] {
		border-radius: var(--br-btn);
		// padding: var(--p-contextmenu-item) !important;
		height: auto !important;
		margin-bottom: 4px;
		overflow: visible !important;
		outline: none !important;

		/* MODAL - Choose theme context menuitem hover */
		&[data-state='unchecked'] {
			&:hover {
				// background-color: var(--c-surface-2) !important;
				background-color: var(--c-bg-contextmenu-item) !important;
				outline: none !important; // TODO this is temp fix. This ecause there were somewhite uglu outline on hover. But this also breaks :focus-visible accessibility style...
			}
		}
	}

	/* MODAL - Choose theme context menuitem hover active */
	[data-state='checked'] {
		background-color: var(--c-accent) !important;
		color: var(--c-on-accent) !important;
	}

	/* "Parent of "Models ℹ️" heading in contextmenu in ChatGPT 3.5" */
	[data-radix-menu-content]:has(a[href^="https://help.openai.com/"]) {

		/* "Models ℹ️ heading in contextmenu in ChatGPT 3.5" */
		div:has(>a[href^="https://help.openai.com/"]) {
			margin-bottom: 0.5rem;
		}

		/* ChatGPT 3.5 contextmenu item */
		[role='menuitem'] {
			span:has(> svg) {
				background-color: hsla(var(--accent-hsl) / 0.11) !important;

				svg {
					color: var(--c-accent);
				}
			}
		}
	}
}

/* [role='menu'] for contextmenu */
.popover {
	--main-surface-primary: var(--c-surface-2) !important;
	--main-surface-secondary: var(--c-surface-2) !important;
	--main-surface-tertiary: var(--c-surface-3) !important;
	// --main-surface-primary: var(--white) !important;
	// --main-surface-secondary: var(--gray-100) !important;
	// --main-surface-tertiary: var(--gray-200) !important;

	/* [role='dialog'] */
	// --main-surface-primary: var(--gray-700)!important;
	// --main-surface-secondary: var(--gray-600)!important;
	// --main-surface-tertiary: var(--gray-500)!important;
	// --text-primary: var(--white)!important;
	// --text-secondary: var(--gray-200)!important;
	// --text-tertiary: var(--gray-300)!important;
}

/* Settings > Language > dropdown which is rendered into body>direct  */
/* div:has(> div[role='listbox']:has(data-radix-select-viewport[role='presentation']:has([role='option']))) {
	border: 3px solid red !important;
	z-index: calc(var(--z-modal) + 200) !important;
} */

/* ___ Choose language 
	Settings > Language > dropdown which is rendered into body>direct.
	.absolute.inset-0:has(.fixed.inset-0) is a modal */
body > .absolute.inset-0:has(.fixed.inset-0) + div:not([data-radix-popper-content-wrapper]):has(> div[role='listbox']) {
	z-index: calc(var(--z-modal) + 200) !important;

	[role='listbox'] {
		@extend [role='menu'];

		[role='option'] {
			background-color: inherit !important;
			padding: var(--p-contextmenu-item) !important;
			border-radius: var(--br-btn) !important;
			transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
			outline: none !important;

			&:hover {
				background-color: var(--c-bg-contextmenu-item) !important;
			}
		}
	}
}