[role='listbox'],
[role='menu'] {
	background-color: var(--c-bg-contextmenu) !important;
	border-radius: var(--br-contextmenu) !important;
	padding: var(--p-contextmenu) !important;
	box-shadow: var(--box-shadow-contextmenu) !important;

	[role='option'],
	[role='menuitem'] {
		background-color: inherit !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: var(--p-contextmenu-item) !important;
		border-radius: var(--br-btn) !important;
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

		&:hover {
			background-color: var(--c-bg-contextmenu-item) !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}

		/* "Log Out" menuitem */
		&[data-testid="log-out-menu-item"] {

			&,
			svg {
				color: var(--c-danger) !important;
			}
		}

		/* TODO dark:hover:bg-white/5   ima vec u globalu. Videti da li obrisati ovah hover i ostaviti onaj tamo samo. Rizicno je malo, sta ako se promeni ta klasa */


		/* "Delete" when clicked on conversatin 3dots (more options) */
		&:last-child:has(.text-token-text-error),
		&[data-testid="log-out-menu-item"] {
			&:hover {
				background-color: hsla(var(--danger-hsl) / 0.15) !important;
			}
		}

		span.rounded-full.h-7.w-7:has(>svg) {
			background-color: hsla(var(--accent-hsl) / 0.15) !important;

			svg {
				color: var(--c-accent) !important;
			}
		}
	}

	/* Context menu when clicked â“ on bottom right */
	&:has(a[href="https://openai.com/policies"]) {
		a {
			font-size: 0.8rem;
		}

		/* User's email */
		a:first-child span {
			color: var(--c-accent) !important;
			font-weight: bold;
		}
	}

	/* Separator/divider in menus ([role="separator"]) */
	.h-px {
		display: block !important;
		--border-light: var(--c-border) !important;
	}

	/* Menu koji ima separator koji je pre poslednjeg menuitem-a u tom menu - "Log Out" */
}

/* __ MODAL - Choose theme context menu & tooltips?  */
// [data-radix-popper-content-wrapper] {
[data-radix-select-viewport] {
	// z-index: calc(var(--z-modal) + 50) !important;

	[data-radix-collection-item] {
		border-radius: var(--br-btn);
		height: auto !important;
		margin-bottom: 4px;
		overflow: visible !important;
		outline: none !important;
	}

	/* MODAL - Choose theme context menuitem hover active */
	[data-state='checked'] {
		span[class*="text-token-text-"] {
			color: var(--c-on-accent) !important;
		}

		&,
		&:hover {
			background-color: var(--c-accent) !important;
			color: var(--c-on-accent) !important;
		}
	}
}

/* [role='menu'] for contextmenu */
.popover {
	--main-surface-primary: var(--c-surface-2) !important;
	--main-surface-secondary: var(--c-surface-2) !important;
	--main-surface-tertiary: var(--c-surface-3) !important;
	--sidebar-surface-primary: var(--c-surface-2) !important;

	// --main-surface-primary: var(--white) !important;
	// --main-surface-secondary: var(--gray-100) !important;
	// --main-surface-tertiary: var(--gray-200) !important;

	/* [role='dialog'] */
	// --main-surface-primary: var(--gray-700)!important;
	// --main-surface-secondary: var(--gray-600)!important;
	// --main-surface-tertiary: var(--gray-500)!important;
	// --text-primary: var(--white)!important;
	// --text-secondary: var(--gray-200)!important;
	// --text-tertiary: var(--gray-300)!important;
}


/* ___ Choose language 
	Settings > Language > dropdown which is rendered into body>direct*/
// body div:not([data-radix-popper-content-wrapper]):has(> div[role='listbox']) {
// body > div:not([data-radix-popper-content-wrapper]) {

// 	[role='listbox'] {
// 		@extend [role='menu'];

// 		[role='option'] {
// 			@extend [role='menuitem'];
// 		}
// 	}
// }