[role='menu'] {
	background-color: var(--c-bg-contextmenu) !important;
	border-radius: var(--br-contextmenu) !important;
	padding: var(--p-contextmenu) !important;
	box-shadow: var(--box-shadow-contextmenu) !important;

	[role='menuitem'] {
		background-color: inherit !important;
		padding: var(--p-contextmenu-item) !important;
		border-radius: var(--br-btn) !important;
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

		/* TODO dark:hover:bg-white/5   ima vec u globalu. Videti da li obrisati ovah hover i ostaviti onaj tamo samo. Rizicno je malo, sta ako se promeni ta klasa */
		&:hover {
			// background-color: var(--c-surface-2) !important;
			background-color: var(--c-bg-contextmenu-item) !important;
		}
	}

	/* Remove padding for menu in sidebar bottom */
	nav {
		padding: 0 !important;
	}

	/* Context menu when clicked â“ on bottom right */
	&:has(a[href="https://openai.com/policies"])
	{
		a {
			font-size: 0.8rem;
		}
		/* User's email */
		a:first-child span {
			color: var(--c-accent) !important;
			font-weight: bold;
		}
	}
}

// TODO check if this broke something else because it is the element hard for targeting
/* "New Chat" xs in contextmenu in ChatGPT 3.5 */
[data-radix-popper-content-wrapper] {
	[data-radix-menu-content]:has(a[href^="https://help.openai.com/"])
	{
		div:has(>a[href^="https://help.openai.com/"])
		{
			margin-bottom: 0.5rem;
		}

		/* ChatGPT 3.5 contextmenu item */
		[role='menuitem'] {
			span:has(> svg) {
				background-color: hsla(var(--accent-hsl) / 0.11) !important;
				svg {
					color: var(--c-accent);
				}
			}
		}
	}
}

/* __ MODAL - Choose theme context menu & tooltips?  */
div[data-radix-popper-content-wrapper] {
	z-index: calc(var(--z-modal) + 50) !important;
	// z-index: 200 !important;

	/* "Custom Instructions" dialog */
	&:has([role='dialog']) {
		/* "Custom Instructions" dialog context menu visible on textarea focus */
		[role='dialog'] {
			--box-shadow: var(--box-shadow-contextmenu) !important;
			// box-shadow: var(--box-shadow-contextmenu) !important;
		}
	}

	/* Mora not role=menu da ne bih selektovala i onaj contextmenu u sidebar kad se klikne na prompt listitem 3 dots za opcije i div[data-radix-popper-content-wrapper]:has([role='tooltip']) da ne bih selektovala tooltip */
	// &:not(
	// 		div[data-radix-popper-content-wrapper]:has(div[role='menu']),
	// 		div[data-radix-popper-content-wrapper]:has([role='tooltip'])
	// 	) {
	// 	@extend %animFadeInClipPath;
	// }

	/* Context menu bg */
	// .bg-white {
	// .bg-token-popover-surface-primary
	[role='listbox'] {
		// background-color: var(--c-bg-contextmenu) !important;
		padding: var(--p-contextmenu) !important;
		border-radius: var(--br-contextmenu) !important;
		box-shadow: var(--box-shadow-contextmenu) !important;
		overflow: visible !important; // for what is this? hhh
		border: none;
	}

	/* Theme dropdown bg */
	.popover {
		background-color: var(--c-bg-contextmenu) !important;
		/* --main-surface-primary: var(--white)!important; */
		// --main-surface-secondary: var(--gray-100)!important;
		// --main-surface-tertiary: var(--gray-200)!important;
	}

	[data-radix-collection-item] {
		border-radius: var(--br-btn);
		padding: var(--p-contextmenu-item) !important;
		height: auto !important;
		margin-bottom: 4px;
		overflow: visible !important;
		outline: none !important;
	}

	/* MODAL - Choose theme context menuitem hover */
	[data-radix-collection-item][data-state='unchecked'] {
		&:hover {
			// background-color: var(--c-surface-2) !important;
			background-color: var(--c-bg-contextmenu-item) !important;
			outline: none !important; // TODO this is temp fix. This ecause there were somewhite uglu outline on hover. But this also breaks :focus-visible accessibility style...
		}
	}

	/* MODAL - Choose theme context menuitem hover active */
	[data-state='checked'] {
		background-color: var(--c-bg-btn) !important;
		color: var(--c-on-accent) !important;
	}
}

// .data-radix-popper-content-wrapper {
// 	// z-index: calc(var(--z-modal) + 200) !important;
// 	z-index: 200 !important;
// }

/* [role='menu'] for contextmenu */
.popover {
	--main-surface-primary: var(--c-surface-2) !important;
	--main-surface-secondary: var(--c-surface-2) !important;
	--main-surface-tertiary: var(--c-surface-3) !important;
	// --main-surface-primary: var(--white) !important;
	// --main-surface-secondary: var(--gray-100) !important;
	// --main-surface-tertiary: var(--gray-200) !important;

	/* [role='dialog'] */
	// --main-surface-primary: var(--gray-700)!important;
	// --main-surface-secondary: var(--gray-600)!important;
	// --main-surface-tertiary: var(--gray-500)!important;
	// --text-primary: var(--white)!important;
	// --text-secondary: var(--gray-200)!important;
	// --text-tertiary: var(--gray-300)!important;
}

/* Settings > Language > dropdown which is rendered into body>direct  */
/* div:has(> div[role='listbox']:has(data-radix-select-viewport[role='presentation']:has([role='option']))) {
	border: 3px solid red !important;
	z-index: calc(var(--z-modal) + 200) !important;
} */

/*
	Settings > Language > dropdown which is rendered into body>direct.
	.absolute.inset-0:has(.fixed.inset-0) is a modal */
body > .absolute.inset-0:has(.fixed.inset-0) + div:not([data-radix-popper-content-wrapper]):has(> div[role='listbox']) {
	z-index: calc(var(--z-modal) + 200) !important;

	[role='listbox'] {
		@extend [role='menu'];

		[role='option'] {
			background-color: inherit !important;
			padding: var(--p-contextmenu-item) !important;
			border-radius: var(--br-btn) !important;
			transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
			outline: none !important;

			&:hover {
				background-color: var(--c-bg-contextmenu-item) !important;
			}
		}
	}
}
