/* ___  MODAL Background */
.absolute.inset-0 .fixed.inset-0,
.fixed.inset-0[class*='bg-black/90'] {
	background-color: var(--c-bg-modal) !important;
	backdrop-filter: blur(var(--blur-modal)) !important;

	.from-token-main-surface-primary {
		--main-surface-primary: var(--c-bg-dialog) !important;
		// --tw-gradient-from: var(--c-bg-dialog) !important;
	}

	/* ===================== DIALOGS ====================  */
	[role='dialog'] {
		background-color: var(--c-bg-dialog) !important;

		&.popover {
			padding: var(--p-dialog) !important;
			box-shadow: var(--box-shadow);

			/* Add border radius only to dialogs that have border radius. For example "Create Image" dialog is full vw and vh and it doesnt have radius */
			&[class*='rounded'] {
				border-radius: var(--br-dialog) !important;
			}

			/*
			- close button in dialogs
			- "Speech" -> "Voice" -> "Cove"  dropdown on hover
			- GPTs page - item dialog -> "Conversation Starters" bubble comments on hvoer */
			[class*="hover:bg-token-main-surface-secondary"] {
				&:hover {
					--main-surface-secondary: var(--c-surface-3) !important;
					--main-surface-tertiary: var(--c-surface-3) !important;
				}
			}


			/* "Memory updated" small dialog. Fix bg color when hover: "Manage memories" */
			&.max-w-96 {
				padding: var(--p-contextmenu) !important;
				border-radius: var(--br-contextmenu) !important;

				[class*="hover:bg-token-main-surface-secondary"] {
					--main-surface-secondary: var(--c-surface-2) !important;
				}
			}
		}

		.border-token-border-default:not([role='separator']),
		.border-white,
		.border-black {
			border-color: transparent !important;
		}

		.gizmo-shadow-stroke {
			background-color: var(--c-accent) !important;

			svg {
				color: var(--c-on-accent) !important;
			}
		}

		/* ===================== Settings START ==================== */
		/* Tab view transitions - In tab dialog part which is changing on tabpanel click (on right side) */
		[id*='-content-'] {
			--anim-duration: 0.18s;
			@extend %animFadeIn;

			/* Main title in settings dialogs */
			section:nth-of-type(1) {
				h3.min-h-header-height {
					&>.truncate {
						@extend %date-pill;
					}
				}
			}
		}

		[role='tablist'] {
			&.bg-token-bg-elevated-secondary {
				background-color: hsla(var(--accent-hsl) / .04) !important;
				border: 1px solid hsla(var(--accent-hsl) / .055) !important;
				border-radius: calc(var(--br-dialog) / 2) !important;
			}

			button[data-state='inactive']:is(:hover, :focus) {
				@extend .btn-secondary;
			}

			/* ___ DIALOG - "Settings" on smaller devices then deskop */
			&[data-orientation='vertical'] {
				flex-wrap: nowrap !important;
				overflow-y: auto;

				[role="tab"] {
					@include lift;
				}
			}

			&[data-orientation='horizontal'] {
				background-color: var(--c-surface-3) !important;

				button[data-state='active'] {
					background-color: var(--c-accent) !important;
					color: var(--c-on-accent);
				}


			}

		}

		/* Add padding y to tabpanel in "Settings" (Where "Theme","Archived chats", "Delete All chats", etc are. Added because Theme dropdown was cutted on hover on smaller devices, because of OpenAI's `overflow-y: auto` */
		[role='tabpanel'][data-orientation='horizontal'] {
			padding: 1rem !important;

			@include dev('sm') {
				padding: 0rem !important;
			}
		}

		/* Memory 100% full */
		[id*='content-Personalization'][role='tabpanel'] {
			[class*="dark:text-[#DC2626]"] {
				background-color: hsla(var(--danger-hsl) / 0.11) !important;
				color: var(--c-danger) !important;
			}

		}

		/* "GPT builder profile" content */
		[id*='content-Account'][role='tabpanel'] {

			/* "PlaceholderGPT - By community builder" preview - this is bcs of OLED theme */
			.bg-token-main-surface-primary.relative:has(.gizmo-shadow-stroke svg) {
				--main-surface-primary: transparent !important;
			}

			/* "Complete verification to publish GPTs to everyone....." */
			.bg-token-main-surface-primary:not(.gizmo-shadow-stroke) {
				--main-surface-primary: var(--c-surface-3) !important;
			}
		}

		/* Speech tabpanel in "Settings" */
		[id*='Speech'][role='tabpanel'] {
			.border-l {
				border: none !important;
			}
		}

		/* Heading "Settings" in Settings Modal */
		h2.text-lg.font-semibold {
			text-transform: uppercase;
		}

		/* "Enabled" btn for 2fa in "Settings" > "General" */
		span.bg-green-50.text-green-700 {
			/* background-color: hsla(var(--accent-hsl) / 0.15) !important;
			color: var(--c-accent) !important;
			padding: 0.3rem 0.8rem !important;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 0.68rem !important; */
			@extend %date-pill;
		}

		/* ___ DIALOG - "SHARED LINKS" or "ARCHIVED CHATS" - Table  */
		table {
			/* BG of thead>th ---> .bg-token-main-surface-primary */
			// --main-surface-primary: transparent !important;
			// padding: var(--p-contextmenu) !important;

			thead {

				th {
					--main-surface-primary: var(--c-bg-dialog) !important;
					text-transform: uppercase !important;
					color: var(--c-txt) !important;
					// background-color: transparent !important;
				}
			}

			tbody {

				/* Link in table Shared Links/Archived Chats
						NAME - first column Links
						"Shared links" & "Archived Chats" links in table, but a[href^="/c/"] is also Conversation SVG in "Shared Links", ahh
					*/

				td:first-child a {
					@extend %link_hover_underless;
				}

				/* Center the vertically svg icons next to each other in table */
				td:has(button[aria-label^='Delete']) span[data-state] {
					display: flex;
					align-items: center;
					justify-items: center;
				}
			}

			/* "Delete shared link" in Shared Links and "Delete conversation" in Archived Chats svg color */
			button[aria-label^='Delete'] {
				color: var(--c-danger) !important;
			}
		}

		/* ===================== Settings END ==================== */


		/* ___ Dialog - "Upgrade your plan"  */
		// I has to add in here and: [data-testid*="-pricing-modal-column"] to support and mobile because there is no [aria-label^="Toggle for switching"] element
		// &:has([aria-label^="Toggle for switching"], [data-testid*="-pricing-modal-column"]) {
		&:has([data-testid*="-pricing-modal-column"]) {
			border-radius: 0 !important;

			[aria-label="Toggle for switching between Personal and Business plans"] {
				background-color: hsla(var(--accent-hsl) / 0.1) !important;
			}

			/* "Personal" and "Business" switching buttons */
			button[aria-label*='Toggle for switching to'] {
				// button[aria-label*='Toggle for switching to plans for'] {
				// button[aria-label*='Toggle for switching to Personal plans'],
				// button[aria-label*='Toggle for switching to Business plans'] {

				// Active plan btn 
				&[aria-checked='true'] {
					color: var(--c-on-accent);

					// style for element surround btn (in code its next to btn on the same block level, sibling), simulating the button, jeez...
					&~.absolute.inset-0 {
						--bg-primary: var(--c-accent) !important;
					}
				}

				&[aria-checked='false'] {

					&,
					&:hover {
						color: var(--c-accent) !important;
					}
				}
			}

			/* Free and Plus plans cards */
			[data-testid*="-pricing-modal-column"] {
				margin: 0.3rem !important;
				box-shadow: var(--box-shadow);
				background-color: hsla(var(--accent-hsl) / 0.1) !important;
				border: 1px solid hsla(var(--accent-hsl) / 0.1) !important;

				/* Ugly bg behind text in Plans */
				.bg-token-main-surface-primary {
					--main-surface-primary: transparent !important;
					// background-color: transparent !important;
				}
			}

			/* Only PLUS plan card */
			[data-testid*="plus-pricing-modal-column"] {
				border: 1px solid hsla(var(--accent-hsl) / 0.3) !important;

				.border-green-600 {
					border-color: var(--c-accent) !important;
				}
			}

			/* See "ChatGPT Enterprise" */
			a[href="https://openai.com/enterprise"] {
				color: var(--c-accent) !important;
			}
		}

		/* "CREATE WORKSPACE" dialog when clicked on "Team" for "Upgade your plan" which has input 'Acme Inc.'. */
		&:has(input[id="workspace-name"]) {

			// grey bg on black theme arround "Workspace name + input" section
			.bg-token-main-surface-primary:has(input[id="workspace-name"]) {
				--main-surface-primary: transparent !important;
			}
		}

		/* ___ DIALOG "Delete account - are you sure?" inputs parents and dialog when cliced on Team upgrade plan whwere "Acme Inc." input is */
		div[class*='focus-within:ring-1']:has(input) {
			padding: 0.8rem !important;
			background-color: var(--c-surface-3);

			input {
				background-color: var(--c-surface-3);

				&::placeholder {
					color: var(--c-subtext-1) !important;
				}
			}
		}

		/* ___ "Select your Team Plan" dialog radio buttons when clicking "Upgrade plan" > "Team" > "Select billing options" */
		&:has(input[name='seats']) {

			/* input counter for seats */
			input[name='seats'],
			button[role="radio"] {
				border: 1px solid var(--c-border) !important;
			}

			input[name='seats'] {
				background-color: var(--c-surface-3) !important;
			}

			/* "Flexible plan" and "Annual plan" radio buttons */
			button[role="radio"] {
				border: 1px solid var(--c-border) !important;

				&[aria-checked="true"] {
					background-color: var(--c-surface-3) !important;

					/* for old design radio buttons */
					&.h-5.w-5 {
						background-color: var(--c-accent) !important;
					}
				}

				&>.absolute.start-3.top-0.-translate-y-1\/2 {

					/* "Annual" % badge */
					&.text-\[\#10A37F\],
					&.bg-\[\#10A37F\] {
						background-color: var(--c-accent) !important;
						color: var(--c-on-accent) !important;
						border-radius: 50vw;
					}
				}

				&>div>span[data-state="checked"] {
					background-color: var(--c-accent) !important;

					svg {
						color: var(--c-on-accent) !important;
					}
				}

			}
		}

		/* ___ "Custom Instructios", now "Customize ChatGPT" */
		&:has(textarea) {
			.grow.overflow-y-auto.p-4:has(>.overflow-y-auto[class*="max-h-[60vh]"]) {
				padding: 0 !important;

				@include dev('md') {
					padding: 1rem !important;
				}
			}

			/* Border separator from footer where are "Enable for new chats", "Cancel" and "Save" buttons are */
			.-ms-6.-me-6.border-t {
				border-color: var(--c-border) !important;
				margin: 0 !important;
			}

			textarea {
				background-color: var(--c-surface-3) !important; // [class*='dark:bg-gray-800']
				opacity: 0.7;

				&.border-red-500 {
					background: color-mix(in srgb, var(--c-danger) 10%, transparent 98%) !important;
					border-color: color-mix(in srgb, var(--c-danger) 15%, transparent 95%) !important;
					color: var(--c-danger) !important;
				}

				&:focus {
					opacity: 1;
				}
			}
		}

		/* ___ Dialog - "Share Link to Chat" & "Public Link Updated" */
		&:has(input[value^="https://chatgpt.com/share/"]) {

			/* "🔗 Copy Link" btn */
			button.rounded-full {
				border-radius: 9999px !important;
			}

			/*  bg of link preview and "🔗 Create Link" btn */
			.bg-token-main-surface-primary {
				--main-surface-primary: var(--c-surface-3) !important;
			}

			/* bg-gradient of link preview */
			.from-token-main-surface-primary {
				--tw-gradient-from: var(--c-surface-3) !important;
				// display: none;
			}

			/* PUBLIC LINK UPDATED - Social platforms in show in footer after the  "🔗 Copy Link" btn */
			a[href*='linkedin'],
			a[href*='facebook'],
			a[href*='reddit'],
			a[href*='twitter'] {
				transform: scale(0.9);
				margin-bottom: 5px !important;

				&:hover {
					transform: scale(1);
				}

				svg {
					--main-surface-secondary: var(--c-surface-3) !important;
				}

				&+span {
					color: var(--c-accent);
					background-color: hsla(var(--accent-hsl) / 0.15) !important;
					padding: 2px 8px;
					border-radius: 50vw;
					font-weight: 600;
				}
			}
		}


		/* "Keyboard Shortcuts" keyboard tasters */
		// this is also the text in "Settings" dialog so we need more special selector
		&:has(.truncate) {

			// .border-token-border-default:has(span.text-xs) {
			.border-token-border-default:not(:has(button)) {
				color: var(--c-accent) !important;
				border-color: hsla(var(--accent-hsl) / 0.3) !important;
				border-radius: 10px !important;
			}
		}

		// &:has(img[alt='User uploaded image']) (when opened from attached file in prompt field) and &:has(img[alt='Uploaded image']) (when opened from conversation) {
		/* ___ Uploaded image dialog (When clicked on image from gpt user chat (alt='Uploaded image'), and on mini attached preview in textarea) (alt='User uploaded image') */
		&:has(img.h-full.w-full.object-contain, iframe) {
			--c-bg-dialog: transparent;
			--box-shadow: none;
			// padding: 0 !important;

			// img[alt='Uploaded image'] and img[alt='User uploaded image']
			img.h-full.w-full.object-contain,
			//iframe is dialog with Google Drive or One Drive preview when we try to attach the file from the one of the accounts (Google, OneDrive). This caused some frame around this dialog, thats bcs of margin and padding 
			iframe {
				border-radius: var(--br-contextmenu);
				// box-shadow: var(--box-shadow);
			}
		}

		/* ___ Web Searched Images with links*/
		&:has(img.h-full.object-contain[class*="max-w-[100vw]"]) {
			a[rel="noopener"].min-h-20.w-full {
				width: max-content;
				max-width: 100%;
				background-color: hsla(var(--accent-hsl) / .12);
				border: 1px solid hsla(var(--accent-hsl) / 0.14);
				border-radius: var(--br-btn);
				color: var(--c-accent);
				padding: 1rem;
				margin: 1rem;

				// .truncate {
				// 	color: var(--c-accent) !important;
				// }

				/* Link source */
				.text-token-text-tertiary:has(img[alt="Favicon"]) {
					color: var(--c-accent) !important;
					font-weight: bold;
					text-transform: uppercase;

					img[alt="Favicon"] {
						border: 1px solid hsla(var(--accent-hsl) / 0.5);
					}
				}

				&:hover {
					transform: translatex(2px);
				}
			}

			/* Image counter parent */
			.absolute.right-4.top-4 {

				/* Image counter that have the close button next to it */
				.text-token-text-tertiary:has(~ button.h-9.w-9) {
					color: var(--c-accent);
					background-color: hsla(var(--accent-hsl) / .12);
					border: 1px solid hsla(var(--accent-hsl) / 0.14);
					border-radius: 50vw;
					padding: 0.2rem 1rem !important;
					font-weight: 500;
				}
			}
		}

		/* ___ "Search chats" showed when clicked on 🔍 in sidebar */
		&:has(input[placeholder="Search chats..."]) {

			ol>li {
				.cursor-pointer {
					[class*='bg-[#f4f4f4]'] {
						background-color: var(--c-surface-3) !important;
					}
				}

				/* Dates in "Search chats" */
				.group.text-xs.text-token-text-secondary {
					@extend %date-pill;
				}

				.loading-results-shimmer {
					--main-surface-secondary: var(--c-surface-2) !important;
					--main-surface-tertiary: var(--c-surface-3) !important;
				}
			}
		}

		/* ___ Searched Link "SOURCES" showed when clicked on "Sources" in chat bubble sometimes triggered when using /Search prompt */
		&:has(.h-\[60vh\].max-h-\[700px\].overflow-y-auto div[class*="var(--screen-thread-header-min-height"]) {

			/* Header with "Links" and X button */
			.border-b[class*="dark:border-gray-700"] {

				/* "Links" main header with border-bottom */
				span:has(> [class*="!text-token-text-primary"]) {
					// padding: 0.8rem 0;

					&>[class*="!text-token-text-primary"] {
						--text-primary: var(--c-accent) !important;
						text-transform: uppercase;
						// padding: 0.3rem 1rem !important;
						// background-color: hsla(var(--accent-hsl) / 0.15);
						// border-radius: var(--br-btn);
						// border-bottom: none !important;
					}
				}
			}

			/* Wrapper for sticky category subheader and link list */
			.h-\[60vh\].max-h-\[700px\].overflow-y-auto {
				.bg-token-main-surface-primary {
					--main-surface-primary: var(--c-bg-dialog) !important;
				}

				/* Sticky category subheader of source links */
				.sticky[class*="var(--screen-thread-header-min-height"] {
					--text-primary: var(--c-accent) !important;
					// --main-surface-primary: var(--c-bg-dialog) !important;
					text-transform: uppercase;
				}
			}
		}
	}
}

// html.dark[data-gptheme='oled'] [role='dialog'] {
// 	&:not(&:has([href^='https://help.openai.com/en/articles/7925741-chatgpt-shared-links-faq'])) {
// 		.from-token-main-surface-primary {
// 			--main-surface-primary: var(--c-surface-1) !important;
// 		}
// 	}
// }

/* TODO(add):  improve this and add in future DALLE image when opened */
// body>div>.absolute.inset-0.flex.flex-col {
// 	// border: 3px solid red !important;

// 	/* Like bg, overlay */
// 	&>.bg-token-main-surface-secondary.h-full.w-full {}

// 	/* Wrapper */
// 	&>.absolute.inset-0.flex {
// 		@include dev_high(red);

// 		/* DALLE image when opened - image wrapper on the left */
// 		// &>.grow.overflow-auto {}


// 		/* DALLE image when opened - chat conversation aside on the right */
// 		&>.border-token-border-medium.bg-token-main-surface-primary.relative.shrink-0.border-l {
// 			@include dev_high(orange);

// 			[class^="h-[100vh] pb-4"] {
// 				// border: 3px solid orange !important;
// 				padding-bottom: 0 !important;
// 			}
// 		}
// 	}
// }


/* Dialog with links from sources for mobile */
[role='dialog']:not(:empty) {
	@include dev('md') {
		.bg-token-bg-primary {
			--bg-primary: var(--c-bg-dialog) !important;
		}
	}
}