/* ___  MODAL Background */
.absolute.inset-0 .fixed.inset-0,
.fixed.inset-0[class*='bg-black/90'] {
	background-color: var(--c-bg-modal) !important;
	backdrop-filter: blur(var(--blur-modal)) !important;

	.from-token-main-surface-primary {
		--main-surface-primary: var(--c-bg-dialog) !important;
		// --tw-gradient-from: var(--c-bg-dialog) !important;
	}

	/* ===================== DIALOGS ====================  */
	[role='dialog'] {
		background-color: var(--c-bg-dialog) !important;

		&.popover {
			padding: var(--p-dialog) !important;
			box-shadow: var(--box-shadow);

			/* Add border radius only to dialogs that have border radius. For example "Create Image" dialog is full vw and vh and it doesnt have radius */
			&[class*='rounded'] {
				border-radius: var(--br-dialog) !important;
			}

			/*
			- close button in dialogs
			- "Speech" -> "Voice" -> "Cove"  dropdown on hover
			- GPTs page - item dialog -> "Conversation Starters" bubble comments on hvoer */
			[class*="hover:bg-token-main-surface-secondary"] {
				&:hover {
					--main-surface-secondary: var(--c-surface-3) !important;
					--main-surface-tertiary: var(--c-surface-3) !important;
				}
			}


			/* "Memory updated" small dialog. Fix bg color when hover: "Manage memories" */
			&.max-w-96 {
				padding: var(--p-contextmenu) !important;
				border-radius: var(--br-contextmenu) !important;

				[class*="hover:bg-token-main-surface-secondary"] {
					--main-surface-secondary: var(--c-surface-2) !important;
				}
			}
		}

		.border-token-border-default:not([role='separator'], [data-testid*="-pricing-modal-column"]),
		.border-white,
		.border-black {
			border-color: transparent !important;
		}

		.gizmo-shadow-stroke {
			background-color: var(--c-accent) !important;

			svg {
				color: var(--c-on-accent) !important;
			}
		}



		/* ___ DIALOG - "SHARED LINKS" or "ARCHIVED CHATS" - Table  */
		table {
			thead {

				th {
					--main-surface-primary: var(--c-bg-dialog) !important;
					text-transform: uppercase !important;
					color: var(--c-txt) !important;
					// background-color: transparent !important;
				}
			}

			tbody {

				/* Link in table Shared Links/Archived Chats
						NAME - first column Links
						"Shared links" & "Archived Chats" links in table, but a[href^="/c/"] is also Conversation SVG in "Shared Links", ahh
					*/

				td:first-child a {
					@extend %link_hover_underless;
				}

				// /* Center the vertically svg icons next to each other in table */
				// td:has(button[aria-label^='Delete']) span[data-state] {
				// 	display: flex;
				// 	align-items: center;
				// 	justify-items: center;
				// }
			}

			/* "Delete shared link" in Shared Links and "Delete conversation" in Archived Chats svg color */
			button[aria-label^='Delete'] {
				color: var(--c-danger) !important;
			}
		}
	}
}



/* Modal Settings dialog */
[data-testid="modal-settings"] {
	[role="dialog"] {

		/* === All the .btn inside dialogs not having svg icon inside */
		.btn:not(svg) {
			min-width: var(--min-w-btn);
		}

		/* Tab view transitions - In tab dialog part which is changing on tabpanel click (on right side) */
		[id*='-content-'] {
			--anim-duration: 0.18s;
			@extend %animFadeIn;

			/* Main title in settings dialogs */
			section:nth-of-type(1) {
				h3.min-h-header-height {
					&>.truncate {
						@extend %date-pill;
					}
				}
			}

			/* Back button, e.g. when goes to: "Settings" -> "Advanced" ->  */
			.h-header-height {
				button.btn.btn-ghost.btn-small {
					@extend .btn-secondary;

					&:hover {
						@extend .btn-primary;
					}
				}
			}

			button[type="button"][aria-haspopup="menu"] {
				@extend .btn-secondary;
				min-width: var(--min-w-btn);
				border-radius: var(--br-btn) !important;
				font-weight: 500 !important;
			}
		}

		[role='tablist'] {
			&.bg-token-bg-elevated-secondary {
				background-color: color-alpha($_, 0.055, true);
				border: 1px solid color-alpha($_, 0.055, true);
				border-radius: calc(var(--br-dialog) / 2) !important;
			}

			button {
				padding: var(--p-btn);
				background-color: transparent !important;

				svg {
					transition: none !important;
				}

				&[data-state='active'] {
					// background-color: var(--c-accent) !important;
					// color: var(--c-on-accent) !important;
					@extend .btn-primary;
				}

				&[data-state='inactive']:is(:hover, :focus) {
					@extend .btn-secondary;
				}
			}


			/* ___ DIALOG - "Settings" on smaller devices then deskop */
			&[data-orientation='vertical'] {
				flex-wrap: nowrap !important;
				overflow-y: auto;

				[role="tab"] {
					@include lift;
				}
			}

			&[data-orientation='horizontal'] {
				background-color: var(--c-surface-3) !important;

				button[data-state='active'] {
					background-color: var(--c-accent) !important;
					color: var(--c-on-accent);
				}
			}
		}

		/* Add padding y to tabpanel in "Settings" (Where "Theme","Archived chats", "Delete All chats", etc are. Added because Theme dropdown was cutted on hover on smaller devices, because of OpenAI's `overflow-y: auto` */
		[role='tabpanel'][data-orientation='horizontal'] {
			padding: 1rem !important;

			@include dev('sm') {
				padding: 0rem !important;
			}
		}

		/* Memory 100% full */
		[id*='content-Personalization'][role='tabpanel'] {
			[class*="dark:text-[#DC2626]"] {
				color: var(--c-danger) !important;
				background-color: oklch(from currentColor l c h / 0.11) !important;
			}

		}

		/* "GPT builder profile" content */
		[id*='content-Account'][role='tabpanel'] {

			/* "PlaceholderGPT - By community builder" preview - this is bcs of OLED theme */
			.bg-token-main-surface-primary.relative:has(.gizmo-shadow-stroke svg) {
				--main-surface-primary: transparent !important;
			}

			/* "Complete verification to publish GPTs to everyone....." */
			.bg-token-main-surface-primary:not(.gizmo-shadow-stroke) {
				--main-surface-primary: var(--c-surface-3) !important;
			}
		}

		/* Speech tabpanel in "Settings" */
		[id*='Speech'][role='tabpanel'] {
			.border-l {
				border: none !important;
			}
		}

		/* Heading "Settings" in Settings Modal */
		h2.text-lg.font-semibold {
			text-transform: uppercase;
		}

		/* "Enabled" btn for 2fa in "Settings" > "General" */
		span.bg-green-50.text-green-700 {
			@extend %date-pill;
		}
	}
}

/* DeepSearch dialog */
[data-testid="modal-deep-research-share"] {
	[role="dialog"] {

		/* Remove bg of deepsearch element */
		&>.bg-token-bg-primary.max-w-4xl.overflow-x-scroll {
			background-color: transparent !important;
		}
	}
}

/* ___ Web Searched Images with links*/
[data-testid="modal-image-result"] {
	.fixed.inset-0[class*="before:backdrop-blur"] {

		/* Strange overlay that blured the source links in dialog Web Searched Images with the link below left. It also block the clicking on that link. On the original (w/o extension) its still like that... */
		&::before {
			display: none !important;
		}
	}

	[role="dialog"] {
		a[rel="noopener"].min-h-20.w-full {
			width: max-content;
			max-width: 100%;
			background-color: var(--c-accent-12);
			border: 1px solid var(--c-accent-15);
			border-radius: var(--br-btn);
			color: var(--c-accent);
			padding: 1rem;
			margin: 1rem;

			// .truncate {
			// 	color: var(--c-accent) !important;
			// }

			/* Link source */
			.text-token-text-tertiary:has(img[alt="Favicon"]) {
				color: var(--c-accent) !important;
				font-weight: bold;
				text-transform: uppercase;

				img[alt="Favicon"] {
					border: 1px solid var(--c-accent-50);
				}
			}

			&:hover {
				transform: translateX(2px);
			}
		}

		/* Image counter parent */
		.absolute.right-4.top-4 {

			/* Image counter that have the close button next to it */
			.text-token-text-tertiary:has(~ button.h-9.w-9) {
				color: var(--c-accent);
				background-color: var(--c-accent-12);
				border: 1px solid var(--c-accent-15);
				border-radius: 50vw;
				padding: 0.2rem 1rem !important;
				font-weight: 500;
			}
		}
	}
}

/* Modal dialog when clicked on `Upgrade` */
[data-testid="modal-account-payment"] {

	[role="dialog"] {
		[role="group"][aria-label].bg-token-main-surface-tertiary.rounded-full {
			background-color: var(--c-accent-10) !important;

			/* "Personal" and "Business" switching buttons */
			button[aria-label][role="radio"] {

				// Active plan btn 
				&[data-state="on"] {
					color: var(--c-on-accent);

					// Style for element surround btn (in code its next to btn on the same block level, sibling), simulating the button, jeez...
					&~.absolute.inset-0 {
						--bg-primary: var(--c-accent) !important;
					}
				}

				&[data-state="off"] {

					color: var(--c-accent) !important;
				}
			}
		}

		/* Free and Plus plans cards */
		[data-testid*="-pricing-modal-column"] {
			// box-shadow: var(--box-shadow);
			// border-color: var(--c-accent-15) !important; // not working...
			background-image: linear-gradient(135deg,
					var(--c-accent-20) 0%,
					var(--c-accent-03) 40%,
					var(--c-accent-03) 60%,
					var(--c-accent-20) 100%);
			transition: scale 0.3s ease;

			&:is(:hover, :focus-within) {
				scale: 0.985;
			}


			/* Ugly bg behind text in Plans */
			.bg-token-main-surface-primary {
				--main-surface-primary: transparent !important;
				// background-color: transparent !important;
			}
		}

		/* Only PLUS plan card */
		[data-testid="plus-pricing-modal-column"],
		[data-testid="team-pricing-modal-column"],
		[data-testid="go-pricing-modal-column"] {
			background-color: var(--c-accent-12) !important;
			border-color: var(--c-accent-30) !important;
		}

		/* See "ChatGPT Enterprise" */
		a[href="https://openai.com/enterprise"] {
			color: var(--c-accent) !important;
		}
	}
}

/* Modal dialog when clicked on `Upgrade > Bussines toggle > Get Bussiness` */
[data-testid="modal-workspace-purchase"] {

	/* ___ "Select your Team Plan" dialog radio buttons when clicking "Upgrade plan" > "Team" > "Select billing options" */
	[role="dialog"] {

		/* input counter for seats */
		input[type="number"],
		button[role="radio"] {
			border: 1px solid var(--c-accent-12) !important;
		}

		input[type="number"] {
			background-color: var(--c-surface-3) !important;
		}

		/* "Flexible plan" and "Annual plan" radio buttons */
		button[role="radio"] {
			border: 1px solid var(--c-accent-12) !important;

			&[aria-checked="true"] {
				background-color: var(--c-surface-3) !important;
			}

			/* Checked svg icon */
			&>div>span[data-state="checked"] {
				background-color: var(--c-accent) !important;

				svg {
					color: var(--c-on-accent) !important;
				}
			}
		}

		/* "Annual" % badge and discount text */
		.text-\[\#10A37F\],
		.bg-\[\#10A37F\] {
			background-color: var(--c-accent) !important;
			color: var(--c-on-accent) !important;
			border-radius: 50vw;
		}
	}
}


/* ___ "Custom Instructios", now "Customize ChatGPT" */
[data-testid="modal-user-context"] {
	[role="dialog"] {

		/* Border separator from footer where are "Enable for new chats", "Cancel" and "Save" buttons are. Margin caused horizontal-scroll */
		.-ms-6.-me-6.border-t {
			margin: 0 !important;
		}

		textarea {
			background-color: var(--c-surface-3) !important; // [class*='dark:bg-gray-800']
			opacity: 0.7;

			&.border-red-500 {
				background: color-mix(in oklch, var(--c-danger) 10%, transparent 98%) !important;
				border-color: color-mix(in oklch, var(--c-danger) 15%, transparent 95%) !important;
				color: var(--c-danger) !important;
			}

			&:focus {
				opacity: 1;
			}
		}
	}
}

/* TODO: remove 2025-10-01?? There us new sharing dialog - Dialog - "Share Link to Chat" & "Public Link Updated" */
// [data-testid="modal-sharing"] {
// 	[role="dialog"] {

// 		/* "🔗 Copy Link" btn */
// 		button.rounded-full {
// 			border-radius: 50vw !important;
// 		}

// 		/*  bg of link preview and "🔗 Create Link" btn */
// 		.bg-token-main-surface-primary {
// 			--main-surface-primary: var(--c-surface-3) !important;
// 		}

// 		// /* bg-gradient of link preview */
// 		.from-token-main-surface-primary {
// 			--tw-gradient-from: var(--c-surface-3) !important;
// 			// display: none;
// 		}

// 		aside {
// 			background-color: var(--c-surface-3) !important;
// 		}

// 		/* PUBLIC LINK UPDATED - Social platforms in show in footer after the  "🔗 Copy Link" btn */
// 		a[href*='linkedin'],
// 		a[href*='facebook'],
// 		a[href*='reddit'],
// 		a[href*='twitter'] {
// 			transform: scale(0.9);
// 			margin-bottom: 5px !important;

// 			&:hover {
// 				transform: scale(1);
// 			}

// 			svg {
// 				--main-surface-secondary: var(--c-surface-3) !important;
// 			}

// 			&+span {
// 				color: var(--c-accent);
// 				background-color: var(--c-accent-15) !important;
// 				padding: 2px 8px;
// 				border-radius: 50vw;
// 				font-weight: 600;
// 			}
// 		}
// 	}
// }

/* Sharing dialog */
.absolute.inset-0.max-w-\[664px\] {

	[role="dialog"].popover {
		[data-testid="sharing-post-unfurl-view"] {

			/* Chat wrapper in sharing dialog */
			[class*="dark:bg-[#353535]"].h-full {
				background-color: var(--c-bg-chats-container) !important;

				[data-message-author-role="user"] .user-message-bubble-color,
				[data-message-author-role="assistant"] {
					padding: 1.2rem !important;
				}

				[data-message-author-role="user"] {
					.user-message-bubble-color {
						background-color: var(--c-bg-msg-user) !important;
					}
				}

				[data-message-author-role="assistant"] {
					background-color: var(--c-bg-msg-gpt) !important;
					border-radius: 1.5rem;
				}
			}
		}

		/* Social buttons wrapper */
		button.relative.flex.flex-col.gap-y-4[class*="disabled:opacity-50"] {
			transition: scale 0.2s $easeInOutBack;

			/* Social circled button */
			&>.h-16.w-16.rounded-full {
				--text-primary: currentColor !important;
				@include accent('prim');
				// transition: background-color 0.2s $easeInCirc;
			}

			&:hover {
				scale: 0.97;

				&>.h-16.w-16.rounded-full {
					@include accent('sec');
				}
			}
		}
	}
}

/* Dialog with links from sources for mobile */
[data-testid="modal-search-results"] {
	@include dev('lg') {
		.bg-token-bg-primary {
			--bg-primary: var(--c-bg-dialog) !important;
		}
	}
}

/* Project files modal dialog when click on uploaded project files */
[data-testid="modal-project-files"] {
	.group\/file-row {

		/* Delete file button */
		// button.group\/file-layout {
		// 	// margin: calc(var(--spacing) * -8) !important;
		// 	translate: -1.2rem 0;
		// 	backdrop-filter: blur(2px);
		// }

		&:hover {
			background-color: var(--c-accent-12) !important;
			color: var(--c-accent) !important;
		}
	}
}

/* Project form modal when click on "New Project" */
#project-modal-form {
	input[name="projectName"] {
		background-color: var(--c-surface-3) !important;
	}
}