/* === RIGHT - <pre> - MARKDOWN CODE IN CHATS ===*/

pre {
	border-radius: var(--br-pre) !important;
	margin: var(--my-pre) auto !important;
	// border: 3px solid pink;

	/* Whole code block hljs element */
	.bg-gray-950 {
		background-color: var(--c-bg-pre) !important;
		border-radius: inherit !important;
		padding: 1.8rem !important;
		// border: 2px solid red;
	}

	/* pre header */
	.bg-token-main-surface-secondary {
		padding: 0 !important;
	}

	/* Code name in pre header (html, php, css, etc) */
	& > div > div > span:not([data-state]) {
		color: var(--c-subtext-1) !important;
		font-weight: bold;
	}

	/* "Copy Code" btn in pre header */
	button:has(svg) {
		text-transform: uppercase !important;
		background-color: var(--c-bg-pre-header-btn);
		backdrop-filter: blur(5px);
		color: var(--c-bg-pre-header-btn-color);
		padding: var(--p-btn);
		border-radius: var(--br-btn) !important;
		font-weight: bold;

		/* SVG icons before 'Copy code' btn in md */
		svg {
			color: currentColor !important;
		}
	}

	/* Code snippets without (after) pre-header (code name and "Copy Code" btn */
	.overflow-y-auto:has(> code) {
		// border: 2px solid lavenderblush;
		padding: 1rem 0 0 0 !important;
	}
}