/* === RIGHT - <pre> - MARKDOWN CODE IN CHATS ===*/

/* Dont use pre directly bcs in the "Analysis" code there is also <pre> */
.prose pre {
	border-radius: calc(var(--br-chat-bubble) * 0.5) !important;
	margin: var(--my-pre) auto !important;
	// box-shadow: color-mix(in srgb, var(--c-bg-pre) 50%, black 10%) 0 0 0 1px, color-mix(in srgb, hsla(var(--accent-hsl) / 0.5) 50%, black 5%) 0px 6px 14px 0px; // on hover: 0 12 32 0
	box-shadow: color-mix(in srgb, hsla(var(--accent-hsl) / 0.1) 50%, black 2%) 0 0 0px 1px, color-mix(in srgb, var(--c-bg-pre) 50%, black 5%) 0px 6px 14px 0px; // on hover: 0 12 32 0

	/* Whole code block hljs element */
	&>div {
		background-color: var(--c-bg-pre) !important;
		border-radius: inherit !important;
		padding: calc(var(--p-chat-bubble) * 0.5) !important;

		/* 
		- pre header
		- wrapper div of "Copy code" button
		- main code wrapper */
		[class*="bg-token-sidebar-surface-primary"] {
			background-color: transparent !important;

			/* "Always show details" with "Copy code" wrapper in Analyzed markdown */
			&:has(label[for="ada-always-show"]) {
				background-color: var(--c-bg-pre) !important;
				backdrop-filter: blur(5px) !important
			}
		}

		/* pre header. Code name in pre header (html, php, css, etc) */
		.font-sans.select-none {
			padding: 0 !important;
			font-weight: bold;
			color: var(--c-accent) !important;
		}
	}

	/* "Copy Code" btn in pre header */
	// .sticky button:has(svg) {
	.sticky:has(button svg) {

		/* Buttons parent, add gas between "Copy code" and "Edit" */
		.font-sans:not(#ada-always-show) {
			gap: 0.5rem;
		}

		/* "Copy Code", "Edit" buttons, switch in Analyses */
		button:has(svg) {
			$dur: 0.3s;
			background-color: hsla(var(--accent-hsl) / 0.15) !important;
			color: var(--c-accent) !important;
			border: 1px solid hsla(var(--accent-hsl) / 0.15) !important;
			backdrop-filter: blur(20px) !important;
			text-transform: uppercase !important;
			border-radius: calc(var(--br) * 0.7) !important;
			padding: calc(var(--p-btn) * 0.8) var(--p-btn);
			font-weight: bold;
			transition: opacity $dur ease,
				background-color $dur ease-in-out,
				color $dur ease transform $dur ease !important;

			/* SVG icons before 'Copy code' btn in md */
			svg {
				color: currentColor !important;
				transition: color 0s ease !important;
			}

			&:hover {
				// background-color: hsla(var(--accent-hsl) / 0.2) !important;
				// color: var(--c-accent) !important;
				// backdrop-filter: blur(5px) !important;
				background-color: var(--c-accent) !important;
				color: var(--c-on-accent) !important;
				transform: scale(0.98);

				svg {
					color: currentColor !important;
				}
			}
		}
	}
}