/* @ ===================== NEW DIALOGS ===================== */

[data-radix-popper-content-wrapper] {

	/* This fix strange small accent square after prompt field because OpenAI focus the empty radix dialog on default, instead of prompt field... */
	[role='dialog']:empty {
		outline: none !important;
	}

	[role='dialog']:not(:empty) {

		/* This fix and bg of radix dialogs like when type "/" and "@" in prompt field */
		&.bg-token-main-surface-primary,
		.bg-token-main-surface-primary {
			// --main-surface-primary: var(--c-surface-3) !important;
			@include menuBg;
		}

		/* When typed `@` GPTs mentions in prompt-textarea: input "Search recent and pinned GPT" */
		.popover>input.bg-token-main-surface-primary {
			border-radius: var(--br-btn);
			background-color: transparent !important;
		}



		a.group.bg-token-main-surface-primary {
			--main-surface-primary: var(--c-surface-1) !important;
			// background-color: var(--main-surface-primary);
		}

		// .bg-linear-to-b {}

		[class*="hover:bg-token-main-surface-secondary"]:hover {
			// --main-surface-secondary: var(--c-bg-contextmenu-item) !important;
			--main-surface-secondary: hsla(var(--accent-hsl) / 0.14) !important;
		}

	}
}