/* === STICKY ChatGPT version ===*/
/* Removing "main" before sticky caused this style is applied on many elements I don't want: Sidebar "NEW CHT" wrapper, and down the [aria-haspopup='menu']:hover caused also issues on in pop-up table on more options (3dots) svg icon.
But adding this "main" blocked this style to smaller screens so I have to add it down, out of this block,

 - .h-full.overflow-y-auto:has(.sticky [href^='/auth/login?next=/gpts']) is for Guest mode on GPTs Store
 - .sticky.border-token-border-medium je za small devices
 - .sticky.bg-token-main-surface-primary je za small devices
 */
// .sticky.border-token-border-medium,
.sticky.bg-token-main-surface-primary,
main .sticky,
.h-full.overflow-y-auto:has(.sticky [href^='/auth/login?next=/gpts']) .sticky {
	background-color: var(--c-bg-chats-sticky) !important;
	backdrop-filter: blur(var(--blur-sticky));

	/*  "My GPTs" page sticky headers w/ +CREATE btn (.top-0 and .top-14) */
	&:has([href^='/auth/login?next=/gpts']),
	&:has([href='/gpts/editor']),
	&.top-14 {
		--c-bg-chats-sticky: var(--c-bg-chats-container) !important;
		--blur-sticky: 0 !important;
	}

	&.top-14 {
		padding-bottom: 0.6rem !important;
	}

	/* "ChatGPT" button in sticky header */
	[type='button'][aria-haspopup='menu'],
	[type='button'][aria-haspopup='menu'] {
		transition: 0.25s color ease-in-out, 0.25s background-color ease-in-out;
		border-radius: var(--br-btn) !important;

		&:hover,
		[data-state='open'] {
			background-color: hsla(var(--accent-hsl) / 0.1) !important;
			color: var(--c-accent) !important;
		}
	}

	/* ___ STICKY GPTs Page - "Global view ON" btn, "+CREATE" btn*/
	.btn {
		border-radius: 50vw !important;
	}
}