/* ===  RIGHT - TEXTAREA PARENT, message type and send button */
// main form {
// #thread-bottom form {
form {

	// &>[class*='bg-[#303030]']:has(#prompt-textarea) {
	/* TODO(remove): REMOVE the #composer-background selector when this selector is removed for all user profiles */
	#composer-background,
	&[data-type="unified-composer"] .contain-inline-size.overflow-clip[class*='bg-[#303030]'] {


		// }
		// #composer-background {
		// --c-bg-textarea: linear-gradient(145deg, hsla(var(--accent-hsl) / 0.3) 0%, hsla(var(--accent-hsl) / 0.1) 25%, hsla(var(--accent-hsl) / 0.1) 65%, hsla(var(--accent-hsl) / 0.3) 100%);

		background: var(--c-bg-textarea) !important;
		// border: 1px solid hsla(var(--accent-hsl) / 0.08) !important;
		caret-color: var(--c-accent);
		box-shadow: inset 0 0 1px 1px hsla(var(--accent-hsl) / 0.08) !important;
		border: none !important;
		backdrop-filter: blur(2rem);

		/* Prompt text field for "Temporary chat" */
		&.bg-\[\#303030\] {
			--c-bg-textarea: var(--c-surface-2);

			svg.text-white {
				color: var(--c-accent) !important;
			}
		}

		/* In "temporary chat" textarea is black so the color and caret-color are white, so this fix that */
		[data-placeholder] {
			--text-tertiary: var(--c-placeholder-textarea); // overwriting its ::after color
			--text-secondary: var(--c-placeholder-textarea); // overwriting its ::before color in ff
		}

		/* "Reply" in msg textarea - NEW SELECTOR after #reply-regions has been removed */
		.divide-y.bg-token-main-surface-primary.rounded-b-lg {
			background-color: transparent !important;

			.bg-token-main-surface-secondary.dark\:bg-token-main-surface-tertiary.text-sm {
				background-color: hsla(var(--accent-hsl) / 0.12) !important;
				border: 1px solid hsla(var(--accent-hsl) / 0.1) !important;

				/* 
				- &.text-token-text-secondary:  Reply in classic textarea
				- &.text-blue-selection:  Reply in DALLE textarea when selecting something to remove on image  */
				&.text-token-text-secondary,
				&.text-blue-selection {

					/* Reply btn icon */
					.w-7.h-6,
					/* Cancel btn icon */
					button.text-token-text-secondary {
						&:has(>svg) {
							// background-color: var(--c-accent) !important;
							// color: var(--c-on-accent) !important;
							border-radius: 50vw;
						}
					}

					/* Reply btn icon */
					.w-7.h-6:has(>svg) {
						color: var(--c-accent) !important;
						background-color: hsla(var(--accent-hsl) / 0.2) !important;
					}

					/* Cancel btn icon */
					button.text-token-text-secondary:has(>svg) {
						color: var(--c-on-accent) !important;
						background-color: var(--c-accent) !important;
					}
				}
			}
		}

		/* TODO(remove): REMOVE if or when this selector is removed for all user profiles */
		/* "Reply" in msg textarea */
		#reply-regions {
			.bg-token-main-surface-secondary {
				background-color: hsla(var(--accent-hsl) / 0.15) !important;
				border: 1px solid hsla(var(--accent-hsl) / 0.1) !important;

				/* Reply btn icon */
				.w-7.h-6,
				/* Cancel btn icon */
				button.text-token-text-secondary {
					&:has(>svg) {
						border-radius: 50vw;
					}
				}

				/* Reply btn icon */
				.w-7.h-6:has(>svg) {
					color: var(--c-accent) !important;
					background-color: hsla(var(--accent-hsl) / 0.2) !important;
				}

				/* Cancel btn icon */
				button.text-token-text-secondary:has(>svg) {
					color: var(--c-on-accent) !important;
					background-color: var(--c-accent) !important;
				}
			}
		}

		/* Action buttons in textarea footer ("Search", "Reason", "+") */
		.h-9.rounded-full:not([data-testid]) {
			border: 1px solid hsla(var(--accent-hsl) / 0.12) !important;

			&,
			svg {
				color: var(--c-accent) !important;
			}

			&:has([aria-pressed="false"]) {
				// --c-surface-2: transparent !important;
				background-color: transparent !important;
			}

			/* Action buttons in textarea footer when in SELECTED state ("Search", "Reason", "+") */
			&:has([aria-pressed="true"]) {
				background-color: hsla(var(--accent-hsl) / 0.15) !important;
				// background: red !important;
			}

			&:hover {
				background-color: hsla(var(--accent-hsl) / 0.2) !important;
			}
		}

		span>button[aria-label="Open in canvas"] {
			background-color: hsla(var(--accent-hsl) / 0.15) !important;
			color: var(--c-accent) !important;
		}

		button[data-testid='send-button'],
		button[data-testid='stop-button'] {
			background-color: var(--c-accent) !important;
			color: var(--c-txt) !important;
			border-color: var(--c-accent) !important;
			border-radius: 100vw !important;
			padding: 2px;

			&[disabled] {
				opacity: 0.5 !important;
			}

			svg {
				color: var(--c-on-accent) !important;
			}
		}

		/* Canvas file-tile */
		// div.group\/file-tile:has([id^="textdoc-message-temp-"]) {
		div.group\/file-tile {
			[id^="textdoc-message-temp"] {
				border-color: hsla(var(--accent-hsl) / 0.1) !important;
				background-color: hsla(var(--accent-hsl) / 0.1) !important;
				color: var(--c-accent) !important;

				/* Ugly gradients on the Canvas edit file attached edges */
				.absolute.bottom-0.z-20[style*="background: linear-gradient"] {
					background: none !important;
				}
			}

			/* Close btn for edit Canvas file-tile attached */
			button[class*="group-hover/file-tile:block"].absolute.-left-1.-top-1.rounded-full {
				background-color: var(--c-accent) !important;
				color: var(--c-on-accent) !important;
			}
		}


		/* 🖼️ "Attach Files" - attached file wrapper */
		.w-fit .-ms-1\.5.flex-nowrap.no-scrollbar.overflow-x-auto {
			.bg-token-main-surface-primary {
				--main-surface-primary: hsla(var(--accent-hsl) / 0.12) !important;

				/* Close button */
				// &~button.bg-black.absolute.end-1.top-1.-translate-y-1\/2.translate-x-1\/2.rounded-full {
				// 	background-color: var(--c-danger) !important;
				// 	color: var(--c-on-accent) !important;
				// 	border-color: var(--c-bg-textarea) !important;
				// }

				/* 🖼️ "Attach Files" - attached image button */
				button[type='button'][aria-haspopup='dialog'] {

					/* "Attach Files" attached image */
					span.bg-cover {
						border-radius: 10px !important;
					}
				}
			}
		}

		/* "Dictate button" - whisper button next to advanced voice and cancel when activate the Dictate btn */
		.h-9.btn-primary.btn-small.rounded-full {
			&:not(&:hover) {
				background-color: transparent !important;
			}

			border-radius: 50vw !important;
		}

		/* Voice mode button when there is no [data-testid="composer-speech-button"] selector loaded. So on page loads */
		.h-9.rounded-full.bg-black.dark\:bg-white {
			background-color: var(--c-accent);

			svg {
				color: var(--c-on-accent) !important;
			}
		}

		/* New Advanced Voice Mode button */
		[data-testid="composer-speech-button"] {
			--shadow: 0 0 2px 2px hsla(var(--accent-hsl) / 0.8) inset, -1px -1px 5px 0px #fff inset;
			--c-bg-gradient: linear-gradient(-25deg,
					hsla(var(--accent-hsl) / 0.001) 0%,
					hsla(var(--accent-hsl) / 0.35) 18%,
					hsla(var(--accent-hsl) / 0.85) 58%,
					hsla(var(--accent-hsl) / 1) 90%);
			background: var(--c-bg-gradient) !important;
			color: var(--c-on-accent) !important;
			box-shadow: var(--shadow) !important;

			&:disabled {
				background: hsla(var(--accent-hsl) / 0.12) !important;
				color: var(--c-accent) !important;
			}
		}
	}


	/* Autocomplete suggestions - Element when clicked example cards below prompt textarea: "Create image", "Summarize text", "Analyze data", "Analyze images", and more...
	
	- &+.absolute.start-0.lg\:top-full.bg-token-main-surface-primary:has(ul) - selector introduced when #composer-background selector is removed
	- .group .absolute.start-0.bg-token-main-surface-primary:has(ul) - selector when #composer-background selector is present */
	&+.absolute.start-0.lg\:top-full.bg-token-main-surface-primary:has(ul),
	.group .absolute.start-0.bg-token-main-surface-primary:has(ul) {
		// background-color: var(--c-bg-chats-container);
		margin-top: 0.2rem;
		padding: 0 !important;
		border-radius: var(--br-btn-big);
		background-color: hsla(var(--accent-hsl) / 0.08) !important;
		backdrop-filter: blur(20px);

		/* List of examples when clicked some of the cards below prompt field: "Summarize notes from a meeting", "Summarize my lease agreemen", etc */
		ul>li>button {
			background: transparent !important;

			/* "Summarize" or "Analyze" etc */
			span.text-token-text-tertiary {
				--text-tertiary: var(--c-accent) !important;
			}

			/* The rest of the sentence after the word "Summarize", "Analyze" etc */
			span.text-token-text-primary {
				font-weight: 500;
			}

			/* autocomplete suggestion on hover/select by keyboard arrows */
			&.bg-token-main-surface-secondary {
				background-color: hsla(var(--accent-hsl) / 0.12) !important;
				transform: translateY(-2px);
			}
		}
	}
}