/* === STICKY ChatGPT version ===*/
/* Removing "main" before sticky caused this style is applied on many elements I don't want: Sidebar "NEW CHT" wrapper, and down the [aria-haspopup='menu']:hover caused also issues on in pop-up table on more options (3dots) svg icon.
But adding this "main" blocked this style to smaller screens so I have to add it down, out of this block */
main .sticky {
	background-color: var(--c-bg-chats-sticky) !important;
	backdrop-filter: blur(var(--blur-sticky));

	/*  "My GPTs" page sticky headers w/ +CREATE btn (.top-0 and .top-14) */
	&:has([href='/gpts/editor']),
	&.top-14 {
		--c-bg-chats-sticky: var(--c-bg-chats-container) !important;
		--blur-sticky: 0 !important;
	}
	&.top-14 {
		padding-bottom: 0.6rem !important;
	}

	[aria-haspopup='menu']:hover,
	[aria-haspopup='menu'][data-state='open'] {
		background-color: var(--c-surface-1) !important;
	}

	/* === STICKY ChatGPT version svg icon ===*/
	.btn {
		border-radius: 50vw !important;

		svg {
			color: var(--c-on-accent) !important;
		}
	}

	.btn-secondary {
		svg {
			color: var(--c-accent) !important;
		}
	}
}

/* Sticky header for smaller screens. Remove border-bottom */
.sticky.border-token-border-medium {
	border: none !important;
	background-color: var(--c-bg-chats-sticky) !important;
	backdrop-filter: blur(var(--blur-sticky));
}
