/* === RIGHT - CONVERSATION CONTAINER === */
main [role='presentation'] {
	/* Main Page chat-container  Bg*/
	&,
	/* Shared Link Page Bg */
	.bg-token-main-surface-primary.h-full.overflow-auto {
		background-color: var(--c-bg-chats-container) !important;
	}

	/* GPT logo in new chat page when no-btns are shown. Its important to make this code before .gizmo-shadow-stroke (main new chat logo in old-ui) because it override its color */
	.flex.h-full > svg[role='img'] {
		color: var(--c-accent);
	}
	/* GPT logo in chat bubble */
	.gizmo-bot-avatar div, 
	/* GPT logo in "New Chat" main chat-container in old-ui */
	.gizmo-shadow-stroke {
		background-color: var(--c-accent) !important;
		svg {
			color: var(--c-on-accent) !important;
		}
	}
	.gizmo-bot-avatar {
		--main-surface-tertiary: var(--c-accent) !important;
	}
}

/* === RIGHT - Chats - Gap from heading and svg icons ===*/
// main [data-message-author-role='user'],
// main [data-message-author-role='assistant'] {
// 	margin-top: var(--mt-chat-txt) !important;
// 	margin-bottom: var(--mb-chat-txt) !important;
// }

/* @ === RIGHT - CHATS BUBBLES ===*/
main [data-testid^='conversation-turn-'] {
	/* Edit icon in user chat for example. Edit state user chat bg  */
	--main-surface-tertiary: var(--c-surface-3) !important;
	// --main-surface-tertiary: hsla(var(--accent-hsl) / 0.5) !important;
	margin-bottom: var(--mb-chat-bubble) !important;

	/* Horizontal gap from chat bubble to screen-edge */
	& > div {
		/* Original is px-4 or 1rem */
		@include dev(mob) {
			padding-left: 0.45rem;
			padding-right: 0.45rem;
		}
	}

	/* RIGHT - CHATS BUBBLES DIV */
	// & > div:first-child > div:first-child {
	// }

	/*  Chat bubble footer SVG icons - edit, read aloud, copy, regenerate, bad response */
	[class*='empty:hidden'] {
		// button[class*='hover:bg-token-main-surface-secondary'],
		// button[class*='hover:bg-token-main-surface-tertiary'] {
		button {
			svg {
				color: var(--c-accent);
			}

			&:hover {
				background-color: var(--c-accent) !important;
				color: var(--c-on-accent) !important;

				svg {
					color: var(--c-on-accent) !important;
				}
				// background-color: hsla(var(--accent-hsl) / 0.18);
			}
		}

		& > .bg-token-main-surface-primary {
			--main-surface-primary: hsla(var(--accent-hsl) / 0.1) !important;
			// background-color: hsla(var(--accent-hsl) / 0.1) !important;
			backdrop-filter: blur(8px);
		}

		/* "Was this response better or worse? 👍👎" el when clicked on regenerate answer btn  */
		.bg-token-main-surface-secondary:has(button[title^='This response was']) {
			background-color: transparent !important;
			color: var(--c-subtext-2) !important;
			border: 1px solid var(--c-border);
			border-radius: var(--br-contextmenu);

			/* 👍👎 */
			button[title] {
				border-radius: var(--br-btn) !important;
				border: 1px solid transparent;
				transition: transform 0.2s $easeInOutSine;

				/* "Better", "Worse", "Same" svg */
				svg {
					color: var(--c-accent) !important;

					/* "Same" svg, fix white border for visualy consistency */
					&.rounded-full {
						border-color: currentColor;
					}
				}

				/* "Better", "Worse", "Same" */
				span {
					transition: color 0.2s $easeInOutSine;
					color: currentColor !important;
				}

				&:hover {
					color: var(--c-accent) !important;
					background-color: transparent !important;
					border-color: currentColor !important;
					transform: translateY(-4%);
				}
			}
		}
	}

	/* @ RIGHT - CHATS BUBBLES - USER  */
	&:has([data-message-author-role='user']) {
		/*  RIGHT - CHATS BUBBLE BG */
		// & > div:first-child > div:first-child {
		/* ? gpt4o - User message */
		[class*='bg-[#f4f4f4]'] {
			background-color: var(--c-bg-msg-user);
			padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * 1.2);
			border-radius: var(--br-chat-bubble) !important;
		}
		// }

		/* Flex-end the Reply in user chat bubble */
		[data-message-author-role='user'] {
			align-items: flex-end !important;

			/* Edit icon in User chat */
			.absolute.bottom-0.right-full.top-0 {
				button {
					background-color: hsla(var(--accent-hsl) / 0.1);
				}
			}
		}

		/* Reply in msg */
		div:has(> svg + .line-clamp-3) {
			position: relative;
			align-items: flex-end !important;
			padding: 5px 10px;
			background-color: hsla(var(--accent-hsl) / 0.15);
			color: var(--c-accent);
			border-radius: var(--br-btn);
			border-left: 5px solid var(--c-accent);

			/* &::after {
				content: '';
				position: absolute;
				height: 50%;
				width: 3px;
				background-color: var(--c-accent);
				left: 8px;
				border-radius: 5px;
				top: 50%;
				transform: translate(-50%, -50%);
			} */
		}
	}

	/* User chat bubble - Edit state.
	There is no [data-message-author-role="user"] when we clicked on "Edit Prompt", so we need select and like this for that case scenario */
	div:has(> textarea) {
		// @extend %animFadeIn;
		// .bg-token-main-surface-tertiary:has(> textarea) {
		--main-surface-tertiary: hsla(var(--accent-hsl) / 0.03) !important;
		padding: var(--p-chat-bubble) !important;
		border: 1px solid hsla(var(--accent-hsl) / 0.1);
		caret-color: var(--c-accent);

		/* Make the text in edit textarea to be the full-width */
		textarea {
			width: 100%;
		}
	}

	/* @ RIGHT - CHATS BUBBLES - GPT */
	&:has([data-message-author-role='assistant']) {
		/*   RIGHT - CHATS BUBBLE BG  */
		& > div:first-child > div:first-child {
			background-color: var(--c-bg-msg-gpt);

			--pt-multiplier: 1.3;
			padding: calc(var(--p-chat-bubble) * var(--pt-multiplier)) var(--p-chat-bubble) var(--p-chat-bubble)
				var(--p-chat-bubble) !important;
			// padding: var(--p-chat-bubble);
			border-radius: var(--br-chat-bubble) !important;
			letter-spacing: 0.3px;
			line-height: 1.8 !important;

			@include dev(mob) {
				--pt-multiplier: 1.4;
			}

			/* Left chat content parent 
		! Adding fixed width prevent content overflowing on the right side of chat bubble when there is some markdown (<pre>) element shown with scrolling horizontally */
			/* 
			0.75rem = gap-3 = gap between profile svg/img and right content
			2.25rem = w-9 = gpt profile svg parent width */

			/* ! TODO - BY COMMENTING THIS WE FIX MUPLIPLE BUGS IN GPT CHAT LIKE LINKS WRAPPED IN MANY ROWS AND TOOLTIP FOR "REPLY" OR LINK PREVIEW TOOLTIP NOT POSITIONING CORRECTLY. BUT IF WE REMOVE THIS, THEN GPT CHAT'S BUBBLE WIDTH LOOKS SO ODD!!! WITH MARKDOWN/<PRE> ELEMENTS RENDERED THO
			This mostly happend bcs of this:

		````  span[data-state] {
		```		  display: flex;
		````	  place-items: center;
		```    } */
			/* There are more elements with the same class like the "Tell us more" parent when we click on dislike button in GPT chat */
			.agent-turn.relative.flex.w-full.flex-col {
				// border: 2px solid red !important;
				--svg-w: 2.25rem;
				--svg-gap: 0.75rem;

				width: calc(
					100% - var(--svg-w) - var(--svg-gap) - var(--p-chat-bubble)
				) !important; // more consistent width (right chat bubble spacing = left spacing)

				/* This break links in markdown making them wrapped */
				/* span[data-state] {
					display: flex;
					place-items: center;
				} */

				@include dev(mob) {
					--svg-w: 24px;
					// --moveToLeft: var(--svg-gap);
					// --moveToLeft: var(--svg-w);
					--moveToLeft: calc(var(--svg-w) + (var(--svg-gap) / 1.5));

					/* Markdown parent - actually message content, without logo and User/ChatGPT name */
					.flex-col.gap-1.md\:gap-3 {
						transform: translateX(calc(var(--moveToLeft) * -1));
						width: calc(100% + var(--moveToLeft) + var(--p-chat-bubble)) !important;
					}
				}
			}

			/* "Tell us more" example buttons when clicked on 👎 in GPT chat bubble  - MOVED TO _btn.scss */
			/* button.border-token-border-light {
				// border: 1px solid var(--c-subtext-2) !important;
				border: 1px solid hsla(var(--accent-hsl) / 0.1) !important;
				color: var(--c-accent) !important;

				&:hover {
					transform: translateY(-1px);
					background-color: hsla(var(--accent-hsl) / 0.1) !important;
				}
			} */

			/* Parent of "Tell us more" example buttons when clicked on 👎 in GPT chat bubble*/
			[class*='min-h-[96px] w-full'] {
				border: 1px solid hsla(var(--accent-hsl) / 0.1) !important;
				border-radius: var(--br-contextmenu);
				background-color: hsla(var(--accent-hsl) / 0.05);

				// .relative.flex.w-full.flex-col {
				// 	width: 100% !important;
				// }
			}
		}
		/* GPT avatar in its chat bubbles */
		@include dev(mob) {
			.gizmo-bot-avatar:has(svg[role='img']) {
				visibility: hidden;
			}
		}

		/* Response 1 or Response 2 chat bubble when we have to choose 1 answer */
		& > div:first-child button:has([data-message-author-role='assistant']) {
			background-color: var(--c-bg-msg-gpt) !important;
			border-radius: var(--br-chat-bubble) !important;
			padding: 2rem;
			box-shadow: 0 0 0px 0px transparent;
			transition: transform 0.3s $easeInOutSine, border 0.3s $easeInOutSine;

			&:hover {
				box-shadow: var(--box-shadow-contextmenu);
				transform: translateY(-5px);
			}

			/* GPT logo */
			// .rounded-full svg {
			// 	color: var(--c-surface-1) !important;
			// }

			/* "Response 1", "Response 2" txt */
			.text-sm.text-token-text-tertiary {
				text-transform: uppercase;
				color: var(--c-accent) !important; // iliti zelena kao i svg
				font-weight: bold;
			}
		}

		.overflow-hidden:has(> .divide-y) {
			.from-token-main-surface-secondary {
				--gradient-color-from: var(--c-surface-2) !important;

				svg {
					color: var(--c-accent) !important;
				}
			}

			a {
				border-radius: var(--br-btn);
			}
		}
	}
}

/* "Searched x sites" Links wrapper! */
html.dark main [data-testid^='conversation-turn-']:has([data-message-author-role='assistant']) {
	.overflow-hidden:has(> .divide-y) {
		.from-token-main-surface-secondary {
			--gradient-color-from: var(--c-surface-3) !important;
		}
		a:hover {
			background-color: var(--c-surface-3);
		}
	}
}
html[data-gptheme='oled'] main [data-testid^='conversation-turn-']:has([data-message-author-role='assistant']) {
	.overflow-hidden:has(> .divide-y) {
		.from-token-main-surface-secondary {
			--gradient-color-from: var(--c-surface-2) !important;
		}
		a:hover {
			background-color: var(--c-surface-2);
		}
	}
}
