/* === STICKY ChatGPT version ===*/
main .sticky {
    background-color: var(--c-bg-chats-sticky) !important;
    backdrop-filter: blur(var(--blur-sticky)) !important;

    [aria-haspopup="menu"]:hover,
    [aria-haspopup="menu"][data-state="open"] {
        background-color: var(--c-surface-1) !important;
    }

    /* === STICKY ChatGPT version svg icon ===*/
    .btn {
        border-radius: 100vw !important;

        svg.icon-md {
            color: var(--c-on-accent) !important;
        }
    }
}




// main .sticky button svg.icon-md>path {
//     fill: var(--c-on-accent) !important;
// }