[role="presentation"].composer-parent {
    [data-message-author-role="assistant"] {
        .markdown .not-prose {

            .bg-linear-to-b {
                background: none !important;
            }

            /* Search - Maps */
            .mapboxgl-map {

                /* Location counter bubbles in maps */
                .mapboxgl-marker {

                    /* Change the text color for selected location counter bubbles in the maps */
                    .text-white.absolute {
                        color: var(--c-on-accent) !important;
                    }

                    /* Location counter bubble markers in the maps - when not selected */
                    svg>[fill="white"] {
                        fill: var(--c-on-accent) !important;
                    }

                    /* Kao neki svg border od neaktivnih location bubble markers */
                    svg>[fill="black"] {
                        fill: oklch(from var(--c-accent) l c h / .2) !important;
                    }

                    /* Location counter bubble markers in the maps - when selected/active */
                    svg>[fill="#282828"] {
                        fill: var(--c-accent) !important;
                    }
                }
            }
        }
    }
}