/* === RIGHT - CONVERSATION CONTAINER === */
main [role='presentation'] {
	// $avatar-color: css('--c-avatar');

	&,
	/* Shared Link Page */
	.bg-token-main-surface-primary.h-full {
		background-color: var(--c-bg-chats-container) !important;
	}
}

/* === RIGHT - Chats - Gap from heading and svg icons ===*/
main [data-message-author-role='user'],
main [data-message-author-role='assistant'] {
	margin-top: var(--mt-chat-txt) !important;
	margin-bottom: var(--mb-chat-txt) !important;
}

/* @ === RIGHT - CHATS BUBBLES ===*/
main [data-testid^='conversation-turn-'] {
	margin-bottom: var(--mb-chat-bubble) !important;
	// --c-avatar: var(--avatar-color);

	/* RIGHT - CHATS BUBBLES DIV */
	.group {
		// padding: var(--p-chat-bubble) !important;
		padding: calc(var(--p-chat-bubble) * 1.6) var(--p-chat-bubble) var(--p-chat-bubble) var(--p-chat-bubble) !important;
		border-radius: var(--br-chat-bubble) !important;
		letter-spacing: 0.3px;
		line-height: 1.8 !important;

		/* Left chat content parent 
		! Adding fixed width prevent content overflowing on the right side of chat bubble when there is some markdown (<pre>) element shown with scrolling horizontally */
		/* 
			0.75rem = gap-3 = gap between profile svg/img and right content
			2.25rem = w-9 = gpt profile svg parent width */
		.relative.flex.w-full.flex-col {
			--svg-w: 2.25rem;
			--svg-gap: 0.75rem;
			// width: 90% !important; // unstable width when resizing window/zooming in-out
			width: calc(
				100% - var(--svg-w) - var(--svg-gap) - var(--p-chat-bubble)
			) !important; // more consistent width (right chat bubble spacing = left spacing)
		}

		/* "Was this response better or worse? 👍👎" el when clicked on regenerate answer btn  */
		.bg-token-main-surface-secondary:has(button[title^='This response was']) {
			background-color: transparent !important;
			color: var(--c-subtext-2) !important;
			border: 1px solid var(--c-border);
			border-radius: var(--br-contextmenu);

			/* "Same" svg, fix white border for visualy consistency */
			svg.rounded-full {
				border-color: var(--c-avatar);
			}
			/* 👍👎 */
			button[title] {
				border-radius: var(--br-btn) !important;
				border: 1px solid transparent;
				transition: transform 0.2s $easeInOutSine;

				/* "Better", "Worse", "Same" */
				span {
					transition: color 0.2s $easeInOutSine;
					color: var(--c-subtext-2) !important;
				}

				&:hover {
					background-color: transparent !important;
					border-color: var(--c-border) !important;
					transform: translateY(-4%);

					span {
						color: var(--c-avatar) !important;
					}
				}
			}
		}
	}

	/* RIGHT - CHATS USER/GPT NAMES */
	.font-semibold.select-none {
		text-transform: uppercase;
	}

	/* GPT logo in chats */
	.gizmo-shadow-stroke div {
		color: var(--c-on-accent) !important;
	}

	/* Response 1 or Response 2 chat bubble when we have to choose 1 answer */
	button[class*='hover:border-[var(--avatar-color)]'] {
		border-radius: var(--br-chat-bubble) !important;
		padding: 2rem;
		transition: 0.3s $easeInOutSine;

		&:hover {
			transform: translateY(-5px);
		}

		/* GPT logo */
		.rounded-full svg {
			color: var(--c-surface-1) !important;
		}

		/* "Response 1", "Response 2" txt */
		.text-sm.text-token-text-tertiary {
			text-transform: uppercase;
			color: var(--c-avatar) !important; // iliti zelena kao i svg
			font-weight: bold;
		}
	}

	/* @ RIGHT - CHATS BUBBLES - USER  */
	// There is no [data-message-author-role="user"] when we clicked on "Edit Prompt", so we need select and like this for that case scenario
	// &:not(&:has([data-message-author-role='assistant'])),
	&:has([data-message-author-role='user']) {
		/*  RIGHT - CHATS BUBBLE BG */
		.group {
			background-color: var(--c-bg-msg-user);
			outline: 2px solid transparent !important;

			/* === User/ChatGPT name === */
			.font-semibold.select-none {
				color: var(--c-msg-name-user);
			}
		}

		/*  Chat bubble footer SVG icons */
		button svg {
			color: var(--c-msg-name-user);
		}
	}
	/* User chat bubble - Edit state. There is no [data-message-author-role="user"] when we clicked on "Edit Prompt", so we need select and like this for that case scenario */
	&:has(textarea) {
		/* 		.flex.flex-grow.flex-col.max-w-full > div {
			@extend %animFadeIn;
		} */
		.group {
			background-color: var(--c-bg-chats-container) !important;
			box-shadow: var(--box-shadow-textarea);
			outline: 2px solid hsla(var(--accent-hsl) / 0.1) !important;
			transition: outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

			/* === User/ChatGPT name === */
			.font-semibold.select-none {
				color: var(--c-msg-name-user);
			}

			textarea {
				@extend %animFadeIn;
				color: var(--c-subtext-2) !important;
				padding: 0.5rem 0;
			}

			/* Parent of buttons: "Save & Submit" and "Cancel" */
			.text-center.mt-2.flex.justify-center {
				@extend %animFadeIn;
			}

			.btn-neutral {
				background-color: var(--c-surface-3) !important;
				color: var(--c-txt) !important;
			}
		}
	}

	/* @ RIGHT - CHATS BUBBLES - GPT */
	&:has([data-message-author-role='assistant']) {
		/*   RIGHT - CHATS BUBBLE BG  */
		.group {
			background-color: var(--c-bg-msg-gpt);

			/* Chats bubble gpt image */
			[style^='background-color']:has(svg) {
				background-color: var(--c-avatar) !important;
			}

			svg[role='img'] {
				color: var(--c-surface-1) !important;
			}

			/*  User/ChatGPT name  */
			.font-semibold.select-none {
				// color: var(--c-msg-name-gpt);
				color: var(--c-avatar);
				// color: darken($avatar-color, 20%);
				// color: darken($avatar-color, 20%);
			}
		}

		/*  Chat bubble footer SVG icons */
		button svg {
			color: var(--c-avatar);
		}
	}
}

html.light main [data-testid^='conversation-turn-'] {
	--c-avatar: color-mix(in srgb-linear, var(--avatar-color) 80%, black);
	// --c-avatar: color-mix(in srgb-linear, var(--avatar-color) 70%, black);
	// --c-avatar: color-mix(in lab, var(--avatar-color) 80%, black);
}
html.dark,
html.oled {
	main [data-testid^='conversation-turn-'] {
		--c-avatar: color-mix(in oklab, var(--avatar-color) 96%, white);
		// --c-avatar: color-mix(in hwb, var(--avatar-color) 94%, white);
	}
}
