main [role='presentation'] {
	.absolute.bottom-full.left-0.right-0 {
		// border: 2px solid red !important;

		.flex.w-full.items-start.rounded-2xl.border.border-token-border-light.bg-token-main-surface-primary.text-token-text-primary:has(
				button
			) {
			background-color: hsla(var(--accent-hsl) / 0.1) !important;
			backdrop-filter: blur(30px);
			border-color: hsla(var(--accent-hsl) / 0.1) !important;
		}
	}
}
