// /* === RIGHT - NEW CHAT - 4 BIG BTNS === */
/* New chat prompt examples - card buttons with prompt pregenerated */
main [role='presentation'] {
	--c-bg-gradient: linear-gradient(-45deg,
			hsla(var(--accent-hsl) / 0.16) 0%,
			hsla(var(--accent-hsl) / 0.04) 40% 60%,
			hsla(var(--accent-hsl) / 0.16) 100%);

	/* New "New Chat" layout prompt action cards */
	// div.w-full:has(> form #prompt-textarea) + div.hidden ul > li > button,
	/* Classic big "New Chat" layout prompt example cards */
	button.relative.flex.w-40.flex-col.rounded-2xl.border-token-border-light,
	button.relative.whitespace-nowrap.rounded-2xl.border-token-border-light.text-start.align-top.shadow-xxs.transition.enabled\:hover\:bg-token-main-surface-secondary.disabled\:cursor-not-allowed {

		--clr: hsla(var(--accent-hsl) / 0.12);
		border: 1px solid var(--clr) !important;
		background-image: var(--c-bg-gradient) !important;
		color: var(--c-accent) !important;
		transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s;

		.text-gray-600 {
			--c-subtext-2: currentColor;
		}

		svg {
			color: currentColor !important;
			transition: none;
		}

		&:hover {
			transform: scale(0.97);
		}
	}

	h1,
	.text-token-text-primary>div.flex-shrink-0>svg[role='img'] {
		color: var(--c-accent) !important;
	}
}

// TODO(remove): REMOVE this when #composer-background is removed for all user profiles
/* New "New Chat" layout prompt action cards */
// main [role='presentation'] div.w-full:has(> form #composer-background) + div.hidden ul > li > button {
// 	/* --c-bg-gradient: transparent !important;
// 	--clr: hsla(var(--accent-hsl) / 0.2) !important; */
// 	border: 1px solid hsla(var(--accent-hsl) / 0.12) !important;

// 	&:hover {
// 		color: var(--c-accent) !important;
// 		transform: scale(0.97);

// 		.text-gray-600 {
// 			--c-subtext-2: currentColor;
// 		}

// 		svg {
// 			color: currentColor !important;
// 			transition: none;
// 		}
// 	}
// }

// html.light main [role='presentation'] div.w-full:has(> form #composer-background) + div.hidden ul > li > button {
// 	color: var(--c-accent) !important;

// 	.text-gray-600 {
// 		--c-subtext-2: currentColor;
// 	}

// 	svg {
// 		color: currentColor !important;
// 		transition: none;
// 	}
// }