/* ===  RIGHT - TEXTAREA PARENT, message type and send button */
// main form {
// #thread-bottom form {
form {

	// &>[class*='bg-[#303030]']:has(#prompt-textarea) {
	/* TODO(remove): REMOVE the #composer-background selector when this selector is removed for all user profiles */
	#composer-background,
	&[data-type="unified-composer"] {
		.contain-inline-size.overflow-clip[class*='bg-[#303030]'] {
			background: var(--c-bg-textarea) !important;
			caret-color: var(--c-accent);
			box-shadow: inset 0 0 1px 1px var(--c-accent-08) !important;
			border: none !important;
			backdrop-filter: blur(18px);

			/* Prompt text field for "Temporary chat" */
			&.dark\:bg-\[\#303030\].dark {
				--c-bg-textarea: var(--c-surface-2);
			}

			#upload-file-btn {
				svg.text-white {
					color: var(--c-accent) !important;
				}
			}

			/* "Reply" in msg textarea - NEW SELECTOR after #reply-regions has been removed */
			.divide-y.bg-token-main-surface-primary.rounded-b-lg {
				background-color: transparent !important;

				.bg-token-main-surface-secondary.dark\:bg-token-main-surface-tertiary.text-sm {
					background-color: var(--c-accent-12) !important;
					border: 1px solid var(--c-accent-10) !important;

					/* 
				- &.text-token-text-secondary:  Reply in classic textarea
				- &.text-blue-400:  Reply in DALLE textarea when selecting something to remove on image  */
					&.text-token-text-secondary,
					&.text-blue-400 {

						/* Reply btn icon */
						.w-7.h-6,
						/* Cancel btn icon */
						button.text-token-text-secondary {
							&:has(>svg) {
								// background-color: var(--c-accent) !important;
								// color: var(--c-on-accent) !important;
								border-radius: 50vw;
							}
						}

						/* Reply btn icon */
						.w-7.h-6:has(>svg) {
							color: var(--c-accent) !important;
							background-color: var(--c-accent-20) !important;
						}

						/* Cancel btn icon */
						button.text-token-text-secondary:has(>svg) {
							color: var(--c-on-accent) !important;
							background-color: var(--c-accent) !important;
						}
					}
				}
			}

			span>button[aria-label="Open in canvas"] {
				background-color: var(--c-accent-15) !important;
				color: var(--c-accent) !important;
			}

			/* Tools, Dictate icon, Canvas, Search, Think */
			button.composer-btn:not(#upload-file-btn),
			[data-testid="system-hint-search"] .h-9.rounded-full.border.border-token-border-default[class*="bg-token-composer-blue-bg"] {
				background-color: var(--c-accent-10) !important;
			}

			button.composer-btn,
			// "Search" for guest mode
			button[data-testid="composer-button-search"] {
				color: var(--c-accent) !important;
				border-radius: 50vw;
			}

			// "Search" for guest mode when hover
			[data-testid="system-hint-search"] .h-9.rounded-full[class*="bg-token-composer-blue-bg"]:hover {
				background-color: var(--c-accent-15) !important;
			}

			/* Voice and dictate wrapper */
			#imagegen-voice-controls {

				/* Dictate btn */
				.btn.btn-primary.btn-small {
					@extend .btn-secondary;
					border-radius: 50vw !important;
				}
			}

			button[data-testid='send-button'],
			button[data-testid='stop-button'] {
				background-color: var(--c-accent) !important;
				color: var(--c-txt) !important;
				border-color: var(--c-accent) !important;
				border-radius: 100vw !important;
				padding: 2px;

				&[disabled] {
					opacity: 0.5 !important;
				}

				svg {
					color: var(--c-on-accent) !important;
				}
			}



			/* Advanced Voice Mode button */
			button.composer-submit-button-color,
			#composer-submit-button {
				// [data-testid="composer-speech-button"] {
				--shadow: 0 0 2px 2px oklch(var(--from-accent) / 0.8) inset, -1px -1px 5px 0px #fff inset;
				--c-bg-gradient: linear-gradient(-25deg,
						transparent 0%,
						var(--c-accent-40) 18%,
						var(--c-accent) 58%);
				background: var(--c-bg-gradient) !important;
				color: var(--c-on-accent) !important;
				box-shadow: var(--shadow) !important;

				&:disabled {
					--c-bg-gradient: linear-gradient(-25deg,
							transparent 0%,
							var(--c-accent-10) 18%,
							var(--c-accent-12) 58%);
					color: var(--c-accent) !important;
				}
			}

			/* New Advanced Voice Mode button - when recording */
			.lk-room-container {

				/* "...Closed" */
				button.bg-token-icon-primary {
					background-color: var(--c-accent-20) !important;
					color: var(--c-accent) !important;
				}
			}

			/* Canvas file-tile */
			div.group\/file-tile {
				[id^="textdoc-message-temp"] {
					border-color: var(--c-accent-10) !important;
					background-color: var(--c-accent-10) !important;
					color: var(--c-accent) !important;

					/* Ugly gradients on the Canvas edit file attached edges */
					.absolute.bottom-0.z-20[style*="background: linear-gradient"] {
						background: none !important;
					}
				}

				/* Close btn for edit Canvas file-tile attached */
				button[class*="group-hover/file-tile:block"].absolute.-left-1.-top-1.rounded-full {
					background-color: var(--c-accent) !important;
					color: var(--c-on-accent) !important;
				}
			}
		}

		/* Menu when type "/" in prompt field, and when type `@` */
		.popover {
			@include menuBg;
		}
	}


	/* Autocomplete suggestions - Element when clicked example cards below prompt textarea: "Create image", "Summarize text", "Analyze data", "Analyze images", and more... */
	&+.absolute.start-0.top-full {
		ul {

			li {
				transition: translate 0.25s linear, opacity 0.25s linear;

				button {
					background: transparent !important;
				}
			}

			&:hover {
				li {
					&:not(:hover) {
						opacity: 0.4 !important;
					}

					&:hover {
						// translate: 4px 0;
						// translate: 0 3px;
						translate: 0 -2px;
					}
				}
			}
		}
	}
}


/* Uploaded file in chatbox and in chats too */
a .bg-primary .p-2.w-80 {
	.h-10.w-10 {
		background-color: var(--c-accent-12) !important;
		color: var(--c-accent) !important;

		svg {
			color: currentColor !important
		}
	}
}