/* ===  RIGHT - TEXTAREA PARENT, message type and send button */
main form {
	// textarea prompt on some profiles and guest - waiting for composer gpt version
	// div[class*='bg-token-composer-surface']:has(#prompt-textarea),

	// gpt4o textarea prompt
	div[class*='bg-[#f4f4f4]']:has(#prompt-textarea),

	// Textare when clicked on "Temporary Chat" toggle
	div[class*='bg-black']:has(#prompt-textarea) {
		padding: var(--p-prompt-textarea) !important;
		background-color: var(--c-bg-textarea) !important;
		border-radius: var(--br-prompt-textarea) !important;
		border: none !important;
		transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		caret-color: var(--c-accent);

		/* In "temporary chat" textarea is black so the color and caret-color are white, so this fix that */
		// [data-placeholder="Message ChatGPT"] {
		[data-placeholder] {
			--text-secondary: var(--c-placeholder-textarea); // overwriting its ::after color
		}

		/* Send button */
		// guest/3.5 send button, 4o send button 
		button[data-testid='send-button'],
		button[data-testid='stop-button'] {
			background-color: var(--c-accent) !important;
			color: var(--c-txt) !important;
			border-color: var(--c-accent) !important;
			border-radius: 100vw !important;
			padding: 2px;

			&[disabled] {
				opacity: 0.5 !important;
			}

			svg {
				color: var(--c-on-accent) !important;
			}
		}

		/* "Reply" in msg textarea */
		.bg-token-main-surface-primary.divide-y {
			background-color: var(--c-surface-3);
			border-color: var(--c-accent);
			border-radius: calc(var(--br-prompt-textarea) / 1.5) !important;
			// padding: 0.8rem;
		}

		/* Attached files background */
		.bg-token-main-surface-primary:not(.divide-y) {
			border: 1px solid hsla(var(--accent-hsl) / 0.1) !important;
			background-color: hsla(var(--accent-hsl) / 0.12) !important;
			color: var(--c-accent) !important;
		}

		div:has(> input[type='file']) {

			/* 📎 "Attach files" svg */
			button:has(> svg) {
				background-color: hsla(var(--accent-hsl) / 0.15) !important;

				// margin-bottom: calc(var(--p-prompt-textarea) / 2);

				svg {
					color: var(--c-accent) !important;
				}
			}
		}

		/* 🖼️ "Attach Files" - attached image wrapper */
		div[type='button'][aria-haspopup='dialog'] {

			/* "Attach Files" attached image */
			span.bg-cover {
				border-radius: 10px !important;
			}
		}

		/* new NEW CHAT layout - Autocomplete suggestions - Element when clicked example cards below prompt textarea: "Create image", "Summarize text", "Analyze data", "Analyze images", and more... */
		// & + .absolute.left-0.top-full:has(ul) {
		& + .absolute.left-0.bg-token-main-surface-primary:has(ul) {
			// background-color: var(--c-bg-chats-container);
			margin-top: 0.2rem;
			padding: 0 !important;
			border-radius: var(--br-btn-big);
			background-color: hsla(var(--accent-hsl) / 0.08) !important;
			backdrop-filter: blur(20px);

			/* List of examples when clicked some of the cards below prompt field: "Summarize notes from a meeting", "Summarize my lease agreemen", etc */
			ul > li > button {
				background: transparent !important;

				/* "Summarize" or "Analyze" etc */
				span.text-token-text-tertiary {
					--text-tertiary: var(--c-accent) !important;
				}

				/* The rest of the sentence after the word "Summarize", "Analyze" etc */
				span.text-token-text-primary {
					font-weight: 500;
				}

				/* autocomplete suggestion on hover/select by keyboard arrows */
				&.bg-token-main-surface-secondary {
					background-color: hsla(var(--accent-hsl) / 0.12) !important;
					transform: translateY(-2px);
				}
			}
		}
	}



	/* @mentions in textarea */
	.absolute.bottom-16:has(>.popover) {
		.popover {
			backdrop-filter: blur(30px) !important;
			border: hsla(var(--accent-hsl) / 0.5);
			background-color: hsla(var(--accent-hsl) / 0.12) !important;
			box-shadow: var(--box-shadow-textarea);
		}

		/* @mentions - Search GPTs */
		input {
			// background-color: hsla(var(--accent-hsl) / 0.1) !important;
			background-color: transparent !important;
			border: 1px solid hsla(var(--accent-hsl) / 0.4) !important;
			border-radius: var(--br-btn) !important;
			color: var(--c-accent) !important;
			margin-bottom: 1rem;
			padding: var(--p-btn) !important;
		}


		/* @mentions - GPTs list, scrollable product parent */
		.max-h-40.overflow-y-auto {
			& > div:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}

		/* @mentions - Active GPTs item */
		.bg-token-main-surface-secondary {
			background-color: var(--c-accent) !important;
			color: var(--c-on-accent) !important;

			[class*='text-'] {
				color: currentColor !important;
			}
		}

		[class*='hover:bg-token-main-surface-secondary']:not(.bg-token-main-surface-secondary) {
			&:hover {
				background-color: hsla(var(--accent-hsl) / 0.1) !important;
			}
		}
	}

	/* In DALLE there are random button examples above the textarea: ➕ Mosaic, ➕ 3D Wireframe, ➕ Claymation and shuffle btn, and arround that is some ugly gradient */
	.absolute:has(.bg-gradient-to-t) {
		.from-token-main-surface-primary {
			--main-surface-primary: transparent !important;
		}
	}
}

/* === RIGHT - TEXTAREA part wrapper, margin-top ===*/
main div[role='presentation'] div.w-full:has(form) {
	margin-top: 0.5rem !important;
}

html.dark[data-gptheme='oled'] main form div[class*='bg-[#f4f4f4]']:has(#prompt-textarea) {

	/* "Reply" in msg textarea */
	.bg-token-main-surface-primary {
		background-color: var(--c-surface-2);
	}
}