/* ___ Search list of sources showed on the right h-full of the chats container */
// [data-testid="screen-threadFlyOut"]:has([data-testid="bar-search-sources-header"]) {
[data-testid="screen-threadFlyOut"] {

    /* Header where main title and tabs are */
    [data-testid="bar-search-sources-header"] {
        .border-token-main-surface-tertiary.bg-token-main-surface-tertiary.rounded-full {
            border-radius: var(--br-btn) !important;
            box-shadow: 0 0 0 1px var(--c-accent-20) !important;

            /* "Activity" and "X Sources" tab in inactive state */
            button.btn[class*="min-w-[100px]"]:not(.bg-token-main-surface-primary) {
                color: var(--c-accent) !important;
            }
        }
    }

    /* Add hover state for searched items */
    a[class*="hover:bg-token-surface-hover"] {
        transition: transform 0.45s $easeOutQuint, background-color 0.45s $easeOutQuint;

        &:hover {
            --main-surface-secondary: var(--c-surface-3) !important;

            transform: translateY(-0.225rem);
        }
    }
}