/* Sidebar bg-color */
.bg-token-sidebar-surface-primary:has(nav[aria-label='Chat history']) {
	color: var(--c-txt) !important;

	/* Fix white txt on "NEW CHAT" in sidebar for light especially */
	nav a>* {
		color: var(--c-txt) !important;
	}

	/* "New Chat" link (first in nav in sidebar) */
	nav a[href='/'] {
		border: 2px solid var(--c-surface-2);
		padding: var(--p-sidebar-nav-a-new-chat) !important;
		text-transform: uppercase;
	}

	/* "Explore GPTs" link parents - Ne mozemo dodati direkt n ovaj lnk jer kad dodamo vise GPTs producta u ovu listu da bude iznad "Explore GPTs" onda ono nema margin-top vec samo ovaj link, a mi zelimo parent da ima */
	nav .sticky+div:has(a[href^='/gpts']) {
		margin-top: 0.8rem;
	}
}

nav[aria-label='Chat history'] {
	padding: var(--p-sidebar-nav) !important;

	/* TODO - maybe remove? Parent of "NEW CHAT" btn */
	.sticky:has(a[href='/']) {
		background-color: var(--c-bg-sidebar) !important;
		// backdrop-filter: blur(0px) !important;
	}

	/* NEW CHAT + LIST of chats in nav. Adding padding-left prevent :focus-visible style in those elements to be cropped from the left because of the overflow-hidden */
	.overflow-y-auto {
		padding-left: 0.3rem !important;

		/* Your Firefox-specific styles here */
		@-moz-document url-prefix() {
			padding-right: 0.8rem !important; // this add only for Firefox
		}
	}

	/* Parent of time heading (of Today, Yesterday) in sidebar */
	span:has(> h3) {
		margin-top: 1.5rem !important;
		margin-bottom: 0.3rem !important;

		/* Today, Yesterday - Time heading in sidebar */
		h3 {
			display: inline-block !important;
			color: var(--c-accent) !important;
			background-color: hsl(var(--accent-hsl) / 0.2) !important;
			border-radius: 100vw;
			text-transform: uppercase;
			font-weight: bold;
			padding: 0.5rem 1rem !important;
			height: auto !important;
			line-height: 1 !important;
		}
	}

	a {
		color: var(--c-txt) !important;
		padding: var(--p-sidebar-nav-a) !important;
		// font-family: var(--f-fm) !important;
		border-radius: var(--br-nav-a) !important;
		// border-radius: inherit !important;

		transition: background-color 0.3s ease-in-out;

		/* "Upgrade" link in nav bg */
		span.rounded-full.border-token-border-light {
			border-color: transparent !important;
			background-color: var(--c-accent) !important;

			/* SVG icon in "Upgrade" link in nav */
			&>svg {
				color: var(--c-on-accent) !important;
			}
		}
	}

	li {
		margin-bottom: var(--mb-sidebar-nav-li) !important;

		.group {
			overflow: hidden;

			/* Active sidebar list item */
			&.bg-token-sidebar-surface-tertiary {
				// background-color: var(--c-surface-2) !important;
				opacity: 1 !important;
			}

			/* 3dots btn */
			button {
				color: var(--c-txt) !important;
			}

			/* Archive btn */
			span {
				button {
					color: var(--c-subtext-1) !important;
				}
			}

			/* Active-link 3-dots and archive btns wrapper */
			&>div.absolute {
				@extend %sidebar_link_item_btns_bg;
			}

			// a[href^='/c/'] {
			a {

				/* 3 dots btn bg-gradient - <div> u <a> i <div> u <button> */
				.bg-gradient-to-l {
					display: none !important;
					// border: 2px solid red !important;
				}
			}

			/* 3 dots > "Rename" clicked - style of input parent and input  - this is <div> next to <a> */
			&:has(input) {
				// outline: 1px solid hsl(var(--accent-hsl) / 0.3);
				outline: 2px solid var(--c-surface-2);

				&,
				& .bg-token-sidebar-surface-secondary {
					background-color: var(--c-bg-sidebar) !important;
					// color: var(--c-on-accent) !important;
				}

				input {
					// input rename border color on focused
					--tw-ring-color: transparent !important;
					caret-color: var(--c-txt);
					border: none !important;
					outline: none !important;
					// box-shadow: none !important;
				}
			}
		}

		// .group.active\:90 {

		// 	/* Active sidebar list item */
		// 	&.bg-token-sidebar-surface-tertiary {
		// 		// background-color: var(--c-surface-2) !important;
		// 		opacity: 1 !important;
		// 	}
		// }
	}

	// TODO add better styling to this btn
	/* User profile btn in sidebar bottom */
	.group[data-headlessui-state] {

		/* User profile btn in sidebar bottom */
		button[aria-haspopup='true'] {
			border-radius: var(--br-nav-a);
			margin-top: 1rem;

			/* Username div */
			.font-semibold {
				color: var(--c-txt) !important;
			}
		}

		/* Sidebar bottom - Log Out  */
		[role='menu'] {
			// animation: none !important;
			// transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

			[role='menuitem']:last-child {
				color: var(--c-danger) !important;

				svg {
					color: var(--c-danger) !important;
				}
			}
		}
	}

	/*  Border-radius for all elements that have .rounded-lg class in <nav> of sidebar. ALi on zezne border-radiusu i contextmenu u bottom sidebar jer i on ima ovu klasu. Zato sad dodajem <li> */
	// TODO mozda mogu obrisati, ako global ostane ista ova
	.rounded-lg {
		border-radius: var(--br-nav-a) !important;
	}
}