/* --------- SIDEBAR BOTTOM USERNAME CLICKED CONTEXT MENU ---------*/
[data-headlessui-state="open"] {
    background-color: var(--c-surface-3) !important;
    border-radius: var(--border-radius-contextmenu) !important;
    transition: all .3s ease-in-out;

    nav a {
        font-size: 14px !important;

        &[data-headlessui-state="active"],
        &:hover {
            background-color: var(--c-surface-2) !important;
        }
    }

}

[data-headlessui-state] {
    &>*,

    nav a {
        color: var(--c-txt) !important;
    }
}


// [data-headlessui-state="open"] nav a[data-headlessui-state="active"],
// [data-headlessui-state="open"] nav a:hover {
//     background-color: var(--c-surface-2) !important;
// }

// [data-headlessui-state="open"] nav a {
//     font-size: 14px !important;
// }

/* --------- SIDEBAR BOTTOM - Log Out ---------*/
.scrollbar-trigger:has(nav[aria-label="Chat history"]) nav [data-headlessui-state="open"]:has(button[data-headlessui-state="open"]) nav a:last-child {
    color: var(--c-btn-danger) !important;
}