/* Sidebar bg-color */
.bg-token-sidebar-surface-primary:has(nav[aria-label='Chat history']) {
	/* --surface-primary fix dark/black color for a:hover states */
	// --surface-primary: var(--c-surface-2) !important;
	// --surface-primary: red !important;
	color: var(--c-txt) !important;
	// background-color: var(--c-bg-sidebar) !important;

	/* Fix white txt on "NEW CHAT" in sidebar for light especially */
	nav a > * {
		color: var(--c-txt) !important;
	}
}

nav[aria-label='Chat history'] {
	padding: var(--p-sidebar-nav) !important;

	// ! Strange black rectangle (.bg-black class) over "New Chat" btn when on links: https://chat.openai.com/gpts/discovery and https://chat.openai.com/g/g-UBYTKWkPj
	/* .sticky.bg-black:has(a[href='/']) {
		background-color: var(--c-bg-sidebar);
		padding-bottom: 1rem !important;
	} */

	/* Parent of "NEW CHAT" btn */
	.sticky {
		// background-color: var(--c-bg-sidebar) !important;
		backdrop-filter: blur(0px) !important;
		margin-bottom: 0.5rem !important;
	}

	/* CLEAR CHATS div - Visible when unchecked "Chat learning & Training" in Settings */
	.absolute.left-0.top-0.overflow-hidden {
		background-color: var(--c-bg-sidebar) !important;
		overflow-y: scroll;

		min-height: 50vh !important;

		.bg-gradient-to-t {
			opacity: 0;
		}
	}

	/* NEW CHAT + LIST of chats in nav. Adding padding-left prevent :focus-visible style in those elements to be cropped from the left because of the overflow-hidden */
	.overflow-y-auto {
		padding-left: 0.3rem !important;

		/* Your Firefox-specific styles here */
		@-moz-document url-prefix() {
			padding-right: 0.8rem !important; // this add only for Firefox
		}
	}

	/*
	Parent of time heading (of Today, Yesterday) in sidebar.
	! div:has(> h3)  is selector for the same but in GPTs page !!! */
	[data-projection-id]:has(h3),
	div:has(> h3) {
		margin-top: 1.5rem !important;
		margin-bottom: 0.3rem !important;

		/* Today, Yesterday - Time heading in sidebar */
		h3 {
			display: inline-block !important;
			color: var(--c-accent) !important;
			background-color: hsl(var(--accent-hsl) / 0.2) !important;
			border-radius: 100vw;
			text-transform: uppercase;
			font-weight: bold;
			padding: 0.5rem 1rem !important;
			height: auto !important;
			line-height: 1 !important;
		}
	}

	a {
		color: var(--c-txt) !important;
		padding: var(--p-sidebar-nav-a) !important;
		font-family: var(--f-fm) !important;
		border-radius: var(--br-nav-a) !important;
		// border-radius: inherit !important;

		transition: background-color 0.3s ease-in-out;

		/* "New Chat" link (first in nav in sidebar) */
		&[href='/'] {
			border: 2px solid var(--c-surface-2);
			padding: var(--p-sidebar-nav-a-new-chat) !important;
			text-transform: uppercase;
		}

		/* "Upgrade" link in nav bg */
		span.bg-black {
			border-color: transparent !important;
			background-color: var(--c-accent) !important;

			/* SVG icon in "Upgrade" link in nav */
			& > svg {
				color: var(--c-on-accent) !important;
			}
		}
	}

	li {
		margin-bottom: var(--mb-sidebar-nav-li) !important;

		.group {
			--duration-trans: 0.3s;
			--duration-anim: 0.2s;
			overflow: hidden;

			&.bg-token-sidebar-surface-secondary,
			&.bg-token-sidebar-surface-primary {
				background-color: var(--c-surface-2) !important;
			}

			/* TODO mozda dodati opet u buducnosti. Sad nema poente, jer text parent ima overflow hidden i isece citav text, a ova animacija ga svakako opet samo prikaze onoliki koliki je. Ako stavim overlow: visible na hover, animacija je razlicito primenjena na svaki element, posto je width za svaki eelement razlicit u zavisnosti od duzine texta, i animacija ne moze sa istim durationom da bude ista, a sadrzaj treba mnogo vise da se skroluje. A ne zelim jos da koristim javascript za fetchvanje width-a svakog elementa posebno i onda posebni duration za svaki element u zavisnosti od duzine texta. A i preopteretila bi se extenzija da lupujem kroz svaki element, citam podatke i dodajem animaciju, samo zarad tog efekta. Nije vredno */
			// &:hover {
			// 	/* Anim long (all actually) txt to scroll left to be shown whole */
			// 	a[href^='/c/'] > div.relative.grow.overflow-hidden.whitespace-nowrap {
			// 		animation: animScrollText 3s $easeInOutSine backwards;
			// 	}
			// }

			/* 3dots btn */
			button {
				color: var(--c-txt) !important;
			}

			/* Archive btn */
			span {
				button {
					color: var(--c-subtext-1) !important;
				}
			}

			/* Active-link 3-dots and archive btns wrapper */
			& > div.absolute {
				@extend %sidebar_link_item_btns_bg;
			}

			a[href^='/c/'] {
				/* & > div.relative.grow.overflow-hidden.whitespace-nowrap {
					will-change: transform;
				} */
				/* ! NOW `.bg-token-surface-primary` IS DELETED BY OPENAI ffs*/
				/* Selected/active/hover link item */
				// &.bg-token-surface-primary {
				//     background-color: var(--c-surface-2) !important;

				//     /* 3 dots btn bg-gradient */
				//     .bg-gradient-to-l {
				//         opacity: 1 !important;
				//     }
				// }

				/* 3 dots btn bg-gradient - <div> u <a> i <div> u <button> */
				.bg-gradient-to-l {
					display: none !important;
					// border: 2px solid red !important;
				}
			}

			/* 3 dots > "Rename" clicked - style of input parent and input  - this is <div> next to <a> */
			.bg-token-surface-tertiary {
				padding: var(--p-sidebar-nav-a) !important;
				color: var(--c-txt) !important;
				background-color: var(
					--c-surface-3
				) !important; // NOTE: bg can't be transparent-ish; it cause txt behind to be visible
				border: 1px solid var(--c-border) !important;
				border-radius: var(--br-nav-a) !important;

				/* This make it full width of <li>, from left to right */
				left: 0 !important;
				right: 0 !important;

				/* Rename input.
                    ! DO NOT TOUCH PADDING! TXT BEHIND GOIN TO BE VISIBLE. WTF??? 
                */
				input {
					// input rename border color on focused
					--tw-ring-color: transparent !important;
					caret-color: var(--c-accent);
					border: none !important;
					outline: none !important;
					box-shadow: none !important;
				}
			}
		}
	}

	// TODO add better styling to this btn
	/* User profile btn in sidebar bottom */
	.group[data-headlessui-state] {
		/* User profile btn in sidebar bottom */
		button[aria-haspopup='true'] {
			border-radius: var(--br-nav-a);
			margin-top: 1rem;

			/* Username div */
			.font-semibold {
				color: var(--c-txt) !important;
			}
		}

		/* Sidebar bottom - Log Out  */
		[role='menu'] {
			animation: none !important;
			// transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

			[role='menuitem']:last-child {
				color: var(--c-danger) !important;

				svg {
					color: var(--c-danger) !important;
				}
			}
		}
	}

	/*  Border-radius for all elements that have .rounded-lg class in <nav> of sidebar. ALi on zezne border-radiusu i contextmenu u bottom sidebar jer i on ima ovu klasu. Zato sad dodajem <li> */
	// TODO mozda mogu obrisati, ako global ostane ista ova
	.rounded-lg {
		border-radius: var(--br-nav-a) !important;
	}
}
