/* Sidebar bg-color */
// .bg-token-sidebar-surface-primary[class*="var(--sidebar-slideover)"] {
/* #stage-popover-sidebar is selector for smaller screen */
#stage-slideover-sidebar,
#stage-popover-sidebar {
	background-color: var(--c-bg-sidebar) !important;
	color: var(--c-txt) !important;
	// border-inline-end-width: 0 !important;


	nav {
		button {

			/* Today, Yesterday - Time heading in sidebar */
			h2.__menu-label {
				@extend %date-pill;
			}
		}
	}
}

#sidebar-header {

	/* ChatGPT home logo and sidebar collapse icon */
	a.text-token-text-primary,
	button.text-token-text-tertiary {
		color: var(--c-subtext-1) !important;
	}
}


nav[aria-label].h-full {
	.__menu-item {
		padding-block: 0.5rem !important;
		border-radius: calc(var(--br) * 0.8) !important;
		
		@include lift;

		--menu-item-active: var(--c-bg-sidebar-link) !important;
		--menu-item-hover: var(--c-bg-sidebar-link) !important;
		--menu-item-highlighted: var(--c-bg-sidebar-link) !important;
	}
}