/* Sidebar bg-color */
.bg-black:has(nav[aria-label="Chat history"]) {
    // --surface-primary fix dark/black color for a:hover states
    --surface-primary: var(--c-surface-2) !important;
    color: var(--c-txt) !important;
    background-color: var(--c-bg-sidebar) !important;

    /* Fix white txt on "NEW CHAT" in sidebar for light especially */
    nav a>* {
        color: var(--c-txt) !important;
    }

}



nav[aria-label="Chat history"] {
    padding: var(--p-sidebar-nav) !important;

    // ! Strange black rectangle (.bg-black class) over "New Chat" btn when on links: https://chat.openai.com/gpts/discovery and https://chat.openai.com/g/g-UBYTKWkPj
    .sticky.bg-black:has(a[href="/"]) {
        background-color: transparent !important;
        margin-bottom: 1rem;
    }

    /* Parent of time heading (of Today, Yesterday) in sidebar */
    div:has(>h3[class*=":bg-black"]) {
        margin-bottom: .3rem;
        // border: 2px solid red !important;
    }

    /* Today, Yesterday - Time heading in sidebar */
    h3[class*=":bg-black"] {
        display: inline-block !important;
        color: var(--c-accent) !important;
        // background-color: transparent !important;
        background-color: hsl(var(--accent-hsl) / 0.2) !important;
        border-radius: 100vw;
        text-transform: uppercase;
        font-weight: bold;
        padding: .5rem 1rem !important;
        height: auto !important;
        // padding-inline: 1rem !important;
        line-height: 1 !important;
    }

    a {
        color: var(--c-txt) !important;
        padding: var(--p-sidebar-nav-a) !important;
        font-family: var(--f-fm) !important;
        border-radius: var(--border-radius-nav-a) !important;

        transition: background-color .3s ease-in-out;

        // "New Chat" link (first in nav in sidebar)
        &[href="/"] {
            border: 2px solid var(--c-surface-2);
            padding: var(--py-sidebar-nav-a-new-chat) !important;
            text-transform: uppercase;
        }

        // "Upgrade" link in nav bg
        span.bg-black {
            border-color: transparent !important;
            background-color: var(--c-accent) !important;
            // background-color: var(--c-accent-light) !important;

            // SVG icon in "Upgrade" link in nav
            &>svg>path {
                // fill: var(--c-accent-light) !important;
                fill: var(--c-on-accent) !important;
            }
        }
    }

    li {
        margin-bottom: var(--mb-sidebar-nav-li) !important;

        .group {
            a[href^="/c/"] {

                /* Selected/active link item */
                &.bg-token-surface-primary {

                    /* 3 dots btn bg-gradient */
                    .bg-gradient-to-l {
                        opacity: 1 !important;
                    }
                }

                /* 3 dots btn bg-gradient - <div> u <a> i <div> u <button> */
                .bg-gradient-to-l {
                    --surface-primary: var(--c-surface-2) !important;
                    --tw-gradient-from: var(--surface-primary) var(--tw-gradient-from-position) !important;
                    color: var(--c-accent) !important;
                    opacity: 0 !important;
                    // border: 2px solid red !important;
                }

                // /* Gradient */
                // a[href^="/c/"] .bg-gradient-to-l {
                //     --tw-gradient-from: var(--c-accent) var(--tw-gradient-from-position);
                // }
                // &:hover a[href^="/c/"] .bg-gradient-to-l {
                //     --tw-gradient-from: var(--surface-primary) var(--tw-gradient-from-position);
                // }
            }

            /* 3 dots > "Rename" clicked - style of input parent and input  - this is <div> next to <a> */
            .bg-token-surface-tertiary {
                padding: var(--p-sidebar-nav-a) !important;
                color: var(--c-txt) !important;
                border-radius: var(--border-radius-nav-a) !important;
                background-color: hsl(var(--accent-hsl) / 0.2) !important;
                // background-color: var(--c-surface-3) !important;

                /* this make it full width of <li>, from left to right */
                left: 0 !important;
                right: 0 !important;

                /* Rename input.
                    ! DO NOT TOUCH PADDING! TXT BEHIND GOIN TO BE VISIBLE. WTF OPENAI??? 
                */
                input {
                    // input rename border color on focused
                    --tw-ring-color: transparent;
                    caret-color: var(--c-accent);
                    border: none !important;
                }
            }
        }
    }

    // TODO add better styling to this btn
    /* User profile btn in sidebar bottom */
    button[id^="headlessui-menu-button-"] {
        border-radius: var(--border-radius-nav-a);
        margin-top: 1rem;

        /* Username div */
        .font-semibold {
            color: var(--c-txt) !important;
        }
    }

    // Border-radius for all elements that have .rounded-lg class in <nav> of sidebar. ALi on zezne border-radiusu i contextmenu u bottom sidebar jer u on ima ovu klasu. Zato sad dodajem <li>
    .rounded-lg {
        border-radius: var(--border-radius-nav-a) !important;
    }
}