[role="alert"] {
    background-color: var(--c-accent) !important;
    color: var(--c-on-accent) !important;
    padding: var(--py-btn) var(--px-btn) !important;
    border-radius: var(--border-radius-btn) !important;
    border: none !important;
}