/* "Copied your User ID to clipboard" parent - toast message when clicking on ? icon bottom right on username */
.toast-root {
	margin-top: -0.4rem !important;

	/* "Copied your User ID to clipboard" - clicked on 'youremail@example.com' in context menu on ? fixed button in bottom right.
    Also alert shown on "ℹ️ Unable to load conversations j10898d8ds8a-dsa689d6as9-s68d7a-j10898d8ds8a */
	[role='alert'] {
		background-color: var(--c-accent) !important;
		color: var(--c-on-accent) !important;
		padding: var(--p-btn) !important;
		border-radius: var(--br-btn) !important;
		border: none !important;
	}
}
