li {

	&,
	& button {
		$duration: 0.25s;

		transition:
			background-color $duration ease,
			color $duration ease,
			transform $duration ease,
			opacity $duration ease;
	}
}

[role="listbox"] {
	li {
		@include lift;
	}
}

/* .btn that IS NOT DISABLED, like "Create" on GPTs page */
.btn:not(.cursor-not-allowed) {
	will-change: transform, opacity;
	transition: transform 0.2s $easeInOutQuad, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out,
		color 0.3s ease-in-out !important;

	&:is(:hover, :active) {
		transform: translateY(-2px);
		opacity: 0.8;
	}
}

.btn.btn-secondary {
	&:is(:hover, :active) {
		opacity: 1 !important;
	}
}

/* ___ Switch button circle hover. Ovde ne moze :focus, ostane style kao da je checked ili obrnuto i kad se unhoveruje */
button[role="switch"] {
	span[data-state] {
		transition: transform 0.4s $easeInOutBack, background-color 0.3s ease-in-out;
	}
}

/* ___ Table "Archived Chats" or "Shared Links" */
[role='dialog'] table {
	tbody {
		tr {
			position: relative;

			&::after {
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
				background-color: transparent;
				border-radius: calc(var(--br) / 1.5);
				transition: background-color .25s;
				z-index: -1;
			}

			&:hover::after {
				// background-color: var(--c-accent-12);
				background-color: var(--c-surface-3);
			}
		}
	}
}

/* Smooth transitions for font changes */
// * {
// 	transition: font-family 0.1s ease !important;
// }