/* ___ General */
button,
li,
a,
svg,
[class*=":hover"],
[role="switch"] span[data-state] {
    transition: all .35s ease-in-out;
}

/* ___ BUTTON SVG icon which ARE NOT in:
    - in .btn <button>
    - Theme choosing <button>
    - in active tab <button>
    - in send message btn <button>
    - btns in message bubble footer <button> ([class*="[.final-completion]"]) 
------------------------------
    - .btn  |  Button
    - [role="tab"]  |  Active tab
    - [role="combobox"]  |  Theme choosing
    - [data-testid="send-button"]  |  Send Message Button
    - [class*="[.final-completion]"]  |  Btns in Message bubble footer
    - [aria-label^="Delete"])  | "Delete" icon in "Shared links" and "Archived Chats" 
    - [aria-label="Unarchive conversation"])  | "Unarchive" icon in "Archived Chats"
   */
button:not(.btn,
    [role="tab"],
    [role="combobox"],
    [data-testid="send-button"],
    [class*="[.final-completion]"],
    [aria-label^="Delete"],
    [aria-label="Unarchive conversation"]) {

    /*     svg {
        border: 1px solid red !important;
    } */

    svg:hover {
        // opacity: .8;
        scale: 1.12;
    }
}

/* ___ Switch button circle hover. Ovde ne moze :focus, ostane style kao da je checked ili obrnuto i kad se unhoveruje */
[role="switch"]:hover {
    span[data-state] {
        /* Ovo se kosi sa openai klasama, jer on dodaje translate-x -19px, pa se circle pomera levo, sto i nije lose, lol. Ako to ne zelimo, mozemo koristiti scale umesto transform: scale */
        transform: scale(.8);
        // scale: .8;
    }
}


/* ___ New Chat big buttons */
main form .grow .btn {
    transition: all .3s ease-in-out;

    /* Gradient bg visible on hover */
    .bg-gradient-to-l {
        transition: all .3s ease-in-out;

        /* Button SVG parent wrapper */
        span[data-state] {
            overflow: hidden;

            /* Button w/ SVG */
            .bg-token-surface-primary {
                translate: 0 100%;
                rotate: 45deg;
                transition: all .3s ease-in-out;
            }
        }
    }

    &:hover {
        background-color: var(--c-surface-3) !important;

        .bg-gradient-to-l {
            span[data-state] {

                /* Button w/ SVG */
                .bg-token-surface-primary {
                    translate: 0 0%;
                    rotate: 0deg;
                }
            }
        }
    }
}


/* ___ Textarea send message send-button */
[data-testid="send-button"]:not([disabled]) {
    transition: all .3s ease-in-out;

    &:hover {
        translate: 0 -10%;
    }
}


/* ___ Chat Bubbles */
main [data-testid^="conversation-turn-"] {
    .group {
        transition: all .3s ease-in-out;

        &:hover {
            translate: 0 3px;

            div[class*="empty:hidden"]:has(button[class*="[.final-completion]"]) .visible {
                translate: 0 0;
            }

            [class*="[.final-completion]"] svg {
                scale: 1;
            }
        }

        /* Bubble message footer */
        div[class*="empty:hidden"]:has(button[class*="[.final-completion]"]) {
            overflow: hidden;
            // border: 2px solid salmon !important;

            /* Bubble message footer (icons wrapper) */
            .visible {
                translate: 0 130%;
                transition: all .3s ease-in-out;
            }
        }

        /* Bubble message footer (svg icons) */
        [class*="[.final-completion]"] svg {
            scale: 0;

            &:hover {
                opacity: .8;
                translate: 0 -3px;
            }
        }

        /* Copy btn */
        pre {
            button:hover {
                background-color: var(--c-accent) !important;
                color: var(--c-on-accent) !important;
                translate: 0 3px;

                svg {
                    color: var(--c-on-accent) !important;
                }
            }
        }
    }
}


/* ___ Scroll down button */
main [role="presentation"] button.absolute.rounded-full {
    // transition: all .3s ease-in-out;
    // border: 3px solid transparent !important;

    &:hover {
        translate: 0 10%;

        opacity: 1 !important;
    }
}

/* ___ Table "Archived Chats" or "Shared Links" */
[role="dialog"] table {

    tbody {

        /* NAME - first column Links
        "Shared links" & "Archived Chats" links in table, but a[href^="/c/"] is also Conversation SVG in "Shared Links", ahh */
        td:first-child a:hover {
            color: var(--c-accent) !important;

            svg {
                scale: .9 !important;
                translate: -5px 0;
            }

            translate: 5px 0;
            text-decoration: underline;
        }

        /* Table column that contains "Delete" svg icon */
        td:has(button[aria-label^="Delete"]) {

            /* SVG parent wrapper */
            span[data-state]:hover {
                svg {
                    translate: 0 -2px !important;
                    scale: 1 !important;
                }
            }
        }
    }
}