/* ___ General */
button,
li,
a,
svg,
[class*=':hover'],
[role='switch'] span[data-state] {
	transition: all 0.3s ease-in-out;

	// transition:
	//     all .35s var(--ease-default),
	//     opacity .3 ease-in-out,
	//     background-color .3 ease-in-out,
	//     color .3 ease-in-out;

	/*     transition:
        transform .25s var(--ease-default),
        opacity .3s ease-in-out,
        background-color .3s ease-in-out,
        color .3s ease-in-out,
        border-color .3s ease-in-out,
        box-shadow .3s ease-in-out,
        scale .3s ease-in-out,
        rotate .3s ease-in-out,
        translate .3s ease-in-out,
        filter .3s ease-in-out,
        border-radius .3s ease-in-out, inset .3s ease-in-out; */
}

/* ___ BUTTON SVG icon which ARE NOT in:
    - in .btn <button>
    - Theme choosing <button>
    - in active tab <button>
    - in send message btn <button>
    - btns in message bubble footer <button> ([class*="[.final-completion]"]) 
------------------------------
    - .btn  |  Button
    - [role="tab"]  |  Active tab
    - [role="combobox"]  |  Theme choosing
    - [data-testid="send-button"]  |  Send Message Button
    - [class*="[.final-completion]"]  |  Btns in Message bubble footer
    - [aria-label^="Delete"])  | "Delete" icon in "Shared links" and "Archived Chats" 
    - [aria-label="Unarchive conversation"])  | "Unarchive" icon in "Archived Chats"
   */
button:not(
		.btn,
		[role='tab'],
		[role='combobox'],
		[data-testid='send-button'],
		[class*='[.final-completion]'],
		[aria-label^='Delete'],
		[aria-label='Unarchive conversation']
	) {
	svg {
		transform-origin: center center;
		// border: 1px solid red !important;
	}

	svg:hover {
		transform: scale(1.12);
	}
}

.btn {
	will-change: transform, opacity;

	// transition: transform 0.4s $easeOutBack, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
	transition: transform 0.2s $easeInOutQuad, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out,
		color 0.3s ease-in-out !important;

	&:is(:hover, :active) {
		transform: translateY(-2px);
		opacity: 0.8;
	}
}

/* dialog buttons */
[role='dialog'] {
	/* ".PopoverContent" je recimo menu od btn u "Shared Link to Chat" 3dots menu (Shared your Name & Delete Link) */
	&.PopoverContent {
		.btn-neutral:is(:hover, :focus) {
			background-color: var(--c-surface-2) !important;
			color: var(--c-txt) !important;
			transform: none !important;
			opacity: 1 !important;
		}
	}
}

/* ___ Switch button circle hover. Ovde ne moze :focus, ostane style kao da je checked ili obrnuto i kad se unhoveruje */
button[role='switch'] {
	span[data-state] {
		transition: transform 0.4s $easeInOutBack, background-color 0.3s ease-in-out;
	}
}

/* TODO REMOVED due to GPT4o! New Chat big buttons */
// main form .grow .btn {
// 	// transition: .4s $easeOutBack, background-color .3s ease-in-out opacity .3s ease-in-out;

// 	/* Gradient bg visible on hover */
// 	.bg-gradient-to-l {
// 		transition: all 0.3s ease-in-out;

// 		/* Button SVG parent wrapper */
// 		span[data-state] {
// 			overflow: hidden;
// 			padding: 4px; // because svg btn looks cut off in firefox, so add a little space around

// 			/* Button w/ SVG */
// 			// .bg-token-surface-primary { this class doesnt exist anymore...
// 			.bg-token-main-surface-primary {
// 				transform: translateY(120%) scale(0.5);
// 				transition: transform 0.5s $easeOutBack;
// 			}
// 		}
// 	}

// 	&:hover {
// 		background-color: var(--c-surface-3) !important;
// 		transform: translateY(-4px);

// 		.bg-gradient-to-l {
// 			span[data-state] {
// 				/* Button w/ SVG */
// 				// .bg-token-surface-primary {
// 				.bg-token-main-surface-primary {
// 					transform: translateY(0%) scale(1);
// 					opacity: 1 !important;
// 				}
// 			}
// 		}
// 	}
// }

/* TODO REMOVED due to GPT4o! Textarea send message send-button */
/* [data-testid='send-button']:not([disabled]) {
	transition: transform 0.4s $easeOutBack, opacity 0.3s ease-in-out;

	&:hover {
		transform: translateY(-10%);
	}
} */

/* TODO - See if this still exists, i think there is no more .self-end ___ Chat Bubbles */
main [data-testid^='conversation-turn-'] {
	// .group {
	& > div:first-child > div:first-child {
		&:hover {
			/* Bubble message footer (icons wrapper) */
			div[class*='empty:hidden'] {
				.self-end {
					transform: translateY(0);
					opacity: 1;

					/* Bubble message footer (svg icons) */
					button svg {
						transform: scale(1);
					}
				}
			}
		}

		/* Bubble message footer */
		div[class*='empty:hidden'] {
			overflow-y: clip;
			// padding-inline: 10px; // to make counter answer (<2/4>) visible when this is overflow-hidden, we need to add padding-inline, or we can use overflow-y: clip; And overflow is "important" for translate transition

			/* Bubble message footer (icons wrapper) */
			.self-end {
				transform: translateY(100%);
				opacity: 0;
				transition: transform 0.4s $easeOutBack, opacity 0.3s ease;

				/* Bubble message footer (svg icons) */
				button svg {
					transform: translateY(0px);
					transition: transform 0.4s $easeOutBack, opacity 0.3s ease-in-out;

					&:hover {
						opacity: 0.7;
						transform: translateY(-2px);
					}
				}
			}

			@include dev(mob) {
				.self-end {
					transform: translateY(0%) !important;
					opacity: 1 !important;
				}
			}
		}
	}
}

/* "Copy code" btn */
pre {
	button:has(svg) {
		transition: transform 0.4s $easeOutBack, opacity 0.2s ease, background-color 0.2s ease-in-out, color 0.3s ease !important;

		svg {
			transition: color 0s ease !important;
		}

		&:hover {
			--c-bg-pre-header-btn: hsla(var(--accent-hsl) / 0.225);
			--c-bg-pre-header-btn-color: var(--c-accent) !important;
			transform: translateY(2px);
		}
	}
}
html.light pre button:has(svg):hover {
	--c-bg-pre-header-btn: var(--c-accent) !important;
	--c-bg-pre-header-btn-color: var(--c-on-accent) !important;
}

/* ___ Scroll down button */
main [role='presentation'] button.absolute.rounded-full {
	transition: transform 0.4s $easeOutBack, opacity 0.3s ease-in-out;

	&:hover {
		transform: translateY(10%);
		opacity: 1 !important;
	}
}

/* ___ Table "Archived Chats" or "Shared Links" */
[role='dialog'] table {
	tbody {
		/* Table column that contains "Delete" svg icon */
		td:has(button[aria-label^='Delete']) {
			svg {
				transition: transform 0.4s $easeOutBack;
			}

			/* SVG parent wrapper */
			span[data-state]:hover {
				svg {
					transform: translateY(2px) scale(1) !important;
				}
			}
		}
	}
}

/* === ❓ circle btn on bottom right */
button[id*='headlessui-menu-button'][class*='rounded-full'] {
	transition: transform 0.3s $easeOutCirc;

	&:hover {
		transform: scale(1.06);
	}
}

/* GPTs Store page - All the card items */
main:has(.sticky [href='/gpts/editor']) {
	.sticky {
		/* Sticky header with tags aka "Top Picks", "DALLE", "Writing", etc */
		[class*='md:rounded-none'],
		[class*='md:rounded-lg'] {
			// transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s $easeInCirc;
			transition: background-color 0.3s $easeInOutSine, color 0.3s $easeInOutSine, transform 0.3s $easeInOutSine;
		}
		/* Non-active pill-tag */
		[class*='md:rounded-lg']:hover {
			transform: scale(0.955);
			background-color: var(--c-accent) !important;
			color: var(--c-on-accent) !important;
		}

		/* Left/right arrows in tags track */
		[class*='bg-gradient-to-'] button {
			transition: transform 0.3s $easeInQuart;
		}
		/* Right tags arrow */
		[class*='bg-gradient-to-l'] button {
			&:hover {
				transform: translateX(3px);
			}
		}
		/* Left tags arrow */
		[class*='bg-gradient-to-r'] button {
			&:hover {
				transform: translateX(-3px);
			}
		}
	}
	/* All the card items in GPTs Store main page */
	.h-fit {
		a[href*='/g/g-'] {
			// border: 1px solid red !important;
			transition: transform 0.3s $easeInOutSine, background-color 0.3s ease-in-out;

			&:hover {
				transform: translateY(-3px);
			}
		}
	}
}
