.lk-room-container {

    button[aria-label="Turn off microphone"],
    button[aria-label="Turn on microphone"],
    button[aria-label="End voice mode"] {
        border-radius: 50vw !important;
    }

    button[aria-label="Turn off microphone"],
    button[aria-label="End voice mode"] {
        background-color: hsla(var(--accent-hsl) / 0.2) !important;

        svg {
            color: var(--c-accent) !important;
        }
    }

    button[aria-label="Turn on microphone"] {
        background-color: hsla(var(--danger-hsl) / 0.2) !important;
        color: var(--c-danger);

        svg {
            color: var(--c-danger) !important;
        }
    }

    button.absolute.w-48 {
        border-radius: calc(var(--br-btn) * 1.5) !important;
    }

    /* "Choose a voice" absolute buttons with gradient */
    .bg-gradient-to-r,
    .bg-gradient-to-l {
        --gradient-color-from: var(--c-surface-2) !important;
    }
}

/* Advanced Voice - "Monthly limit reached" dialog */
[role="dialog"] {

    /* "Learn more" */
    a[href*="-voice-chat-faq"] {
        @extend %link_hover_underlined;
    }
}