.lk-room-container {
    button[aria-label] {
        border-radius: 50vw !important;
    }

    button[aria-label] {
        &.btn-primary[class*="bg-black"] {
            background-color: oklch(from var(--c-accent) l c h / 0.2) !important;

            svg {
                color: var(--c-accent) !important;
            }
        }

        &.btn-primary[class*="bg-red-500"] {
            color: var(--c-danger);
            background-color: oklch(from currentColor l c h / 0.2) !important;

            svg {
                color: var(--c-danger) !important;
            }
        }
    }

    button.absolute.w-48 {
        border-radius: calc(var(--br-btn) * 1.5) !important;
    }

    /* "Choose a voice" absolute buttons with gradient */
    .bg-gradient-to-r,
    .bg-gradient-to-l {
        --gradient-color-from: var(--c-surface-2) !important;
    }
}

/* Advanced Voice - "Monthly limit reached" dialog */
[role="dialog"] {

    /* "Learn more" */
    a[href*="-voice-chat-faq"] {
        @extend %link_hover_underlined;
    }
}