%link_default {
    position: relative;
    text-decoration: none;
    color: var(--c-accent) !important;
    // display: inline-block;
    transition: opacity 0.3s ease;

    /* Style for the ::after pseudo-element (initially hidden) */
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        bottom: -4px;
        left: 0;
        // right: 0; /* Set right to cover the entire link */
        background-color: currentColor;
        border-radius: 20px;
        transition: transform 0.3s $easeOutCubic;
    }
}

%link_hover_underlined {
    @extend %link_default;

    /* Style for the ::after pseudo-element (initially hidden) */
    &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    &:hover::after {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
}

%link_hover_underless {
    @extend %link_default;

    &::after {
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}