main:has(.sticky [href='/gpts/editor']) {
	// /* Main Cards (big) */
	// .rounded-xl {
	// 	border-radius: var(--br-btn-big) !important;
	// }
	// /* Search query list cards. Input search */
	// .rounded-lg {
	// 	border-radius: var(--br-btn) !important;
	// }
	/* Sticky header tags aka "Top Picks", "DALLE", "Writing", etc */
	.sticky {
		[class*='md:rounded-none'],
		[class*='md:rounded-lg'] {
			border-radius: 100vw !important;
			padding-inline: 1rem !important;
		}
		/* Active tag aka "Top Picks" */
		[class*='md:rounded-none'] {
			border: none !important;
			background-color: var(--c-accent) !important;
			color: var(--c-on-accent) !important;

			/* Fix active pill tag bg be overwritten by global [class*='bg-black'] */
			&[class*='bg-black'] {
				background-color: var(--c-accent) !important;
			}
		}
		/* No-active tags aka "DALLE", "Writing", etc */
		[class*='md:rounded-lg'] {
			background-color: hsla(var(--accent-hsl) / 0.2) !important;
			color: var(--c-accent) !important;
		}

		/* Left/right arrows in tags track */
		[class*='bg-gradient-to-'] {
			button {
				background-color: var(--c-accent) !important;
				color: var(--c-on-accent) !important;
			}
		}
	}

	/* Input search */
	input[placeholder='Search public GPTs'] {
		outline: none;
		background-color: var(--c-surface-2) !important;

		&::placeholder {
			color: var(--c-subtext-1) !important;
		}
	}

	/* Section visible on search query */
	[id*='headlessui-popover-panel-'] {
		--br-search-query-section: calc(var(--br-btn) * 1.2) !important;

		/* Added to visually remove unstickness search query section from input search */
		transform: translateY(-5px);

		border-radius: 0 0 var(--br-search-query-section) var(--br-search-query-section) !important;

		/* Search query section items/cards */
		/* 		[class*='rounded-lg'] {
			border-radius: var(--br-btn) !important;
		} */
	}

	/* All the card items in GPTs Store main page */
	.h-fit {
		/* "See more" full-width buttons */
		.btn.w-full {
			// padding: calc(var(--p-btn) * 1.5) !important;
			padding: 1.8rem !important;
			border-radius: calc(var(--br-btn) * 1.2) !important;
		}
	}
}

/* 
? Active tag classes ("Top Picks") vs no-active tag classes ("DALLE", "Writing", etc)
```border-token-text-primary bg-black text-white dark:bg-gray-100 dark:text-gray-800 md:rounded-none md:border-b-2 md:text-black dark:md:text-white
cursor-pointer scroll-mx-5 whitespace-nowrap rounded-3xl px-3 py-2 first:ml-4 last:mr-4 md:px-2 md:first:ml-0 md:last:mr-0 border-token-text-primary bg-black text-white dark:bg-gray-100 dark:text-gray-800 md:rounded-none md:border-b-2 md:bg-transparent md:text-black dark:md:bg-transparent dark:md:text-white

```bg-gray-50, dark:bg-gray-700 md:rounded-lg md:text-token-text-tertiary md:hover:bg-gray-50 dark:md:hover:bg-gray-700
cursor-pointer scroll-mx-5 whitespace-nowrap rounded-3xl px-3 py-2 first:ml-4 last:mr-4 md:px-2 md:first:ml-0 md:last:mr-0 bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 md:rounded-lg md:bg-transparent md:text-token-text-tertiary md:hover:bg-gray-50 dark:md:bg-transparent dark:md:hover:bg-gray-700
*/
