main#main {
	a.gizmo-link {
		transition: ease-in-out 0.25s;

		&:hover {
			transform: translateY(-0.08rem);
		}
	}
}

[data-testid="modal-gizmo-about"] {
	.bg-token-bg-secondary {
		background-color: var(--c-bg-dialog) !important;
	}
}