.gpth {
	&__svg {
		--svg-size: 2.25rem;
		// --top: calc(var(--h-header) + 1rem);
		--top: var(--h-header);
		--right: 1.3rem;
		/*position: relative;
		z-index: 999; */
		// position: absolute;
		position: fixed;
		top: var(--top);
		right: var(--right);
		z-index: 10;

		&-icon {
			display: grid;
			place-items: center;
			width: var(--svg-size);
			height: var(--svg-size);
			border-radius: 50vw;
			border: 1px solid var(--c-accent);
			background-color: var(--c-accent);
			transition: transform 0.3s $easeOutCubic;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&__options {
		// opacity: 0;
		pointer-events: none;
		place-items: center;
		display: grid;
		gap: 3rem;
		width: 15rem;
		height: max-content;
		position: absolute;
		right: 50%;
		// left: 100%;
		top: 120%;
		padding: 1.5rem;
		border-radius: var(--br-contextmenu);
		// background-color: var(--c-surface-2);
		background-color: var(--c-bg-contextmenu);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
		box-shadow: var(--box-shadow-contextmenu);
		// border: 1px solid hsla(var(--accent-hsl) / 0.1);

		// border: 1px solid hsla(var(--accent-hsl), 0.1) !important;

		transition: all 0.4s ease-in-out;

		& > * {
			opacity: 0;
			transform: translateY(20%);
			transition: all 0.4s ease-in-out 0.2s;
		}

		&.gpth-options-shown {
			// opacity: 1;
			pointer-events: all !important;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;

			& > * {
				opacity: 1 !important;
				transform: translateY(0%) !important;
			}
		}

		h5 {
			margin-bottom: 1rem;
			display: inline-block;
			font-size: 1.3rem;
			letter-spacing: 1px;
			font-weight: 100;
		}
	}
	&__themes {
		display: grid;
		place-items: center;

		&-btns {
			gap: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: hsla(var(--accent-hsl) / 0.2);
			padding: var(--p-btn);
			border-radius: var(--br-btn);

			button {
				--btn-size: 1.8rem;
				position: relative;
				width: var(--btn-size);
				height: var(--btn-size);
				display: grid;
				place-items: center;
				line-height: 1;
				border-radius: 50vw;
				border: none;
				cursor: pointer;
				box-shadow: 0px 0px 0px 1px transparent;
				transition: 0.2s ease-in-out;

				&::after {
					content: attr(data-gpth-theme);
					position: absolute;
					bottom: 0;
					left: 50%;
					width: max-content;
					font-size: 0.8rem;
					padding: 2px 4px;
					border-radius: 5px;
					background-color: var(--c-accent-light);
					opacity: 0;
					transform: translate(-50%, 110%);
					transition: 0.2s ease-in-out;
				}

				&:hover {
					transform: translateY(-5%);

					&::after {
						opacity: 1;
						transform: translate(-50%, 130%);
					}
				}

				&#light {
					// background-color: hsl(272, 30%, 80%);
					background-color: var(--c-accent-light);
				}
				&#dark {
					background-color: hsl(272, 19%, 20%);
				}
				&#oled {
					background-color: #000;
				}
			}
		}
	}

	&__upload {
		display: grid;
		justify-items: center;

		&--content {
			display: grid;
			align-items: center;
			gap: 1rem;
		}

		input {
			display: none;
		}

		label,
		button {
			text-align: center;
			outline: none;
			border: none;
			cursor: pointer;
			width: 100%;
			padding: var(--p-btn);
			border-radius: var(--br-btn);
			background-color: var(--c-accent);
			color: var(--c-on-accent);
			font-size: 1rem;
		}

		button#uploadImage {
			display: none;
		}
		button#removeImage {
			display: none;
		}

		&--preview {
			display: grid;
			justify-items: center;

			p {
				text-align: center;
				margin-bottom: 1rem;
				color: var(--c-subtext-2);
			}
		}
		&--placeholderImg {
			display: grid;
			justify-items: center;
			// --img-w: 11rem;
			--img-w: 95%;
			--img-h: 7rem;
			// margin: 0 auto;
			width: var(--img-w);
			height: var(--img-h);
			border-radius: var(--br-btn);

			img {
				width: var(--img-w);
				height: var(--img-h);
				// width: 100%;
				// height: 100%;
				object-fit: cover;
				object-position: center;
				border-radius: inherit;
				display: none;
			}
		}

		&--placeholder {
			width: var(--img-w);
			height: var(--img-h);
			display: grid;
			grid-template-columns: 1fr 3fr;
			overflow: clip;
			box-shadow: 0 0 0 2px hsla(var(--accent-hsl) / 0.2);
			border-radius: inherit;

			aside {
				background-color: hsla(var(--accent-hsl) / 0.2);
			}
			section {
				// background-color: hsla(var(--accent-hsl) / 0.01);
				display: grid;
				grid-template-rows: 3fr 4fr 2.5fr;
				gap: 6px;
				padding: 5px 10px;

				article {
					width: 70%;
					border-radius: 10px;

					&:nth-child(1) {
						// height: 50%;
						background-color: hsla(var(--accent-hsl) / 0.4);
					}
					&:nth-child(2) {
						// height: 2rem;
						background-color: hsla(var(--accent-hsl) / 0.2);
						justify-self: flex-end;
					}
					&:nth-child(3) {
						// height: 4rem;
						background-color: hsla(var(--accent-hsl) / 0.4);
						// justify-self: flex-end;
					}
				}
			}
		}
	}
}

html.light [data-gpth-theme]::after {
	color: var(--c-txt);
}
html.dark [data-gpth-theme]::after {
	color: var(--c-on-accent);
}
