.gpth {
	&__floating {
		--floating-icon-size: 2.8rem;
		--top: calc(var(--h-header) + 0.5rem);
		--right: 1rem;
		position: fixed;
		top: var(--top);
		right: var(--right);
		font-family: var(--fontFamily);
		transition: scale 0.2s, opacity 0.2s;

		// this add only for Firefox
		@-moz-document url-prefix() {
			--right: 0.95rem;
		}

		&--hidden {
			// visibility: hidden;
			scale: 0;
			pointer-events: none;
			opacity: 0;
		}

		/* On GPTs page floating is overlaping user image in sticky header so i need to move it down */
		@include dev('md') {
			--floating-icon-size: 2.2rem;
			--right: 4rem;
			top: calc(var(--h-header) / 2);
			translate: 0 -50%;
		}

		&-icon {
			position: relative;
			display: grid;
			place-items: center;
			width: var(--floating-icon-size);
			height: var(--floating-icon-size);
			color: var(--c-accent);
			background-image: var(--c-bg-gradient);
			border: 1px solid hsla(var(--accent-hsl) / 0.2);
			backdrop-filter: blur(10px);

			border-radius: 50vw;
			transition: transform 0.15s $easeOutCubic, background-color 0.3s $easeOutCubic, color 0.3s $easeOutCubic;
			cursor: pointer;

			&::after {
				content: 'Change theme';
				position: absolute;
				top: 50%;
				left: 0;
				font-size: 0.865rem;
				font-weight: 500;
				border-radius: 1.2rem;
				width: max-content;
				height: max-content;
				padding: 0.5rem 0.8rem;
				pointer-events: none;
				background-color: var(--c-bg-tooltip);
				color: var(--c-on-accent);
				// color: var(--c-on-accent);
				// opacity: 0;
				transform-origin: right center;
				transform: translate(-110%, -50%) scale(0);
				transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

				@include dev('sm') {
					padding: 0.4rem 0.6rem;
				}
			}

			&:hover {
				background-image: none;
				background-color: var(--c-accent);
				color: var(--c-on-accent);

				svg {
					transform: scale(1.1);
				}

				&::after {
					// opacity: 1;
					transform: translate(-115%, -50%) scale(1);
				}
			}
		}
	}

	&__options {
		// --shadow-color: hsla(var(--accent-hsl) / 0.08);
		// --shadow-values: inset 0 0 10px 5px;
		pointer-events: none;
		opacity: 0;
		display: grid;
		place-items: center;
		gap: 3rem;
		width: max-content;
		height: max-content;
		padding: 0.8rem;
		position: absolute;
		right: 50%;
		top: 150%;
		transform: translateX(50%);
		border-radius: 20vw;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
		// background-color: hsla(var(--accent-hsl) / 0.12);
		// box-shadow: var(--shadow-values) var(--shadow-color);
		background-image: linear-gradient(135deg,
				hsla(var(--accent-hsl) / 0.2) 0%,
				hsla(var(--accent-hsl) / 0.03) 40%,
				hsla(var(--accent-hsl) / 0.03) 60%,
				hsla(var(--accent-hsl) / 0.2) 100%);
		border: 1px solid hsla(var(--accent-hsl) / 0.2);
		backdrop-filter: blur(10px);

		transition: clip-path 0.3s $easeInOutCirc, opacity 0.3s ease-in-out;
		backdrop-filter: blur(5px);

		@include dev('sm') {
			padding: 0.65rem;
		}

		&--shown {
			opacity: 1;
			pointer-events: all !important;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;

			button {
				// --btn-scale: 1 !important;
				transform: scale(1) !important;
			}
		}

		// h5 {
		// 	margin-bottom: 1rem;
		// 	display: inline-block;
		// 	font-size: 1.3rem;
		// 	letter-spacing: 1px;
		// 	font-weight: 100;
		// }

		&-btns {
			gap: 1rem;
			display: grid;
			// border-radius: var(--br-btn);

			button {
				--btn-size: 2rem;
				// --btn-scale: 0;
				cursor: pointer;
				position: relative;
				width: var(--btn-size);
				height: var(--btn-size);
				display: grid;
				place-items: center;
				line-height: 1;
				border-radius: 50vw;
				color: var(--c-accent);
				// transform: scale(var(--btn-scale));
				transform: scale(0);
				transition: 0.3s linear;

				.icon {
					--icon-size: 1.5em;
					height: var(--icon-size);
					width: var(--icon-size);
					// transition: stroke 0.3s ease;
				}

				&::after {
					content: attr(data-gpth-theme);
					position: absolute;
					top: 50%;
					left: 50%;
					width: max-content;
					font-size: 0.7rem;
					text-transform: uppercase;
					font-weight: 700;
					padding: 6px;
					border-radius: 5px;
					background-color: var(--c-accent);
					color: var(--c-on-accent);
					border-radius: 50vw;
					opacity: 0;
					transform: translate(-50%, 0%) scale(0);
					transition: transform 0.3s $easeInOutCirc, opacity 0.4s linear;
				}

				&:hover {
					color: transparent;

					&::after {
						opacity: 1;
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
		}
	}

	/* 	&__themes {
		display: grid;
		place-items: center;

		&-btns {
			gap: 1rem;
			display: grid;
			border-radius: var(--br-btn);

			button {
				--btn-size: 2rem;
				--btn-scale: 0;
				cursor: pointer;
				position: relative;
				width: var(--btn-size);
				height: var(--btn-size);
				display: grid;
				place-items: center;
				line-height: 1;
				border-radius: 50vw;
				color: var(--c-accent);
				transform: scale(var(--btn-scale));
				transition: color 0.2s ease, transform 0.3s $easeInOutCirc;

				.icon {
					--icon-size: 1.5em;
					height: var(--icon-size);
					width: var(--icon-size);
				}

				&::after {
					content: attr(data-gpth-theme);
					position: absolute;
					top: 50%;
					left: 50%;
					width: max-content;
					font-size: 0.7rem;
					text-transform: uppercase;
					font-weight: 700;
					padding: 6px;
					border-radius: 5px;
					background-color: var(--c-accent);
					color: var(--c-on-accent);
					border-radius: 50vw;
					opacity: 0;
					transform: translate(-50%, -50%) scale(0);
					transition: transform 0.3s $easeInOutCirc, opacity 0.4s linear;
				}

				&:hover {
					color: transparent;
					&::after {
						opacity: 1;
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
		}
	} */

	/* Jos ne koristim ovo. Za image upload */
	/* 	&__upload {
		display: grid;
		justify-items: center;

		&--content {
			display: grid;
			align-items: center;
			gap: 1rem;
		}

		input {
			display: none;
		}

		label,
		button {
			text-align: center;
			outline: none;
			border: none;
			cursor: pointer;
			width: 100%;
			padding: var(--p-btn);
			border-radius: var(--br-btn);
			background-color: var(--c-accent);
			color: var(--c-on-accent);
			font-size: 1rem;
		}

		button#uploadImage {
			display: none;
		}
		button#removeImage {
			display: none;
		}

		&--preview {
			display: grid;
			justify-items: center;

			p {
				text-align: center;
				margin-bottom: 1rem;
				color: var(--c-subtext-2);
			}
		}
		&--placeholderImg {
			display: grid;
			justify-items: center;
			// --img-w: 11rem;
			--img-w: 95%;
			--img-h: 7rem;
			// margin: 0 auto;
			width: var(--img-w);
			height: var(--img-h);
			border-radius: var(--br-btn);

			img {
				width: var(--img-w);
				height: var(--img-h);
				// width: 100%;
				// height: 100%;
				object-fit: cover;
				object-position: center;
				border-radius: inherit;
				display: none;
			}
		}

		&--placeholder {
			width: var(--img-w);
			height: var(--img-h);
			display: grid;
			grid-template-columns: 1fr 3fr;
			overflow: clip;
			box-shadow: 0 0 0 2px hsla(var(--accent-hsl) / 0.2);
			border-radius: inherit;

			aside {
				background-color: hsla(var(--accent-hsl) / 0.2);
			}
			section {
				// background-color: hsla(var(--accent-hsl) / 0.01);
				display: grid;
				grid-template-rows: 3fr 4fr 2.5fr;
				gap: 6px;
				padding: 5px 10px;

				article {
					width: 70%;
					border-radius: 10px;

					&:nth-child(1) {
						// height: 50%;
						background-color: hsla(var(--accent-hsl) / 0.4);
					}
					&:nth-child(2) {
						// height: 2rem;
						background-color: hsla(var(--accent-hsl) / 0.2);
						justify-self: flex-end;
					}
					&:nth-child(3) {
						// height: 4rem;
						background-color: hsla(var(--accent-hsl) / 0.4);
						// justify-self: flex-end;
					}
				}
			}
		}
	} */
}

/* html.light {
	& [data-gpth-theme]::after,
	.gpth__svg-icon::after {
		color: var(--c-txt);
	}
}
html.dark {
	& [data-gpth-theme]::after,
	.gpth__svg-icon::after {
		color: var(--c-on-accent);
	}
}
 */
html.light {
	.gpth__floating-icon::after {
		color: var(--c-txt);
	}
}



/* GPTs page */
// body:has(.h-full.overflow-y-auto .sticky img[alt='User']) {

// 	@include dev('md') {
// 		// box-shadow: inset 0 0 0 10px red !important;

// 		.gpth {
// 			&__floating {
// 				// --top: calc(var(--h-header) * 2);
// 				--top: calc(var(--h-header)/4);
// 			}
// 		}
// 	}
// }