.gpth-settings {
	--w-scrollbar: 0.2rem;

	--top: calc(var(--h-header) + 0.5rem + 3rem);
	--right: 1.3rem;
	--p: 2rem;
	--max-h: 75vh;
	--shadow-color: hsla(var(--accent-hsl) / 0.09);
	--shadow-values: inset 0 0 20px 10px;
	top: var(--top);
	right: var(--right);
	width: clamp(25rem, 25vw, 30rem);
	max-height: var(--max-h);
	padding: var(--p);
	opacity: 0;
	background-color: var(--c-bg-sidebar);
	border-radius: var(--br-dialog);
	border: 1px solid hsla(var(--accent-hsl) / 0.18);
	box-shadow: var(--shadow-values) var(--shadow-color);
	pointer-events: none;
	transform: translateX(calc(100% + 1.5rem)) !important;
	z-index: calc(var(--z-modal) + 10);
	overflow: clip auto;
	transition: transform 0.3s $easeOutBack, opacity 0.3s ease;

	&--open {
		opacity: 1 !important;
		pointer-events: all !important;
		transform: translateX(0%) !important;
	}

	@include dev('xs') {
		--p: 5vw;
		--max-h: 70vh;
		width: calc(100% - 2.5rem);
	}

	@include dev('xxs') {
		--p: 4vw;
	}

	// section {
	.tab-content {
		overflow-y: auto;
		max-height: calc(var(--max-h) * 0.7);

		.tab-pane {
			margin-inline: 0.2rem; // simulate space from the scrollbar
		}
	}

	[role="separator"] {
		display: block !important;
		--border-light: var(--c-border) !important;
	}
}