/* FAB */
.gpth-fab {
    --floating-icon-size: 2.8rem;
    // --top: calc(var(--h-header) + 0.5rem);
    --top: calc(var(--header-height, var(--h-header)) + 0.2rem);
    --right: 1rem;
    position: fixed;
    top: var(--top);
    right: var(--right);
    font-family: inherit;
    transition:
        scale 0.2s,
        opacity 0.2s;

    // this add only for Firefox
    @-moz-document url-prefix() {
        --right: 0.95rem;
    }

    &--hidden {
        // visibility: hidden;
        scale: 0;
        pointer-events: none;
        opacity: 0;
    }

    /* On GPTs page floating is overlaping user image in sticky header so i need to move it down */
    @include dev("md") {
        --floating-icon-size: 2.2rem;
        --right: 6rem;
        top: calc(var(--header-height, var(--h-header)) / 2);
        translate: 0 -50%;
    }

    &__icon {
        display: grid;
        place-items: center;
        width: var(--floating-icon-size);
        height: var(--floating-icon-size);
        color: var(--c-accent);
        background-image: var(--c-bg-gradient);
        border: 1px solid var(--c-accent-20);
        backdrop-filter: blur(10px);

        border-radius: 50vw;
        transition:
            transform 0.15s $easeOutCubic,
            background-color 0.3s $easeOutCubic,
            color 0.3s $easeOutCubic;
        cursor: pointer;

        &:hover {
            background-image: none;
            background-color: var(--c-accent);
            color: var(--c-on-accent);

            svg {
                transform: scale(1.1);
            }
        }
    }
}
