/* FAB DOCK */
.gpth-dock {
    --btn-gap: 1rem;

    pointer-events: none;
    opacity: 0;
    display: grid;
    place-items: center;
    gap: var(--btn-gap);
    width: max-content;
    height: max-content;
    padding: 0.8rem;
    position: absolute;
    right: 50%;
    top: 150%;
    transform: translateX(50%);
    border-radius: 20vw;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0);
    border: 1px solid var(--c-accent-20);
    background-image: linear-gradient(
        135deg,
        var(--c-accent-20) 0%,
        var(--c-accent-03) 40%,
        var(--c-accent-03) 60%,
        var(--c-accent-20) 100%
    );
    backdrop-filter: blur(5px);
    transition:
        clip-path 0.3s $easeInOutCirc,
        opacity 0.3s ease-in-out;

    @include dev("sm") {
        padding: 0.65rem;
    }

    &--shown {
        opacity: 1;
        pointer-events: auto !important;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;

        .gpth-dock__btn {
            transform: scale(1) !important;
        }
    }

    &__btns {
        gap: var(--btn-gap);
        display: grid;
    }

    &__btn {
        --btn-size: 2rem;
        cursor: pointer;
        position: relative;
        width: var(--btn-size);
        height: var(--btn-size);
        display: grid;
        place-items: center;
        line-height: 1;
        border-radius: 50vw;
        color: var(--c-accent);
        transform: scale(0);
        transition: 0.3s linear;

        &::after {
            content: attr(data-gpth-dock-btn);
            position: absolute;
            top: 50%;
            left: 50%;
            width: max-content;
            font-size: 0.7rem;
            text-transform: uppercase;
            font-weight: 700;
            padding: 6px;
            background-color: var(--c-accent);
            color: var(--c-on-accent);
            border-radius: 50vw;
            opacity: 0;
            transform: translate(-50%, 0%) scale(0);
            transition:
                transform 0.3s $easeInOutCirc,
                opacity 0.4s linear;
        }

        .icon {
            --icon-size: 1.5em;
            height: var(--icon-size);
            width: var(--icon-size);
            color: var(--c-accent);
            transition: scale 0.3s $easeInOutCirc;
        }

        &:hover {
            .icon {
                scale: 0;
            }

            &::after {
                opacity: 1 !important;
                transform: translate(-50%, -50%) scale(1) !important;
            }
        }
    }
}

html.light {
    .gpth-dock-icon::after {
        color: var(--c-txt);
    }
}
