@import 'theme-manager/components/_colorpicker';
@import 'theme-manager/components/_range';
@import 'theme-manager/components/_tabs';
@import 'theme-manager/components/_cards';
@import 'theme-manager/components/_error-msg';
@import 'theme-manager/components/_fonts';
@import 'theme-manager/components/_switch';

@import 'theme-manager/sections/_header';
@import 'theme-manager/sections/_main';
@import 'theme-manager/sections/_header';

@import '_gpth-floating-btn';
@import '_gpth-settings';