main:has(button[data-testid='send-button']),
main:has(button[aria-label='Stop generating']) {
	/* @ PROMPT TEXTAREA  */
	// Guest/3.5 textarea prompt
	form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea) {
		/* Guest/3.5 - "Send button" */
		button[data-testid='send-button'] {
			right: 1.3rem !important;
			bottom: 1.3rem !important;
		}

		/* "Stop generating" btn */
		.absolute:has(button[aria-label='Stop generating']) {
			// right: 1.3rem !important;
			bottom: 0.9rem !important;

			button[aria-label='Stop generating'] {
				svg {
					color: var(--c-accent);
				}
			}
		}

		.bg-token-main-surface-secondary:has(> .max-h-32.whitespace-pre-wrap.break-words) {
			background-color: var(--c-surface-3) !important;
			border-color: var(--c-accent);
			border-radius: calc(var(--br-prompt-textarea) / 1.5) !important;
			padding: 0.8rem;
		}

		/* Guest/3.5 - Attach files button */
		// .absolute[type='button'][aria-haspopup='dialog']:has(button[aria-label='Attach files']) {
		// 	bottom: 1.5rem !important;
		// }
	}
}

html.dark[data-gptheme='oled'] {
	main:has(button[data-testid='send-button']),
	main:has(button[aria-label='Stop generating']) {
		form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea) {
			/* "Reply" in msg textarea */
			.bg-token-main-surface-secondary:has(> .max-h-32.whitespace-pre-wrap.break-words) {
				background-color: var(--c-surface-2) !important;
			}
		}
	}
}
