main:has(button[data-testid='send-button']),
main:has(button[aria-label='Stop generating']) {
	/* @ Collapse sidebar btn - hover state*/
	[class*='fixed left-0 top-1/2']:has(button) {
		.rounded-full {
			transition: background-color 0.2s ease-in-out;
		}

		&:hover {
			.rounded-full {
				background-color: var(--c-accent) !important;
			}
		}
	}
}
