/*

Qt Creator dark color scheme
 !important
*/

html.dark[data-gptheme='oled'] {
	.hljs {
		color: #aaaaaa !important;
		background: #000000 !important;
	}

	.hljs-strong,
	.hljs-emphasis {
		color: #a8a8a2 !important;
	}

	.hljs-bullet,
	.hljs-quote,
	.hljs-number,
	.hljs-regexp,
	.hljs-literal {
		color: #ff55ff !important;
	}

	.hljs-code .hljs-selector-class {
		color: #aaaaff !important;
	}

	.hljs-emphasis,
	.hljs-stronge,
	.hljs-type {
		font-style: italic;
	}

	.hljs-keyword,
	.hljs-selector-tag,
	.hljs-function,
	.hljs-section,
	.hljs-symbol,
	.hljs-name {
		color: #ffff55 !important;
	}

	.hljs-subst,
	.hljs-tag,
	.hljs-title {
		color: #aaaaaa !important;
	}

	.hljs-attribute {
		color: #ff5555 !important;
	}

	.hljs-variable,
	.hljs-params,
	.hljs-title.class_,
	.hljs-class .hljs-title {
		color: #8888ff !important;
	}

	.hljs-string,
	.hljs-selector-id,
	.hljs-selector-attr,
	.hljs-selector-pseudo,
	.hljs-type,
	.hljs-built_in,
	.hljs-template-tag,
	.hljs-template-variable,
	.hljs-addition,
	.hljs-link {
		color: #ff55ff !important;
	}

	.hljs-comment,
	.hljs-meta,
	.hljs-deletion {
		color: #55ffff !important;
	}
}
