:root {
  --f-fm: "Inter", sans-serif;
  --border-radius-msg: 2.2rem;
  --border-radius-btn: 12px;
  --border-radius-nav-a: var(--border-radius-btn);
  --border-radius-btn-big: 1.2rem;
  --border-radius-dialog: 2.5rem;
  --border-radius-contextmenu: 20px;
  --border-radius-pre: 20px;
  --border-radius-tooltips: 1rem;
  --p-contextmenu: 10px;
  --p-contextmenu-item: .9rem 1rem;
  --p-msg: 20px;
  --p-textarea: 10px;
  --p-tooltips: 8px;
  --p-btn: 10px;
  --py-btn: 1rem;
  --px-btn: 1rem;
  --p-sidebar-nav: .5rem;
  --py-sidebar-nav-a-new-chat: 2rem;
  --p-sidebar-nav-a: .6rem;
  --p-dialog: 2rem;
  --mt-chat-txt: .5rem;
  --mb-chat-txt: 1rem;
  --mb-msg: 2rem;
  --mb-sidebar-nav-li: .2rem;
  --my-pre: 1.5rem;
  --blur-sticky: 20px;
  --blur-modal: 8px;
  --min-w: 5.5rem;
}

html.light {
  --accent-h: 250;
  --accent-s: 99%;
  --accent-l: 65%;
  --accent-hsl: var(--accent-h) var(--accent-s) var(--accent-l);
  --txt-h: 0;
  --txt-s: 0%;
  --txt-l: 0%;
  --txt-hsl: var(--txt-h) var(--txt-s) var(--txt-l);
  --surface-h: 0;
  --surface-s: 0%;
  --surface-l: 85%;
  --surface-hsl: hsl(var(--surface-h) var(--surface-s) var(--surface-l));
  --c-accent: hsl(var(--accent-hsl));
  --c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) / 2), calc(var(--accent-l) * 1.3));
  --c-on-accent: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) * 1.5));
  --c-txt: hsl(var(--txt-hsl));
  --c-subtext-1: hsla(0, 0%, calc(var(--txt-hsl-l) / 1.5));
  --c-subtext-2: #666;
  --c-surface-1: hsl(0, 0%, var(--surface-l));
  --c-surface-2: hsl(0, 0%, calc(var(--surface-l) / 1.089));
  --c-surface-3: hsl(0, 0%, calc(var(--surface-l) / 1.18));
  --c-bg-sidebar: var(--c-surface-1);
  --c-bg-chats-container: hsl(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.025));
  --c-bg-msg-user: hsla(var(--accent-hsl) / .08);
  --c-bg-msg-gpt: #d6d6d6;
  --c-bg-chats-sticky: hsla(var(--accent-hsl) / .02);
  --c-bg-textarea: hsla(0, 0%, calc(var(--surface-l) / 1.05));
  --c-border-textarea: var(--c-bg-textarea);
  --c-placeholder-textarea: hsla(var(--txt-hsl) / .6);
  --c-svg: #4e5066;
  --c-svg-accent: #f2f2f2;
  --c-bg-modal: hsla(var(--txt-hsl) / .3);
  --c-bg-dialog: var(--c-surface-2);
  --c-bg-contextmenu: var(--c-surface-3);
  --c-bg-tooltip: var(--c-accent-light);
  --c-msg-name-user: var(--c-accent);
  --c-border: hsla(var(--txt-hsl) / .05);
  --c-border-accent: hsla(var(--accent-hsl) / .1);
  --c-btn: var(--c-on-accent);
  --c-btn-danger: #ad3854;
  --c-bg-btn: var(--c-accent);
  --c-bg-pre: #000;
  --c-bg-pre-header: transparent;
  --c-bg-pre-header-btn: #ffffff1a;
  --c-markdown-a: var(--c-accent);
  --box-shadow: 0px 0px 100px 0px hsla(var(--accent-hsl) / .1);
  --box-shadow-contextmenu: 0px 0px 5px -2px #0000002e;
  --surface-primary: var(--c-surface-1) !important;
  --surface-secondary: transparent !important;
  --surface-tertiary: var(--c-bg-msg-gpt) !important;
  --text-primary: var(--c-txt) !important;
  --text-primary: var(--c-txt) !important;
  --text-secondary: var(--c-subtext-1) !important;
  --text-tertiary: var(--c-subtext-2) !important;
  --gray-300: var(--text-secondary) !important;
  --gray-500: var(--c-txt) !important;
}

html.dark {
  --accent-h: 272;
  --accent-s: 93%;
  --accent-l: 78%;
  --accent-hsl: var(--accent-h) var(--accent-s) var(--accent-l);
  --txt-h: 255;
  --txt-s: 86%;
  --txt-l: 92%;
  --txt-hsl: var(--txt-h) var(--txt-s) var(--txt-l);
  --surface-h: 249;
  --surface-s: 19%;
  --surface-l: 13%;
  --surface-hsl: hsl(var(--accent-h) var(--surface-s) var(--surface-l));
  --c-accent: hsl(var(--accent-hsl));
  --c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) / 1.3), var(--accent-l));
  --c-on-accent: hsl(var(--accent-h), var(--accent-s), 10%);
  --c-txt: hsl(var(--txt-hsl));
  --c-subtext-1: var(--c-accent-light);
  --c-surface-1: hsl(var(--accent-h), var(--surface-s), var(--surface-l));
  --c-surface-2: hsl(var(--accent-h), var(--surface-s), calc(var(--surface-l) * 1.5));
  --c-surface-3: hsl(var(--accent-h), var(--surface-s), calc(var(--surface-l) * 2));
  --c-bg-sidebar: var(--c-surface-1);
  --c-bg-chats-container: hsl(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.076));
  --c-bg-msg-user: hsla(var(--accent-hsl) / .04);
  --c-bg-msg-gpt: hsla(var(--accent-hsl) / .08);
  --c-bg-chats-sticky: hsla(var(--surface-hsl) / .02);
  --c-bg-textarea: var(--c-surface-2);
  --c-border-textarea: var(--c-surface-2);
  --c-placeholder-textarea: hsl(var(--accent-hsl) / .8);
  --c-svg: #4e5066;
  --c-svg-accent: #f2f2f2;
  --c-bg-modal: hsla(var(--accent-hsl) / .22);
  --c-bg-dialog: var(--c-surface-2);
  --c-bg-contextmenu: var(--c-surface-3);
  --c-bg-tooltip: var(--c-accent-light);
  --c-msg-name-user: var(--c-accent);
  --c-border: var(--c-surface-3);
  --c-border-accent: hsla(var(--accent-hsl) / .05);
  --c-btn: var(--c-on-accent);
  --c-btn-danger: #f19399;
  --c-bg-btn: var(--c-accent);
  --c-bg-pre: #000;
  --c-bg-pre-header: transparent;
  --c-bg-pre-header-btn: #ffffff1a;
  --c-markdown-a: var(--c-accent);
  --box-shadow: 0px 0px 100px 0px hsla(var(--accent-hsl) / .1);
  --box-shadow-contextmenu: 0px 0px 30px -10px hsla(var(--accent-hsl) / .18);
  --c-subtext-2: hsl(var(--accent-h) calc(var(--accent-s) / 2) var(--accent-l)) !important;
  --surface-primary: var(--c-surface-1) !important;
  --surface-secondary: transparent !important;
  --surface-tertiary: var(--c-bg-msg-gpt) !important;
  --text-primary: var(--c-txt) !important;
  --text-secondary: var(--c-subtext-0) !important;
  --text-tertiary: var(--c-subtext-1) !important;
  --gray-300: var(--text-secondary) !important;
  --gray-500: var(--c-txt) !important;
}

html, body {
  --text-primary: var(--c-txt) !important;
  color: var(--c-txt) !important;
  background-color: var(--c-bg-chats-container) !important;
  font-family: var(--f-fm) !important;
}

::selection {
  background-color: hsla(var(--accent-hsl) / .5) !important;
  color: var(--c-txt) !important;
}

button {
  --text-primary: var(--c-txt) !important;
}

input::placeholder, textarea::placeholder {
  color: var(--c-placeholder) !important;
  opacity: .6 !important;
}

.text-gizmo-gray-500, .text-gray-500 {
  color: var(--c-subtext-1) !important;
}

.text-gray-400 {
  color: var(--c-subtext-2) !important;
}

.text-red-500 {
  color: var(--c-btn-danger) !important;
}

.bg-gray-900, .bg-white {
  background-color: var(--c-surface-1) !important;
}

[class*="dark:bg-gray-800"] {
  background-color: var(--c-bg-chats-container) !important;
}

[class*="bg-green-600"] {
  background-color: var(--c-accent) !important;
  color: var(--c-on-accent) !important;
}

.border-gray-100 {
  border-color: var(--c-surface-1) !important;
}

html.dark [class*=":border-white/10"] {
  border-color: var(--c-border-accent) !important;
}

html.light [class*=":border-white/10"] {
  border-color: var(--c-border) !important;
}

.h-px {
  display: none !important;
}

[role="separator"] {
  border-color: var(--c-border) !important;
}

[role="menu"] {
  transition: all .3s ease-in-out;
  background-color: var(--c-bg-contextmenu) !important;
  border-radius: var(--border-radius-contextmenu) !important;
  padding: var(--p-contextmenu) !important;
  box-shadow: var(--box-shadow-contextmenu) !important;
  border: none !important;
}

[role="menu"] [role="menuitem"] {
  transition: all .3s ease-in-out;
  padding: var(--p-contextmenu-item) !important;
  border-radius: var(--border-radius-btn) !important;
}

[role="menu"] [role="menuitem"]:is(:hover, :focus) {
  background-color: var(--c-surface-2) !important;
}

[role="menu"] nav {
  padding: 0 !important;
}

[role="menu"]:has(a[href="https://openai.com/policies"]) a:first-child span {
  font-weight: bold;
  color: var(--c-accent) !important;
}

[data-radix-popper-content-wrapper] .absolute.right-11 {
  --svg-w: 24px;
  --gap-from-svg: 20px;
  right: calc(var(--p-contextmenu)  + var(--svg-w)  + var(--gap-from-svg)) !important;
}

div[data-radix-popper-content-wrapper]:not(div[data-radix-popper-content-wrapper]:has(div[role="menu"])) .bg-white {
  background-color: var(--c-bg-contextmenu) !important;
  padding: var(--p-contextmenu) !important;
  border-radius: var(--border-radius-contextmenu) !important;
  box-shadow: var(--box-shadow-contextmenu) !important;
}

div[data-radix-popper-content-wrapper]:not(div[data-radix-popper-content-wrapper]:has(div[role="menu"])) [data-radix-collection-item] {
  border-radius: var(--border-radius-btn);
  margin-bottom: 4px;
  padding: var(--p-contextmenu-item) !important;
  height: auto !important;
}

div[data-radix-popper-content-wrapper]:not(div[data-radix-popper-content-wrapper]:has(div[role="menu"])) [data-radix-collection-item][data-state="unchecked"]:hover {
  background-color: var(--c-surface-2) !important;
}

div[data-radix-popper-content-wrapper]:not(div[data-radix-popper-content-wrapper]:has(div[role="menu"])) [data-state="checked"] {
  background-color: var(--c-bg-btn) !important;
  color: var(--c-on-accent) !important;
}

.bg-black:has(nav[aria-label="Chat history"]) {
  --surface-primary: var(--c-surface-2) !important;
  color: var(--c-txt) !important;
  background-color: var(--c-bg-sidebar) !important;
}

.bg-black:has(nav[aria-label="Chat history"]) nav a > * {
  color: var(--c-txt) !important;
}

.bg-black:has(nav[aria-label="Chat history"]) .absolute.left-0.top-0.overflow-hidden {
  overflow-y: scroll;
  background-color: var(--c-bg-sidebar) !important;
  min-height: 50vh !important;
}

.bg-black:has(nav[aria-label="Chat history"]) .absolute.left-0.top-0.overflow-hidden .bg-gradient-to-t {
  opacity: 0;
}

nav[aria-label="Chat history"] {
  padding: var(--p-sidebar-nav) !important;
}

nav[aria-label="Chat history"] .sticky.bg-black:has(a[href="/"]) {
  background-color: var(--c-bg-sidebar);
  margin-bottom: 1rem;
}

nav[aria-label="Chat history"] .overflow-y-auto {
  padding-left: .3rem !important;
}

nav[aria-label="Chat history"] div:has( > h3[class*=":bg-black"]) {
  margin-bottom: .3rem;
}

nav[aria-label="Chat history"] h3[class*=":bg-black"] {
  text-transform: uppercase;
  border-radius: 100vw;
  font-weight: bold;
  color: var(--c-accent) !important;
  background-color: hsl(var(--accent-hsl) / .2) !important;
  height: auto !important;
  padding: .5rem 1rem !important;
  line-height: 1 !important;
  display: inline-block !important;
}

nav[aria-label="Chat history"] a {
  transition: background-color .3s ease-in-out;
  color: var(--c-txt) !important;
  padding: var(--p-sidebar-nav-a) !important;
  font-family: var(--f-fm) !important;
  border-radius: var(--border-radius-nav-a) !important;
}

nav[aria-label="Chat history"] a[href="/"] {
  border: 2px solid var(--c-surface-2);
  text-transform: uppercase;
  padding: var(--py-sidebar-nav-a-new-chat) !important;
}

nav[aria-label="Chat history"] a span.bg-black {
  background-color: var(--c-accent) !important;
  border-color: #0000 !important;
}

nav[aria-label="Chat history"] a span.bg-black > svg {
  color: var(--c-on-accent) !important;
}

nav[aria-label="Chat history"] li {
  margin-bottom: var(--mb-sidebar-nav-li) !important;
}

nav[aria-label="Chat history"] li .group a[href^="/c/"].bg-token-surface-primary {
  background-color: var(--c-surface-2) !important;
}

nav[aria-label="Chat history"] li .group a[href^="/c/"].bg-token-surface-primary .bg-gradient-to-l {
  opacity: 1 !important;
}

nav[aria-label="Chat history"] li .group a[href^="/c/"] .bg-gradient-to-l {
  --surface-primary: var(--c-surface-2) !important;
  --tw-gradient-from: var(--surface-primary) var(--tw-gradient-from-position) !important;
  color: var(--c-accent) !important;
  opacity: 0 !important;
}

nav[aria-label="Chat history"] li .group button[class*=":text-token-text-secondary"] {
  --text-secondary: var(--c-txt) !important;
}

nav[aria-label="Chat history"] li .group button[class*=":text-token-text-secondary"] svg {
  transition: color .2s ease-in-out, transform .2s ease-in-out;
}

nav[aria-label="Chat history"] li .group button[class*=":text-token-text-secondary"]:is(:hover, :focus, [data-state="open"]) svg {
  transform: scale(1.1);
}

nav[aria-label="Chat history"] li .group .bg-token-surface-tertiary {
  padding: var(--p-sidebar-nav-a) !important;
  color: var(--c-txt) !important;
  background-color: var(--c-surface-3) !important;
  border: 1px solid var(--c-border) !important;
  border-radius: var(--border-radius-nav-a) !important;
  left: 0 !important;
  right: 0 !important;
}

nav[aria-label="Chat history"] li .group .bg-token-surface-tertiary input {
  caret-color: var(--c-accent);
  --tw-ring-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

nav[aria-label="Chat history"] .group[data-headlessui-state] button[aria-haspopup="true"] {
  border-radius: var(--border-radius-nav-a);
  margin-top: 1rem;
}

nav[aria-label="Chat history"] .group[data-headlessui-state] button[aria-haspopup="true"] .font-semibold {
  color: var(--c-txt) !important;
}

nav[aria-label="Chat history"] .group[data-headlessui-state] [role="menu"] [role="menuitem"]:last-child, nav[aria-label="Chat history"] .group[data-headlessui-state] [role="menu"] [role="menuitem"]:last-child svg {
  color: var(--c-btn-danger) !important;
}

nav[aria-label="Chat history"] .rounded-lg {
  border-radius: var(--border-radius-nav-a) !important;
}

main [role="presentation"] {
  background-color: var(--c-bg-chats-container) !important;
}

main [data-message-author-role="user"], main [data-message-author-role="assistant"] {
  margin-top: var(--mt-chat-txt) !important;
  margin-bottom: var(--mb-chat-txt) !important;
}

main [data-message-author-role="user"] .markdown, main [data-message-author-role="assistant"] .markdown {
  color: var(--c-txt) !important;
}

main [data-testid^="conversation-turn-"] {
  margin-bottom: var(--mb-msg) !important;
}

main [data-testid^="conversation-turn-"] .group {
  letter-spacing: .3px;
  padding: calc(var(--p-msg) * 1.3) var(--p-msg) var(--p-msg) var(--p-msg) !important;
  border-radius: var(--border-radius-msg) !important;
  line-height: 1.8 !important;
}

main [data-testid^="conversation-turn-"] .group div[class*="lg:w-[calc(100%-115px)]"] {
  --gap-3: .75rem;
  --svg-w: 1.5rem;
  margin-right: calc(var(--gap-3)  + var(--svg-w)) !important;
  flex-grow: 1 !important;
}

main [data-testid^="conversation-turn-"] .group .bg-gray-100, main [data-testid^="conversation-turn-"] .group [class*=":bg-gray-700"] {
  border: 1px solid var(--c-border);
  border-radius: var(--border-radius-contextmenu);
  color: var(--c-subtext-2) !important;
  background-color: #0000 !important;
}

main [data-testid^="conversation-turn-"] .group .bg-gray-100 button[title], main [data-testid^="conversation-turn-"] .group [class*=":bg-gray-700"] button[title] {
  border: 1px solid #0000;
  transition: transform .2s ease-in-out;
  border-radius: var(--border-radius-btn) !important;
}

main [data-testid^="conversation-turn-"] .group .bg-gray-100 button[title] span, main [data-testid^="conversation-turn-"] .group [class*=":bg-gray-700"] button[title] span {
  color: var(--c-subtext-2) !important;
}

main [data-testid^="conversation-turn-"] .group .bg-gray-100 button[title]:hover, main [data-testid^="conversation-turn-"] .group [class*=":bg-gray-700"] button[title]:hover {
  transform: translateY(-4%);
  border-color: var(--c-border) !important;
  background-color: #0000 !important;
}

main [data-testid^="conversation-turn-"] .group .bg-gray-100 button[title]:hover span, main [data-testid^="conversation-turn-"] .group [class*=":bg-gray-700"] button[title]:hover span {
  color: var(--avatar-color) !important;
}

main [data-testid^="conversation-turn-"] .font-semibold.select-none {
  text-transform: uppercase;
}

main [data-testid^="conversation-turn-"] .gizmo-shadow-stroke div {
  color: var(--c-on-accent) !important;
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="user"]) .group {
  background-color: var(--c-bg-msg-user);
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="user"]) .group .font-semibold.select-none {
  color: var(--c-msg-name-user);
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="user"]) button svg {
  color: var(--c-msg-name-user);
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="assistant"]) .group {
  background-color: var(--c-bg-msg-gpt);
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="assistant"]) .group svg[role="img"] {
  color: var(--c-surface-1) !important;
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="assistant"]) .group .font-semibold.select-none {
  color: var(--avatar-color);
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="assistant"]) button svg {
  color: var(--avatar-color);
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="assistant"]) .markdown a {
  color: var(--avatar-color) !important;
}

main [data-testid^="conversation-turn-"]:has([data-message-author-role="assistant"]) .markdown a:hover {
  text-decoration-line: underline;
}

main [data-testid^="conversation-turn-"] pre {
  border-radius: var(--border-radius-pre) !important;
  margin: var(--my-pre) auto !important;
}

main [data-testid^="conversation-turn-"] pre > .bg-black {
  background-color: var(--c-bg-pre) !important;
}

main [data-testid^="conversation-turn-"] pre .bg-black > div:has( > span) {
  background-color: var(--c-bg-pre-header) !important;
}

main [data-testid^="conversation-turn-"] pre .bg-black > div:has( > span) > span {
  color: var(--c-accent-light) !important;
}

main [data-testid^="conversation-turn-"] pre .bg-black > div:has( > span) button:has(svg) {
  background-color: var(--c-bg-pre-header-btn);
  padding: var(--p-btn);
  border-radius: 10px;
  color: var(--c-accent-light) !important;
}

main [data-testid^="conversation-turn-"] pre .bg-black > div:has( > span) button:has(svg) svg {
  color: var(--c-accent-light) !important;
}

main form .grow .gap-2 {
  gap: .8rem !important;
}

main form .grow .btn, main form .grow button[role="combobox"] {
  overflow: hidden;
  background-color: var(--c-surface-2) !important;
  color: var(--c-txt) !important;
  border-radius: var(--border-radius-btn-big) !important;
  padding: 1.5rem !important;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 {
  overflow: hidden;
  background-color: var(--c-surface-2) !important;
  color: var(--c-txt) !important;
  border-radius: var(--border-radius-btn-big) !important;
  padding: 1.5rem !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 {
  overflow: hidden;
  background-color: var(--c-surface-2) !important;
  color: var(--c-txt) !important;
  border-radius: var(--border-radius-btn-big) !important;
  padding: 1.5rem !important;
}

main form .grow .btn .bg-gradient-to-l, main form .grow button[role="combobox"] .bg-gradient-to-l {
  --tw-gradient-from: var(--c-surface-3) var(--tw-gradient-from-position);
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 .bg-gradient-to-l {
  --tw-gradient-from: var(--c-surface-3) var(--tw-gradient-from-position);
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 .bg-gradient-to-l {
  --tw-gradient-from: var(--c-surface-3) var(--tw-gradient-from-position);
}

main form .grow .btn .bg-gradient-to-l .bg-token-surface-primary, main form .grow button[role="combobox"] .bg-gradient-to-l .bg-token-surface-primary {
  --surface-secondary: var(--c-surface-2) !important;
  background-color: var(--c-accent) !important;
  border-radius: 100vw !important;
  padding: .5rem !important;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 .bg-gradient-to-l .bg-token-surface-primary {
  --surface-secondary: var(--c-surface-2) !important;
  background-color: var(--c-accent) !important;
  border-radius: 100vw !important;
  padding: .5rem !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 .bg-gradient-to-l .bg-token-surface-primary {
  --surface-secondary: var(--c-surface-2) !important;
  background-color: var(--c-accent) !important;
  border-radius: 100vw !important;
  padding: .5rem !important;
}

main form .grow .btn .bg-gradient-to-l .bg-token-surface-primary svg, main form .grow button[role="combobox"] .bg-gradient-to-l .bg-token-surface-primary svg {
  color: var(--c-on-accent) !important;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 .bg-gradient-to-l .bg-token-surface-primary svg {
  color: var(--c-on-accent) !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 .bg-gradient-to-l .bg-token-surface-primary svg {
  color: var(--c-on-accent) !important;
}

main .sticky {
  background-color: var(--c-bg-chats-sticky) !important;
  -webkit-backdrop-filter: blur(var(--blur-sticky)) !important;
  backdrop-filter: blur(var(--blur-sticky)) !important;
}

main .sticky [aria-haspopup="menu"]:hover, main .sticky [aria-haspopup="menu"][data-state="open"] {
  background-color: var(--c-surface-1) !important;
}

main .sticky .btn, main .sticky button[role="combobox"] {
  border-radius: 100vw !important;
}

main .sticky [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 {
  border-radius: 100vw !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .sticky .bg-green-600 {
  border-radius: 100vw !important;
}

main .sticky .btn svg, main .sticky button[role="combobox"] svg {
  color: var(--c-on-accent) !important;
}

main .sticky [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 svg {
  color: var(--c-on-accent) !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .sticky .bg-green-600 svg {
  color: var(--c-on-accent) !important;
}

main form .overflow-hidden:has(textarea#prompt-textarea) {
  border: 3px solid var(--c-border-textarea);
  padding: var(--p-textarea) !important;
  background-color: var(--c-bg-textarea) !important;
  border-radius: var(--border-radius-msg) !important;
}

main form .overflow-hidden:has(textarea#prompt-textarea) textarea::placeholder {
  color: var(--c-placeholder-textarea) !important;
}

main form .overflow-hidden:has(textarea#prompt-textarea) button[data-testid="send-button"] {
  padding: 2px;
  background-color: var(--c-accent) !important;
  color: var(--c-txt) !important;
  border-color: var(--c-accent) !important;
  border-radius: 100vw !important;
  bottom: 1.2rem !important;
  right: 1.3rem !important;
}

main form .overflow-hidden:has(textarea#prompt-textarea) button[data-testid="send-button"][disabled] {
  opacity: .5 !important;
}

main form .overflow-hidden:has(textarea#prompt-textarea) button[data-testid="send-button"] svg {
  color: var(--c-on-accent) !important;
}

main div[role="presentation"] div.w-full:has(form) {
  margin-top: .5rem !important;
}

main div.flex.w-full.items-center > div {
  box-shadow: none;
  border: none;
}

.absolute.inset-0 .fixed.inset-0 {
  background-color: var(--c-bg-modal) !important;
  -webkit-backdrop-filter: blur(var(--blur-modal)) !important;
  backdrop-filter: blur(var(--blur-modal)) !important;
}

[role="dialog"] {
  box-shadow: var(--box-shadow);
  padding: var(--p-dialog) !important;
  background-color: var(--c-bg-dialog) !important;
  border-radius: var(--border-radius-dialog) !important;
}

[role="dialog"] .border-token-border-light, [role="dialog"] .border-white, [role="dialog"] .border-black {
  border-color: #0000 !important;
}

[role="dialog"] [role="tablist"][aria-orientation="horizontal"].bg-gray-100 {
  background-color: var(--c-surface-3) !important;
  border-radius: var(--border-radius-btn) !important;
}

[role="dialog"] [role="tablist"][aria-orientation="horizontal"].bg-gray-100 button[data-state="active"] {
  background-color: var(--c-surface-2) !important;
}

[role="dialog"] h2[as="h3"] {
  text-transform: uppercase;
}

[role="dialog"] .text-gizmo-gray-500 {
  text-align: center;
  margin-top: 1rem;
}

[role="dialog"] .bg-token-surface-primary {
  --surface-primary: transparent !important;
}

[role="dialog"]:has(a[href="https://openai.com/enterprise"]) {
  width: max-content;
  padding: 0 !important;
}

:is([role="dialog"]:has(a[href="https://openai.com/enterprise"]) .bg-white, [role="dialog"]:has(a[href="https://openai.com/enterprise"]) .bg-gray-900) {
  background-color: var(--c-surface-2) !important;
}

[role="dialog"]:has(a[href="https://openai.com/enterprise"]) .rounded-md {
  border-radius: var(--border-radius-msg) !important;
}

[role="dialog"]:has(a[href="https://openai.com/enterprise"]) svg[stroke="currentColor"]:has(polyline) {
  stroke: var(--c-accent) !important;
}

[role="dialog"]:has(a[href="https://openai.com/enterprise"]) a[href="https://openai.com/enterprise"] {
  color: var(--c-accent) !important;
}

[role="dialog"] textarea {
  opacity: .7;
  border-radius: var(--border-radius-contextmenu) !important;
  background-color: var(--c-surface-1) !important;
  border-color: #0000 !important;
}

[role="dialog"] textarea#feedback-other {
  padding: 1.5rem;
}

[role="dialog"] textarea:focus {
  opacity: 1;
  border-color: var(--c-surface-3) !important;
}

[role="dialog"]:has(main div[data-radix-aspect-ratio-wrapper]) .w-full.rounded-lg {
  border-radius: var(--border-radius-msg) !important;
  background-color: var(--c-bg-chats-container) !important;
}

[role="dialog"] table {
  border-radius: var(--border-radius-contextmenu);
  padding: var(--p-contextmenu) !important;
}

[role="dialog"] table a {
  color: var(--c-accent) !important;
}

[role="dialog"] table button[aria-label="Delete shared link"] {
  color: var(--c-btn-danger) !important;
}

[role="dialog"] table span[data-state]:has(svg) {
  opacity: .7;
}

[role="dialog"] table span[data-state]:has(svg):hover {
  opacity: 1;
}

[role="dialog"] table .bg-white, [role="dialog"] table .bg-gray-900 {
  background-color: #0000 !important;
}

[role="dialog"] table th, [role="dialog"] table td {
  padding-top: var(--py-btn) !important;
  padding-bottom: var(--py-btn) !important;
}

[role="dialog"] table thead tr {
  border-radius: var(--border-radius-btn) !important;
}

[role="dialog"] table thead th {
  text-transform: uppercase !important;
  color: var(--c-accent) !important;
}

.btn, button[role="combobox"] {
  background-color: var(--c-bg-btn) !important;
  color: var(--c-btn) !important;
  border-radius: var(--border-radius-btn) !important;
  border: none !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 {
  background-color: var(--c-bg-btn) !important;
  color: var(--c-btn) !important;
  border-radius: var(--border-radius-btn) !important;
  border: none !important;
}

.btn:not(.btn-small), button[role="combobox"]:not(.btn-small) {
  padding: var(--p-btn) !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600:not(.btn-small) {
  padding: var(--p-btn) !important;
}

.btn:is(:hover, :active), button[role="combobox"]:is(:hover, :active) {
  opacity: .8;
  transform: translateY(-2px);
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600:is(:hover, :active) {
  opacity: .8;
  transform: translateY(-2px);
}

.btn-danger {
  background-color: var(--c-btn-danger) !important;
  color: var(--c-bg-chats-container) !important;
}

html.light main [role="presentation"] button.absolute.rounded-full {
  background-color: var(--c-txt) !important;
}

html.dark main [role="presentation"] button.absolute.rounded-full {
  background-color: var(--c-accent) !important;
}

main [role="presentation"] button.absolute.rounded-full svg {
  color: var(--c-on-accent) !important;
}

[role="dialog"] .btn:not(.btn:has(svg)):not(button[role="combobox"]:has(svg)) {
  min-width: var(--min-w);
}

[role="dialog"] main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600:not(.btn:has(svg)):not(button[role="combobox"]:has(svg)) {
  min-width: var(--min-w);
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) [role="dialog"] .bg-green-600:not(.btn:has(svg)):not(button[role="combobox"]:has(svg)) {
  min-width: var(--min-w);
}

[role="dialog"] button[role="combobox"]:not(.btn:has(svg)):not(button[role="combobox"]:has(svg)) {
  min-width: var(--min-w);
}

[role="dialog"] .btn-neutral:not(.PopoverContent), [role="dialog"] button[role="combobox"]:not(.PopoverContent) {
  background-color: var(--c-surface-3) !important;
  color: var(--c-txt) !important;
}

[role="tablist"] button {
  border-radius: var(--border-radius-btn) !important;
  padding: var(--p-btn) !important;
}

[role="tablist"] button[data-state="active"], [role="tablist"] button:hover {
  background-color: var(--c-surface-3) !important;
}

button[role="switch"]:has([data-state="checked"]) {
  background-color: var(--c-accent) !important;
}

button[role="switch"]:has([data-state="checked"]) span {
  background-color: var(--c-on-accent) !important;
}

button[role="switch"]:has([data-state="unchecked"]) {
  background-color: var(--c-surface-3) !important;
}

button[role="switch"]:has([data-state="unchecked"]) span {
  background-color: hsla(var(--accent-hsl) / .5) !important;
}

button[role="combobox"] {
  min-width: var(--min-w);
}

html.light div[data-radix-popper-content-wrapper]:has([role="tooltip"]) span {
  color: var(--c-txt) !important;
}

html.dark div[data-radix-popper-content-wrapper]:has([role="tooltip"]) span {
  color: var(--c-on-accent) !important;
}

div[data-radix-popper-content-wrapper]:has([role="tooltip"]) > * {
  border-radius: var(--border-radius-tooltips) !important;
  padding: var(--p-tooltips) !important;
}

div[data-radix-popper-content-wrapper]:has([role="tooltip"]) div {
  background-color: var(--c-bg-tooltip) !important;
  box-shadow: var(--box-shadow-contextmenu) !important;
  -webkit-backdrop-filter: blur(var(--blur-contextmenu)) !important;
  backdrop-filter: blur(var(--blur-contextmenu)) !important;
}

.gizmo-shadow-stroke.h-full:has(svg) {
  color: var(--c-on-accent) !important;
  background-color: var(--c-accent) !important;
}

[role="alert"] {
  background-color: var(--c-accent) !important;
  color: var(--c-on-accent) !important;
  padding: var(--p-btn) !important;
  border-radius: var(--border-radius-btn) !important;
  border: none !important;
}

*, :after, :before {
  --tw-ring-color: hsl(var(--accent-h), calc(var(--accent-s) / 1.5), var(--accent-l)) !important;
  --tw-ring-offset-color: var(--c-bg-dialog) !important;
}

:focus-visible:not(.btn-primary, .btn-danger, .btn-neutral:not([role="combobox"], .bg-token-surface-tertiary input), button[role="combobox"]:not([role="combobox"], .bg-token-surface-tertiary input), textarea#prompt-textarea, [aria-label="Delete shared link"], [class*="text-red-"]) {
  outline: 2.5px solid hsl(var(--accent-h), calc(var(--accent-s) / 1.5), var(--accent-l));
}

:focus-visible:is(.btn-neutral[role="combobox"], button[role="combobox"]) {
  border: none !important;
}

:focus-visible:is([aria-label="Delete shared link"], [class*="text-red-"]) {
  --tw-ring-color: var(--c-btn-danger) !important;
  outline: 2.5px solid var(--c-btn-danger) !important;
}

.btn-danger {
  --tw-ring-color: var(--c-btn-danger) !important;
}

button, li, a, svg, [class*=":hover"], [role="switch"] span[data-state] {
  transition: all .35s ease-in-out;
}

button:not(.btn, button[role="combobox"], [role="tab"], [role="combobox"], [data-testid="send-button"], [class*="[.final-completion]"]) svg:hover {
  scale: 1.12;
}

td:not(:has(a[href^="/share/"])) svg:hover {
  scale: 1.12;
}

[role="switch"]:hover span[data-state] {
  transform: scale(.8);
}

main form .grow .btn, main form .grow button[role="combobox"] {
  transition: all .3s ease-in-out;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 {
  transition: all .3s ease-in-out;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 {
  transition: all .3s ease-in-out;
}

main form .grow .btn .bg-gradient-to-l, main form .grow button[role="combobox"] .bg-gradient-to-l {
  transition: all .3s ease-in-out;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 .bg-gradient-to-l {
  transition: all .3s ease-in-out;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 .bg-gradient-to-l {
  transition: all .3s ease-in-out;
}

main form .grow .btn .bg-gradient-to-l span[data-state], main form .grow button[role="combobox"] .bg-gradient-to-l span[data-state] {
  overflow: hidden;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 .bg-gradient-to-l span[data-state] {
  overflow: hidden;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 .bg-gradient-to-l span[data-state] {
  overflow: hidden;
}

main form .grow .btn .bg-gradient-to-l span[data-state] .bg-token-surface-primary, main form .grow button[role="combobox"] .bg-gradient-to-l span[data-state] .bg-token-surface-primary {
  transition: all .3s ease-in-out;
  translate: 0 100%;
  rotate: 45deg;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600 .bg-gradient-to-l span[data-state] .bg-token-surface-primary {
  transition: all .3s ease-in-out;
  translate: 0 100%;
  rotate: 45deg;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600 .bg-gradient-to-l span[data-state] .bg-token-surface-primary {
  transition: all .3s ease-in-out;
  translate: 0 100%;
  rotate: 45deg;
}

main form .grow .btn:hover, main form .grow button[role="combobox"]:hover {
  background-color: var(--c-surface-3) !important;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600:hover {
  background-color: var(--c-surface-3) !important;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600:hover {
  background-color: var(--c-surface-3) !important;
}

main form .grow .btn:hover .bg-gradient-to-l span[data-state] .bg-token-surface-primary, main form .grow button[role="combobox"]:hover .bg-gradient-to-l span[data-state] .bg-token-surface-primary {
  translate: 0;
  rotate: none;
}

main form .grow [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) .bg-green-600:hover .bg-gradient-to-l span[data-state] .bg-token-surface-primary {
  translate: 0;
  rotate: none;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) form .grow .bg-green-600:hover .bg-gradient-to-l span[data-state] .bg-token-surface-primary {
  translate: 0;
  rotate: none;
}

[data-testid="send-button"]:not([disabled]) {
  transition: all .3s ease-in-out;
}

[data-testid="send-button"]:not([disabled]):hover {
  translate: 0 -10%;
}

main [data-testid^="conversation-turn-"] .group {
  transition: all .3s ease-in-out;
}

main [data-testid^="conversation-turn-"] .group:hover {
  translate: 0 3px;
}

main [data-testid^="conversation-turn-"] .group:hover div[class*="empty:hidden"]:has(button[class*="[.final-completion]"]) .visible {
  translate: 0;
}

main [data-testid^="conversation-turn-"] .group:hover [class*="[.final-completion]"] svg {
  scale: 1;
}

main [data-testid^="conversation-turn-"] .group div[class*="empty:hidden"]:has(button[class*="[.final-completion]"]) {
  overflow: hidden;
}

main [data-testid^="conversation-turn-"] .group div[class*="empty:hidden"]:has(button[class*="[.final-completion]"]) .visible {
  transition: all .3s ease-in-out;
  translate: 0 100%;
}

main [data-testid^="conversation-turn-"] .group [class*="[.final-completion]"] svg {
  scale: 0;
}

main [data-testid^="conversation-turn-"] .group [class*="[.final-completion]"] svg:hover {
  opacity: .8;
  translate: 0 -3px;
}

main [data-testid^="conversation-turn-"] .group pre button:hover {
  translate: 0 3px;
  background-color: var(--c-accent) !important;
  color: var(--c-on-accent) !important;
}

main [data-testid^="conversation-turn-"] .group pre button:hover svg {
  color: var(--c-on-accent) !important;
}

main [role="presentation"] button.absolute.rounded-full:hover {
  opacity: .9;
  translate: 0 10%;
}

[role="dialog"] table a:hover {
  text-decoration: underline;
  translate: 5px;
}

main [role="presentation"] [class*="empty:hidden"]:has( > a[href="/gpts/discovery"]) {
  padding: 1.5rem;
}

/*# sourceMappingURL=index.css.map */
