/* @keyframes animScrollText {
	0% {
		transform: translateX(0);
	}
	70% {
		transform: translateX(-26%);
	}
	100% {
		transform: translateX(0);
	}
} */

/* @keyframes animFadeInClipPathCircle {
	0% {
		opacity: 0;
		clip-path: circle(0%);
		// clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
	}

	100% {
		opacity: 1;
		clip-path: circle(100% at 50% 50%);
		// clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
} */

/* @keyframes animFadeInClipPath {
	0% {
		opacity: 0;
		clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
	}
	100% {
		opacity: 1;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
} */

@keyframes animFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animScaleIn {
    from {
        translate: 0 -2rem;
        scale: 0;
    }

    to {
        translate: 0 0;
        scale: 1;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes gradient-shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@keyframes animShimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}
