// Tailwind CSS breakpoints converted to em units
$xxs: 20em; // px
$xs: 31.25em;// px
$sm: 40em; // 640px
$md: 48em; // 768px
$lg: 64em; // 1024px
$xl: 80em; // 1280px
$xxl: 96em; // 1536px

// $xxs: 320px; // 20em * 16px
// $xs: 500px; // 31.25em * 16px
// $sm: 640px; // 40em * 16px
// $md: 768px; // 48em * 16px
// $lg: 1024px; // 64em * 16px
// $xl: 1280px; // 80em * 16px
// $xxl: 1536px; // 96em * 16px

// Mixins using Tailwind's breakpoints
@mixin dev($bp) {
    @if $bp == 'xxs' {
        @media (max-width: #{$xxs}) {
            @content;
        }
    }

    @if $bp == 'xs' {
        @media (max-width: #{$xs}) {
            @content;
        }
    }

    @if $bp == 'sm' {
        @media (max-width: #{$sm}) {
            @content;
        }
    }

    @if $bp == 'md' {
        @media (max-width: #{$md}) {
            @content;
        }
    }

    @if $bp == 'lg' {
        @media (max-width: #{$lg}) {
            @content;
        }
    }

    @if $bp == 'xl' {
        @media (max-width: #{$xl}) {
            @content;
        }
    }

    @if $bp == 'xxl' {
        @media (min-width: #{$xxl}) {
            @content;
        }
    }
}

@mixin container($bp, $name: main) {
    @if $bp == 'xxs' {
        @container #{$name} (max-width: #{$xxs}) {
            @content;
        }
    }

    @if $bp == 'xs' {
        @container #{$name} (max-width: #{$xs}) {
            @content;
        }
    }

    @if $bp == 'sm' {
        @container #{$name} (max-width: #{$sm}) {
            @content;
        }
    }

    @if $bp == 'md' {
        @container #{$name} (max-width: #{$md}) {
            @content;
        }
    }

    @if $bp == 'lg' {
        @container #{$name} (max-width: #{$lg}) {
            @content;
        }
    }

    @if $bp == 'xl' {
        @container #{$name} (max-width: #{$xl}) {
            @content;
        }
    }

    @if $bp == 'xxl' {
        @container #{$name} (min-width: #{$xxl}) {
            @content;
        }
    }
}