:root {
    /* ! === CUSTOM FONTS === */
    --fontFamilyDefault: ui-sans-serif,
        -apple-system,
        system-ui,
        Segoe UI,
        Roboto,
        Ubuntu,
        Cantarell,
        Noto Sans,
        sans-serif,
        Helvetica,
        Apple Color Emoji,
        Arial,
        Segoe UI Emoji,
        Segoe UI Symbol;
    --fontFamily: var(--fontFamilyDefault);
    --fontSize: inherit;
    --letterSpacing: none;
    --lineHeight: 28;

    /* ! === CUSTOM SCROLLDOWN POSITION === */
    --scrollBtnLeft: unset;
    --scrollBtnRight: 50%;

    /* ! === CUSTOM WIDTH === */
    --w_chat_user: auto;
    --max_w_chat_user: var(--user-chat-width, 70%);
    --w_chat_gpt: 48rem;
    --w_prompt_textarea: 48rem;
    // --chats-container-mode: normal;

    /* ! === TOGGLE BUBBLES BG COLORS === */
    --toggleBgUser: var(--c-bg-msg-user);
    --toggleBgGpt: var(--c-bg-msg-gpt);

    /* ! === CUSTOM CHATBOX HEIGHT === */
    --gpthChatboxHeight: 70svh; // Used when html has class `gpth-chatbox--custom-height`

    /* ! === CUSTOM HIDES === */
    --gpthHideHeader: 0;
    --gpthHideFooter: 0;

    --gpthUserBubbleAccent: 0;
}