:root {
    /* ! === CUSTOM FONTS === */
    --fontFamilyDefault: ui-sans-serif,
        -apple-system,
        system-ui,
        Segoe UI,
        Roboto,
        Ubuntu,
        Cantarell,
        Noto Sans,
        sans-serif,
        Helvetica,
        Apple Color Emoji,
        Arial,
        Segoe UI Emoji,
        Segoe UI Symbol;
    --fontFamily: var(--fontFamilyDefault);
    --fontSize: inherit;
    --letterSpacing: none;
    --lineHeight: 28;

    /* ! === CUSTOM SCROLLDOWN POSITION === */
    --scrollBtnLeft: unset;
    --scrollBtnRight: 50%;

    /* ! === CUSTOM WIDTH === */
    // --max-w-chat-bubble: 48rem;
    --w_chat_user: max-content;
    --max_w_chat_user: 70%; // 70%
    --w_chat_gpt: 49rem;
    // --w_prompt_textarea: var(--w_chat_gpt);
    --w_prompt_textarea: 48rem;

    // --thread-content-max-width: 48rem;

    // [--thread-content-max-width:32rem] @[34rem]:[--thread-content-max-width:40rem] @[64rem]:[--thread-content-max-width:48rem] mx-auto flex max-w-(--thread-content-max-width) flex-1 text-base gap-4 md:gap-5 lg:gap-6 group/turn-messages focus-visible:outline-hidden
}