/* %animFadeInClipPathCircle {
	will-change: opacity, clip-path;
	animation: animFadeInClipPathCircle 0.2s linear forwards;
} */
/* %animFadeInClipPath {
	will-change: opacity, clip-path;
	animation: animFadeInClipPath 0.2s linear forwards;
} */
%animFadeIn {
	will-change: opacity;
	animation: animFadeIn var(--anim-duration, 0.2s) linear forwards;
}

%animScaleIn {
	will-change: opacity, scale;
	animation: animScaleIn var(--anim-duration, 0.2s) ease forwards;
}

/* %animFadeOut {
	will-change: opacity;
	animation: animFade var(--anim-duration, 0.4s) linear reverse;
} */

%sidebar_link_item_btns_bg {
	/* 
        hsla(0, 0%, calc(var(--surface-l) / 1.089), 0.7) 
        - this nice resolve but it doesn't work bcs it is BLACK-ISH, WTF ???? 
    */
	// background-image: linear-gradient(to right, hsla(0, 0%, calc(var(--surface-l) / 1.089), 0.7) 0%, var(--c-surface-2) 30%, var(--c-surface-2) 100%) !important;
	background-color: var(--c-surface-2) !important;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	padding-left: 0.5rem;
}

%gpth_floating_icon {
	background-image: linear-gradient(135deg,
			hsla(var(--accent-hsl) / 0.45) 0%,
			hsla(var(--accent-hsl) / 0.1) 40%,
			hsla(var(--accent-hsl) / 0.05) 60%,
			hsla(var(--accent-hsl) / 0.45) 100%);
	border: 1px solid hsla(var(--accent-hsl) / 0.2);
	backdrop-filter: blur(10px);
}