%sidebar_link_item_btns_bg {
	/* 
        hsla(0, 0%, calc(var(--surface-l) / 1.089), 0.7) 
        - this nice resolve but it doesn't work bcs it is BLACK-ISH, WTF ???? 
    */
	// background-image: linear-gradient(to right, hsla(0, 0%, calc(var(--surface-l) / 1.089), 0.7) 0%, var(--c-surface-2) 30%, var(--c-surface-2) 100%) !important;
	background-color: var(--c-surface-2) !important;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	padding-left: 0.5rem;
}

%will_change_cp {
	will-change: clip-path;
}

%animClipPathCircle {
	will-change: opacity, clip-path;
	animation: animClipPathCircle 0.2s linear forwards;
}
%animClipPathRectFromDown {
	@extend %will_change_cp;
	animation: animClipPathRectFromDown 0.2s linear forwards;
}
%animFadeIn {
	will-change: opacity;
	animation: animFadeIn 0.3s linear forwards;
}
