/* %animFadeInClipPathCircle {
	will-change: opacity, clip-path;
	animation: animFadeInClipPathCircle 0.2s linear forwards;
} */
/* %animFadeInClipPath {
	will-change: opacity, clip-path;
	animation: animFadeInClipPath 0.2s linear forwards;
} */
%animFadeIn {
	will-change: opacity;
	animation: animFadeIn var(--anim-duration, 0.2s) linear forwards;
}

%animScaleIn {
	will-change: opacity, scale;
	animation: animScaleIn var(--anim-duration, 0.2s) ease forwards;
}

/* %animFadeOut {
	will-change: opacity;
	animation: animFade var(--anim-duration, 0.4s) linear reverse;
} */

/* %sidebar_link_item_btns_bg {
	background-color: var(--c-surface-2) !important;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	padding-left: 0.5rem;
} */

%gpth_floating_icon {
	background-image: var(--c-bg-gradient);
	border: 1px solid var(--c-accent-20);
	backdrop-filter: blur(10px);
}

%date-pill {
	background-color: var(--c-accent-20) !important;
	display: inline-block !important;
	color: var(--c-accent) !important;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1 !important;
	border-radius: 50vw;
	padding: 0.3rem 0.6rem !important;
}

%simulator_bg {
	background: linear-gradient(var(--c-simulator-bg, var(--c-surface-2))) !important;
	box-shadow:
		0 0 0 1px var(--c-simulator-border, var(--c-accent-20)),
		inset 0 0 1rem 2rem var(--c-simulator-shadow, var(--c-accent-10));
}

// Reusable placeholders
// %error_style {
// 	@include elStatus("danger");
// }

// %warning_style {
// 	@include elStatus("warning");
// }