:root {
    /* ! === CUSTOM FONTS === */
    --gpthFontFamilyOpenAISans: 'OpenAI Sans'; // Font like on OpenAI's Sora website
    --gpthFontFamilyDefault: ui-sans-serif,
        -apple-system,
        system-ui,
        sans-serif,
        Ubuntu,
        Cantarell,
        "Noto Sans",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji",
        Helvetica,
        Arial;

    // OPENAI DEFAULT: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --gpthFontFamily: var(--gpthFontFamilyDefault);
    --gpthFontSize: inherit;
    --gpthLetterSpacing: none;
    --gpthLineHeight: 28;

    /* ! === CUSTOM SCROLLDOWN POSITION === */
    --scrollBtnLeft: unset;
    --scrollBtnRight: 50%;

    /* ! === CUSTOM WIDTH === */
    --w_chat_user: auto;
    --max_w_chat_user: var(--user-chat-width, 70%);
    --w_chat_gpt: 48rem;
    --w_prompt_textarea: 48rem;
    // --chats-container-mode: normal;


    /* ! === CUSTOM CHATBOX HEIGHT === */
    --gpthChatboxHeight: 70svh; // Used when html has class `gpth-chatbox--custom-height`
}