:root {
	--fsz-error-404: 3rem;

	/* ? --- Widths and Heights --- */
	--min-w-btn: 5.5rem;
	--h-header: 60px;
	--w-scrollbar: 0.365rem;

	/* ? --- Border-radius --- */
	--br: 1rem;
	--br-chat-bubble: calc(var(--br) * 1.9);
	--br-btn: calc(var(--br) / 1.1);
	--br-btn-big: calc(var(--br) * 1.2);
	--br-dialog: calc(var(--br) * 2.5);
	--br-contextmenu: calc(var(--br-btn) * 1.4);
	--br-pre: calc(var(--br) * 1.8);
	--br-tooltips: var(--br-btn);
	--br-scrollbar: 50vw;

	/* ? --- Paddings --- */
	--p-chat-bubble: 1.2rem;
	--p-contextmenu: 0.7rem;
	--p-prompt-textarea: 0.7rem;
	--p-tooltips: 0.2rem;
	--p-btn: 0.7rem;
	--p-dialog: 2rem;
	--p-between-chats: 1rem;

	/* ? --- Margins --- */
	--mb-sidebar-nav-li: 0.2rem;
	--my-pre: 1.5rem;

	/* ? --- Blurs --- */
	--blur-sticky: 20px;
	--blur-modal: 8px;

	/* ? --- Shadow things --- */
	--box-shadow-values: 0px 0px 100px 0px;

	--z-modal: 100;

	--c-bg-gradient: linear-gradient(135deg,
			hsla(var(--accent-hsl) / 0.45) 0%,
			hsla(var(--accent-hsl) / 0.1) 40%,
			hsla(var(--accent-hsl) / 0.05) 60%,
			hsla(var(--accent-hsl) / 0.45) 100%);

	// --c-bg-chats-sticky: linear-gradient(to bottom, hsla(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.025) / 1), transparent);


	/* .bg-token-sidebar-surface-primary
	- sidebar bg
	- nav item bg on hover */
	--sidebar-surface-primary: var(--c-bg-sidebar) !important;

	/* .bg-token-sidebar-surface-secondary
	- GPT's variable in  nav item bg on hover */
	--sidebar-surface-secondary: var(--c-surface-2) !important;

	/* .bg-token-sidebar-surface-tertiary
	- GPT's variable in  nav item bg on hover */
	--sidebar-surface-tertiary: var(--c-surface-3) !important;

	/* 
	- header of tables in "Shared links" and "Archived chats"
	- Arrow btn in new chat big buttons */
	--main-surface-primary: var(--c-surface-2) !important;


	/*
	- markdown header bg */
	--main-surface-secondary: var(--c-surface-2) !important;

	/* 
	- History icon in Canvas when selected */
	--main-surface-secondary-selected: var(--c-surface-3) !important;

	/* ??? */
	--main-surface-tertiary: var(--c-surface-3) !important;

	/* .bg-token-popover-surface-primary  
	- contextmenu in theme dropdown chooser
	- "Upgrade ur plan" dialog bg */
	--popover-surface-primary: var(--c-bg-contextmenu) !important;

	/* .border-token-border-light
	- border oko "Uprade" btn-a
	- border oko inputa u GPTs page
	- border u "Keyboard shortcuts" oko kao tastera */
	--border-light: transparent !important;

	--text-primary: var(--c-txt) !important;
	--text-secondary: var(--c-subtext-1) !important;
	--text-tertiary: var(--c-subtext-2) !important;
	/* 
	- Sidebar collapse btn
	- "ChatGPT 3.5 - Fastest" in 4o menu when hover on it in chat bubbles*/
	--text-quaternary: var(--c-subtext-2) !important;
	--text-error: var(--c-danger) !important;
	--box-shadow-primary: inset 0 -20px 80px -20px #ffffff1f;

	--link: var(--c-accent) !important;
	--tag-blue: var(--c-accent) !important;
	// --tag-blue-light: #0af;
	--hint-text: var(--c-accent) !important;
	--hint-bg: hsla(var(--accent-hsl) / 0.12) !important;

	--surface-hover: hsla(var(--accent-hsl) / 0.12) !important;
	--text-error: var(--c-danger) !important;
	--icon-secondary: var(--c-subtext-2) !important;
	--dot-color: var(--c-txt) !important;

	@include container('md') {
		// --px-chat-bubble-edge-gap: 1vw;
		--p-chat-bubble: .8rem;
		--br-chat-bubble: calc(var(--br) * 1.1);
	}

	@include container('sm') {
		--br-chat-bubble: var(--br) !important;
	}

	@include dev('md') {
		--p-chat-bubble: .8rem;
		--br-chat-bubble: calc(var(--br) * 1.55);
		--p-contextmenu: .5rem;
		--p-prompt-textarea: 0.5rem;
		--p-dialog: 0.3rem;
		--br-dialog: calc(var(--br) * 1.5);
		--p-sidebar-nav: 0.3rem;
	}

	// @include dev('sm') {
	// 	--px-chat-bubble-edge-gap: 0.45rem;
	// }


	// --box-shadow-sticky: 0 10px 40px 5px hsla(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.025) / 0.85);


	// --color-error: #fe8bbb;
	// --color-three: #9e7aff;
	// mask-image: radial-gradient(ellipse at center center, #000, transparent 50%);
}

/* @ ================== LIGHT ================== */
// html.light {
html.light {
	/* ? ========== HSL ========== */
	// --accent-hsl: #6c4756;
	// --accent-hsl: 335 21% 35%;

	// --cl: #7e3e47;
	--accent-h: 335;
	--accent-s: 21%;
	--accent-l: 35%;
	--accent-hsl: var(--accent-h) var(--accent-s) var(--accent-l);

	/* --txt-hsl: 0 0% 0%; */
	--txt-h: 0;
	--txt-s: 0%;
	--txt-l: 0%;
	--txt-hsl: var(--txt-h) var(--txt-s) var(--txt-l);

	--surface-h: var(--accent-h); // Inherit accent hue
	--surface-s: 9%; // Drastically reduced saturation (near-gray)
	--surface-l: 90%; // Base lightness
	--surface-hsl: hsl(var(--surface-h) var(--surface-s) var(--surface-l));

	/* --danger-hsl: 346 51% 45% */
	--danger-h: 354;
	--danger-s: 63%;
	--danger-l: 48%;
	--danger-hsl: var(--danger-h) var(--danger-s) var(--danger-l);
	--c-danger: hsl(var(--danger-hsl));
	--warning-hsl: 27 88% 44%;
	--c-warning: hsl(var(--warning-hsl));

	/* ? ========== COLORS ========== */
	--c-accent: hsl(var(--accent-hsl));
	--c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) * 0.3), 75%);
	--c-on-accent: hsl(var(--accent-h), var(--accent-s), 88%);

	/* ? ========== Text colors ========== */
	--c-txt: hsl(var(--txt-hsl));
	--c-subtext-1: hsl(var(--accent-h), 0%, 20%);
	--c-subtext-2: hsl(var(--accent-h), 0%, 40%);

	/* ? ========== Surface colors ========== */
	--c-surface-1: var(--surface-hsl);
	--c-surface-2: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.945));
	--c-surface-3: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.905));

	/* ? ========== Layout colors ========== */
	--c-bg-sidebar: var(--c-surface-1);
	--c-bg-chats-container: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 1.02));

	/* ? ========== Chat bubbles colors ========== */
	--c-bg-msg-user: hsla(var(--accent-hsl) / 0.08);
	--c-bg-msg-gpt: hsl(var(--surface-h), calc(var(--surface-s) * 1), calc(var(--surface-l) * 0.97));

	/* ? ========== Type message textarea colors ========== */
	--c-bg-textarea: hsla(0, 0%, calc(var(--surface-l) / 1.05));
	--c-border-textarea: var(--c-bg-textarea);
	--c-placeholder-textarea: hsla(var(--txt-hsl) / 0.6);

	/* ? ========== modal, dialog, contextmenu bg ========== */
	--c-bg-modal: hsla(var(--txt-hsl) / 0.3);
	--c-bg-dialog: var(--c-surface-2);
	--c-bg-contextmenu: var(--c-surface-3);
	--c-bg-contextmenu-item: var(--c-surface-2);
	// --c-bg-contextmenu: hsl(0, 0%, calc(var(--surface-l) / 1.1));

	/* ? ========== Tooltip bg ========== */
	--c-bg-tooltip: var(--c-accent-light);

	/* ? ========== border colors ========== */
	--c-border: hsla(var(--txt-hsl) / 0.08);
	--c-border-accent: hsla(var(--accent-hsl) / 0.1);

	/* ========== CodeMirror Editor ========== */
	--c-bg-cm: var(--c-surface-1);

	/* ========== Code block (<pre> bg) ========== */
	--c-bg-pre: var(--c-surface-1);
	// --c-bg-pre: hsla(var(--accent-hsl) / 0.05);


	/* ? ========== <pre>/markdown things colors ========== */
	--c-markdown-a: var(--c-accent);

	/* ? ========== Scrollbar colors ========== */
	--c-scrollbar-thumb: var(--c-surface-3);
	--c-scrollbar-track: transparent;
	// --c-scrollbar-track: var(--c-surface-2);

	/* ? ========== OpenAI surface colors ========== */
	/* btn u biranju teme kad nemaa nikake pozadine */
	--surface-primary: var(--c-surface-1) !important;

	/* border oko context-menu, .bg-token-surface-secondary (za active link u sidebaru)*/
	--surface-secondary: transparent !important;

	/* Selected button/link/list in settings: "General", "Data controls" */
	--surface-tertiary: var(--c-bg-msg-gpt) !important;

	/* ? ========== OpenAI text colors ========== */
	// /*``` --text-primary
	//     - body txt
	//     - ??
	// */
	// --text-primary: var(--c-txt) !important;

	// /*``` --text-secondary
	//     - txt ispod "Upgrade"
	//     - txt ispod "Chat history & training" u Settingsu
	//     - txt "3.5" u sticky pored "ChatGPT 3.5"
	//     - kad je recimo focused sa tabom Dark u "Themes"
	//     - text kad se ode na "Upgrade" pa ono "Have an existing plan? See billing help"
	// */
	// --text-secondary: var(--c-subtext-1) !important;

	// /*``` --text-tertiary
	//     - strelica na dole pored 3.5 u sticky pored ChatGPT 3.5
	//     - kad je nesto focused sa tabom - accessibility - npr Clear u clear all chats
	//     - text u contextmenu kad se klikne na ChatGPT 3.5
	//     - text kad odemo u  UPgrade pa ono USD $0/month i USD $20/month
	// */
	// --text-tertiary: var(--c-subtext-2) !important;

	/* ? ========== PROVERITI - gray ========== */
	--gray-300: var(--text-secondary) !important;

	/* 3 tacke u listi u sidebar */
	--gray-500: var(--c-txt) !important;

	/* ? ========== BOX-SHADOW ==========*/
	--box-shadow: var(--box-shadow-values) hsla(var(--accent-hsl) / 0.1);
	// --box-shadow-contextmenu: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.18);
	--box-shadow-contextmenu: 0px 0px 0px 1px color-mix(in srgb, var(--c-bg-contextmenu), black 1%);
	--box-shadow-textarea: inset 0px 0px 15px 1px hsla(0, 0%, 0%, 0.1) !important;
}

/* @ ================== DARK ================== */
html.dark {
	/* ? ========== HSL ========== */
	// --accent-hsl: #bba4f9;
	// --accent-hsl: hsl(256 100% 83%);

	/* --accent-hsl: 272 93% 78%; */
	--accent-h: 256;
	--accent-s: 100%;
	--accent-l: 83%;
	--accent-hsl: var(--accent-h) var(--accent-s) var(--accent-l);

	/* --txt-hsl: 255 86% 92%; */
	--txt-h: var(--accent-h);
	--txt-s: 86%;
	--txt-l: 94%;
	--txt-hsl: var(--txt-h) var(--txt-s) var(--txt-l);

	--surface-h: 249;
	--surface-s: 19%;
	--surface-l: 13%;
	--surface-hsl: hsl(var(--accent-h) var(--surface-s) var(--surface-l));

	/* --danger-hsl: 356 77% 76% */
	--danger-h: 356;
	--danger-s: 77%;
	--danger-l: 76%;
	--danger-hsl: var(--danger-h) var(--danger-s) var(--danger-l);
	--c-danger: hsl(var(--danger-hsl));
	--warning-hsl: 30 100% 74%;
	--c-warning: hsl(var(--warning-hsl));

	/* ? ========== COLORS ========== */
	--c-accent: hsl(var(--accent-hsl));
	--c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) / 1.3), var(--accent-l));
	--c-on-accent: hsl(var(--accent-h), var(--accent-s), 10%);

	/* ? ========== Text colors ========== */
	--c-txt: hsl(var(--txt-hsl));
	--c-subtext-1: var(--c-accent-light);
	--c-subtext-2: hsl(var(--accent-h) calc(var(--accent-s) / 2) var(--accent-l)) !important;

	/* ? ========== Surface colors ========== */
	--c-surface-1: hsl(var(--accent-h), var(--surface-s), var(--surface-l)); // darkest
	--c-surface-2: hsl(var(--accent-h), var(--surface-s), calc(var(--surface-l) * 1.5)); // darker
	--c-surface-3: hsl(var(--accent-h), var(--surface-s), calc(var(--surface-l) * 2)); // dark

	/* ? ========== Layout colors ========== */
	--c-bg-sidebar: var(--c-surface-1);
	--c-bg-chats-container: hsl(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.076));

	/* ? ========== Chat bubbles colors ========== */
	--c-bg-msg-user: hsla(var(--accent-hsl) / 0.04);
	--c-bg-msg-gpt: hsla(var(--accent-hsl) / 0.08);

	/* ? ========== Type message textarea colors ========== */
	--c-bg-textarea: var(--c-surface-2);
	--c-border-textarea: var(--c-surface-2);
	--c-placeholder-textarea: hsl(var(--accent-hsl) / 0.8);

	/* ? ========== modal, dialog, contextmenu bg ========== */
	--c-bg-modal: hsla(var(--accent-hsl) / 0.22);
	--c-bg-dialog: var(--c-surface-2);
	--c-bg-contextmenu: var(--c-surface-3);
	--c-bg-contextmenu-item: var(--c-surface-2);

	/* ? ========== Tooltip bg ========== */
	--c-bg-tooltip: var(--c-accent-light);

	/* ? ========== border colors ========== */
	--c-border: hsla(var(--txt-hsl) / 0.08);
	--c-border-accent: hsla(var(--accent-hsl) / 0.05);

	/* ? ========== <pre>/markdown things colors ========== */
	--c-bg-pre: hsla(var(--accent-h) var(--surface-s) var(--surface-l) / 0.8);
	--c-markdown-a: var(--c-accent);

	/* ========== CodeMirror Editor ========== */
	// --c-bg-cm: var(--c-bg-pre); // surface-1
	--c-bg-cm: var(--c-surface-1); // surface-1

	/* ? ========== Scrollbar colors ========== */
	--c-scrollbar-thumb: var(--c-surface-3);
	--c-scrollbar-track: transparent;
	// --c-scrollbar-track: var(--c-surface-2);

	/* ? ========== OpenAI surface colors ========== */
	/* btn u biranju teme kad nema nikake pozadine */
	--surface-primary: var(--c-surface-1) !important;

	/* border oko context-menu */
	--surface-secondary: transparent !important;

	/* Selected button/link/list in settings: "General", "Data controls" */
	--surface-tertiary: var(--c-bg-msg-gpt) !important;

	// /* ? ========== OpenAI text colors ========== */
	// /*``` --text-primary
	//     - body txt
	//     - ??
	// */
	// --text-primary: var(--c-txt) !important;

	// /*``` --text-secondary
	//     - txt ispod "Upgrade"
	//     - txt ispod "Chat history & training" u Settingsu
	//     - txt "3.5" u sticky pored "ChatGPT 3.5"
	//     - kad je recimo focused sa tabom Dark u "Themes"
	//     - text kad se ode na "Upgrade" pa ono "Have an existing plan? See billing help"
	// */
	// --text-secondary: var(--c-subtext-1) !important;

	// /*``` --text-tertiary
	//     - strelica na dole pored 3.5 u sticky pored ChatGPT 3.5
	//     - kad je nesto focused sa tabom - accessibility - npr Clear u clear all chats
	//     - text u contextmenu kad se klikne na ChatGPT 3.5
	//     - text kad odemo u  UPgrade pa ono USD $0/month i USD $20/month
	// */
	// --text-tertiary: var(--c-subtext-2) !important;

	/* ? ========== PROVERITI - gray ========== */
	--gray-300: var(--text-secondary) !important;

	/* 3 tacke u listi u sidebar */
	--gray-500: var(--c-txt) !important;

	/* ? ========== BOX-SHADOW ==========*/
	--box-shadow: var(--box-shadow-values) hsla(var(--accent-hsl) / 0.1);
	// --box-shadow-contextmenu: 0px 0px 30px -10px hsla(var(--accent-hsl) / 0.18);
	--box-shadow-contextmenu: inset 0px 0px 12px 1px hsla(var(--accent-hsl) / 0.13);
	--box-shadow-textarea: inset 0px 0px 15px 1px hsla(var(--accent-hsl) / 0.05) !important;

	/* sidebar collapse btn;"ChatGPT 3.5 - Fastest" in 4o menu when hover on it in chat bubbles */
	--text-quaternary: var(--c-subtext-2) !important;
}

/* @ ================== OLED ================== */
html.dark[data-gptheme='oled'] {
	/* ? ========== HSL ========== */

	/* --accent-hsl: 272 93% 78%; */
	/* 	--accent-h: 272;
	--accent-s: 93%;
	--accent-l: 78%;
	--accent-hsl: var(--accent-h) var(--accent-s) var(--accent-l); */

	/* --txt-hsl: 255 86% 92%; */
	/* 	--txt-h: var(--accent-h);
	--txt-s: 86%;
	--txt-l: 94%;
	--txt-hsl: var(--txt-h) var(--txt-s) var(--txt-l); */

	--surface-h: 0;
	--surface-s: 0%;
	--surface-l: 0%;
	--surface-hsl: hsl(var(--accent-h) var(--surface-s) var(--surface-l));

	/* --danger-hsl: 356 77% 76% */
	--danger-h: 356;
	--danger-s: 77%;
	--danger-l: 76%;
	--danger-hsl: var(--danger-h) var(--danger-s) var(--danger-l);
	--c-danger: hsl(var(--danger-hsl));

	/* ? ========== COLORS ========== */
	--c-accent: hsl(var(--accent-hsl));
	--c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) / 1.3), var(--accent-l));
	--c-on-accent: hsl(var(--accent-h), var(--accent-s), 10%);

	/* ? ========== Text colors ========== */
	--c-txt: hsl(var(--txt-hsl));
	--c-subtext-1: var(--c-accent-light);
	--c-subtext-2: hsl(var(--accent-h) calc(var(--accent-s) / 2) var(--accent-l)) !important;

	/* ? ========== Surface colors ========== */
	--c-surface-1: black; // darkest
	--c-surface-2: hsl(var(--accent-h), calc(var(--surface-s) + 15%), calc(var(--surface-l) + 12%)); // darker
	--c-surface-3: hsl(var(--accent-h), calc(var(--surface-s) + 15%), calc(var(--surface-l) + 8%)); // dark

	/* ? ========== Layout colors ========== */
	// --c-bg-sidebar: var(--c-surface-1);
	// --c-bg-chats-container: var(--c-surface-2);
	--c-bg-sidebar: black;
	--c-bg-chats-container: black;
	// --c-bg-chats-sticky: rgba(0, 0, 0, 0.02);

	/* ? ========== Chat bubbles colors ========== */
	--c-bg-msg-user: hsl(var(--accent-h), calc(var(--surface-s) + 15%), calc(var(--surface-l) + 4%));
	--c-bg-msg-gpt: hsl(var(--accent-h), calc(var(--surface-s) + 20%), calc(var(--surface-l) + 6%));

	/* ? ========== Type message textarea colors ========== */
	--c-bg-textarea: var(--c-surface-3);
	--c-placeholder-textarea: hsl(var(--accent-hsl) / 0.8);

	/* ? ========== modal, dialog, contextmenu bg ========== */
	--c-bg-modal: hsla(var(--accent-hsl) / 0.09);
	--c-bg-dialog: var(--c-surface-1);
	--c-bg-contextmenu: var(--c-surface-3);
	--c-bg-contextmenu-item: var(--c-surface-2);

	/* ? ========== Tooltip bg ========== */
	--c-bg-tooltip: var(--c-accent-light);

	/* ? ========== border colors ========== */
	--c-border: var(--c-surface-2);
	--c-border-accent: hsla(var(--accent-hsl) / 0.05);

	/* ? ========== Scrollbar colors ========== */
	--c-scrollbar-thumb: var(--c-surface-3);
	--c-scrollbar-track: transparent;

	/* ? ========== OpenAI surface colors ========== */
	/* btn u biranju teme kad nema nikake pozadine */
	--surface-primary: var(--c-surface-1) !important;

	/* border oko context-menu */
	--surface-secondary: transparent !important;

	/* Selected button/link/list in settings: "General", "Data controls" */
	--surface-tertiary: var(--c-bg-msg-gpt) !important;

	// /* ? ========== OpenAI text colors ========== */
	// /*``` --text-primary
	//     - body txt
	//     - ??
	// */
	// --text-primary: var(--c-txt) !important;

	// /*``` --text-secondary
	//     - txt ispod "Upgrade"
	//     - txt ispod "Chat history & training" u Settingsu
	//     - txt "3.5" u sticky pored "ChatGPT 3.5"
	//     - kad je recimo focused sa tabom Dark u "Themes"
	//     - text kad se ode na "Upgrade" pa ono "Have an existing plan? See billing help"
	// */
	// --text-secondary: var(--c-subtext-1) !important;

	// /*``` --text-tertiary
	//     - strelica na dole pored 3.5 u sticky pored ChatGPT 3.5
	//     - kad je nesto focused sa tabom - accessibility - npr Clear u clear all chats
	//     - text u contextmenu kad se klikne na ChatGPT 3.5
	//     - text kad odemo u  UPgrade pa ono USD $0/month i USD $20/month
	// */
	// --text-tertiary: var(--c-subtext-2) !important;

	/* ? ========== PROVERITI - gray ========== */
	--gray-300: var(--text-secondary) !important;

	/* 3 tacke u listi u sidebar */
	--gray-500: var(--c-txt) !important;

	/* ? ========== BOX-SHADOW ==========*/
	--box-shadow: var(--box-shadow-values) hsla(var(--accent-hsl) / 0.1);
	// --box-shadow-contextmenu: 0px 0px 30px 0px hsla(var(--accent-hsl) / 0.1);
	// --box-shadow-contextmenu: 0px 0px 30px 0px red;
	--box-shadow-contextmenu: inset 0px 0px 15px 1px hsla(var(--accent-hsl) / 0.08);
	--box-shadow-textarea: inset 0px 0px 15px 1px hsla(var(--accent-hsl) / 0.05) !important;
	// --box-shadow-contextmenu: 0px 0px 30px 0px red;



}

// $avatar-color: #19c37d;