:root {
	--fsz-error-404: 3rem;

	--min-w-btn: 5.5rem;
	--h-header: 60px;
	--w-scrollbar: 0.365rem;

	--br: 1rem;
	--br-chat-bubble: calc(var(--br) * 1.9);
	--br-btn: calc(var(--br) * 0.9);
	--br-btn-big: calc(var(--br) * 1.2);
	--br-dialog: calc(var(--br) * 2.5);
	--br-contextmenu: calc(var(--br) * 1.5);
	--br-pre: calc(var(--br) * 1.8);
	--br-tooltips: var(--br-btn);
	--br-scrollbar: 50vw;

	--p: 0.725rem;
	--p-chat-bubble: 1rem;
	--p-contextmenu: 0.9rem;
	--p-tooltips: 0.2rem;
	--p-btn: 0.7rem;
	--p-dialog: 1.4rem;
	--p-between-chats: 1rem;

	--mb-sidebar-nav-li: 0.2rem;
	--my-pre: 1.5rem;

	--blur-modal: 2rem;
	--blur-menu: blur(18px);

	--box-shadow-values: 0px 0px 100px 0px;
	--z-modal: 100;

	--accent-hsl: var(--accent-h) var(--accent-s) var(--accent-l);
	--txt-hsl: var(--txt-h) var(--txt-s) var(--txt-l);
	--surface-hsl: hsl(var(--accent-h) var(--surface-s) var(--surface-l));
	--danger-hsl: var(--danger-h) var(--danger-s) var(--danger-l);

	--c-txt: hsl(var(--txt-hsl));
	--c-danger: hsl(var(--danger-hsl));
	--c-warning: hsl(var(--warning-hsl));
	--c-success: hsl(var(--success-hsl));
	--c-accent: hsl(var(--accent-hsl));

	--c-bg-sidebar: var(--c-surface-1);
	--c-bg-textarea: linear-gradient(145deg, oklch(from var(--c-accent) l c h / 0.2) 0%, oklch(from var(--c-accent) l c h / 0.1) 22%, oklch(from var(--c-accent) l c h / 0.1) 68%, oklch(from var(--c-accent) l c h / 0.2) 100%);

	--c-scrollbar-thumb: var(--c-surface-3);
	--c-scrollbar-track: transparent;
	--c-bg-cm: var(--c-surface-1);
	--c-bg-tooltip: var(--c-accent-light);
	--box-shadow: var(--box-shadow-values) oklch(from var(--c-accent) l c h / 0.1);
	--c-bg-gradient: linear-gradient(135deg,
			oklch(from var(--c-accent) l c h / 0.45) 0%,
			oklch(from var(--c-accent) l c h / 0.1) 40%,
			oklch(from var(--c-accent) l c h / 0.05) 60%,
			oklch(from var(--c-accent) l c h / 0.45) 100%);

	/* ==================================================
    OPENAAI CSS VARS
   ================================================== */
	/* NEW OPENAI VARS */
	// --user-chat-width: 70%;
	// --sidebar-width: 260px;
	// --sidebar-inline-padding: 12px;
	// --header-height: 60px;
	--white: var(--c-surface-1) !important;
	--black: var(--c-accent) !important;
	// --gray-50: #f9f9f9;
	// --gray-100: #ececec;
	// --gray-200: #e3e3e3;
	// --gray-300: #cdcdcd;
	// --gray-400: #b4b4b4;
	// --gray-500: #9b9b9b;
	// --gray-600: #676767;
	// --gray-700: #424242;
	// --gray-750: #2f2f2f;
	// --gray-800: #212121;
	// --gray-900: #171717;
	// --gray-950: #0d0d0d;

	@include dev('md') {
		--p-chat-bubble: .8rem;
		--br-chat-bubble: calc(var(--br) * 1.5);
		--p-contextmenu: .5rem;
		--p-dialog: 0.3rem;
		--br-dialog: calc(var(--br) * 1.5);
		--p-sidebar-nav: 0.3rem;
	}

	@include dev('sm') {
		--br-chat-bubble: var(--br);
	}
}

html,
.light,
.dark {

	--red-500: var(--c-danger) !important;
	// --red-700: #911e1b;
	--brand-purple: var(--c-accent) !important;
	// --yellow-900: #4d3b00;

	--bg-primary: var(--c-bg-chats-container) !important;
	--bg-secondary: var(--c-surface-2) !important;
	--bg-tertiary: var(--c-surface-3) !important;
	--bg-scrim: var(--c-surface-1) !important;
	// --bg-elevated-primary: var(--c-surface-2) !important; // e.g. stop btn bg when DeepSearch is active
	// --bg-elevated-secondary: #181818;
	--bg-status-warning: hsla(var(--warning-hsl) / 0.11) !important;
	--bg-status-error: hsla(var(--danger-hsl) / 0.11) !important;
	/* .border-token-border-default
	- border oko "Uprade" btn-a
	- border oko inputa u GPTs page
	- border u "Keyboard shortcuts" oko kao tastera */
	// --border-default: var(--c-border) !important;
	--border-default: var(--c-border-accent) !important;
	--border-light: var(--c-border-accent) !important;
	// --border-heavy: #fff3;
	--border-status-warning: hsla(var(--warning-hsl) / 0.11);
	--border-status-error: hsla(var(--danger-hsl) / 0.11) !important;
	--text-primary: var(--c-txt) !important;
	--text-secondary: var(--c-subtext-1) !important;
	--text-tertiary: var(--c-subtext-2) !important;
	--text-accent: var(--c-accent) !important;
	--text-status-warning: var(--c-warning) !important;
	--text-status-error: var(--c-danger) !important;

	--icon-primary: currentColor !important;
	--icon-secondary: var(--c-subtext-1) !important;
	--icon-tertiary: var(--c-surface-2) !important;
	// --icon-inverted: #0d0d0d;
	--icon-accent: var(--c-accent) !important;
	--icon-status-warning: var(--c-warning) !important;
	--icon-status-error: var(--c-danger) !important;

	/* 
	- Sidebar collapse btn
	- "ChatGPT 3.5 - Fastest" in 4o menu when hover on it in chat bubbles*/
	--text-quaternary: var(--c-subtext-2) !important;
	--text-error: var(--c-danger) !important;
	--text-placeholder: var(--c-subtext-1) !important;
	--content-primary: var(--c-txt) !important;
	--content-secondary: var(--c-subtext-1) !important;
	// --box-shadow-primary: inset 0 -20px 80px -20px #	;

	--link: var(--c-accent) !important;
	--link-hover: oklch(from var(--c-accent) l c h / 0.2) !important;
	--tag-blue: var(--c-accent) !important;
	// --tag-blue-light: #0af;
	--hint-text: var(--c-accent) !important;
	--hint-bg: oklch(from var(--c-accent) l c h / 0.12) !important;

	--surface-hover: oklch(from var(--c-accent) l c h / 0.12) !important;
	--dot-color: var(--c-txt) !important;
	--composer-blue-bg: oklch(from var(--c-accent) l c h / 0.14) !important;
	--composer-blue-hover: oklch(from var(--c-accent) l c h / 0.2) !important;
	--composer-blue-text: var(--c-accent) !important;

	/* SIDEBAR OPENAI VARS */
	/* .bg-token-sidebar-surface-primary
	- sidebar bg
	- nav item bg on hover */
	--sidebar-surface-primary: var(--c-bg-sidebar) !important;
	/* .bg-token-sidebar-surface-secondary
	- GPT's variable in  nav item bg on hover */
	--sidebar-surface-secondary: var(--c-surface-2) !important;
	/* .bg-token-sidebar-surface-tertiary
	- GPT's variable in  nav item bg on hover */
	--sidebar-surface-tertiary: var(--c-surface-3) !important;
	--sidebar-title-primary: var(--c-accent) !important;
	--sidebar-surface: var(--c-bg-sidebar) !important;
	--sidebar-body-primary: var(--c-txt) !important;
	--sidebar-icon: currentColor !important;


	// --main-surface-background: #212121e6;
	// --message-surface: #323232d9;
	/* 
	- header of tables in "Shared links" and "Archived chats"
	- Arrow btn in new chat big buttons */
	--main-surface-primary: var(--c-surface-2) !important;
	// --main-surface-primary-inverse: var(--white);

	/*
	- markdown header bg */
	--main-surface-secondary: var(--c-surface-2) !important;

	/* 
	- History icon in Canvas when selected */
	--main-surface-secondary-selected: var(--c-surface-3) !important;

	/* ??? */
	--main-surface-tertiary: var(--c-surface-3) !important;

	/* .bg-token-popover-surface-primary  
	- contextmenu in theme dropdown chooser
	- "Upgrade ur plan" dialog bg */
	--popover-surface-primary: var(--c-bg-contextmenu) !important;

	--interactive-bg-secondary-hover: oklch(from var(--c-accent) l c h / 0.12) !important; // when hover action btns in prompt-textarea
	--interactive-bg-secondary-press: oklch(from var(--c-accent) l c h / 0.2) !important; // when pressed action btns in prompt-textarea
	--interactive-bg-accent-muted-hover: oklch(from var(--c-accent) l c h / 0.12) !important; // when hover on action btn in prompt-textarea like: Think, Search, Canvas etc
	--interactive-bg-accent-muted-press: oklch(from var(--c-accent) l c h / 0.3) !important; // when holding pressed on action btn in prompt-textarea like: Think, Search, Canvas etc
	--interactive-bg-accent-muted-context: oklch(from var(--c-accent) l c h / 0.2) !important; // When hover on active action button in chatbox. For example, if we are in Search chats and this btn is selected in chatbox. When we hover, it had blue-ish bg, now we override it
	--interactive-label-accent-default: var(--c-accent) !important;

	--menu-item-highlighted: var(--interactive-bg-secondary-hover) !important;
	--menu-item-active: var(--interactive-bg-secondary-press) !important;


	// NEW: data-chat-theme, accent colog introduced by ChatGPT
	--theme-attribution-highlight-bg: oklch(from var(--c-accent) l c h / 0.25) !important;
	// --theme-user-msg-bg: var(--yellow-theme-user-msg-bg);
	// --theme-user-msg-text: var(--yellow-theme-user-msg-text);
	// --theme-submit-btn-bg: var(--yellow-theme-submit-btn-bg);
	// --theme-submit-btn-text: var(--yellow-theme-submit-btn-text);
	// --theme-secondary-btn-bg: var(--yellow-theme-secondary-btn-bg);
	// --theme-secondary-btn-text: var(--yellow-theme-secondary-btn-text);
	// --theme-user-selection-bg: var(--yellow-theme-user-selection-bg);
	// --theme-attribution-highlight-bg: var(--yellow-theme-user-selection-bg);
	// --theme-entity-accent: var(--yellow-theme-entity-accent);
}

// }
/* @ ================== LIGHT ================== */
html.light {
	--accent-h: 335;
	--accent-s: 21%;
	--accent-l: 35%;

	--txt-h: 0;
	--txt-s: 0%;
	--txt-l: 0%;

	--surface-h: var(--accent-h); // Inherit accent hue
	--surface-s: 9%; // Drastically reduced saturation (near-gray)
	--surface-l: 90%; // Base lightness

	--danger-h: 354;
	--danger-s: 63%;
	--danger-l: 48%;
	--warning-hsl: 27 88% 44%;
	--success-hsl: 162 92% 25%;

	--c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) * 0.3), 75%);
	--c-on-accent: hsl(var(--accent-h), var(--accent-s), 88%);

	--c-subtext-1: hsl(var(--accent-h), 0%, 20%);
	--c-subtext-2: hsl(var(--accent-h), 0%, 40%);

	--c-surface-1: var(--surface-hsl);
	--c-surface-2: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.945));
	--c-surface-3: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.905));

	--c-bg-chats-container: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 1.02));

	--c-bg-msg-user: oklch(from var(--c-accent) l c h / 0.08);
	--c-bg-msg-gpt: hsl(var(--surface-h), calc(var(--surface-s) * 1), calc(var(--surface-l) * 0.97));
	--c-bg-modal: hsla(var(--txt-hsl) / 0.3);
	--c-bg-dialog: var(--c-surface-2);
	--c-bg-menu: hsla(var(--accent-h), calc(var(--accent-s) * 0.35), 75%, 0.5);
	--brightness-menu: brightness(0.98);
	--c-border: hsla(var(--txt-hsl) / 0.08);
}

/* @ ================== DARK ================== */
html.dark {
	/* ? ========== HSL ========== */
	/* --accent-hsl: 272 93% 78%; */
	--accent-h: 256;
	--accent-s: 100%;
	--accent-l: 83%;

	--txt-h: var(--accent-h);
	--txt-s: 86%;
	--txt-l: 94%;

	--surface-h: 249;
	--surface-s: 19%;
	--surface-l: 13%;

	/* --danger-hsl: 356 77% 76% */
	--danger-h: 356;
	--danger-s: 77%;
	--danger-l: 76%;
	--warning-hsl: 30 100% 74%;

	// color: hsl(162, 92%, 64%);
	--success-hsl: 162 92% 64%;

	--c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) / 1.3), var(--accent-l));
	--c-on-accent: hsl(var(--accent-h), var(--accent-s), 10%);

	--c-subtext-1: var(--c-accent-light);
	--c-subtext-2: hsl(var(--accent-h) calc(var(--accent-s) / 2) var(--accent-l)) !important;

	--c-surface-1: hsl(var(--accent-h), var(--surface-s), var(--surface-l)); // darkest
	--c-surface-2: hsl(var(--accent-h), var(--surface-s), calc(var(--surface-l) * 1.5)); // darker
	--c-surface-3: hsl(var(--accent-h), var(--surface-s), calc(var(--surface-l) * 2)); // dark

	--c-bg-chats-container: hsl(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.076));

	// --c-bg-msg-user: oklch(from var(--c-accent) l c h / 0.04);
	--c-bg-msg-user: oklch(from var(--c-accent) l c h / 0.14);
	--c-bg-msg-gpt: oklch(from var(--c-accent) l c h / 0.08);
	--c-bg-modal: oklch(from var(--c-accent) l c h / 0.15);
	--c-bg-dialog: var(--c-surface-2);
	--c-bg-menu: hsla(var(--accent-h), calc(var(--accent-s) * 0.3), calc(var(--accent-l) * 0.75), 0.3);
	--brightness-menu: brightness(0.8);
	--c-border: hsla(var(--txt-hsl) / 0.08);
}

/* @ ================== OLED ================== */
html.dark[data-gptheme='oled'] {
	--surface-h: 0;
	--surface-s: 0%;
	--surface-l: 0%;

	--c-surface-1: var(--surface-hsl); // darkest
	--c-surface-2: hsl(var(--accent-h), calc(var(--surface-s) + 15%), calc(var(--surface-l) + 12%)); // darker
	--c-surface-3: hsl(var(--accent-h), calc(var(--surface-s) + 15%), calc(var(--surface-l) + 8%)); // dark

	--c-bg-chats-container: var(--c-surface-1);

	--c-bg-msg-user: oklch(from var(--c-accent) l c h / 0.14);
	--c-bg-msg-gpt: hsl(var(--accent-h), calc(var(--surface-s) + 20%), calc(var(--surface-l) + 6%));
	// --c-bg-modal: oklch(from var(--c-accent) l c h / 0.09);
	--c-bg-dialog: var(--c-surface-1);
}

/* POPOVER GLOBAL
- This fix gray bg for Canvas Code header
*/
.dark :not(.light).popover,
.dark.popover,
.popover .dark {
	/* 	--main-surface-primary: var(--gray-750);
	--main-surface-secondary: var(--gray-700);
	--main-surface-tertiary: var(--gray-600);
	--sidebar-surface-primary: var(--gray-750); */
	--main-surface-primary: var(--c-surface-2) !important;
	--main-surface-secondary: var(--c-surface-2) !important;
	--main-surface-tertiary: var(--c-surface-3) !important;
	--sidebar-surface-primary: var(--c-bg-sidebar) !important;
}