/* ==================================================
OPENAAI CSS VARS
================================================== */
:root {
    /* NEW OPENAI VARS */
    // --user-chat-width: 70%;
    // --sidebar-width: 260px;
    // --sidebar-inline-padding: 12px;
    // --header-height: 60px;
    --white: var(--c-surface-1) !important;
    --black: var(--c-accent) !important;
    // --gray-50: #f9f9f9;
    // --gray-100: #ececec;
    // --gray-200: #e3e3e3;
    // --gray-300: #cdcdcd;
    // --gray-400: #b4b4b4;
    // --gray-500: #9b9b9b;
    // --gray-600: #676767;
    // --gray-700: #424242;
    // --gray-750: #2f2f2f;
    // --gray-800: #212121;
    // --gray-900: #171717;
    // --gray-950: #0d0d0d;
}


html,
.light,
.dark {

    --red-500: var(--c-danger) !important;
    --brand-purple: var(--c-accent) !important;

    --bg-accent-static: var(--c-accent) !important;
    --bg-primary: var(--c-bg-chats-container) !important;
    --bg-primary-inverted: var(--c-accent) !important;
    --bg-secondary: var(--c-surface-2) !important;
    --bg-tertiary: var(--c-surface-3) !important;
    --bg-scrim: var(--c-surface-1) !important;
    --bg-elevated-primary: var(--c-surface-2) !important; // e.g. stop btn bg when DeepSearch is active & chatbox in grup chat
    --bg-elevated-secondary: var(--c-surface-3) !important;
    --bg-status-warning: #{color-alpha(--c-warning, 0.2, true)};
    --bg-status-error: #{color-alpha(--c-danger, 0.2, true)};
    /* .border-token-border-default
	- border oko "Uprade" btn-a
	- border oko inputa u GPTs page
	- border u "Keyboard shortcuts" oko kao tastera */
    --border-default: var(--c-border) !important;
    --border-light: var(--c-border) !important;
    // --border-heavy: #fff3;
    --border-status-warning: #{color-alpha(--c-warning, 0.2, true)};
    --border-status-error: #{color-alpha(--c-danger, 0.2, true)};
    --text-primary: var(--c-txt) !important;
    --text-secondary: var(--c-subtext-1) !important;
    --text-tertiary: var(--c-subtext-2) !important;
    --text-accent: var(--c-accent) !important;
    --text-status-warning: var(--c-warning) !important;
    --text-status-error: var(--c-danger) !important;

    --text-inverted-static: var(--c-on-accent) !important;

    --icon-primary: currentColor !important;
    --icon-secondary: var(--c-subtext-1) !important;
    --icon-tertiary: var(--c-surface-2) !important;
    // --icon-inverted: #0d0d0d;
    --icon-accent: var(--c-accent) !important;
    --icon-status-warning: var(--c-warning) !important;
    --icon-status-error: var(--c-danger) !important;

    /* 
	- Sidebar collapse btn
	- "ChatGPT 3.5 - Fastest" in 4o menu when hover on it in chat bubbles */
    --text-quaternary: var(--c-subtext-2) !important;
    --text-error: var(--c-danger) !important;
    --text-placeholder: var(--c-subtext-1) !important;
    --content-primary: var(--c-txt) !important;
    --content-secondary: var(--c-subtext-1) !important;
    // --box-shadow-primary: inset 0 -20px 80px -20px #	;

    --link: var(--c-accent) !important;
    --link-hover: var(--c-accent-20) !important;
    --tag-blue: var(--c-accent) !important;
    // --tag-blue-light: #0af;
    --hint-text: var(--c-accent) !important;
    --hint-bg: var(--c-accent-12) !important;

    --surface-hover: var(--c-accent-12) !important;
    --dot-color: var(--c-txt) !important;
    --composer-blue-bg: var(--c-accent-15) !important;
    --composer-blue-hover: var(--c-accent-20) !important;
    --composer-blue-text: var(--c-accent) !important;

    /* SIDEBAR OPENAI VARS */
    /* .bg-token-sidebar-surface-primary
	- sidebar bg
	- nav item bg on hover */
    --sidebar-bg: var(--c-bg-sidebar) !important;
    --sidebar-mask-bg: var(--c-bg-sidebar) !important;
    --sidebar-surface-primary: var(--c-bg-sidebar) !important;
    /* .bg-token-sidebar-surface-secondary
	- GPT's variable in  nav item bg on hover */
    --sidebar-surface-secondary: var(--c-surface-2) !important;
    /* .bg-token-sidebar-surface-tertiary
	- GPT's variable in  nav item bg on hover */
    --sidebar-surface-tertiary: var(--c-surface-3) !important;
    --sidebar-title-primary: var(--c-accent) !important;
    --sidebar-surface: var(--c-bg-sidebar) !important;
    --sidebar-body-primary: var(--c-txt) !important;
    --sidebar-icon: currentColor !important;


    // --main-surface-background: #212121e6;
    // --message-surface: #323232d9;
    /* 
	- header of tables in "Shared links" and "Archived chats"
	- Arrow btn in new chat big buttons */
    --main-surface-primary: var(--c-surface-2) !important;
    --main-surface-primary-inverse: var(--c-subtext-2) !important;

    /*
	- markdown header bg */
    --main-surface-secondary: var(--c-surface-2) !important;

    /* 
	- History icon in Canvas when selected */
    --main-surface-secondary-selected: var(--c-surface-3) !important;

    /* ??? */
    --main-surface-tertiary: var(--c-surface-3) !important;


    /* .bg-token-popover-surface-primary  
	- contextmenu in theme dropdown chooser
	- "Upgrade ur plan" dialog bg */
    --popover-surface-primary: var(--c-surface-2) !important;

    --interactive-bg-secondary-hover: var(--c-accent-12) !important; // when hover action btns in prompt-textarea
    --interactive-bg-secondary-press: var(--c-accent-20) !important; // when pressed action btns in prompt-textarea
    --interactive-bg-accent-muted-hover: var(--c-accent-12) !important; // when hover on action btn in prompt-textarea like: Think, Search, Canvas etc
    --interactive-bg-accent-muted-press: var(--c-accent-30) !important; // when holding pressed on action btn in prompt-textarea like: Think, Search, Canvas etc
    --interactive-bg-accent-muted-context: var(--c-accent-20) !important; // When hover on active action button in chatbox. For example, if we are in Search chats and this btn is selected in chatbox. When we hover, it had blue-ish bg, now we override it
    // --interactive-bg-accent-hover: oklch(from var(--c-accent) 0.95 0.08 h) !important;
    --interactive-bg-accent-hover: oklch(from var(--c-accent) 0.9 calc(c * 0.4) h) !important;
    --interactive-bg-accent-press: oklch(from var(--c-accent) 0.77 calc(c * 0.4) h) !important;

    --interactive-label-accent-default: var(--c-accent) !important;

    --menu-item-highlighted: var(--interactive-bg-secondary-hover) !important;
    --menu-item-active: var(--interactive-bg-secondary-press) !important;


    // NEW: data-chat-theme, accent colog introduced by ChatGPT;
    --theme-attribution-highlight-bg: var(--c-accent-20) !important;
    // --theme-user-msg-bg: var(--yellow-theme-user-msg-bg);
    // --theme-user-msg-text: var(--yellow-theme-user-msg-text);
    // --theme-submit-btn-bg: var(--yellow-theme-submit-btn-bg);
    // --theme-submit-btn-text: var(--yellow-theme-submit-btn-text);
    // --theme-secondary-btn-bg: var(--yellow-theme-secondary-btn-bg);
    // --theme-secondary-btn-text: var(--yellow-theme-secondary-btn-text);
    // --theme-user-selection-bg: var(--yellow-theme-user-selection-bg);
    // --theme-attribution-highlight-bg: var(--yellow-theme-user-selection-bg);
    // --theme-entity-accent: var(--yellow-theme-entity-accent);
}

/* POPOVER GLOBAL
- This fix gray bg for Canvas Code header
*/
.dark :not(.light).popover,
.dark.popover,
.popover .dark {
    /* 	--main-surface-primary: var(--gray-750);
	--main-surface-secondary: var(--gray-700);
	--main-surface-tertiary: var(--gray-600);
	--sidebar-surface-primary: var(--gray-750); */
    --main-surface-primary: var(--c-accent-light) !important;
    // --main-surface-primary: var(--c-surface-2) !important;
    --main-surface-secondary: var(--c-surface-2) !important;
    --main-surface-tertiary: var(--c-surface-3) !important;
    --sidebar-surface-primary: var(--c-bg-sidebar) !important;
}

.dark .light.popover,
.light .popover,
.light.popover,
.popover {
    // --main-surface-primary: var(--white);
    // --main-surface-secondary: var(--gray-100);
    // --main-surface-tertiary: var(--gray-200);
    // --sidebar-surface-primary: var(--white);
    --main-surface-primary: var(--c-accent-light) !important; // for black is ok, but dark and light is the same as parent (dialog)
    // --main-surface-primary: var(--c-surface-2) !important;
    --main-surface-secondary: var(--c-surface-2) !important;
    --main-surface-tertiary: var(--c-surface-3) !important;
    --sidebar-surface-primary: var(--c-bg-sidebar) !important;
}