$alphas: (
    '03': 0.03,
    '08': 0.08,
    '10': 0.1,
    '12': 0.12,
    '13': 0.13,
    '15': 0.15,
    '20': 0.2,
    '30': 0.3,
    '40': 0.4,
    '50': 0.5
);

:root {

    // contain: layout style paint;

    --c-default-accent-light: #4d4d34; // #6c4756; // #695a4a // #564c37 // #564c37 // #41370b
    --c-default-accent-dark: #c2d8c4; // #bfa8ff;
    // --c-default-accent-light: #f98be9; // za swatch: #425100 (dark green), #777744 (light green)
    // --c-default-accent-dark: #e7f98b; // za swatch: #c255fa (pink/purple hc), #ea667a (hc red-ish), #928e82 (gold), #97997c & 7c9986 (green smooth), 8888ff (blue hc), #9dbaf8 (bluish)

    --from-accent: from var(--c-accent) l c h;

    @each $name, $val in $alphas {
        --c-accent-#{$name}: oklch(var(--from-accent) / #{$val});
    }

    /* Dynamic color functions 
    USAGE:
    .color-danger { 
        background: var(--color-alpha);
        --alpha: var(--alpha-subtle); 
        --c-seed: var(--danger); 
     } */
    --color-alpha: oklch(from var(--c-seed, var(--c-accent)) l c h / var(--alpha, 0.11));

    --c-scrollbar-thumb: var(--c-surface-3);
    --c-scrollbar-track: transparent;

    --c-bg-sidebar: oklch(from var(--c-surface-2) calc(l * 1.0165) c h);
    --c-bg-sidebar-link: var(--c-surface-3);
    // --c-bg-sibebar-link: oklch(from var(--c-bg-sidebar) calc(l * 0.96) c h);
    --c-bg-cm: var(--c-surface-1);
    --c-bg-dialog: var(--c-surface-1);

    --c-border: oklch(from var(--c-txt) l c h / 0.05);
    --c-border-accent: var(--c-accent-12);
    --box-shadow: var(--box-shadow-values) var(--c-accent-12);
    --c-bg-textarea: linear-gradient(145deg,
        var(--c-accent-20) 0%,
        var(--c-accent-10) 22%,
        var(--c-accent-10) 68%,
        var(--c-accent-20) 100%);

    --c-bg-gradient: linear-gradient(135deg,
        var(--c-accent-40) 0%,
        var(--c-accent-10) 40%,
        var(--c-accent-03) 60%,
        var(--c-accent-40) 100%);

}

html.light {
    --c-accent: var(--user-accent-light, var(--c-default-accent-light));
    // --c-on-accent: oklch(from var(--c-accent) 1 calc(c * 0.3) h);
    // --c-on-accent: oklch(from var(--c-accent) 0.95 0.08 h);
    --c-on-accent: oklch(from var(--c-accent) 0.95 calc(c * 0.4) h);
    // --c-accent-light: oklch(from var(--c-accent) 0.8 calc(c * 0.5) h);
    --c-accent-light: color-mix(in oklch, var(--c-surface-1), var(--c-accent) 14%);

    --c-surface-1: oklch(from var(--user-surface-1, var(--c-accent)) 0.95 0.005 h);
    --c-surface-2: oklch(from var(--user-surface-2, var(--c-surface-1)) calc(l * 0.98) calc(c * 1.12) h);
    --c-surface-3: oklch(from var(--user-surface-3, var(--c-surface-2)) calc(l * 0.98) calc(c * 1.22) h);

    --c-txt: oklch(from var(--user-text-1, var(--c-accent)) 0 c h);
    --c-subtext-1: oklch(from var(--user-text-2, var(--c-accent)) 0.3 c h);
    --c-subtext-2: oklch(from var(--user-text-3, var(--c-accent)) 0.5 calc(c * 0.3) h);


    // --c-bg-msg-user: oklch(from var(--c-accent) calc(l * 1.75) calc(c * 0.7) h);
    // --c-bg-msg-user: oklch(from var(--c-surface-3) calc(l * 0.97) calc(c * 1.093) h);
    // --c-bg-msg-user: oklch(from var(--c-accent) 0.77 0.032 h);
    // --c-bg-msg-user: color-mix(in oklch, var(--c-surface-1), var(--c-accent) 20%);
    // --c-bg-msg-user: color-mix(in oklch, var(--c-bg-chats-container), var(--c-accent) 14%);
    // --c-bg-msg-user: var(--c-accent-13);
    --c-bg-msg-user: var(--c-accent-12);
    // --c-bg-msg-gpt: oklch(from var(--c-surface-1) calc(l * 0.98) c h);
    // --c-bg-msg-gpt: oklch(from var(--c-surface-1) calc(l * 0.978) calc(c * 1.15) h);
    --c-bg-msg-gpt: oklch(from var(--c-surface-1) calc(l * 0.98) calc(c * 1.1) h);
    // --c-bg-msg-gpt: oklch(from var(--c-surface-1) calc(l * 0.975) calc(c * 1.2) h);
    // --c-bg-msg-gpt: oklch(from var(--c-surface-1) calc(l * 0.975) c h);

    // --c-bg-chats-container: oklch(from var(--c-surface-1) calc(l * 1.0315) calc(c * 0.97) h);
    --c-bg-chats-container: oklch(from var(--c-surface-1) calc(l * 1.0189) c h);

    --c-bg-modal: oklch(from var(--c-accent) 0.2 calc(c * 0.75) h / 0.3);
    // --c-bg-menu: oklch(from var(--c-accent) l calc(c * 0.35) h / 0.5);
    --c-bg-menu: oklch(from var(--c-accent) 0.8 calc(c * 0.25) h / 0.5);

    --c-danger: oklch(46.52% 0.1688 22.615);
    --c-warning: oklch(63.047% 0.1612 50.634);
    --c-success: oklch(51.388% 0.1073 164.622);

    --brightness-menu: brightness(0.98);

    // --c-scrollbar-thumb: var(--c-surface-2);
    // --c-scrollbar-track: transparent;

    // for hovers: oklch(from currentColor 0.75 calc(c * 0.6) h);
}

html.dark {
    // --c-default-accent-dark: #bfa8ff;

    --c-accent: var(--user-accent-dark, var(--c-default-accent-dark));
    // --c-accent: var(--user-accent-dark, #bfa8ff);

    --c-on-accent: oklch(from var(--c-accent) 0.25 c h);
    --c-accent-light: oklch(from var(--c-accent) 0.35 calc(c * 0.4) h);

    --c-surface-1: oklch(from var(--user-surface-1, var(--c-accent)) 0.24 calc(c * 0.18) h);
    --c-surface-2: oklch(from var(--user-surface-2, var(--c-surface-1)) calc(l * 1.256) calc(c * 1.4) h);
    --c-surface-3: oklch(from var(--user-surface-3, var(--c-surface-2)) calc(l * 1.2) calc(c * 1.4) h);

    --c-bg-chats-container: oklch(from var(--c-surface-1) calc(l * 1.03) calc(c * 1.05) h);
    --c-bg-msg-gpt: oklch(from var(--c-bg-chats-container) calc(l * 1.15) calc(c * 1.3) h);
    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.35 calc(c * 0.282) h);

    // --c-surface-1: oklch(from var(--user-surface-1, var(--c-accent)) 0.26 calc(c * 0.2) h);
    // --c-surface-2: oklch(from var(--user-surface-2, var(--c-surface-1)) calc(l * 1.28) calc(c * 1.4) h);
    // --c-surface-3: oklch(from var(--user-surface-3, var(--c-surface-2)) calc(l * 1.28) calc(c * 1.4) h);
    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.32 calc(c * 0.282) h);
    // --c-bg-chats-container: oklch(from var(--c-surface-1) calc(l * 1.04) calc(c * 1.1) h);

    /* Before monochromatic */
    // --c-txt: oklch(from var(--user-text-1, var(--c-accent)) 1 0.07 h);
    // --c-subtext-1: oklch(from var(--user-text-2, var(--c-accent)) 0.72 calc(c * 0.85) h);
    // --c-subtext-2: oklch(from var(--user-text-3, var(--c-accent)) 0.82 calc(c * 0.7) h);
    /* Monochromatic friendly */
    // --c-txt: oklch(from var(--user-text-1, var(--c-accent)) 1 0 h);
    --c-txt: oklch(from var(--user-text-1, var(--c-accent)) 1 0.035 h);
    --c-subtext-1: color-mix(in oklch, var(--c-accent), var(--c-surface-2) 30%);
    --c-subtext-2: color-mix(in oklch, var(--c-accent), #fff 35%);

    --c-danger: oklch(75.114% 0.1337 16.727);
    --c-warning: oklch(84.508% 0.1131 65.67);
    --c-success: oklab(88.027% -0.1526 0.0307);

    // --c-bg-msg-user: var(--c-accent-20);
    // --c-bg-msg-gpt: var(--c-accent-08);
    // --c-bg-msg-user: var(--c-accent-light);
    --c-bg-msg-user: oklch(from var(--c-accent) 0.35 calc(c * 0.5) h);
    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.32 calc(c * 0.282) h);
    // --c-bg-chats-container: oklch(from var(--c-surface-1) calc(l * 1.04) calc(c * 1.1) h);
    // --c-bg-chats-container: oklch(from var(--c-surface-1) calc(l * 1.04) calc(c * ) h);
    // --c-bg-chats-container: oklch(from var(--c-surface-1) calc(l * 1.02) calc(c * 1.05) h);
    --c-bg-modal: oklch(from var(--c-accent) 1 c h / 0.12);
    // --c-bg-modal: oklch(from var(--c-accent) 0.92 calc(c * 0.65) h / 0.25);
    // --c-bg-dialog: var(--c-surface-2);
    // --c-bg-menu: oklch(from var(--c-surface-2) 0.4 calc(c * 0.6) h / 0.3);
    --c-bg-menu: oklch(from var(--c-surface-2) 0.35 calc(c * 1.4) h / 0.3);
    --brightness-menu: brightness(1);

    --c-bg-sidebar: var(--c-surface-1);
    --c-bg-sidebar-link: var(--c-surface-2);

    --c-scrollbar-thumb: var(--c-surface-2);

    // for hovers: color-mix(in sRGB, currentcolor 20%, transparent);
}

html.dark[data-gptheme='oled'] {
    --c-accent-light: oklch(from var(--c-accent) 0.25 calc(c * 0.25) h);

    --c-surface-1: oklch(0 0 0); // darkest
    // --c-surface-2: oklch(from var(--user-surface-2, var(--c-accent)) 0.23 calc(c * 0.25) h);
    --c-surface-2: oklch(from var(--user-surface-2, var(--c-accent)) 0.23 calc(c * 0.18) h);
    --c-surface-3: oklch(from var(--user-surface-3, var(--c-surface-2)) calc(l * 1.2) calc(c * 1.2) h);

    --c-bg-chats-container: var(--c-surface-1);
    // --c-bg-msg-gpt: hsl(var(--accent-h), calc(var(--surface-s) + 20%), calc(var(--surface-l) + 6%));

    // --c-bg-msg-user: var(--c-accent-20);
    // --c-bg-msg-gpt: var(--c-accent-08);

    // --c-txt: oklch(from var(--user-text-1, var(--c-accent)) 1 0 h);
    --c-bg-msg-user: oklch(from var(--c-accent) 0.23 calc(c * 0.4) h);
    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.15 0.02 h);
    --c-bg-msg-gpt: oklch(from var(--c-accent) 0.158 calc(c * 0.2) h);
    // --c-bg-msg-gpt: var(--c-accent-03);

    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.2 calc(c * 0.2) h);
    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.15 0.02 h);
    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.2 calc(c * 0.18) h);
    // --c-bg-msg-gpt: oklch(from var(--c-accent) 0.15 calc(c * 0.282) h);
    // --c-bg-msg-gpt: var(--c-accent-20);

    --c-bg-dialog: var(--c-surface-1);
    --c-bg-modal: oklch(from var(--c-accent) 0.5 calc(c * 0.5) h / 0.35);
}