/* stylelint-disable custom-property-pattern */
:root {
    /* ! === CUSTOM FONTS === */
    --gpthFontFamilyOpenAISans: 'OpenAI Sans'; // Font like on OpenAI's Sora website
    --gpthFontFamilyDefault: var(--default-font-family, 'ui-sans-serif', '-apple-system', 'system-ui', 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, 'sans-serif', 'Segoe UI Emoji', 'Segoe UI Symbol'); // --default-font-family is OpenAI's default var
    // --gpthFontFamilyDefault: var(--gpthFontFamilyOpenAISans, 'ui-sans-serif', '-apple-system', 'system-ui', 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, 'sans-serif', 'Segoe UI Emoji', 'Segoe UI Symbol'); // --default-font-family is OpenAI's default varefault-font-family is OpenAI's default var

    // OPENAI DEFAULT: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --gpthFontFamily: var(--gpthFontFamilyDefault);
    --gpthFontSize: inherit;
    --gpthLetterSpacing: none;
    --gpthLineHeight: 28;

    /* ! === CUSTOM SCROLLDOWN POSITION === */
    --scrollBtnLeft: unset;
    --scrollBtnRight: 50%;

    /* ! === CUSTOM WIDTH === */
    --w_chat_user: auto;
    --max_w_chat_user: var(--user-chat-width, 70%);
    --w_chat_gpt: 48rem;
    --w_prompt_textarea: 48rem;
    // --chats-container-mode: normal;

    /* ! === CUSTOM CHATBOX HEIGHT === */
    --gpthChatboxHeight: 70svh; // Used when html has class `gpth-chatbox--custom-height`
}
