// main [data-testid^='conversation-turn-'] {
// 	&:has([data-message-author-role='user']) {
// 		// [class*='lg:max-w-[40rem]']:not([class*='bg-[#f4f4f4]']) {
// 		&:not(.lg\:max-w-\[40rem\].bg-\[\#f4f4f4\]) {
// 			// border: 2px solid red !important;
// 		}

// 		// 	background-color: var(--c-bg-msg-user);
// 		// 	padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * 1.2);
// 		// 	border-radius: var(--br-chat-bubble) !important;
// 	}
// }

// [data-message-author-role='user'] {
//     align-items: flex-start !important;
// }
// [class*='lg:max-w-[40rem]'] {
// 	background-color: var(--c-bg-msg-user);
// 	padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * 1.2);
// 	border-radius: var(--br-chat-bubble) !important;
// }

// main:has(div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea)) {
// 	box-shadow: inset 0 0 0 10px red !important;
// }
// main:has(form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea)) {
// 	border: 10px solid orange !important;
// }

/* ? Unique selector for detecting the UI with the old design vs new one (gpt4o)
- [data-testid='send-button'] is used for detecting the UI with the old design vs new one (gpt4o).
- The problem is while gpt generating the answer this selector is gone, but the [aria-lab`el='Stop generating'] is visible now (stop btn), so we use this selector too! 
- This could causes many problems if ChatGPT add those attributes to the new 4o desgin too! Then the old design and the new design would be merged together. */
main:has(button[data-testid='send-button']),
main:has(button[aria-label='Stop generating']) {
	// main:where(form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea)) {
	// border: 10px solid orange !important;

	/* @ CHAT BUBBLES  */
	[data-testid^='conversation-turn-'] {
		[data-message-author-role='user'],
		[data-message-author-role='assistant'] {
			margin-top: var(--mt-chat-txt) !important;
			margin-bottom: var(--mb-chat-txt) !important;
		}
		/* Horizontal gap from chat bubble to screen-edge */
		& > div {
			/* Original is px-4 or 1rem */
			@include dev(mob) {
				padding-left: 0.45rem;
				padding-right: 0.45rem;
			}
		}

		/* Chat bubbles - BOTH and user and gpt */
		& > div:first-child > div:first-child {
			--pt-multiplier: 1.2;
			padding: calc(var(--p-chat-bubble) * var(--pt-multiplier)) var(--p-chat-bubble) var(--p-chat-bubble)
				var(--p-chat-bubble) !important;
			border-radius: var(--br-chat-bubble) !important;
			letter-spacing: 0.3px;
			line-height: 1.8 !important;

			@include dev(mob) {
				--pt-multiplier: 1;
			}

			/* Left chat content parent 
			! Adding fixed width prevent content overflowing on the right side of chat bubble when there is some markdown (<pre>) element shown with scrolling horizontally */
			/* 
				0.75rem = gap-3 = gap between profile svg/img and right content
				2.25rem = w-9 = gpt profile svg parent width */
			.relative.flex.w-full.flex-col {
				--svg-w: 2.25rem;
				--svg-gap: 0.75rem;

				width: calc(
					100% - var(--svg-w) - var(--svg-gap) - var(--p-chat-bubble)
				) !important; // more consistent width (right chat bubble spacing = left spacing)

				@include dev(mob) {
					--svg-w: 24px;
					--moveToLeft: calc(var(--svg-w) + (var(--svg-gap) / 1.5));

					/* Markdown parent - actually message content, without logo and User/ChatGPT name */
					.flex-col.gap-1.md\:gap-3 {
						transform: translateX(calc(var(--moveToLeft) * -1));
						width: calc(100% + var(--moveToLeft) + var(--p-chat-bubble)) !important;
					}
				}
			}
		}
		&:has([data-message-author-role='user']) {
			/* Chat bubble */

			& > div:first-child > div:first-child {
				background-color: var(--c-bg-msg-user);
				outline: 2px solid transparent !important;
			}

			/* Flex-end the Reply in user chat bubble */
			[data-message-author-role='user'] {
				align-items: flex-start !important;

				& > [class*='max-w-[90%]'] {
					max-width: 100% !important;
				}
			}

			/* Uploaded image parent */
			.w-full.mt-1 {
				margin: 0 !important;
				.bg-token-main-surface-secondary {
					border-radius: var(--br-contextmenu) !important;
				}
			}
			/* Uploaded image */
			button:has(img[alt='Uploaded image']) {
				img[alt='Uploaded image'] {
					border-radius: var(--br-contextmenu) !important;
					margin: 0 !important;
				}
			}
		}

		/* User chat bubble - Edit state. There is no [data-message-author-role="user"] when we clicked on "Edit Prompt", so we need select like this for that case scenario */
		[class^='group/conversation-turn']:has(textarea) {
			/* === User/ChatGPT name === */
			.font-semibold.select-none + div .max-w-full {
				background-color: var(--c-bg-chats-container) !important;
				margin-top: 1rem;
				box-shadow: var(--box-shadow-textarea);
				border-radius: var(--br-chat-bubble) !important;
				outline: 2px solid hsla(var(--accent-hsl) / 0.1) !important;
				transition: outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

				textarea {
					@extend %animFadeIn;
					color: var(--c-subtext-2) !important;
					padding: 0.5rem 0;
				}

				/* Parent of buttons: "Save & Submit" and "Cancel" */
				.text-center.mt-2.flex.justify-center {
					@extend %animFadeIn;
				}
			}
		}

		/* RIGHT - CHATS USER/GPT NAMES */
		.font-semibold.select-none {
			text-transform: uppercase;
			color: var(--c-accent);
		}
	}

	/* @ PROMPT TEXTAREA  */
	// Guest/3.5 textarea prompt
	form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea) {
		/* Guest/3.5 - "Send button" */
		button[data-testid='send-button'] {
			right: 1.3rem !important;
			bottom: 1.3rem !important;
		}

		/* "Stop generating" btn */
		.absolute:has(button[aria-label='Stop generating']) {
			// right: 1.3rem !important;
			bottom: 0.9rem !important;

			button[aria-label='Stop generating'] {
				svg {
					color: var(--c-accent);
				}
			}
		}

		/* Guest/3.5 - Attach files button */
		// .absolute[type='button'][aria-haspopup='dialog']:has(button[aria-label='Attach files']) {
		// 	bottom: 1.5rem !important;
		// }
	}

	/* @ NEW CHAT BIH BUTTONS */
	form .grow {
		/* recimo gap izmedju new chat example buttons*/
		.gap-2 {
			gap: 0.8rem !important;
		}
		[class*='grid-cols-[repeat(auto-fit,minmax(250px,1fr))]'] {
			.btn {
				padding: 1.5rem !important;
				background-color: var(--c-surface-2) !important;
				color: var(--c-txt) !important;
				border-radius: var(--br-btn-big) !important;
				overflow: hidden; // Mora jer kad se hoveruje .btn, onda se  .bg-gradient-to-l radius ne uklapa s ovim, manji je i onda .btn cudno izgleda sa desne strane, ovaj ga overflowuje

				/* Gradient bg visible on hover */
				.bg-gradient-to-l {
					--gradient-color-from: var(--c-surface-3) !important;
					transition: all 0.3s ease-in-out;

					/* Button SVG parent âŒ */
					.bg-token-main-surface-primary {
						background-color: var(--c-accent) !important;
						border-radius: 100vw !important;
						padding: 0.5rem !important;

						/* SVG icon*/
						svg {
							color: var(--c-on-accent) !important;
						}
					}

					/* Button SVG parent wrapper */
					span[data-state] {
						overflow: hidden;
						padding: 4px; // because svg btn looks cut off in firefox, so add a little space around

						/* Button w/ SVG */
						.bg-token-main-surface-primary {
							transform: translateY(120%) scale(0.5);
							transition: transform 0.5s $easeOutBack;
						}
					}
				}

				&:hover {
					background-color: var(--c-surface-3) !important;
					transform: translateY(-4px);

					.bg-gradient-to-l {
						span[data-state] {
							/* Button w/ SVG */
							// .bg-token-surface-primary {
							.bg-token-main-surface-primary {
								transform: translateY(0%) scale(1);
								opacity: 1 !important;
							}
						}
					}
				}
			}
		}
	}

	/* @ Collapse sidebar btn - hover state*/
	[class*='fixed left-0 top-1/2']:has(button) {
		.rounded-full {
			transition: background-color 0.2s ease-in-out;
		}

		&:hover {
			.rounded-full {
				background-color: var(--c-accent) !important;
			}
		}
	}
}

/* @ OLD design selector to target design on non-textarea and send/stop button page 
! WARNING: THIS CAN BREAK AND NEW-UI WEBSITE IF THEY ADD .font-semibold.select-none inside the [data-testid^='conversation-turn-']
*/
main:has([data-testid^='conversation-turn-'] .font-semibold.select-none) {
	// border: 20px solid red !important;

	[data-testid^='conversation-turn-'] {
		[data-message-author-role='user'],
		[data-message-author-role='assistant'] {
			margin-top: var(--mt-chat-txt) !important;
			margin-bottom: var(--mb-chat-txt) !important;
		}
		/* Horizontal gap from chat bubble to screen-edge */
		& > div {
			/* Original is px-4 or 1rem */
			@include dev(mob) {
				padding-left: 0.45rem;
				padding-right: 0.45rem;
			}
		}

		/* Chat bubbles - BOTH and user and gpt */
		& > div:first-child > div:first-child {
			--pt-multiplier: 1.2;
			padding: calc(var(--p-chat-bubble) * var(--pt-multiplier)) var(--p-chat-bubble) var(--p-chat-bubble)
				var(--p-chat-bubble) !important;
			border-radius: var(--br-chat-bubble) !important;
			letter-spacing: 0.3px;
			line-height: 1.8 !important;

			@include dev(mob) {
				--pt-multiplier: 1;
			}

			/* Left chat content parent 
			! Adding fixed width prevent content overflowing on the right side of chat bubble when there is some markdown (<pre>) element shown with scrolling horizontally */
			/* 
				0.75rem = gap-3 = gap between profile svg/img and right content
				2.25rem = w-9 = gpt profile svg parent width */
			.relative.flex.w-full.flex-col {
				--svg-w: 2.25rem;
				--svg-gap: 0.75rem;

				width: calc(
					100% - var(--svg-w) - var(--svg-gap) - var(--p-chat-bubble)
				) !important; // more consistent width (right chat bubble spacing = left spacing)

				@include dev(mob) {
					--svg-w: 24px;
					--moveToLeft: calc(var(--svg-w) + (var(--svg-gap) / 1.5));

					/* Markdown parent - actually message content, without logo and User/ChatGPT name */
					.flex-col.gap-1.md\:gap-3 {
						transform: translateX(calc(var(--moveToLeft) * -1));
						width: calc(100% + var(--moveToLeft) + var(--p-chat-bubble)) !important;
					}
				}
			}
		}
		&:has([data-message-author-role='user']) {
			/* Chat bubble */

			& > div:first-child > div:first-child {
				background-color: var(--c-bg-msg-user);
				outline: 2px solid transparent !important;
			}

			/* Flex-end the Reply in user chat bubble */
			[data-message-author-role='user'] {
				align-items: flex-start !important;

				& > [class*='max-w-[90%]'] {
					max-width: 100% !important;
				}
			}

			/* Uploaded image parent */
			.w-full.mt-1 {
				margin: 0 !important;
				.bg-token-main-surface-secondary {
					border-radius: var(--br-contextmenu) !important;
				}
			}
			/* Uploaded image */
			button:has(img[alt='Uploaded image']) {
				img[alt='Uploaded image'] {
					border-radius: var(--br-contextmenu) !important;
					margin: 0 !important;
				}
			}
		}

		/* User chat bubble - Edit state. There is no [data-message-author-role="user"] when we clicked on "Edit Prompt", so we need select like this for that case scenario */
		[class^='group/conversation-turn']:has(textarea) {
			/* === User/ChatGPT name === */
			.font-semibold.select-none + div .max-w-full {
				background-color: var(--c-bg-chats-container) !important;
				margin-top: 1rem;
				box-shadow: var(--box-shadow-textarea);
				border-radius: var(--br-chat-bubble) !important;
				outline: 2px solid hsla(var(--accent-hsl) / 0.1) !important;
				transition: outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

				textarea {
					@extend %animFadeIn;
					color: var(--c-subtext-2) !important;
					padding: 0.5rem 0;
				}

				/* Parent of buttons: "Save & Submit" and "Cancel" */
				.text-center.mt-2.flex.justify-center {
					@extend %animFadeIn;
				}
			}
		}

		/* RIGHT - CHATS USER/GPT NAMES */
		.font-semibold.select-none {
			text-transform: uppercase;
			color: var(--c-accent);
		}
	}
}
