// main [data-testid^='conversation-turn-'] {
// 	&:has([data-message-author-role='user']) {
// 		// [class*='lg:max-w-[40rem]']:not([class*='bg-[#f4f4f4]']) {
// 		&:not(.lg\:max-w-\[40rem\].bg-\[\#f4f4f4\]) {
// 			// border: 2px solid red !important;
// 		}

// 		// 	background-color: var(--c-bg-msg-user);
// 		// 	padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * 1.2);
// 		// 	border-radius: var(--br-chat-bubble) !important;
// 	}
// }

// [data-message-author-role='user'] {
//     align-items: flex-start !important;
// }
// [class*='lg:max-w-[40rem]'] {
// 	background-color: var(--c-bg-msg-user);
// 	padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * 1.2);
// 	border-radius: var(--br-chat-bubble) !important;
// }

// main:has(div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea)) {
// 	box-shadow: inset 0 0 0 10px red !important;
// }
// main:has(form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea)) {
// 	border: 10px solid orange !important;
// }

/* ? Unique selector for detecting the UI with the old design vs new one (gpt4o)
- [data-testid='send-button'] is used for detecting the UI with the old design vs new one (gpt4o).
- The problem is while gpt generating the answer this selector is gone, but the [aria-label='Stop generating'] is visible now (stop btn), so we use this selector too! 
- This could causes many problems if ChatGPT add those attributes to the new 4o desgin too! Then the old design and the new design would be merged together. */
main:has(button[data-testid='send-button']),
main:has(button[aria-label='Stop generating']) {
	// main:where(form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea)) {
	border: 10px solid orange !important;

	/* @ CHAT BUBBLES  */
	[data-testid^='conversation-turn-'] {
		&:has([data-message-author-role='user']) {
			/* Chat bubble */
			[class*='lg:max-w-[40rem]'] {
				background-color: var(--c-bg-msg-user);
				padding: var(--p-chat-bubble) calc(var(--p-chat-bubble) * 1.2);
				border-radius: var(--br-chat-bubble) !important;
			}

			/* Flex-end the Reply in user chat bubble */
			[data-message-author-role='user'] {
				align-items: flex-start !important;
			}
		}

		/* User chat bubble - Edit state. There is no [data-message-author-role="user"] when we clicked on "Edit Prompt", so we need select like this for that case scenario */
		[class^='group/conversation-turn']:has(textarea) {
			/* === User/ChatGPT name === */
			.font-semibold.select-none + div .max-w-full {
				background-color: var(--c-bg-chats-container) !important;
				box-shadow: var(--box-shadow-textarea);
				border-radius: var(--br-chat-bubble) !important;
				outline: 2px solid hsla(var(--accent-hsl) / 0.1) !important;
				transition: outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

				textarea {
					@extend %animFadeIn;
					color: var(--c-subtext-2) !important;
					padding: 0.5rem 0;
				}

				/* Parent of buttons: "Save & Submit" and "Cancel" */
				.text-center.mt-2.flex.justify-center {
					@extend %animFadeIn;
				}
			}
		}

		/* RIGHT - CHATS USER/GPT NAMES */
		.font-semibold.select-none {
			text-transform: uppercase;
			color: var(--c-accent);
		}
	}

	/* @ PROMPT TEXTAREA  */
	// Guest/3.5 textarea prompt
	form div[class*='[&:has(textarea:focus)]']:has(textarea#prompt-textarea) {
		/* Guest/3.5 - Send button */
		button[data-testid='send-button'] {
			right: 1.3rem !important;
			bottom: 1.2rem !important;
		}

		.absolute:has(button[aria-label='Stop generating']) {
			right: 1.3rem !important;
			bottom: 0.9rem !important;
		}
		button[aria-label='Stop generating'] {
			border-color: var(--c-accent);
			padding: 0.38rem !important;

			svg {
				color: var(--c-accent);
				transform: scale(1.07);
			}
		}

		/* Guest/3.5 - Attach files button */
		.absolute[type='button'][aria-haspopup='dialog']:has(button[aria-label='Attach files']) {
			bottom: 1.5rem !important;
		}
	}

	/* @ NEW CHAT BIH BUTTONS */
	form .grow {
		/* recimo gap izmedju new chat example buttons*/
		.gap-2 {
			gap: 0.8rem !important;
		}
		[class*='grid-cols-[repeat(auto-fit,minmax(250px,1fr))]'] {
			.btn {
				padding: 1.5rem !important;
				background-color: var(--c-surface-2) !important;
				color: var(--c-txt) !important;
				border-radius: var(--br-btn-big) !important;
				overflow: hidden; // Mora jer kad se hoveruje .btn, onda se  .bg-gradient-to-l radius ne uklapa s ovim, manji je i onda .btn cudno izgleda sa desne strane, ovaj ga overflowuje

				/* Gradient bg visible on hover */
				.bg-gradient-to-l {
					--gradient-color-from: var(--c-surface-3) !important;
					transition: all 0.3s ease-in-out;

					/* Button SVG parent ❌ */
					.bg-token-main-surface-primary {
						background-color: var(--c-accent) !important;
						border-radius: 100vw !important;
						padding: 0.5rem !important;

						/* SVG icon*/
						svg {
							color: var(--c-on-accent) !important;
						}
					}

					/* Button SVG parent wrapper */
					span[data-state] {
						overflow: hidden;
						padding: 4px; // because svg btn looks cut off in firefox, so add a little space around

						/* Button w/ SVG */
						.bg-token-main-surface-primary {
							transform: translateY(120%) scale(0.5);
							transition: transform 0.5s $easeOutBack;
						}
					}
				}

				&:hover {
					background-color: var(--c-surface-3) !important;
					transform: translateY(-4px);

					.bg-gradient-to-l {
						span[data-state] {
							/* Button w/ SVG */
							// .bg-token-surface-primary {
							.bg-token-main-surface-primary {
								transform: translateY(0%) scale(1);
								opacity: 1 !important;
							}
						}
					}
				}
			}
		}
	}

	/* @ Collapse sidebar btn - hover state*/
	[class*='fixed left-0 top-1/2']:has(button) {
		.rounded-full {
			transition: background-color 0.2s ease-in-out;
		}

		&:hover {
			.rounded-full {
				background-color: var(--c-accent) !important;
			}
		}
	}
}
