.colorpicker {

	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}

	& {
		display: grid;
		place-content: center;
		place-items: center;
		gap: 1rem;
		padding: 1rem;
		border-radius: 1rem;
		font-size: 0.6rem;
		text-transform: uppercase;
		aspect-ratio: 1;
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
		cursor: pointer;

		background-image: linear-gradient(135deg,
				hsla(var(--accent-hsl) / 0.2) 0%,
				hsla(var(--accent-hsl) / 0.03) 40%,
				hsla(var(--accent-hsl) / 0.03) 60%,
				hsla(var(--accent-hsl) / 0.1) 100%);
		border: 1px solid hsla(var(--accent-hsl) / 0.1);
		backdrop-filter: blur(5px);
	}

	input[type='color'] {
		--input_color_size: 2.4rem;
		--br_colorpicker: 12px;
		width: var(--input_color_size);
		height: var(--input_color_size);
		background-color: transparent;
		border: none;
		border-radius: var(--br_colorpicker);
		cursor: pointer;

		&::-webkit-color-swatch-wrapper,
		&::-moz-color-swatch-wrapper {
			padding: 0;
		}

		&::-webkit-color-swatch,
		&::-moz-color-swatch {
			border-radius: var(--br_colorpicker);
			border: none;
		}
	}

	label {
		cursor: pointer;

		span {
			font-weight: bold;
		}
	}

	&:hover {
		transform: scale(0.98);
	}
}