.colorpicker {
	// --colorpicker_shadow_color: hsla(0 0% var(--surface-l) / 0.8);
	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}

	display: grid;
	place-content: center;
	place-items: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	font-size: 0.6rem;
	text-transform: uppercase;
	aspect-ratio: 1;
	// box-shadow: inset 0 0 20px 20px var(--colorpicker_shadow_color);
	box-shadow: var(--box-shadow-contextmenu);
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	cursor: pointer;

	input[type='color'] {
		--input_color_size: 2.4rem;
		--br_colorpicker: 12px;
		width: var(--input_color_size);
		height: var(--input_color_size);
		background-color: transparent;
		// border: 5px solid var(--c-surface-3);
		// outline: 5px solid var(--c-surface-3);
		border-radius: var(--br_colorpicker);
		cursor: pointer;
		// transition: border-color 0.3s ease-in-out;

		&::-webkit-color-swatch-wrapper {
			padding: 0;
			// border: none;
			// outline: none;
		}
		&::-webkit-color-swatch {
			border: none;
			outline: none;
			border-radius: var(--br_colorpicker);
		}

		&:hover {
			background-color: transparent;
			border-color: transparent;
		}
	}

	label {
		cursor: pointer;

		span {
			font-weight: bold;
		}
	}

	&:hover {
		transform: scale(0.98) translateY(2px);
		opacity: 0.8;
	}
}

/* html.dark .colorpicker {
	--colorpicker_shadow_color: hsla(var(--accent-hsl) / 0.05);
	box-shadow: var(--box-shadow-contextmenu);
}
 */
