.gpth-error-msg {
    @extend %animScaleIn;
    top: 3rem;
    right: 4rem;
    z-index: calc(var(--z-modal) - 4);
    backdrop-filter: blur(10px);
    width: max-content;

    @include dev('sm') {
        top: 3rem;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
    }
}