/* Using your selector system */
.#{$pfx}-notify-container {

    --spacing: 1rem;

    --w-max: 30rem;

    position: fixed;
    top: var(--spacing);
    right: 3rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: var(--w-max);
    max-height: calc(100dvh - calc(var(--spacing) * 2));
    overflow: hidden auto;
    padding: 1rem;

    // It isolates reflows inside the container and prevents global layout recalculation when notifications slide in/out. Great for UIs with frequent updates.
    contain: layout style paint;

    @include dev("xs") {

        --w-max: 90vw;

        right: 50%;
        transform: translateX(50%);
        margin-inline: auto;
    }

    .#{$pfx}-notify {

        --fg: var(--c-accent);

        width: max-content;
        max-width: var(--w-max);
        position: relative;
        color: var(--fg);
        background: color-alpha(currentColor, 0.2);
        border: 1px solid color-alpha(currentColor, 0.1);
        backdrop-filter: blur(18px);
        font-size: 1rem;
        padding: calc(var(--p) * 1.5);
        margin-inline: auto;
        border-radius: calc(var(--br) * 1.2);
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.3s ease;

        &--show {
            transform: translateX(0);
            opacity: 1;
        }

        &__close-btn {
            position: absolute;
            top: 0;
            right: 0;
            translate: 25% -25%;
            font-size: 1.2em;
            padding: 0 0.125em;
            color: color-mix(in oklab, var(--fg), black 50%);
            background-color: var(--fg);
            border: none;
            cursor: pointer;
            line-height: 1;
            border-radius: 50vw;
        }

        &--success {

            --fg: var(--c-success);
        }

        &--warning {

            --fg: var(--c-warning);
        }

        &--error {

            --fg: var(--c-danger);
        }
    }
}
