.#{$pfx}-scrolldown {
    $border: 1px solid var(--c-accent-10);

    &__btns {
        background-color: oklch(var(--from-accent) / 0.05);
        border: $border;
        overflow: hidden;
    }

    &__btn {
        color: var(--c-accent);
        padding: 0.5rem 0;
        width: 100%;

        &#scroll-btn-center {
            border-right: $border;
            border-left: $border;
        }

        &:hover {
            background-color: var(--c-accent-12);
        }

        &.active {
            background-color: var(--c-accent-15) !important;
        }

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}
