.#{$pfx}-scrolldown {
    $border: 1px solid oklch(from var(--c-accent) l c h / 0.1);

    &__btns {
        background-color: oklch(from var(--c-accent) l c h / 0.05);
        border: $border;
        overflow: hidden;
    }

    &__btn {
        color: var(--c-accent);
        padding: 0.5rem 0;

        width: 100%;

        &#scroll-btn-center {
            border-right: $border;
            border-left: $border;
        }

        &:hover {
            background-color: oklch(from var(--c-accent) l c h / 0.12);
        }

        &.active {
            background-color: oklch(from var(--c-accent) l c h / 0.15) !important;
        }

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}