.gpth-switch {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    gap: 0.8rem;
    border-radius: calc(var(--br-btn) * 1.5);
    padding: var(--p-btn);
    border: 1px solid transparent;
    transition: .25s ease-in;

    &:hover {
        // background-image: var(--c-bg-gradient);
        background-color: hsla(var(--accent-hsl) / 0.1);
        border-color: hsla(var(--accent-hsl) / 0.1) !important;
        transform: scale(0.98);
    }

    &__icon {
        --icon-size: 2.8em;
        --svg-muliplicator: 0.6;
        width: var(--icon-size);
        height: var(--icon-size);
        display: grid;
        place-items: center;
        border-radius: 1rem;
        background-color: hsla(var(--accent-hsl) / 0.2);
        color: var(--c-accent);

        svg {
            width: calc(var(--icon-size) * var(--svg-muliplicator));
            height: calc(var(--icon-size) * var(--svg-muliplicator));
        }
    }

    &__text {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        .title {
            font-size: 0.8em;
            font-weight: bold;
            color: var(--c-accent);
            text-transform: uppercase;
            line-height: 1;
        }

        .subtitle {
            font-size: 0.7em;
            line-height: 1.1;
            font-weight: 500;
        }
    }

    &__checkbox {
        --chb-w: 3rem;
        --chb-h: 1.8rem;
        --chb-edge-gap: 0.25rem;
        --chb-slider-circle-size: calc(var(--chb-h) - 2 * var(--chb-edge-gap));
        position: relative;
        display: inline-block;
        width: var(--chb-w);
        height: var(--chb-h);

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            display: flex;
            align-items: center;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: hsla(var(--accent-hsl) / 0.3);
            border: 2px solid hsla(var(--accent-hsl) / 0.5);
            transition: .4s;
            border-radius: var(--chb-w);

            &::before {
                position: absolute;
                content: "";
                height: var(--chb-slider-circle-size);
                aspect-ratio: 1/1;
                left: var(--chb-edge-gap);
                background-color: hsla(var(--accent-hsl) / 0.5);
                transition: .4s $easeInOutCirc;
                border-radius: 50%;
            }
        }

        input:checked + .slider {
            background-color: var(--c-accent);
            border-color: transparent !important;

            &::before {
                transform: translateX(calc(var(--chb-w) - 145%));
                background-color: var(--c-on-accent);
            }
        }
    }
}