.#{$pfx}-subheading {
    color: var(--c-accent);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.8rem;
    margin-left: 0.25rem;
}