.changelog {
    display: grid;
    gap: 2.5rem;
    position: relative;
    padding: 0.8rem;

    ul {
        // list-style-type: none;
        padding-left: 2rem;

        *+* {
            margin-top: 0.8rem;
        }

        li {
            position: relative;
            border-radius: 0.8rem;
            font-size: 0.915em;
        }

        code {
            color: $accent;
            font-weight: 500;
            padding: 0.1rem 0.3rem;
            border-radius: 0.4rem;
            background-color: oklch(from $accent l c h / 0.2);
        }
    }

    h2,
    strong {
        color: $accent;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        h2 {
            font-size: 1.8em;
            font-weight: 700;
            color: $accent;

            span {
                font-weight: 300;
            }
        }
    }

    &__version {
        &-link {
            background-image: $bg-gradient;
            backdrop-filter: blur(1rem);
            color: $accent !important;
            padding: 0.2rem 0.8rem;
            border-radius: 0.7rem;
            font-size: 1.2em;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 0.35rem;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: oklch(from $accent l c h / 0.2);
            }

            /* svg {
                $size: 1.2em;
                width: $size;
                height: $size;
            } */
        }
    }

    &__changes {
        padding: 0.1rem;
        display: grid;
        gap: 2.3rem;

        h3 {
            font-size: 0.915em;
            color: $accent !important;
            background-color: oklch(from $accent l c h / 0.12) !important;
            border: 1px solid oklch(from $accent l c h / 0.05);
            display: inline-block;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
            border-radius: 50vw;
            padding: 0.6rem;
            margin-bottom: 0.8rem;
            backdrop-filter: blur(1rem);
        }

        p {
            text-align: center;
        }

        a {
            @extend %link_hover_underlined;

            color: $accent !important;
        }

        i {
            font-size: 0.84em;
            line-height: 1;
            font-style: normal;
            // opacity: 0.8;
        }
    }

    &__seefullchangelog {
        display: inline-block;
        text-transform: uppercase;
    }

    p:has(> .changelog__seefullchangelog) {
        &:not(&:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__footer {
        bottom: 0;
        text-align: center;

        position: sticky;
        z-index: 10;
        padding: 1rem 0 0.5rem;
        margin: 0 auto;


        a {
            display: flex;
            align-items: center;
            gap: 0.225rem;
            width: max-content;
            border-radius: 0.5rem;
            padding: 0.35rem 0.5rem;
            font-weight: bold;
            color: $on-accent;
            background-color: $accent;
            transition: 0.3s ease-in-out;

            svg {
                $size: 1.4em;
                width: $size;
                height: $size;
                color: currentColor;
                border-radius: 50vw;
                transition: 0.3s ease-in-out;
            }

            &:hover {
                color: $accent;
                background-color: oklch(from $accent l c h / 0.2);
                backdrop-filter: blur(1rem);
            }
        }
    }

    &__new-fixes-section {
        background-color: oklch(from $accent l c h / 0.1);
        border-left: 4px solid $accent;
        padding: 0.8rem 1rem;
        border-radius: 1.5rem;

        li:is(:hover, :focus) {
            scale: 1 !important;
            background-color: transparent !important;
        }
    }

    &__previous-separator {
        margin: 0 auto;
        margin-block: 0.5rem;
        padding: 0.5rem 1.2rem;
        background-image: $bg-gradient;
        border-radius: 50vw;
        border-top: 2px solid oklch(from $accent l c h / 0.15);

        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 0.95em;
            background: linear-gradient(90deg,
                    $accent,
                    oklch(from $accent l c h / 0.4),
                    $accent );
            background-clip: text;

            /* Safari/WebKit */
            color: transparent;
        }

        &__separator-text {
            font-style: italic;
            margin: 8px 0 0;
            opacity: 0.7;
        }
    }
}