.changelog {
    display: grid;
    gap: 1rem;
    position: relative;

    ul {
        list-style-type: none;
        padding: 0.5rem;
        padding-left: 1.5rem;
        margin-bottom: 1rem;

        li {
            padding: 0.2rem 0;
            position: relative;

            // Add custom bullets using pseudo-elements
            &::before {
                content: '•'; // Bullet character
                position: absolute;
                color: $accent; // Your custom color
                font-size: 1.2em; // Adjust size if needed
                line-height: 1;
                left: -0.8em; // Adjust position to align bullets
            }
        }

        code {
            color: $accent;
            font-weight: 500;
            padding: .1rem .3rem;
            border-radius: .4rem;
            background-color: rgba($accent, 0.2);
        }
    }

    h2,
    strong {
        color: $accent;
    }



    &__header,
    &__footer {
        position: sticky;
        z-index: 10;
        padding: 1rem 0 0.5rem 0;

    }

    &__header {
        top: 0;
        // background-color: rgba($bg, 0.1);
        // backdrop-filter: blur(1rem);

        background: linear-gradient(180deg, rgba($bg, 1) 70%, rgba($bg, 0.6));
        box-shadow: 0 10px 20px 20px rgba($bg, 0.6);

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }

    &__logo {
        --img-size: 2.8rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        background-image: linear-gradient(135deg, $accent 30%, rgba($accent, 0.5));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        transition: all 0.25s ease-in-out;

        img {
            width: var(--img-size);
            aspect-ratio: 1/1;
        }

        &:hover {
            gap: 0.8rem;
        }
    }

    &__version {
        background-image: $bg-gradient;
        color: $accent !important;
        padding: 0.2rem 0.8rem;
        border-radius: 0.6rem;
        font-size: 0.6em;
        backdrop-filter: blur(1rem);
        // font-weight: normal;
        transition: .3s ease-in-out;

        &:hover {
            background-color: rgba($accent, .2);
        }
    }

    &__changes {
        padding: 1rem;

        h2 {
            margin-bottom: 1.5rem;
        }

        h3 {
            font-size: 1.5em;
            margin-bottom: 0.2rem;
        }

        p {
            text-align: center
        }

        a {
            @extend %link_hover_underlined;
            color: $accent !important;
        }
    }

    &__seefullchangelog {
        display: inline-block;
        text-transform: uppercase;
    }

    p:has(>.changelog__seefullchangelog) {
        &:not(&:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__footer {
        bottom: 0;
        text-align: center;
        background: linear-gradient(to bottom, rgba($bg, 0.1), rgba($bg, 1) 75%);

        a {
            // background-image: $bg-gradient;
            background-color: $accent;
            color: $on-accent;
            border-radius: 0.5rem;
            padding: 0.2rem 0.5rem;
            font-weight: bold;
            transition: .3s ease-in-out;

            &:hover {
                background-color: rgba($accent, .2);
                color: $accent;
            }
        }
    }
}