.changelog {
    display: grid;
    gap: 2.5rem;
    position: relative;
    padding: 0.8rem;

    ul {
        // list-style-type: none;
        padding-left: 2rem;

        * + * {
            margin-top: 0.8rem;
        }

        li {
            position: relative;
            border-radius: 0.8rem;
            font-size: 0.915em;
        }

        code {
            color: $accent;
            font-weight: 500;
            padding: 0.1rem 0.3rem;
            border-radius: 0.4rem;
            background-color: rgba($accent, 0.2);
        }
    }

    h2,
    strong {
        color: $accent;
    }

    &__footer {
        position: sticky;
        z-index: 10;
        padding: 1rem 0 0.5rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        h2 {
            font-size: 1.8em;
            font-weight: 700;
            color: $accent;

            span {
                font-weight: 300;
            }
        }
    }

    &__version {
        background-image: $bg-gradient;
        backdrop-filter: blur(1rem);
        color: $accent !important;
        padding: 0.2rem 0.8rem;
        border-radius: 0.7rem;
        font-size: 1.2em;
        font-weight: bold;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: rgba($accent, 0.2);
        }
    }

    &__changes {
        padding: 0.1rem;
        display: grid;
        gap: 2.3rem;

        h3 {
            font-size: 0.915em;
            color: $accent !important;
            background-color: rgba($accent, 0.12) !important;
            border: 1px solid rgba($accent, 0.05);
            display: inline-block;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
            border-radius: 50vw;
            padding: 0.6rem;
            margin-bottom: 0.8rem;
            backdrop-filter: blur(1rem);
        }

        p {
            text-align: center;
        }

        a {
            @extend %link_hover_underlined;

            color: $accent !important;
        }
    }

    &__seefullchangelog {
        display: inline-block;
        text-transform: uppercase;
    }

    p:has(> .changelog__seefullchangelog) {
        &:not(&:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__footer {
        bottom: 0;
        text-align: center;

        a {
            background-color: $accent;
            color: $on-accent;
            border-radius: 0.5rem;
            padding: 0.2rem 0.5rem;
            font-weight: bold;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: rgba($accent, 0.2);
                color: $accent;
                backdrop-filter: blur(1rem);
            }
        }
    }

    &__new-fixes-section {
        background-color: rgba($accent, 0.1);
        border-left: 4px solid $accent;
        padding: 0.8rem 1rem;
        border-radius: 1.5rem;

        li:is(:hover, :focus) {
            scale: 1 !important;
            background-color: transparent !important;
        }
    }

    &__previous-separator {
        margin: 0 auto;
        margin-block: 0.5rem;
        padding: 0.5rem 1.2rem;
        background-image: $bg-gradient;
        border-radius: 50vw;
        border-top: 2px solid rgba($accent, 0.15);

        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 0.95em;
            background: linear-gradient(
                90deg,
                $accent,
                rgba($accent, 0.4),
                $accent
            );
            background-clip: text;

            /* Safari/WebKit */
            color: transparent;
        }

        &__separator-text {
            font-style: italic;
            margin: 8px 0 0;
            opacity: 0.7;
        }
    }
}
