.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 0.5rem;
    padding: 1rem;
    backdrop-filter: blur(2rem);
    border-radius: 0 0 1.2rem 1.2rem;

    .logo {
        --img-size: 2.35rem;
        filter: drop-shadow(0 0 50px rgba($accent, 1)) drop-shadow(-2px 4px 0px rgba($accent, 0.4)) drop-shadow(0 0 1px rgba($accent, 0.4));
        transition: scale 0.25s ease, filter 0.2s ease;

        img {
            width: var(--img-size);
            aspect-ratio: 1/1;
            // backdrop-filter: drop-shadow(0 0 1rem $accent);
        }

        &:hover {
            scale: 1.1;
            filter: drop-shadow(0 0 50px rgba($accent, 1));
        }
    }
}