.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1.5rem;
    backdrop-filter: blur(2rem);
    border-radius: 0 0 1.2rem 1.2rem;

    perspective: 500px;
    transform-style: preserve-3d;
    // transform-style: flat;

    .logo-kofi {
        --shadow: -5px 5px 0px rgba($accent, 0.3);
        will-change: transform;
        width: 8rem;
        display: grid;
        place-items: center;
        gap: 0.5rem;
        padding: 0.3rem 0.3rem 0.6rem 0.3rem;
        border: 1px solid rgba($accent, 0.1);
        background-color: rgba($accent, 0.08);
        border-radius: 0.7rem;
        box-shadow: -5px 5px 0px rgba($accent, 0.3);

        transform: rotateY(30deg) skewX(2deg) translateZ(0.1px);
        backface-visibility: hidden;

        transition: box-shadow 0.2s ease, transform 0.3s ease;

        p {
            color: $accent;
            font-weight: 600;
            text-align: center;
            font-size: 0.95em;
            opacity: 0.9;
        }

        img {
            filter: drop-shadow(-5px 5px 0px rgba($accent, 0.3));
            width: 70%;
            transition: filter 0.4s ease, translate 0.3s ease, scale 0.3s ease;
        }

        &:hover {
            box-shadow: 0 0 0 rgba($accent, 0.8);
            transform: rotateX(0deg) rotateY(0deg) translateZ(0.1px);


            img {
                filter: drop-shadow(0 0 0 rgba($accent, 1));
                translate: 0 -10%;
                scale: 0.88;
            }
        }
    }
}